Project/Gateway/Node-RED/secondary flows/selectable-input.json
[
    {
        "id": "c0b4af0248b02fc3",
        "type": "tab",
        "label": "SELECTABLE INPUT",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "909ef9c6111fe09a",
        "type": "group",
        "z": "c0b4af0248b02fc3",
        "name": "fake values",
        "style": {
            "label": true
        },
        "nodes": [
            "8c6ae47bb4540b8c",
            "06b3db3cd06ad950",
            "2c7029062f7dc70e",
            "4a872494c521a7dd",
            "c6b171462f2d38e4",
            "2a32ce2a6a0f5e42",
            "8cf22537487a269b",
            "4419e3a086ac1cdc",
            "1cc424dffe1748d8",
            "6f4537714e8d193a",
            "ae9683b17d4114ef",
            "2c263fc12ae7bb41",
            "61da55e617c750aa",
            "497b2e344bdbf124",
            "4c58ca5e5f41def9"
        ],
        "env": [],
        "x": -6,
        "y": 639,
        "w": 712,
        "h": 282
    },
    {
        "id": "b36716903c434d9e",
        "type": "group",
        "z": "c0b4af0248b02fc3",
        "name": "Buttons",
        "style": {
            "label": true
        },
        "nodes": [
            "959176e28c7e490d",
            "4322f7720faae5ed",
            "627b399e09b995a1",
            "b9a6a868d7415f38",
            "d24170136d16bd22",
            "7055113f0abfb091",
            "847ec7ab49a2760f"
        ],
        "env": [],
        "x": 454,
        "y": 19,
        "w": 302,
        "h": 282
    },
    {
        "id": "9edd9fb6ae6d8be4",
        "type": "group",
        "z": "c0b4af0248b02fc3",
        "name": "preparation",
        "style": {
            "label": true
        },
        "nodes": [
            "4e44d3403c578bfa",
            "0fa4a6be71596d8f",
            "db40e94f223717e5",
            "85da6a9a6c7d57f4",
            "6182d80adf241ad2",
            "c0931cd8100de307",
            "460c1711ecaf04f9"
        ],
        "env": [],
        "x": 44,
        "y": 19,
        "w": 362,
        "h": 252
    },
    {
        "id": "83b3db89759ad53c",
        "type": "group",
        "z": "c0b4af0248b02fc3",
        "name": "chart/gauge settings",
        "style": {
            "label": true
        },
        "nodes": [
            "cdd6c883eebd8658",
            "05b9484f279a4f83",
            "9789cf1af2b13e60",
            "c7d18a3f19c19ac3",
            "f6595fb37db6780b",
            "779f86ed75e5cbb6",
            "f817407b5981668a",
            "5d3644e9c048b993",
            "2693c2f603e182d7",
            "22dec77b489dc4e5",
            "c0cd8c507fb72f5d",
            "fef801b35d5363d5",
            "56f84b9bd7247e8c",
            "3ee54d72b9212b08",
            "1db1fec93dad6275"
        ],
        "env": [],
        "x": 394,
        "y": 319,
        "w": 952,
        "h": 302
    },
    {
        "id": "4e44d3403c578bfa",
        "type": "ui_ui_control",
        "z": "c0b4af0248b02fc3",
        "g": "9edd9fb6ae6d8be4",
        "name": "inject dash events",
        "events": "all",
        "x": 170,
        "y": 110,
        "wires": [
            [
                "0fa4a6be71596d8f"
            ]
        ]
    },
    {
        "id": "0fa4a6be71596d8f",
        "type": "link out",
        "z": "c0b4af0248b02fc3",
        "g": "9edd9fb6ae6d8be4",
        "name": "dash-init",
        "links": [
            "7814ed99.4469e4",
            "460c1711ecaf04f9",
            "c7d18a3f19c19ac3"
        ],
        "x": 305,
        "y": 110,
        "wires": []
    },
    {
        "id": "cdd6c883eebd8658",
        "type": "ui_gauge",
        "z": "c0b4af0248b02fc3",
        "g": "83b3db89759ad53c",
        "name": "",
        "group": "135380c9cdfab4ee",
        "order": 2,
        "width": "6",
        "height": "5",
        "gtype": "gage",
        "title": "{{msg.topic}}",
        "label": "",
        "format": "{{value | number:3}}",
        "min": 0,
        "max": "10",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "className": "",
        "x": 890,
        "y": 520,
        "wires": []
    },
    {
        "id": "db40e94f223717e5",
        "type": "function",
        "z": "c0b4af0248b02fc3",
        "g": "9edd9fb6ae6d8be4",
        "name": "create groups",
        "func": "\nvar g_members = [\"temperature\",\"humidity\", \"pressure\", \"humidity soil\", \"uv\",\"wind\"]\n\nvar g_limits = [{lo:-10,hi:30},{lo:0,hi:100},{lo:0,hi:1000},{lo:0,hi:100},{lo:-15,hi:300},{lo:0,hi:30}]\n\nvar g = {\"gaugegroup\":{\"members\":[],\"selected\":\"temperature\"}}\n\nfor(var i=0;i<g_members.length;i++){\n    g.gaugegroup.members.push( {\"topic\":g_members[i],\"lastvalue\":0,\"min\":g_limits[i].lo,\"max\":g_limits[i].hi})\n}\n\nglobal.set(\"buttongroups\",g)\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 300,
        "y": 60,
        "wires": [
            []
        ]
    },
    {
        "id": "85da6a9a6c7d57f4",
        "type": "inject",
        "z": "c0b4af0248b02fc3",
        "g": "9edd9fb6ae6d8be4",
        "name": "init",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": "0.1",
        "topic": "temperature",
        "payloadType": "date",
        "x": 150,
        "y": 60,
        "wires": [
            [
                "db40e94f223717e5"
            ]
        ]
    },
    {
        "id": "959176e28c7e490d",
        "type": "ui_button",
        "z": "c0b4af0248b02fc3",
        "g": "b36716903c434d9e",
        "name": "temperature",
        "group": "40cfe2097e77b93d",
        "order": 1,
        "width": 3,
        "height": 1,
        "passthru": false,
        "label": "{{msg.topic.toUpperCase()}}",
        "tooltip": "",
        "color": "",
        "bgcolor": "{{bgr}}",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "temperature",
        "topicType": "str",
        "x": 550,
        "y": 60,
        "wires": [
            [
                "847ec7ab49a2760f"
            ]
        ]
    },
    {
        "id": "4322f7720faae5ed",
        "type": "ui_button",
        "z": "c0b4af0248b02fc3",
        "g": "b36716903c434d9e",
        "name": "humidity",
        "group": "40cfe2097e77b93d",
        "order": 3,
        "width": 3,
        "height": 1,
        "passthru": false,
        "label": "{{msg.topic.toUpperCase()}}",
        "tooltip": "",
        "color": "",
        "bgcolor": "{{bgr}}",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "humidity",
        "topicType": "str",
        "x": 540,
        "y": 100,
        "wires": [
            [
                "847ec7ab49a2760f"
            ]
        ]
    },
    {
        "id": "627b399e09b995a1",
        "type": "ui_button",
        "z": "c0b4af0248b02fc3",
        "g": "b36716903c434d9e",
        "name": "wind",
        "group": "40cfe2097e77b93d",
        "order": 6,
        "width": 3,
        "height": 1,
        "passthru": false,
        "label": "WIND",
        "tooltip": "",
        "color": "",
        "bgcolor": "{{bgr}}",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "wind",
        "topicType": "str",
        "x": 530,
        "y": 140,
        "wires": [
            [
                "847ec7ab49a2760f"
            ]
        ]
    },
    {
        "id": "6182d80adf241ad2",
        "type": "switch",
        "z": "c0b4af0248b02fc3",
        "g": "9edd9fb6ae6d8be4",
        "name": "",
        "property": "topic",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "temperature",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "humidity",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "wind",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "humidity soil",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "pressure",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "uv",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 6,
        "x": 310,
        "y": 200,
        "wires": [
            [
                "959176e28c7e490d"
            ],
            [
                "4322f7720faae5ed"
            ],
            [
                "627b399e09b995a1"
            ],
            [
                "b9a6a868d7415f38"
            ],
            [
                "d24170136d16bd22"
            ],
            [
                "7055113f0abfb091"
            ]
        ]
    },
    {
        "id": "c0931cd8100de307",
        "type": "function",
        "z": "c0b4af0248b02fc3",
        "g": "9edd9fb6ae6d8be4",
        "name": "get color",
        "func": "var group = global.get(\"buttongroups.gaugegroup\")\nvar m\nfor(var i=0;i<group.members.length;i++){\n    m = {topic:group.members[i].topic}\n    m.bgr = group.members[i].topic == group.selected ? 'green' : 'red'\n    node.send(m)\n}\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 180,
        "y": 200,
        "wires": [
            [
                "6182d80adf241ad2"
            ]
        ]
    },
    {
        "id": "05b9484f279a4f83",
        "type": "change",
        "z": "c0b4af0248b02fc3",
        "g": "83b3db89759ad53c",
        "name": "set selected",
        "rules": [
            {
                "t": "set",
                "p": "buttongroups.gaugegroup.selected",
                "pt": "global",
                "to": "topic",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "[]",
                "tot": "json"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 590,
        "y": 380,
        "wires": [
            [
                "9789cf1af2b13e60",
                "fef801b35d5363d5",
                "f817407b5981668a"
            ]
        ]
    },
    {
        "id": "9789cf1af2b13e60",
        "type": "link out",
        "z": "c0b4af0248b02fc3",
        "g": "83b3db89759ad53c",
        "name": "gaugegroup out",
        "links": [
            "460c1711ecaf04f9",
            "c7d18a3f19c19ac3"
        ],
        "x": 775,
        "y": 380,
        "wires": []
    },
    {
        "id": "460c1711ecaf04f9",
        "type": "link in",
        "z": "c0b4af0248b02fc3",
        "g": "9edd9fb6ae6d8be4",
        "name": "gaugegroup in",
        "links": [
            "9789cf1af2b13e60",
            "0fa4a6be71596d8f"
        ],
        "x": 85,
        "y": 200,
        "wires": [
            [
                "c0931cd8100de307"
            ]
        ]
    },
    {
        "id": "c7d18a3f19c19ac3",
        "type": "link in",
        "z": "c0b4af0248b02fc3",
        "g": "83b3db89759ad53c",
        "name": "gauge in",
        "links": [
            "9789cf1af2b13e60",
            "0fa4a6be71596d8f"
        ],
        "x": 435,
        "y": 420,
        "wires": [
            [
                "779f86ed75e5cbb6"
            ]
        ]
    },
    {
        "id": "8c6ae47bb4540b8c",
        "type": "inject",
        "z": "c0b4af0248b02fc3",
        "g": "909ef9c6111fe09a",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "5",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payloadType": "date",
        "x": 110,
        "y": 720,
        "wires": [
            [
                "2c7029062f7dc70e"
            ]
        ]
    },
    {
        "id": "06b3db3cd06ad950",
        "type": "change",
        "z": "c0b4af0248b02fc3",
        "g": "909ef9c6111fe09a",
        "name": "fake temp",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "$random()*28",
                "tot": "jsonata"
            },
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "temperature",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 300,
        "y": 680,
        "wires": [
            [
                "4c58ca5e5f41def9",
                "959176e28c7e490d"
            ]
        ]
    },
    {
        "id": "2c7029062f7dc70e",
        "type": "change",
        "z": "c0b4af0248b02fc3",
        "g": "909ef9c6111fe09a",
        "name": "fake humidity",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "$random()*100",
                "tot": "jsonata"
            },
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "humidity",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 310,
        "y": 720,
        "wires": [
            [
                "4c58ca5e5f41def9"
            ]
        ]
    },
    {
        "id": "4a872494c521a7dd",
        "type": "change",
        "z": "c0b4af0248b02fc3",
        "g": "909ef9c6111fe09a",
        "name": "fake wind",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "$random()*8",
                "tot": "jsonata"
            },
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "wind",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 300,
        "y": 760,
        "wires": [
            [
                "4c58ca5e5f41def9"
            ]
        ]
    },
    {
        "id": "c6b171462f2d38e4",
        "type": "inject",
        "z": "c0b4af0248b02fc3",
        "g": "909ef9c6111fe09a",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "5",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payloadType": "date",
        "x": 110,
        "y": 760,
        "wires": [
            [
                "4a872494c521a7dd"
            ]
        ]
    },
    {
        "id": "2a32ce2a6a0f5e42",
        "type": "inject",
        "z": "c0b4af0248b02fc3",
        "g": "909ef9c6111fe09a",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "5",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payloadType": "date",
        "x": 110,
        "y": 680,
        "wires": [
            [
                "06b3db3cd06ad950"
            ]
        ]
    },
    {
        "id": "f6595fb37db6780b",
        "type": "function",
        "z": "c0b4af0248b02fc3",
        "g": "83b3db89759ad53c",
        "name": "store inactive & bypass active",
        "func": "var group = global.get(\"buttongroups.gaugegroup\")\n\n//node.warn(group)\n\nif(group.selected != msg.topic){\n    var member = group.members.find(element => element.topic == msg.topic);\n    member.lastvalue = msg.payload\n    global.set(\"buttongroups.gaugegroup\",group)\n    return\n}\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 650,
        "y": 480,
        "wires": [
            [
                "cdd6c883eebd8658",
                "f817407b5981668a",
                "c0cd8c507fb72f5d"
            ]
        ]
    },
    {
        "id": "779f86ed75e5cbb6",
        "type": "function",
        "z": "c0b4af0248b02fc3",
        "g": "83b3db89759ad53c",
        "name": "prepare after selection change",
        "func": "var group = global.get(\"buttongroups.gaugegroup\")\nvar member = {}\n\nlet msg1 = {}\n\n/*\nnode.warn(group)\nnode.warn(group.selected)\nnode.warn(group.members.length)\nnode.warn(group.members[0].topic)   */\n\nfor(var i = 0; i < group.members.length; i++)\n{\n    if(group.members[i].topic == group.selected)\n    {\n        msg1.topic = group.selected.toUpperCase()\n        msg1.min = group.members[i].min\n        msg1.max = group.members[i].max\n    }\n}\n\n//node.warn(msg1)\n\n/* old line code\nvar member = group.members.find(group.selected);\nmsg.title = group.selected.toUpperCase()\nmsg.payload = member.lastvalue\nnode.warn(member)\nmsg.ui_control = {min:member.min,max:member.max}\nnode.warn(msg.ui_control)   */\n\nreturn msg1",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 650,
        "y": 420,
        "wires": [
            [
                "2693c2f603e182d7",
                "5d3644e9c048b993"
            ]
        ]
    },
    {
        "id": "8cf22537487a269b",
        "type": "ui_chart",
        "z": "c0b4af0248b02fc3",
        "g": "909ef9c6111fe09a",
        "name": "",
        "group": "135380c9cdfab4ee",
        "order": 4,
        "width": "18",
        "height": "5",
        "label": "all charts",
        "chartType": "line",
        "legend": "true",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 620,
        "y": 880,
        "wires": [
            []
        ]
    },
    {
        "id": "4419e3a086ac1cdc",
        "type": "inject",
        "z": "c0b4af0248b02fc3",
        "g": "909ef9c6111fe09a",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "5",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payloadType": "date",
        "x": 110,
        "y": 840,
        "wires": [
            [
                "6f4537714e8d193a"
            ]
        ]
    },
    {
        "id": "1cc424dffe1748d8",
        "type": "change",
        "z": "c0b4af0248b02fc3",
        "g": "909ef9c6111fe09a",
        "name": "fake humidity soil",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "$random()*35",
                "tot": "jsonata"
            },
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "humidity soil",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 330,
        "y": 800,
        "wires": [
            [
                "4c58ca5e5f41def9"
            ]
        ]
    },
    {
        "id": "6f4537714e8d193a",
        "type": "change",
        "z": "c0b4af0248b02fc3",
        "g": "909ef9c6111fe09a",
        "name": "fake pressure",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "$random()*100",
                "tot": "jsonata"
            },
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "pressure",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 320,
        "y": 840,
        "wires": [
            [
                "4c58ca5e5f41def9"
            ]
        ]
    },
    {
        "id": "ae9683b17d4114ef",
        "type": "change",
        "z": "c0b4af0248b02fc3",
        "g": "909ef9c6111fe09a",
        "name": "fake uv",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "$random()*8",
                "tot": "jsonata"
            },
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "uv",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 300,
        "y": 880,
        "wires": [
            [
                "4c58ca5e5f41def9"
            ]
        ]
    },
    {
        "id": "2c263fc12ae7bb41",
        "type": "inject",
        "z": "c0b4af0248b02fc3",
        "g": "909ef9c6111fe09a",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "5",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payloadType": "date",
        "x": 110,
        "y": 880,
        "wires": [
            [
                "ae9683b17d4114ef"
            ]
        ]
    },
    {
        "id": "61da55e617c750aa",
        "type": "inject",
        "z": "c0b4af0248b02fc3",
        "g": "909ef9c6111fe09a",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "5",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payloadType": "date",
        "x": 110,
        "y": 800,
        "wires": [
            [
                "1cc424dffe1748d8"
            ]
        ]
    },
    {
        "id": "b9a6a868d7415f38",
        "type": "ui_button",
        "z": "c0b4af0248b02fc3",
        "g": "b36716903c434d9e",
        "name": "humidity soil",
        "group": "40cfe2097e77b93d",
        "order": 2,
        "width": 3,
        "height": 1,
        "passthru": false,
        "label": "HUMIDITY SOIL",
        "tooltip": "",
        "color": "",
        "bgcolor": "{{bgr}}",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "humidity soil",
        "topicType": "str",
        "x": 550,
        "y": 180,
        "wires": [
            [
                "847ec7ab49a2760f"
            ]
        ]
    },
    {
        "id": "d24170136d16bd22",
        "type": "ui_button",
        "z": "c0b4af0248b02fc3",
        "g": "b36716903c434d9e",
        "name": "pressure",
        "group": "40cfe2097e77b93d",
        "order": 5,
        "width": 3,
        "height": 1,
        "passthru": false,
        "label": "PRESSURE",
        "tooltip": "",
        "color": "",
        "bgcolor": "{{bgr}}",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "pressure",
        "topicType": "str",
        "x": 540,
        "y": 220,
        "wires": [
            [
                "847ec7ab49a2760f"
            ]
        ]
    },
    {
        "id": "7055113f0abfb091",
        "type": "ui_button",
        "z": "c0b4af0248b02fc3",
        "g": "b36716903c434d9e",
        "name": "uv",
        "group": "40cfe2097e77b93d",
        "order": 4,
        "width": 3,
        "height": 1,
        "passthru": false,
        "label": "UV",
        "tooltip": "",
        "color": "",
        "bgcolor": "{{bgr}}",
        "className": "",
        "icon": "",
        "payload": "[]",
        "payloadType": "json",
        "topic": "uv",
        "topicType": "str",
        "x": 530,
        "y": 260,
        "wires": [
            [
                "847ec7ab49a2760f"
            ]
        ]
    },
    {
        "id": "f817407b5981668a",
        "type": "ui_chart",
        "z": "c0b4af0248b02fc3",
        "g": "83b3db89759ad53c",
        "name": "",
        "group": "135380c9cdfab4ee",
        "order": 3,
        "width": "12",
        "height": "5",
        "label": "{{msg.topic}}",
        "chartType": "line",
        "legend": "true",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 890,
        "y": 560,
        "wires": [
            []
        ]
    },
    {
        "id": "5d3644e9c048b993",
        "type": "function",
        "z": "c0b4af0248b02fc3",
        "g": "83b3db89759ad53c",
        "name": "min",
        "func": "\n//node.warn(msg)\n\nmsg = {ui_control:{min:msg.min}};\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 910,
        "y": 400,
        "wires": [
            [
                "cdd6c883eebd8658"
            ]
        ]
    },
    {
        "id": "2693c2f603e182d7",
        "type": "function",
        "z": "c0b4af0248b02fc3",
        "g": "83b3db89759ad53c",
        "name": "max",
        "func": "\n//node.warn(msg)\n\nmsg = {ui_control:{max:msg.max}};\n\n//node.warn(msg)\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 910,
        "y": 440,
        "wires": [
            [
                "cdd6c883eebd8658"
            ]
        ]
    },
    {
        "id": "22dec77b489dc4e5",
        "type": "ui_button",
        "z": "c0b4af0248b02fc3",
        "g": "83b3db89759ad53c",
        "name": "",
        "group": "0e231c635962c47f",
        "order": 4,
        "width": "2",
        "height": 1,
        "passthru": false,
        "label": "",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "clear_all",
        "payload": "[]",
        "payloadType": "json",
        "topic": "topic",
        "topicType": "msg",
        "x": 670,
        "y": 540,
        "wires": [
            [
                "f817407b5981668a"
            ]
        ]
    },
    {
        "id": "c0cd8c507fb72f5d",
        "type": "debug",
        "z": "c0b4af0248b02fc3",
        "g": "83b3db89759ad53c",
        "name": "msg of store inactive & bypass active",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1150,
        "y": 480,
        "wires": []
    },
    {
        "id": "fef801b35d5363d5",
        "type": "debug",
        "z": "c0b4af0248b02fc3",
        "g": "83b3db89759ad53c",
        "name": "set selected",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 930,
        "y": 360,
        "wires": []
    },
    {
        "id": "56f84b9bd7247e8c",
        "type": "inject",
        "z": "c0b4af0248b02fc3",
        "g": "83b3db89759ad53c",
        "name": "erase chart",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": "0.1",
        "topic": "",
        "payload": "[]",
        "payloadType": "json",
        "x": 690,
        "y": 580,
        "wires": [
            [
                "f817407b5981668a"
            ]
        ]
    },
    {
        "id": "497b2e344bdbf124",
        "type": "link in",
        "z": "c0b4af0248b02fc3",
        "g": "909ef9c6111fe09a",
        "name": "",
        "links": [
            "4c58ca5e5f41def9"
        ],
        "x": 515,
        "y": 880,
        "wires": [
            [
                "8cf22537487a269b"
            ]
        ]
    },
    {
        "id": "4c58ca5e5f41def9",
        "type": "link out",
        "z": "c0b4af0248b02fc3",
        "g": "909ef9c6111fe09a",
        "name": "",
        "mode": "link",
        "links": [
            "497b2e344bdbf124",
            "3ee54d72b9212b08"
        ],
        "x": 535,
        "y": 780,
        "wires": []
    },
    {
        "id": "3ee54d72b9212b08",
        "type": "link in",
        "z": "c0b4af0248b02fc3",
        "g": "83b3db89759ad53c",
        "name": "",
        "links": [
            "4c58ca5e5f41def9"
        ],
        "x": 435,
        "y": 480,
        "wires": [
            [
                "f6595fb37db6780b"
            ]
        ]
    },
    {
        "id": "847ec7ab49a2760f",
        "type": "link out",
        "z": "c0b4af0248b02fc3",
        "g": "b36716903c434d9e",
        "name": "",
        "mode": "link",
        "links": [
            "1db1fec93dad6275"
        ],
        "x": 715,
        "y": 160,
        "wires": []
    },
    {
        "id": "1db1fec93dad6275",
        "type": "link in",
        "z": "c0b4af0248b02fc3",
        "g": "83b3db89759ad53c",
        "name": "",
        "links": [
            "847ec7ab49a2760f"
        ],
        "x": 435,
        "y": 380,
        "wires": [
            [
                "05b9484f279a4f83"
            ]
        ]
    },
    {
        "id": "ebd65a27e75795fc",
        "type": "ui_spacer",
        "z": "c0b4af0248b02fc3",
        "name": "spacer",
        "group": "99609e7b.c8ed4",
        "order": 3,
        "width": 1,
        "height": 1
    },
    {
        "id": "c2b0cbef286ef52b",
        "type": "ui_spacer",
        "z": "c0b4af0248b02fc3",
        "name": "spacer",
        "group": "99609e7b.c8ed4",
        "order": 4,
        "width": 4,
        "height": 1
    },
    {
        "id": "acfecbe13c7605fc",
        "type": "ui_spacer",
        "z": "c0b4af0248b02fc3",
        "name": "spacer",
        "group": "99609e7b.c8ed4",
        "order": 5,
        "width": 1,
        "height": 1
    },
    {
        "id": "e95318bf3e810349",
        "type": "ui_spacer",
        "z": "c0b4af0248b02fc3",
        "name": "spacer",
        "group": "99609e7b.c8ed4",
        "order": 6,
        "width": 4,
        "height": 1
    },
    {
        "id": "9935ab70db6ba51f",
        "type": "ui_spacer",
        "z": "c0b4af0248b02fc3",
        "name": "spacer",
        "group": "99609e7b.c8ed4",
        "order": 7,
        "width": 12,
        "height": 1
    },
    {
        "id": "3e2b8754f96667c4",
        "type": "ui_spacer",
        "z": "c0b4af0248b02fc3",
        "name": "spacer",
        "group": "99609e7b.c8ed4",
        "order": 8,
        "width": 12,
        "height": 1
    },
    {
        "id": "f58cbfa5520ad536",
        "type": "ui_spacer",
        "z": "c0b4af0248b02fc3",
        "name": "spacer",
        "group": "99609e7b.c8ed4",
        "order": 9,
        "width": 12,
        "height": 1
    },
    {
        "id": "39e1bae609405f2f",
        "type": "ui_spacer",
        "z": "c0b4af0248b02fc3",
        "name": "spacer",
        "group": "99609e7b.c8ed4",
        "order": 10,
        "width": 2,
        "height": 1
    },
    {
        "id": "2dee8e80d98cbcc4",
        "type": "ui_spacer",
        "z": "c0b4af0248b02fc3",
        "name": "spacer",
        "group": "99609e7b.c8ed4",
        "order": 11,
        "width": 2,
        "height": 1
    },
    {
        "id": "23bc2f1c7a3e6b77",
        "type": "ui_spacer",
        "z": "c0b4af0248b02fc3",
        "name": "spacer",
        "group": "99609e7b.c8ed4",
        "order": 12,
        "width": 2,
        "height": 1
    },
    {
        "id": "e682b131d202e2db",
        "type": "ui_spacer",
        "z": "c0b4af0248b02fc3",
        "name": "spacer",
        "group": "99609e7b.c8ed4",
        "order": 13,
        "width": 2,
        "height": 1
    },
    {
        "id": "cd9eb0fd3aa8fee5",
        "type": "ui_spacer",
        "z": "c0b4af0248b02fc3",
        "name": "spacer",
        "group": "99609e7b.c8ed4",
        "order": 14,
        "width": 2,
        "height": 1
    },
    {
        "id": "903d939fcfebfa77",
        "type": "ui_spacer",
        "z": "c0b4af0248b02fc3",
        "name": "spacer",
        "group": "99609e7b.c8ed4",
        "order": 15,
        "width": 2,
        "height": 1
    },
    {
        "id": "ad17484f762f3a0d",
        "type": "ui_spacer",
        "z": "c0b4af0248b02fc3",
        "name": "spacer",
        "group": "0e231c635962c47f",
        "order": 5,
        "width": 8,
        "height": 1
    },
    {
        "id": "0c7ed86c763b1ecc",
        "type": "ui_spacer",
        "z": "c0b4af0248b02fc3",
        "name": "spacer",
        "group": "",
        "order": 2,
        "width": 2,
        "height": 1
    },
    {
        "id": "77effb2aef4561d0",
        "type": "ui_spacer",
        "z": "c0b4af0248b02fc3",
        "name": "spacer",
        "group": "",
        "order": 3,
        "width": 2,
        "height": 1
    },
    {
        "id": "0cfd1350c61dfadf",
        "type": "ui_spacer",
        "z": "c0b4af0248b02fc3",
        "name": "spacer",
        "group": "",
        "order": 4,
        "width": 2,
        "height": 1
    },
    {
        "id": "268ee232265a8bee",
        "type": "ui_spacer",
        "z": "c0b4af0248b02fc3",
        "name": "spacer",
        "group": "",
        "order": 5,
        "width": 2,
        "height": 1
    },
    {
        "id": "2e9454fbda2e6b50",
        "type": "ui_spacer",
        "z": "c0b4af0248b02fc3",
        "name": "spacer",
        "group": "",
        "order": 7,
        "width": 2,
        "height": 1
    },
    {
        "id": "3e35b82382256eaf",
        "type": "ui_spacer",
        "z": "c0b4af0248b02fc3",
        "name": "spacer",
        "group": "",
        "order": 8,
        "width": 2,
        "height": 1
    },
    {
        "id": "90a853650e4d54d9",
        "type": "ui_spacer",
        "z": "c0b4af0248b02fc3",
        "name": "spacer",
        "group": "",
        "order": 9,
        "width": 2,
        "height": 1
    },
    {
        "id": "ab61321db2eb3bcc",
        "type": "ui_spacer",
        "z": "c0b4af0248b02fc3",
        "name": "spacer",
        "group": "",
        "order": 10,
        "width": 2,
        "height": 1
    },
    {
        "id": "83a1570c82f94735",
        "type": "ui_spacer",
        "z": "c0b4af0248b02fc3",
        "name": "spacer",
        "group": "",
        "order": 12,
        "width": 2,
        "height": 1
    },
    {
        "id": "07586fc60773ff26",
        "type": "ui_spacer",
        "z": "c0b4af0248b02fc3",
        "name": "spacer",
        "group": "",
        "order": 13,
        "width": 2,
        "height": 1
    },
    {
        "id": "db0fe77bea7c3711",
        "type": "ui_spacer",
        "z": "c0b4af0248b02fc3",
        "name": "spacer",
        "group": "",
        "order": 14,
        "width": 2,
        "height": 1
    },
    {
        "id": "19387c1d166158cc",
        "type": "ui_spacer",
        "z": "c0b4af0248b02fc3",
        "name": "spacer",
        "group": "",
        "order": 15,
        "width": 2,
        "height": 1
    },
    {
        "id": "5f2be65924390be5",
        "type": "ui_spacer",
        "z": "c0b4af0248b02fc3",
        "name": "spacer",
        "group": "",
        "order": 17,
        "width": 2,
        "height": 1
    },
    {
        "id": "36d3b3dfca7c6a15",
        "type": "ui_spacer",
        "z": "c0b4af0248b02fc3",
        "name": "spacer",
        "group": "",
        "order": 18,
        "width": 2,
        "height": 1
    },
    {
        "id": "8d248659a0542f0f",
        "type": "ui_spacer",
        "z": "c0b4af0248b02fc3",
        "name": "spacer",
        "group": "",
        "order": 19,
        "width": 2,
        "height": 1
    },
    {
        "id": "abe98838a340d131",
        "type": "ui_spacer",
        "z": "c0b4af0248b02fc3",
        "name": "spacer",
        "group": "",
        "order": 20,
        "width": 2,
        "height": 1
    },
    {
        "id": "e77353b8364a5ec8",
        "type": "ui_spacer",
        "z": "c0b4af0248b02fc3",
        "name": "spacer",
        "group": "",
        "order": 22,
        "width": 2,
        "height": 1
    },
    {
        "id": "71ac4a76ea6ff168",
        "type": "ui_spacer",
        "z": "c0b4af0248b02fc3",
        "name": "spacer",
        "group": "",
        "order": 23,
        "width": 2,
        "height": 1
    },
    {
        "id": "6239f4225864a921",
        "type": "ui_spacer",
        "z": "c0b4af0248b02fc3",
        "name": "spacer",
        "group": "",
        "order": 24,
        "width": 2,
        "height": 1
    },
    {
        "id": "b9517306e7d25e54",
        "type": "ui_spacer",
        "z": "c0b4af0248b02fc3",
        "name": "spacer",
        "group": "",
        "order": 25,
        "width": 2,
        "height": 1
    },
    {
        "id": "3bd398aa29c42387",
        "type": "ui_spacer",
        "z": "c0b4af0248b02fc3",
        "name": "spacer",
        "group": "",
        "order": 27,
        "width": 2,
        "height": 1
    },
    {
        "id": "f762b407cf9fcc05",
        "type": "ui_spacer",
        "z": "c0b4af0248b02fc3",
        "name": "spacer",
        "group": "",
        "order": 28,
        "width": 2,
        "height": 1
    },
    {
        "id": "fd0c9f185aa5ca12",
        "type": "ui_spacer",
        "z": "c0b4af0248b02fc3",
        "name": "spacer",
        "group": "",
        "order": 29,
        "width": 2,
        "height": 1
    },
    {
        "id": "c10c6db34efbfd4f",
        "type": "ui_spacer",
        "z": "c0b4af0248b02fc3",
        "name": "spacer",
        "group": "",
        "order": 30,
        "width": 2,
        "height": 1
    },
    {
        "id": "135380c9cdfab4ee",
        "type": "ui_group",
        "name": "charts and gauge",
        "tab": "c38fb46f.de97f8",
        "order": 3,
        "disp": true,
        "width": 18,
        "collapse": false,
        "className": ""
    },
    {
        "id": "40cfe2097e77b93d",
        "type": "ui_group",
        "name": "Selectors",
        "tab": "c38fb46f.de97f8",
        "order": 2,
        "disp": false,
        "width": "18",
        "collapse": false,
        "className": ""
    },
    {
        "id": "0e231c635962c47f",
        "type": "ui_group",
        "name": "Buttons",
        "tab": "c38fb46f.de97f8",
        "order": 1,
        "disp": false,
        "width": "18",
        "collapse": false,
        "className": ""
    },
    {
        "id": "c38fb46f.de97f8",
        "type": "ui_tab",
        "name": "Controls",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    }
]