Project/Node-RED/dashboard-design.json
[
    {
        "id": "ca3530d997241665",
        "type": "tab",
        "label": "Dashboard's Design",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "dbdf9d0cac349cbc",
        "type": "group",
        "z": "ca3530d997241665",
        "style": {
            "stroke": "#999999",
            "stroke-opacity": "1",
            "fill": "none",
            "fill-opacity": "1",
            "label": true,
            "label-position": "nw",
            "color": "#a4a4a4"
        },
        "nodes": [
            "396727c0b20e9f4d",
            "4aeca1cce03a1ffa",
            "72c18a0c93482628",
            "d10bd7b439c77022",
            "a9c2f7f4ab98c328"
        ],
        "x": 74,
        "y": 119,
        "w": 392,
        "h": 162
    },
    {
        "id": "d10bd7b439c77022",
        "type": "ui_button",
        "z": "ca3530d997241665",
        "g": "dbdf9d0cac349cbc",
        "name": "Refresh",
        "group": "0fb3e7373ddef337",
        "order": 3,
        "width": "1",
        "height": 1,
        "passthru": false,
        "label": "",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "replay",
        "payload": "{tab:\"\"}",
        "payloadType": "str",
        "topic": "",
        "topicType": "str",
        "x": 160,
        "y": 200,
        "wires": [
            []
        ]
    },
    {
        "id": "0fb3e7373ddef337",
        "type": "ui_group",
        "name": "Change Tab",
        "tab": "96d825f6eb6ecaf5",
        "order": 1,
        "disp": false,
        "width": "6",
        "collapse": false
    },
    {
        "id": "96d825f6eb6ecaf5",
        "type": "ui_tab",
        "name": "Home",
        "icon": "fa-home",
        "order": 1,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "8fc317d56bed8250",
        "type": "group",
        "z": "ca3530d997241665",
        "style": {
            "stroke": "#999999",
            "stroke-opacity": "1",
            "fill": "none",
            "fill-opacity": "1",
            "label": true,
            "label-position": "nw",
            "color": "#a4a4a4"
        },
        "nodes": [
            "fc452524b03a98f4",
            "777d761d2e60ddd5",
            "0e6c1ccc1fda023c",
            "7f4973dcb0b1d121",
            "74fafb5678f29e64",
            "fc51ea4f2d24599d",
            "f416d17af7930ed9",
            "a86aaf5c3d6f75f9",
            "eb45d2a54e91e1ec",
            "e542b94c52e9a66f",
            "57e8f68180b1638b",
            "c90bd5cd93e52401",
            "71c32feed16d3bbb",
            "952e8f52f08e382f",
            "d051205bb440a60e",
            "e5da208b9bfb5380",
            "84149842fe5bb440",
            "65b55fe4ac8384cb",
            "386838f18dacf5a2",
            "1df4acabc8aa0036",
            "61e2881e80cdbd44",
            "1fd9cfeb9c0ea80a",
            "7841be67b32d71f0",
            "1f6ebf08f3eb3ff2",
            "63958c8fa1565712",
            "ee6c285725e172d9"
        ],
        "x": 74,
        "y": 959,
        "w": 912,
        "h": 522
    },
    {
        "id": "7764fec6033407ec",
        "type": "group",
        "z": "ca3530d997241665",
        "style": {
            "stroke": "#999999",
            "stroke-opacity": "1",
            "fill": "none",
            "fill-opacity": "1",
            "label": true,
            "label-position": "nw",
            "color": "#a4a4a4"
        },
        "nodes": [
            "3d66b14b842e846f",
            "70051f3672a74995",
            "9ed7c998d753d1fa",
            "0dc320ea2dd5b82e",
            "75b14f32ed51256f",
            "89f8e10fac4cf7bd",
            "87488311311a6769",
            "79e8fe4a48445746",
            "70552dc056818430",
            "8ccb55a83cc8de10",
            "4fe10fc6db91911e",
            "b907f9ae79a82547",
            "52c7ae3081a9be83",
            "4935833234a1b7ea",
            "49a88545a8928640",
            "c0a7d316948fb482",
            "ad179b32049952a0",
            "514cf9efa233c742",
            "b3f2f76bf6c358cc",
            "20d441bc9fceb9d2"
        ],
        "x": 74,
        "y": 339,
        "w": 517,
        "h": 447
    },
    {
        "id": "76be4456a73e3ac6",
        "type": "group",
        "z": "ca3530d997241665",
        "style": {
            "stroke": "#999999",
            "stroke-opacity": "1",
            "fill": "none",
            "fill-opacity": "1",
            "label": true,
            "label-position": "nw",
            "color": "#a4a4a4"
        },
        "nodes": [
            "9406ca18d1027e61",
            "3acb7b311e4386e7",
            "bd713598dc390b4e",
            "9ed4af5b0a3a6f34"
        ],
        "x": 74,
        "y": 2539,
        "w": 392,
        "h": 202
    },
    {
        "id": "9f3abcb2882c2510",
        "type": "group",
        "z": "ca3530d997241665",
        "style": {
            "stroke": "#999999",
            "stroke-opacity": "1",
            "fill": "none",
            "fill-opacity": "1",
            "label": true,
            "label-position": "nw",
            "color": "#a4a4a4"
        },
        "nodes": [
            "64ade5adfa3cd5d3",
            "322f24f2e548d461",
            "0db02b3b66be1070",
            "ae8e68d9f8f1984f",
            "b6bc5dae2cc0ae64",
            "68fdaa33e7fe6940",
            "582e416aa945919c",
            "1e6469007e1cfa3b",
            "305659795f27c5ec",
            "70741b268d4c6a17",
            "2f322cab049826b7",
            "a1f9a55b1ea71f0a",
            "c2f587cf6039f83b",
            "f020f353d6f3dda9",
            "692779595ce753e8",
            "14a8675afb92e97f",
            "28f8e40493463fcc",
            "c177d999ab745422",
            "58944659395d496e",
            "b1e2b4a8a22ccf07",
            "48a4aa51b5ed4d74",
            "d2a4eb41cf114cee",
            "65aa4aa42383e8cd",
            "ebd197598b711eb6",
            "923d401a913acd89",
            "87e3c8e532560bb5",
            "c84541fca66e2858",
            "e7da00595c26d279",
            "83edf493c0d9ab04",
            "06bb9db5492bce6f",
            "d65234a91410f1ee",
            "08427e0e7c6c4453",
            "66b4a85df9f5884f",
            "c9a7071ae874fcb7",
            "a547cb341915eda2",
            "b9123733bcfe436d",
            "a74bad51fb990cb9",
            "776e68b11ab73261",
            "2fe9360e1b3095bf",
            "381c5f91f4dc46bb",
            "f4bba668f0e8c927",
            "a1477af0512ef49f",
            "f5b1ce26e332d2a1",
            "bb288907a1e1c026"
        ],
        "x": 79,
        "y": 1499,
        "w": 727,
        "h": 1022
    },
    {
        "id": "c8f895e3ecafbfcf",
        "type": "ui_template",
        "z": "ca3530d997241665",
        "group": "",
        "name": "Clock Toolbar",
        "order": 1,
        "width": "0",
        "height": "0",
        "format": "<script id=\"titleScript\" type=\"text/javascript\">\n\n$(function() {\n    if($('.md-toolbar-tools').length != 0){\n        loadClock();\n    }else setTimeout(loadClock, 500)\n});\n\nfunction loadClock(){\n    $('#clock').remove();\n    var toolbar = $('.md-toolbar-tools');\n    \n    var div = $('<div/>');\n    var p = $('<p/ id=\"clock\">');\n    \n    div.append(p);\n    div[0].style.margin = '0px 0px 0px auto';\n    toolbar.append(div);\n\n    function displayTitle(lh) {\n        p.text(lh); \n    }\n    \n    function upTime() {\n        var d = new Date();\n        p.text(d.toLocaleString());\n    }\n\n    if(document.clockInterval){ \n            clearInterval(document.clockInterval);\n            document.clockInterval = null;\n    }\n        \n    document.clockInterval = setInterval(upTime,1000);\n}\n\n</script>",
        "storeOutMessages": false,
        "fwdInMessages": false,
        "resendOnRefresh": false,
        "templateScope": "global",
        "x": 160,
        "y": 80,
        "wires": [
            []
        ]
    },
    {
        "id": "396727c0b20e9f4d",
        "type": "ui_button",
        "z": "ca3530d997241665",
        "g": "dbdf9d0cac349cbc",
        "name": "Next",
        "group": "0fb3e7373ddef337",
        "order": 2,
        "width": "1",
        "height": 1,
        "passthru": false,
        "label": "",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "arrow_forward",
        "payload": "+1",
        "payloadType": "str",
        "topic": "",
        "topicType": "str",
        "x": 170,
        "y": 200,
        "wires": [
            [
                "4aeca1cce03a1ffa"
            ]
        ]
    },
    {
        "id": "4aeca1cce03a1ffa",
        "type": "ui_ui_control",
        "z": "ca3530d997241665",
        "g": "dbdf9d0cac349cbc",
        "name": "Control tabs",
        "x": 370,
        "y": 240,
        "wires": [
            []
        ]
    },
    {
        "id": "72c18a0c93482628",
        "type": "ui_button",
        "z": "ca3530d997241665",
        "g": "dbdf9d0cac349cbc",
        "name": "Prev",
        "group": "0fb3e7373ddef337",
        "order": 1,
        "width": "1",
        "height": 1,
        "passthru": false,
        "label": "",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "arrow_back",
        "payload": "-1",
        "payloadType": "str",
        "topic": "",
        "topicType": "str",
        "x": 170,
        "y": 240,
        "wires": [
            [
                "4aeca1cce03a1ffa"
            ]
        ]
    },
    {
        "id": "a9c2f7f4ab98c328",
        "type": "comment",
        "z": "ca3530d997241665",
        "g": "dbdf9d0cac349cbc",
        "name": "Home",
        "info": "",
        "x": 150,
        "y": 160,
        "wires": []
    },
    {
        "id": "3d66b14b842e846f",
        "type": "ui_button",
        "z": "ca3530d997241665",
        "g": "7764fec6033407ec",
        "name": "Next",
        "group": "df2855ae8d261641",
        "order": 2,
        "width": 1,
        "height": 1,
        "passthru": false,
        "label": "",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "arrow_forward",
        "payload": "+1",
        "payloadType": "str",
        "topic": "",
        "topicType": "str",
        "x": 170,
        "y": 420,
        "wires": [
            [
                "70051f3672a74995"
            ]
        ]
    },
    {
        "id": "70051f3672a74995",
        "type": "ui_ui_control",
        "z": "ca3530d997241665",
        "g": "7764fec6033407ec",
        "name": "Control tabs",
        "x": 370,
        "y": 440,
        "wires": [
            []
        ]
    },
    {
        "id": "9ed7c998d753d1fa",
        "type": "ui_button",
        "z": "ca3530d997241665",
        "g": "7764fec6033407ec",
        "name": "Prev",
        "group": "df2855ae8d261641",
        "order": 1,
        "width": 1,
        "height": 1,
        "passthru": false,
        "label": "",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "arrow_back",
        "payload": "-1",
        "payloadType": "str",
        "topic": "",
        "topicType": "str",
        "x": 170,
        "y": 460,
        "wires": [
            [
                "70051f3672a74995"
            ]
        ]
    },
    {
        "id": "0dc320ea2dd5b82e",
        "type": "comment",
        "z": "ca3530d997241665",
        "g": "7764fec6033407ec",
        "name": "RPi Control",
        "info": "",
        "x": 190,
        "y": 380,
        "wires": []
    },
    {
        "id": "65b55fe4ac8384cb",
        "type": "ui_button",
        "z": "ca3530d997241665",
        "g": "8fc317d56bed8250",
        "name": "Next",
        "group": "155166d5f0867b9b",
        "order": 2,
        "width": 1,
        "height": 1,
        "passthru": false,
        "label": "",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "arrow_forward",
        "payload": "+1",
        "payloadType": "str",
        "topic": "",
        "topicType": "str",
        "x": 170,
        "y": 1040,
        "wires": [
            [
                "84149842fe5bb440"
            ]
        ]
    },
    {
        "id": "84149842fe5bb440",
        "type": "ui_ui_control",
        "z": "ca3530d997241665",
        "g": "8fc317d56bed8250",
        "name": "Control tabs",
        "x": 350,
        "y": 1080,
        "wires": [
            []
        ]
    },
    {
        "id": "e5da208b9bfb5380",
        "type": "ui_button",
        "z": "ca3530d997241665",
        "g": "8fc317d56bed8250",
        "name": "Prev",
        "group": "155166d5f0867b9b",
        "order": 1,
        "width": 1,
        "height": 1,
        "passthru": false,
        "label": "",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "arrow_back",
        "payload": "-1",
        "payloadType": "str",
        "topic": "",
        "topicType": "str",
        "x": 170,
        "y": 1080,
        "wires": [
            [
                "84149842fe5bb440"
            ]
        ]
    },
    {
        "id": "386838f18dacf5a2",
        "type": "comment",
        "z": "ca3530d997241665",
        "g": "8fc317d56bed8250",
        "name": "Devices",
        "info": "",
        "x": 170,
        "y": 1000,
        "wires": []
    },
    {
        "id": "f4f032534f189458",
        "type": "comment",
        "z": "ca3530d997241665",
        "name": "timeline",
        "info": "",
        "x": 130,
        "y": 40,
        "wires": []
    },
    {
        "id": "fc452524b03a98f4",
        "type": "comment",
        "z": "ca3530d997241665",
        "g": "8fc317d56bed8250",
        "name": "Device 1",
        "info": "",
        "x": 180,
        "y": 1120,
        "wires": []
    },
    {
        "id": "777d761d2e60ddd5",
        "type": "inject",
        "z": "ca3530d997241665",
        "g": "8fc317d56bed8250",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": "",
        "topic": "",
        "payloadType": "str",
        "x": 175,
        "y": 1155,
        "wires": [
            [
                "74fafb5678f29e64"
            ]
        ]
    },
    {
        "id": "0e6c1ccc1fda023c",
        "type": "function",
        "z": "ca3530d997241665",
        "g": "8fc317d56bed8250",
        "name": "state",
        "func": "var state = context.state || false;\nstate = !state;\ncontext.state = state;\nif (state) { return [msg,null]; }\nelse { return [null,msg]; }\n",
        "outputs": 2,
        "noerr": 0,
        "x": 175,
        "y": 1200,
        "wires": [
            [
                "7f4973dcb0b1d121"
            ],
            [
                "74fafb5678f29e64"
            ]
        ]
    },
    {
        "id": "7f4973dcb0b1d121",
        "type": "change",
        "z": "ca3530d997241665",
        "g": "8fc317d56bed8250",
        "name": "show",
        "rules": [
            {
                "t": "set",
                "p": "colour",
                "pt": "msg",
                "to": "green",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "<i class=\"fa fa-eye\" aria-hidden=\"true\"></i> device 1",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{\"group\":{\"show\":[\"Devices_Device_1\"]}}",
                "tot": "json"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 340,
        "y": 1155,
        "wires": [
            [
                "fc51ea4f2d24599d",
                "71c32feed16d3bbb"
            ]
        ]
    },
    {
        "id": "74fafb5678f29e64",
        "type": "change",
        "z": "ca3530d997241665",
        "g": "8fc317d56bed8250",
        "name": "hide",
        "rules": [
            {
                "t": "set",
                "p": "colour",
                "pt": "msg",
                "to": "red",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "<i class=\"fa fa-eye-slash\" aria-hidden=\"true\"></i> device 1",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{\"group\":{\"hide\":[\"Devices_Device_1\"]}}",
                "tot": "json"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 340,
        "y": 1200,
        "wires": [
            [
                "fc51ea4f2d24599d",
                "71c32feed16d3bbb"
            ]
        ]
    },
    {
        "id": "fc51ea4f2d24599d",
        "type": "ui_button",
        "z": "ca3530d997241665",
        "g": "8fc317d56bed8250",
        "name": "device 1",
        "group": "243b27d3512ab3f4",
        "order": 2,
        "width": 3,
        "height": 1,
        "passthru": false,
        "label": "{{topic}}",
        "tooltip": "",
        "color": "",
        "bgcolor": "{{colour}}",
        "icon": "",
        "payload": "press",
        "payloadType": "str",
        "topic": "",
        "topicType": "str",
        "x": 560,
        "y": 1200,
        "wires": [
            [
                "0e6c1ccc1fda023c"
            ]
        ]
    },
    {
        "id": "f416d17af7930ed9",
        "type": "comment",
        "z": "ca3530d997241665",
        "g": "8fc317d56bed8250",
        "name": "Device 0",
        "info": "",
        "x": 180,
        "y": 1240,
        "wires": []
    },
    {
        "id": "a86aaf5c3d6f75f9",
        "type": "inject",
        "z": "ca3530d997241665",
        "g": "8fc317d56bed8250",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": "",
        "topic": "",
        "payloadType": "str",
        "x": 175,
        "y": 1275,
        "wires": [
            [
                "57e8f68180b1638b"
            ]
        ]
    },
    {
        "id": "eb45d2a54e91e1ec",
        "type": "function",
        "z": "ca3530d997241665",
        "g": "8fc317d56bed8250",
        "name": "state",
        "func": "var state = context.state || false;\nstate = !state;\ncontext.state = state;\nif (state) { return [msg,null]; }\nelse { return [null,msg]; }\n",
        "outputs": 2,
        "noerr": 0,
        "x": 175,
        "y": 1320,
        "wires": [
            [
                "e542b94c52e9a66f"
            ],
            [
                "57e8f68180b1638b"
            ]
        ]
    },
    {
        "id": "e542b94c52e9a66f",
        "type": "change",
        "z": "ca3530d997241665",
        "g": "8fc317d56bed8250",
        "name": "show",
        "rules": [
            {
                "t": "set",
                "p": "colour",
                "pt": "msg",
                "to": "green",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "<i class=\"fa fa-eye\" aria-hidden=\"true\"></i> device 0",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{\"group\":{\"show\":[\"Devices_Device_0\"]}}",
                "tot": "json"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 340,
        "y": 1275,
        "wires": [
            [
                "c90bd5cd93e52401",
                "71c32feed16d3bbb"
            ]
        ]
    },
    {
        "id": "57e8f68180b1638b",
        "type": "change",
        "z": "ca3530d997241665",
        "g": "8fc317d56bed8250",
        "name": "hide",
        "rules": [
            {
                "t": "set",
                "p": "colour",
                "pt": "msg",
                "to": "red",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "<i class=\"fa fa-eye-slash\" aria-hidden=\"true\"></i> device 0",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{\"group\":{\"hide\":[\"Devices_Device_0\"]}}",
                "tot": "json"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 340,
        "y": 1320,
        "wires": [
            [
                "c90bd5cd93e52401",
                "71c32feed16d3bbb"
            ]
        ]
    },
    {
        "id": "c90bd5cd93e52401",
        "type": "ui_button",
        "z": "ca3530d997241665",
        "g": "8fc317d56bed8250",
        "name": "device 0",
        "group": "243b27d3512ab3f4",
        "order": 1,
        "width": 3,
        "height": 1,
        "passthru": false,
        "label": "{{topic}}",
        "tooltip": "",
        "color": "",
        "bgcolor": "{{colour}}",
        "icon": "",
        "payload": "press",
        "payloadType": "str",
        "topic": "",
        "topicType": "str",
        "x": 560,
        "y": 1320,
        "wires": [
            [
                "eb45d2a54e91e1ec"
            ]
        ]
    },
    {
        "id": "71c32feed16d3bbb",
        "type": "link out",
        "z": "ca3530d997241665",
        "g": "8fc317d56bed8250",
        "name": "",
        "mode": "link",
        "links": [
            "952e8f52f08e382f"
        ],
        "x": 675,
        "y": 1280,
        "wires": []
    },
    {
        "id": "952e8f52f08e382f",
        "type": "link in",
        "z": "ca3530d997241665",
        "g": "8fc317d56bed8250",
        "name": "device ui control",
        "links": [
            "71c32feed16d3bbb"
        ],
        "x": 755,
        "y": 1280,
        "wires": [
            [
                "d051205bb440a60e"
            ]
        ]
    },
    {
        "id": "d051205bb440a60e",
        "type": "ui_ui_control",
        "z": "ca3530d997241665",
        "g": "8fc317d56bed8250",
        "name": "",
        "events": "all",
        "x": 900,
        "y": 1280,
        "wires": [
            []
        ]
    },
    {
        "id": "75b14f32ed51256f",
        "type": "link in",
        "z": "ca3530d997241665",
        "g": "7764fec6033407ec",
        "name": "rpi ui control",
        "links": [
            "70552dc056818430",
            "4935833234a1b7ea",
            "204e171a7e87d115"
        ],
        "x": 275,
        "y": 480,
        "wires": [
            [
                "89f8e10fac4cf7bd"
            ]
        ]
    },
    {
        "id": "89f8e10fac4cf7bd",
        "type": "ui_ui_control",
        "z": "ca3530d997241665",
        "g": "7764fec6033407ec",
        "name": "",
        "events": "all",
        "x": 380,
        "y": 480,
        "wires": [
            []
        ]
    },
    {
        "id": "1f6ebf08f3eb3ff2",
        "type": "ui_button",
        "z": "ca3530d997241665",
        "g": "8fc317d56bed8250",
        "name": "device 2",
        "group": "243b27d3512ab3f4",
        "order": 0,
        "width": "3",
        "height": "1",
        "passthru": false,
        "label": "{{topic}}",
        "tooltip": "",
        "color": "",
        "bgcolor": "{{colour}}",
        "icon": "",
        "payload": "press",
        "payloadType": "str",
        "topic": "",
        "topicType": "str",
        "x": 560,
        "y": 1440,
        "wires": [
            [
                "1fd9cfeb9c0ea80a"
            ]
        ]
    },
    {
        "id": "7841be67b32d71f0",
        "type": "inject",
        "z": "ca3530d997241665",
        "g": "8fc317d56bed8250",
        "name": "",
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": "",
        "topic": "",
        "payload": "",
        "payloadType": "str",
        "x": 170,
        "y": 1400,
        "wires": [
            [
                "1df4acabc8aa0036"
            ]
        ]
    },
    {
        "id": "1fd9cfeb9c0ea80a",
        "type": "function",
        "z": "ca3530d997241665",
        "g": "8fc317d56bed8250",
        "name": "state",
        "func": "var state = context.state || false;\nstate = !state;\ncontext.state = state;\nif (state) { return [msg,null]; }\nelse { return [null,msg]; }\n",
        "outputs": 2,
        "noerr": 0,
        "x": 170,
        "y": 1440,
        "wires": [
            [
                "1df4acabc8aa0036"
            ],
            [
                "61e2881e80cdbd44"
            ]
        ]
    },
    {
        "id": "1df4acabc8aa0036",
        "type": "change",
        "z": "ca3530d997241665",
        "g": "8fc317d56bed8250",
        "name": "show",
        "rules": [
            {
                "t": "set",
                "p": "colour",
                "pt": "msg",
                "to": "green",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "<i class=\"fa fa-eye\" aria-hidden=\"true\"></i> device 2",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{\"group\":{\"show\":[\"Devices_Device_2\"]}}",
                "tot": "json"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 330,
        "y": 1400,
        "wires": [
            [
                "1f6ebf08f3eb3ff2",
                "71c32feed16d3bbb"
            ]
        ]
    },
    {
        "id": "61e2881e80cdbd44",
        "type": "change",
        "z": "ca3530d997241665",
        "g": "8fc317d56bed8250",
        "name": "hide",
        "rules": [
            {
                "t": "set",
                "p": "colour",
                "pt": "msg",
                "to": "red",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "<i class=\"fa fa-eye-slash\" aria-hidden=\"true\"></i> device 2",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{\"group\":{\"hide\":[\"Devices_Device_2\"]}}",
                "tot": "json"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 330,
        "y": 1440,
        "wires": [
            [
                "1f6ebf08f3eb3ff2",
                "71c32feed16d3bbb"
            ]
        ]
    },
    {
        "id": "63958c8fa1565712",
        "type": "comment",
        "z": "ca3530d997241665",
        "g": "8fc317d56bed8250",
        "name": "Device 2",
        "info": "",
        "x": 180,
        "y": 1360,
        "wires": []
    },
    {
        "id": "ee6c285725e172d9",
        "type": "ui_button",
        "z": "ca3530d997241665",
        "g": "8fc317d56bed8250",
        "name": "dead button",
        "group": "243b27d3512ab3f4",
        "order": 0,
        "width": "3",
        "height": "1",
        "passthru": false,
        "label": "<i class=\"fa fa-window-close\" aria-hidden=\"true\"></i>",
        "tooltip": "",
        "color": "",
        "bgcolor": "{{colour}}",
        "icon": "",
        "payload": "press",
        "payloadType": "str",
        "topic": "",
        "topicType": "str",
        "x": 570,
        "y": 1120,
        "wires": [
            []
        ]
    },
    {
        "id": "87488311311a6769",
        "type": "inject",
        "z": "ca3530d997241665",
        "g": "7764fec6033407ec",
        "name": "",
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": "",
        "topic": "",
        "payload": "",
        "payloadType": "str",
        "x": 170,
        "y": 700,
        "wires": [
            [
                "8ccb55a83cc8de10"
            ]
        ]
    },
    {
        "id": "79e8fe4a48445746",
        "type": "function",
        "z": "ca3530d997241665",
        "g": "7764fec6033407ec",
        "name": "state",
        "func": "var state = context.state || false;\nstate = !state;\ncontext.state = state;\nif (state) { return [msg,null]; }\nelse { return [null,msg]; }\n",
        "outputs": 2,
        "noerr": 0,
        "x": 170,
        "y": 745,
        "wires": [
            [
                "8ccb55a83cc8de10"
            ],
            [
                "4fe10fc6db91911e"
            ]
        ]
    },
    {
        "id": "70552dc056818430",
        "type": "link out",
        "z": "ca3530d997241665",
        "g": "7764fec6033407ec",
        "name": "",
        "mode": "link",
        "links": [
            "75b14f32ed51256f"
        ],
        "x": 550,
        "y": 705,
        "wires": []
    },
    {
        "id": "8ccb55a83cc8de10",
        "type": "change",
        "z": "ca3530d997241665",
        "g": "7764fec6033407ec",
        "name": "show",
        "rules": [
            {
                "t": "set",
                "p": "colour",
                "pt": "msg",
                "to": "green",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "<i class=\"fa fa-eye\" aria-hidden=\"true\"></i> CPU",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{\"group\":{\"show\":[\"RPi_Control_CPU\"]}}",
                "tot": "json"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 365,
        "y": 705,
        "wires": [
            [
                "70552dc056818430",
                "20d441bc9fceb9d2"
            ]
        ]
    },
    {
        "id": "4fe10fc6db91911e",
        "type": "change",
        "z": "ca3530d997241665",
        "g": "7764fec6033407ec",
        "name": "hide",
        "rules": [
            {
                "t": "set",
                "p": "colour",
                "pt": "msg",
                "to": "red",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "<i class=\"fa fa-eye-slash\" aria-hidden=\"true\"></i> CPU",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{\"group\":{\"hide\":[\"RPi_Control_CPU\"]}}",
                "tot": "json"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 365,
        "y": 745,
        "wires": [
            [
                "70552dc056818430",
                "20d441bc9fceb9d2"
            ]
        ]
    },
    {
        "id": "b907f9ae79a82547",
        "type": "inject",
        "z": "ca3530d997241665",
        "g": "7764fec6033407ec",
        "name": "",
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": "",
        "topic": "",
        "payload": "",
        "payloadType": "str",
        "x": 170,
        "y": 560,
        "wires": [
            [
                "c0a7d316948fb482"
            ]
        ]
    },
    {
        "id": "52c7ae3081a9be83",
        "type": "function",
        "z": "ca3530d997241665",
        "g": "7764fec6033407ec",
        "name": "state",
        "func": "var state = context.state || false;\nstate = !state;\ncontext.state = state;\nif (state) { return [msg,null]; }\nelse { return [null,msg]; }\n",
        "outputs": 2,
        "noerr": 0,
        "x": 170,
        "y": 605,
        "wires": [
            [
                "c0a7d316948fb482"
            ],
            [
                "49a88545a8928640"
            ]
        ]
    },
    {
        "id": "4935833234a1b7ea",
        "type": "link out",
        "z": "ca3530d997241665",
        "g": "7764fec6033407ec",
        "name": "",
        "mode": "link",
        "links": [
            "75b14f32ed51256f"
        ],
        "x": 550,
        "y": 565,
        "wires": []
    },
    {
        "id": "49a88545a8928640",
        "type": "change",
        "z": "ca3530d997241665",
        "g": "7764fec6033407ec",
        "name": "hide",
        "rules": [
            {
                "t": "set",
                "p": "colour",
                "pt": "msg",
                "to": "red",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "<i class=\"fa fa-eye-slash\" aria-hidden=\"true\"></i> RAM",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{\"group\":{\"hide\":[\"RPi_Control_RAM\"]}}",
                "tot": "json"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 365,
        "y": 605,
        "wires": [
            [
                "4935833234a1b7ea",
                "b3f2f76bf6c358cc"
            ]
        ]
    },
    {
        "id": "c0a7d316948fb482",
        "type": "change",
        "z": "ca3530d997241665",
        "g": "7764fec6033407ec",
        "name": "show",
        "rules": [
            {
                "t": "set",
                "p": "colour",
                "pt": "msg",
                "to": "green",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "<i class=\"fa fa-eye\" aria-hidden=\"true\"></i> RAM",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{\"group\":{\"show\":[\"RPi_Control_RAM\"]}}",
                "tot": "json"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 365,
        "y": 565,
        "wires": [
            [
                "4935833234a1b7ea",
                "b3f2f76bf6c358cc"
            ]
        ]
    },
    {
        "id": "ad179b32049952a0",
        "type": "comment",
        "z": "ca3530d997241665",
        "g": "7764fec6033407ec",
        "name": "RAM",
        "info": "",
        "x": 165,
        "y": 525,
        "wires": []
    },
    {
        "id": "514cf9efa233c742",
        "type": "comment",
        "z": "ca3530d997241665",
        "g": "7764fec6033407ec",
        "name": "CPU",
        "info": "",
        "x": 165,
        "y": 665,
        "wires": []
    },
    {
        "id": "9406ca18d1027e61",
        "type": "ui_button",
        "z": "ca3530d997241665",
        "g": "76be4456a73e3ac6",
        "name": "Next",
        "group": "eb5ff592e856ea53",
        "order": 2,
        "width": 1,
        "height": 1,
        "passthru": false,
        "label": "",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "arrow_forward",
        "payload": "+1",
        "payloadType": "str",
        "topic": "",
        "topicType": "str",
        "x": 170,
        "y": 2660,
        "wires": [
            [
                "3acb7b311e4386e7"
            ]
        ]
    },
    {
        "id": "3acb7b311e4386e7",
        "type": "ui_ui_control",
        "z": "ca3530d997241665",
        "g": "76be4456a73e3ac6",
        "name": "Control tabs",
        "x": 370,
        "y": 2660,
        "wires": [
            []
        ]
    },
    {
        "id": "bd713598dc390b4e",
        "type": "ui_button",
        "z": "ca3530d997241665",
        "g": "76be4456a73e3ac6",
        "name": "Prev",
        "group": "eb5ff592e856ea53",
        "order": 1,
        "width": 1,
        "height": 1,
        "passthru": false,
        "label": "",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "arrow_back",
        "payload": "-1",
        "payloadType": "str",
        "topic": "",
        "topicType": "str",
        "x": 170,
        "y": 2700,
        "wires": [
            [
                "3acb7b311e4386e7"
            ]
        ]
    },
    {
        "id": "9ed4af5b0a3a6f34",
        "type": "comment",
        "z": "ca3530d997241665",
        "g": "76be4456a73e3ac6",
        "name": "File Browser",
        "info": "",
        "x": 170,
        "y": 2580,
        "wires": []
    },
    {
        "id": "64ade5adfa3cd5d3",
        "type": "ui_button",
        "z": "ca3530d997241665",
        "g": "9f3abcb2882c2510",
        "name": "temp",
        "group": "891417914e439b25",
        "order": 4,
        "width": "3",
        "height": "1",
        "passthru": false,
        "label": "{{topic}}",
        "tooltip": "",
        "color": "",
        "bgcolor": "{{colour}}",
        "icon": "",
        "payload": "press",
        "payloadType": "str",
        "topic": "",
        "topicType": "str",
        "x": 550,
        "y": 1780,
        "wires": [
            [
                "ae8e68d9f8f1984f"
            ]
        ]
    },
    {
        "id": "322f24f2e548d461",
        "type": "change",
        "z": "ca3530d997241665",
        "g": "9f3abcb2882c2510",
        "name": "show",
        "rules": [
            {
                "t": "set",
                "p": "colour",
                "pt": "msg",
                "to": "green",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "<i class=\"fa fa-eye\" aria-hidden=\"true\"></i> temperature",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{\"group\":{\"show\":[\"Charts_T\"]}}",
                "tot": "json"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 340,
        "y": 1735,
        "wires": [
            [
                "64ade5adfa3cd5d3",
                "58944659395d496e"
            ]
        ]
    },
    {
        "id": "0db02b3b66be1070",
        "type": "inject",
        "z": "ca3530d997241665",
        "g": "9f3abcb2882c2510",
        "name": "",
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": "",
        "topic": "",
        "payload": "",
        "payloadType": "str",
        "x": 175,
        "y": 1735,
        "wires": [
            [
                "b6bc5dae2cc0ae64"
            ]
        ]
    },
    {
        "id": "ae8e68d9f8f1984f",
        "type": "function",
        "z": "ca3530d997241665",
        "g": "9f3abcb2882c2510",
        "name": "state",
        "func": "var state = context.state || false;\nstate = !state;\ncontext.state = state;\nif (state) { return [msg,null]; }\nelse { return [null,msg]; }\n",
        "outputs": 2,
        "noerr": 0,
        "x": 175,
        "y": 1780,
        "wires": [
            [
                "322f24f2e548d461"
            ],
            [
                "b6bc5dae2cc0ae64"
            ]
        ]
    },
    {
        "id": "b6bc5dae2cc0ae64",
        "type": "change",
        "z": "ca3530d997241665",
        "g": "9f3abcb2882c2510",
        "name": "hide",
        "rules": [
            {
                "t": "set",
                "p": "colour",
                "pt": "msg",
                "to": "red",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "<i class=\"fa fa-eye-slash\" aria-hidden=\"true\"></i> temperature",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{\"group\":{\"hide\":[\"Charts_T\"]}}",
                "tot": "json"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 340,
        "y": 1780,
        "wires": [
            [
                "64ade5adfa3cd5d3",
                "58944659395d496e"
            ]
        ]
    },
    {
        "id": "68fdaa33e7fe6940",
        "type": "ui_button",
        "z": "ca3530d997241665",
        "g": "9f3abcb2882c2510",
        "name": "hum",
        "group": "891417914e439b25",
        "order": 5,
        "width": "3",
        "height": "1",
        "passthru": false,
        "label": "{{topic}}",
        "tooltip": "",
        "color": "",
        "bgcolor": "{{colour}}",
        "icon": "",
        "payload": "press",
        "payloadType": "str",
        "topic": "",
        "topicType": "str",
        "x": 550,
        "y": 1920,
        "wires": [
            [
                "305659795f27c5ec"
            ]
        ]
    },
    {
        "id": "582e416aa945919c",
        "type": "change",
        "z": "ca3530d997241665",
        "g": "9f3abcb2882c2510",
        "name": "show",
        "rules": [
            {
                "t": "set",
                "p": "colour",
                "pt": "msg",
                "to": "green",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "<i class=\"fa fa-eye\" aria-hidden=\"true\"></i> humidity",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{\"group\":{\"show\":[\"Charts_H\"]}}",
                "tot": "json"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 340,
        "y": 1875,
        "wires": [
            [
                "68fdaa33e7fe6940",
                "58944659395d496e"
            ]
        ]
    },
    {
        "id": "1e6469007e1cfa3b",
        "type": "inject",
        "z": "ca3530d997241665",
        "g": "9f3abcb2882c2510",
        "name": "",
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": "",
        "topic": "",
        "payload": "",
        "payloadType": "str",
        "x": 175,
        "y": 1875,
        "wires": [
            [
                "70741b268d4c6a17"
            ]
        ]
    },
    {
        "id": "305659795f27c5ec",
        "type": "function",
        "z": "ca3530d997241665",
        "g": "9f3abcb2882c2510",
        "name": "state",
        "func": "var state = context.state || false;\nstate = !state;\ncontext.state = state;\nif (state) { return [msg,null]; }\nelse { return [null,msg]; }\n",
        "outputs": 2,
        "noerr": 0,
        "x": 175,
        "y": 1920,
        "wires": [
            [
                "582e416aa945919c"
            ],
            [
                "70741b268d4c6a17"
            ]
        ]
    },
    {
        "id": "70741b268d4c6a17",
        "type": "change",
        "z": "ca3530d997241665",
        "g": "9f3abcb2882c2510",
        "name": "hide",
        "rules": [
            {
                "t": "set",
                "p": "colour",
                "pt": "msg",
                "to": "red",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "<i class=\"fa fa-eye-slash\" aria-hidden=\"true\"></i> humidity",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{\"group\":{\"hide\":[\"Charts_H\"]}}",
                "tot": "json"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 340,
        "y": 1920,
        "wires": [
            [
                "68fdaa33e7fe6940",
                "58944659395d496e"
            ]
        ]
    },
    {
        "id": "2f322cab049826b7",
        "type": "comment",
        "z": "ca3530d997241665",
        "g": "9f3abcb2882c2510",
        "name": "H",
        "info": "",
        "x": 170,
        "y": 1840,
        "wires": []
    },
    {
        "id": "a1f9a55b1ea71f0a",
        "type": "comment",
        "z": "ca3530d997241665",
        "g": "9f3abcb2882c2510",
        "name": "T",
        "info": "",
        "x": 170,
        "y": 1700,
        "wires": []
    },
    {
        "id": "c2f587cf6039f83b",
        "type": "ui_button",
        "z": "ca3530d997241665",
        "g": "9f3abcb2882c2510",
        "name": "soil",
        "group": "891417914e439b25",
        "order": 6,
        "width": "3",
        "height": "1",
        "passthru": false,
        "label": "{{topic}}",
        "tooltip": "",
        "color": "",
        "bgcolor": "{{colour}}",
        "icon": "",
        "payload": "press",
        "payloadType": "str",
        "topic": "",
        "topicType": "str",
        "x": 550,
        "y": 2060,
        "wires": [
            [
                "14a8675afb92e97f"
            ]
        ]
    },
    {
        "id": "f020f353d6f3dda9",
        "type": "change",
        "z": "ca3530d997241665",
        "g": "9f3abcb2882c2510",
        "name": "show",
        "rules": [
            {
                "t": "set",
                "p": "colour",
                "pt": "msg",
                "to": "green",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "<i class=\"fa fa-eye\" aria-hidden=\"true\"></i> soil",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{\"group\":{\"show\":[\"Charts_S\"]}}",
                "tot": "json"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 340,
        "y": 2015,
        "wires": [
            [
                "c2f587cf6039f83b",
                "58944659395d496e"
            ]
        ]
    },
    {
        "id": "692779595ce753e8",
        "type": "inject",
        "z": "ca3530d997241665",
        "g": "9f3abcb2882c2510",
        "name": "",
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": "",
        "topic": "",
        "payload": "",
        "payloadType": "str",
        "x": 175,
        "y": 2015,
        "wires": [
            [
                "28f8e40493463fcc"
            ]
        ]
    },
    {
        "id": "14a8675afb92e97f",
        "type": "function",
        "z": "ca3530d997241665",
        "g": "9f3abcb2882c2510",
        "name": "state",
        "func": "var state = context.state || false;\nstate = !state;\ncontext.state = state;\nif (state) { return [msg,null]; }\nelse { return [null,msg]; }\n",
        "outputs": 2,
        "noerr": 0,
        "x": 175,
        "y": 2060,
        "wires": [
            [
                "f020f353d6f3dda9"
            ],
            [
                "28f8e40493463fcc"
            ]
        ]
    },
    {
        "id": "28f8e40493463fcc",
        "type": "change",
        "z": "ca3530d997241665",
        "g": "9f3abcb2882c2510",
        "name": "hide",
        "rules": [
            {
                "t": "set",
                "p": "colour",
                "pt": "msg",
                "to": "red",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "<i class=\"fa fa-eye-slash\" aria-hidden=\"true\"></i> soil",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{\"group\":{\"hide\":[\"Charts_S\"]}}",
                "tot": "json"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 340,
        "y": 2060,
        "wires": [
            [
                "c2f587cf6039f83b",
                "58944659395d496e"
            ]
        ]
    },
    {
        "id": "c177d999ab745422",
        "type": "comment",
        "z": "ca3530d997241665",
        "g": "9f3abcb2882c2510",
        "name": "S",
        "info": "",
        "x": 170,
        "y": 1980,
        "wires": []
    },
    {
        "id": "58944659395d496e",
        "type": "link out",
        "z": "ca3530d997241665",
        "g": "9f3abcb2882c2510",
        "name": "out 1 graphics",
        "mode": "link",
        "links": [
            "f5b1ce26e332d2a1"
        ],
        "x": 695,
        "y": 2040,
        "wires": []
    },
    {
        "id": "b1e2b4a8a22ccf07",
        "type": "comment",
        "z": "ca3530d997241665",
        "g": "9f3abcb2882c2510",
        "name": "P",
        "info": "",
        "x": 170,
        "y": 2120,
        "wires": []
    },
    {
        "id": "48a4aa51b5ed4d74",
        "type": "ui_button",
        "z": "ca3530d997241665",
        "g": "9f3abcb2882c2510",
        "name": "pressure",
        "group": "891417914e439b25",
        "order": 7,
        "width": "3",
        "height": "1",
        "passthru": false,
        "label": "{{topic}}",
        "tooltip": "",
        "color": "",
        "bgcolor": "{{colour}}",
        "icon": "",
        "payload": "press",
        "payloadType": "str",
        "topic": "",
        "topicType": "str",
        "x": 560,
        "y": 2200,
        "wires": [
            [
                "ebd197598b711eb6"
            ]
        ]
    },
    {
        "id": "d2a4eb41cf114cee",
        "type": "change",
        "z": "ca3530d997241665",
        "g": "9f3abcb2882c2510",
        "name": "show",
        "rules": [
            {
                "t": "set",
                "p": "colour",
                "pt": "msg",
                "to": "green",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "<i class=\"fa fa-eye\" aria-hidden=\"true\"></i> pressure",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{\"group\":{\"show\":[\"Charts_P\"]}}",
                "tot": "json"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 340,
        "y": 2155,
        "wires": [
            [
                "48a4aa51b5ed4d74",
                "776e68b11ab73261"
            ]
        ]
    },
    {
        "id": "65aa4aa42383e8cd",
        "type": "inject",
        "z": "ca3530d997241665",
        "g": "9f3abcb2882c2510",
        "name": "",
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": "",
        "topic": "",
        "payload": "",
        "payloadType": "str",
        "x": 175,
        "y": 2155,
        "wires": [
            [
                "923d401a913acd89"
            ]
        ]
    },
    {
        "id": "ebd197598b711eb6",
        "type": "function",
        "z": "ca3530d997241665",
        "g": "9f3abcb2882c2510",
        "name": "state",
        "func": "var state = context.state || false;\nstate = !state;\ncontext.state = state;\nif (state) { return [msg,null]; }\nelse { return [null,msg]; }\n",
        "outputs": 2,
        "noerr": 0,
        "x": 175,
        "y": 2200,
        "wires": [
            [
                "d2a4eb41cf114cee"
            ],
            [
                "923d401a913acd89"
            ]
        ]
    },
    {
        "id": "923d401a913acd89",
        "type": "change",
        "z": "ca3530d997241665",
        "g": "9f3abcb2882c2510",
        "name": "hide",
        "rules": [
            {
                "t": "set",
                "p": "colour",
                "pt": "msg",
                "to": "red",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "<i class=\"fa fa-eye-slash\" aria-hidden=\"true\"></i> pressure",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{\"group\":{\"hide\":[\"Charts_P\"]}}",
                "tot": "json"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 340,
        "y": 2200,
        "wires": [
            [
                "48a4aa51b5ed4d74",
                "776e68b11ab73261"
            ]
        ]
    },
    {
        "id": "87e3c8e532560bb5",
        "type": "comment",
        "z": "ca3530d997241665",
        "g": "9f3abcb2882c2510",
        "name": "U",
        "info": "",
        "x": 170,
        "y": 2260,
        "wires": []
    },
    {
        "id": "c84541fca66e2858",
        "type": "ui_button",
        "z": "ca3530d997241665",
        "g": "9f3abcb2882c2510",
        "name": "uv",
        "group": "891417914e439b25",
        "order": 8,
        "width": "3",
        "height": "1",
        "passthru": false,
        "label": "{{topic}}",
        "tooltip": "",
        "color": "",
        "bgcolor": "{{colour}}",
        "icon": "",
        "payload": "press",
        "payloadType": "str",
        "topic": "",
        "topicType": "str",
        "x": 550,
        "y": 2340,
        "wires": [
            [
                "06bb9db5492bce6f"
            ]
        ]
    },
    {
        "id": "e7da00595c26d279",
        "type": "change",
        "z": "ca3530d997241665",
        "g": "9f3abcb2882c2510",
        "name": "show",
        "rules": [
            {
                "t": "set",
                "p": "colour",
                "pt": "msg",
                "to": "green",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "<i class=\"fa fa-eye\" aria-hidden=\"true\"></i> uv",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{\"group\":{\"show\":[\"Charts_U\"]}}",
                "tot": "json"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 340,
        "y": 2295,
        "wires": [
            [
                "c84541fca66e2858",
                "776e68b11ab73261"
            ]
        ]
    },
    {
        "id": "83edf493c0d9ab04",
        "type": "inject",
        "z": "ca3530d997241665",
        "g": "9f3abcb2882c2510",
        "name": "",
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": "",
        "topic": "",
        "payload": "",
        "payloadType": "str",
        "x": 175,
        "y": 2295,
        "wires": [
            [
                "d65234a91410f1ee"
            ]
        ]
    },
    {
        "id": "06bb9db5492bce6f",
        "type": "function",
        "z": "ca3530d997241665",
        "g": "9f3abcb2882c2510",
        "name": "state",
        "func": "var state = context.state || false;\nstate = !state;\ncontext.state = state;\nif (state) { return [msg,null]; }\nelse { return [null,msg]; }\n",
        "outputs": 2,
        "noerr": 0,
        "x": 175,
        "y": 2340,
        "wires": [
            [
                "e7da00595c26d279"
            ],
            [
                "d65234a91410f1ee"
            ]
        ]
    },
    {
        "id": "d65234a91410f1ee",
        "type": "change",
        "z": "ca3530d997241665",
        "g": "9f3abcb2882c2510",
        "name": "hide",
        "rules": [
            {
                "t": "set",
                "p": "colour",
                "pt": "msg",
                "to": "red",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "<i class=\"fa fa-eye-slash\" aria-hidden=\"true\"></i> uv",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{\"group\":{\"hide\":[\"Charts_U\"]}}",
                "tot": "json"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 340,
        "y": 2340,
        "wires": [
            [
                "c84541fca66e2858",
                "776e68b11ab73261"
            ]
        ]
    },
    {
        "id": "08427e0e7c6c4453",
        "type": "comment",
        "z": "ca3530d997241665",
        "g": "9f3abcb2882c2510",
        "name": "NU",
        "info": "",
        "x": 170,
        "y": 2400,
        "wires": []
    },
    {
        "id": "66b4a85df9f5884f",
        "type": "ui_button",
        "z": "ca3530d997241665",
        "g": "9f3abcb2882c2510",
        "name": "not used",
        "group": "891417914e439b25",
        "order": 9,
        "width": "3",
        "height": "1",
        "passthru": false,
        "label": "<i class=\"fa fa-minus\" aria-hidden=\"true\"></i>",
        "tooltip": "",
        "color": "",
        "bgcolor": "{{colour}}",
        "icon": "",
        "payload": "press",
        "payloadType": "str",
        "topic": "",
        "topicType": "str",
        "x": 560,
        "y": 2480,
        "wires": [
            [
                "b9123733bcfe436d"
            ]
        ]
    },
    {
        "id": "c9a7071ae874fcb7",
        "type": "change",
        "z": "ca3530d997241665",
        "g": "9f3abcb2882c2510",
        "name": "show",
        "rules": [
            {
                "t": "set",
                "p": "colour",
                "pt": "msg",
                "to": "green",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "<i class=\"fa fa-eye\" aria-hidden=\"true\"></i> not used",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{\"group\":{\"show\":[\"Charts_NU\"]}}",
                "tot": "json"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 340,
        "y": 2435,
        "wires": [
            [
                "66b4a85df9f5884f",
                "776e68b11ab73261"
            ]
        ]
    },
    {
        "id": "a547cb341915eda2",
        "type": "inject",
        "z": "ca3530d997241665",
        "g": "9f3abcb2882c2510",
        "name": "",
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": "",
        "topic": "",
        "payload": "",
        "payloadType": "str",
        "x": 175,
        "y": 2435,
        "wires": [
            [
                "a74bad51fb990cb9"
            ]
        ]
    },
    {
        "id": "b9123733bcfe436d",
        "type": "function",
        "z": "ca3530d997241665",
        "g": "9f3abcb2882c2510",
        "name": "state",
        "func": "var state = context.state || false;\nstate = !state;\ncontext.state = state;\nif (state) { return [msg,null]; }\nelse { return [null,msg]; }\n",
        "outputs": 2,
        "noerr": 0,
        "x": 175,
        "y": 2480,
        "wires": [
            [
                "c9a7071ae874fcb7"
            ],
            [
                "a74bad51fb990cb9"
            ]
        ]
    },
    {
        "id": "a74bad51fb990cb9",
        "type": "change",
        "z": "ca3530d997241665",
        "g": "9f3abcb2882c2510",
        "name": "hide",
        "rules": [
            {
                "t": "set",
                "p": "colour",
                "pt": "msg",
                "to": "red",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "<i class=\"fa fa-eye-slash\" aria-hidden=\"true\"></i> not used",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{\"group\":{\"hide\":[\"Charts_NU\"]}}",
                "tot": "json"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 340,
        "y": 2480,
        "wires": [
            [
                "66b4a85df9f5884f",
                "776e68b11ab73261"
            ]
        ]
    },
    {
        "id": "776e68b11ab73261",
        "type": "link out",
        "z": "ca3530d997241665",
        "g": "9f3abcb2882c2510",
        "name": "out 2 graphics",
        "mode": "link",
        "links": [
            "f5b1ce26e332d2a1"
        ],
        "x": 695,
        "y": 2300,
        "wires": []
    },
    {
        "id": "2fe9360e1b3095bf",
        "type": "ui_button",
        "z": "ca3530d997241665",
        "g": "9f3abcb2882c2510",
        "name": "Prev",
        "group": "891417914e439b25",
        "order": 1,
        "width": 1,
        "height": 1,
        "passthru": false,
        "label": "",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "arrow_back",
        "payload": "-1",
        "payloadType": "str",
        "topic": "",
        "topicType": "str",
        "x": 170,
        "y": 1620,
        "wires": [
            [
                "a1477af0512ef49f"
            ]
        ]
    },
    {
        "id": "381c5f91f4dc46bb",
        "type": "ui_button",
        "z": "ca3530d997241665",
        "g": "9f3abcb2882c2510",
        "name": "Next",
        "group": "891417914e439b25",
        "order": 2,
        "width": 1,
        "height": 1,
        "passthru": false,
        "label": "",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "arrow_forward",
        "payload": "+1",
        "payloadType": "str",
        "topic": "",
        "topicType": "str",
        "x": 170,
        "y": 1580,
        "wires": [
            [
                "a1477af0512ef49f"
            ]
        ]
    },
    {
        "id": "f4bba668f0e8c927",
        "type": "comment",
        "z": "ca3530d997241665",
        "g": "9f3abcb2882c2510",
        "name": "Graphics",
        "info": "",
        "x": 180,
        "y": 1540,
        "wires": []
    },
    {
        "id": "a1477af0512ef49f",
        "type": "ui_ui_control",
        "z": "ca3530d997241665",
        "g": "9f3abcb2882c2510",
        "name": "Control tabs",
        "x": 330,
        "y": 1580,
        "wires": [
            []
        ]
    },
    {
        "id": "f5b1ce26e332d2a1",
        "type": "link in",
        "z": "ca3530d997241665",
        "g": "9f3abcb2882c2510",
        "name": "graphics ui_control",
        "links": [
            "58944659395d496e",
            "776e68b11ab73261"
        ],
        "x": 575,
        "y": 1660,
        "wires": [
            [
                "bb288907a1e1c026"
            ]
        ]
    },
    {
        "id": "bb288907a1e1c026",
        "type": "ui_ui_control",
        "z": "ca3530d997241665",
        "g": "9f3abcb2882c2510",
        "name": "",
        "events": "all",
        "x": 720,
        "y": 1660,
        "wires": [
            []
        ]
    },
    {
        "id": "b3f2f76bf6c358cc",
        "type": "ui_button",
        "z": "ca3530d997241665",
        "g": "7764fec6033407ec",
        "name": "RAM",
        "group": "df2855ae8d261641",
        "order": 5,
        "width": 3,
        "height": 1,
        "passthru": false,
        "label": "{{topic}}",
        "tooltip": "",
        "color": "",
        "bgcolor": "{{colour}}",
        "icon": "",
        "payload": "press",
        "payloadType": "str",
        "topic": "",
        "topicType": "str",
        "x": 510,
        "y": 600,
        "wires": [
            [
                "52c7ae3081a9be83"
            ]
        ]
    },
    {
        "id": "20d441bc9fceb9d2",
        "type": "ui_button",
        "z": "ca3530d997241665",
        "g": "7764fec6033407ec",
        "name": "CPU",
        "group": "df2855ae8d261641",
        "order": 4,
        "width": 3,
        "height": 1,
        "passthru": false,
        "label": "{{topic}}",
        "tooltip": "",
        "color": "",
        "bgcolor": "{{colour}}",
        "icon": "",
        "payload": "press",
        "payloadType": "str",
        "topic": "",
        "topicType": "str",
        "x": 510,
        "y": 740,
        "wires": [
            [
                "79e8fe4a48445746"
            ]
        ]
    },
    {
        "id": "6f7c0dd888c012e6",
        "type": "ui_spacer",
        "z": "ca3530d997241665",
        "name": "spacer",
        "group": "",
        "order": 2,
        "width": 12,
        "height": 1
    },
    {
        "id": "571bae1dcd767df2",
        "type": "ui_spacer",
        "z": "ca3530d997241665",
        "name": "spacer",
        "group": "",
        "order": 3,
        "width": 12,
        "height": 1
    },
    {
        "id": "6dc5fd04abae2e4a",
        "type": "ui_spacer",
        "z": "ca3530d997241665",
        "name": "spacer",
        "group": "",
        "order": 4,
        "width": 12,
        "height": 1
    },
    {
        "id": "04d2a8f14eb7a3aa",
        "type": "ui_spacer",
        "z": "ca3530d997241665",
        "name": "spacer",
        "group": "",
        "order": 5,
        "width": 12,
        "height": 1
    },
    {
        "id": "988ecffe3d8a1ceb",
        "type": "ui_spacer",
        "z": "ca3530d997241665",
        "name": "spacer",
        "group": "",
        "order": 6,
        "width": 12,
        "height": 1
    },
    {
        "id": "18d396b3be7fd6f5",
        "type": "ui_spacer",
        "z": "ca3530d997241665",
        "name": "spacer",
        "group": "",
        "order": 7,
        "width": 12,
        "height": 1
    },
    {
        "id": "5772addcce3b00ae",
        "type": "ui_spacer",
        "z": "ca3530d997241665",
        "name": "spacer",
        "group": "",
        "order": 8,
        "width": 12,
        "height": 1
    },
    {
        "id": "b95aec09f41a338c",
        "type": "ui_spacer",
        "z": "ca3530d997241665",
        "name": "spacer",
        "group": "",
        "order": 9,
        "width": 12,
        "height": 1
    },
    {
        "id": "c34e3d8a51a050af",
        "type": "ui_spacer",
        "z": "ca3530d997241665",
        "name": "spacer",
        "group": "",
        "order": 10,
        "width": 12,
        "height": 1
    },
    {
        "id": "ba99f683a9f997ea",
        "type": "ui_spacer",
        "z": "ca3530d997241665",
        "name": "spacer",
        "group": "",
        "order": 11,
        "width": 12,
        "height": 1
    },
    {
        "id": "b632ecf27351268a",
        "type": "ui_spacer",
        "z": "ca3530d997241665",
        "name": "spacer",
        "group": "",
        "order": 2,
        "width": 12,
        "height": 1
    },
    {
        "id": "7caf29cd428fcfd4",
        "type": "ui_spacer",
        "z": "ca3530d997241665",
        "name": "spacer",
        "group": "",
        "order": 3,
        "width": 12,
        "height": 1
    },
    {
        "id": "8b8f52d084e76abb",
        "type": "ui_spacer",
        "z": "ca3530d997241665",
        "name": "spacer",
        "group": "",
        "order": 4,
        "width": 12,
        "height": 1
    },
    {
        "id": "a0f0dab5d78dbd7a",
        "type": "ui_spacer",
        "z": "ca3530d997241665",
        "name": "spacer",
        "group": "",
        "order": 5,
        "width": 12,
        "height": 1
    },
    {
        "id": "44c068a7422cd7d7",
        "type": "ui_spacer",
        "z": "ca3530d997241665",
        "name": "spacer",
        "group": "",
        "order": 6,
        "width": 12,
        "height": 1
    },
    {
        "id": "16710c62624dd973",
        "type": "ui_spacer",
        "z": "ca3530d997241665",
        "name": "spacer",
        "group": "",
        "order": 7,
        "width": 12,
        "height": 1
    },
    {
        "id": "133f33fd0e55e8ca",
        "type": "ui_spacer",
        "z": "ca3530d997241665",
        "name": "spacer",
        "group": "",
        "order": 8,
        "width": 12,
        "height": 1
    },
    {
        "id": "1fa5c803f934b81c",
        "type": "ui_spacer",
        "z": "ca3530d997241665",
        "name": "spacer",
        "group": "",
        "order": 9,
        "width": 12,
        "height": 1
    },
    {
        "id": "48db732fa736e462",
        "type": "ui_spacer",
        "z": "ca3530d997241665",
        "name": "spacer",
        "group": "",
        "order": 10,
        "width": 12,
        "height": 1
    },
    {
        "id": "de5bd46088cf1e1a",
        "type": "ui_spacer",
        "z": "ca3530d997241665",
        "name": "spacer",
        "group": "",
        "order": 11,
        "width": 12,
        "height": 1
    },
    {
        "id": "2c9adeccca498871",
        "type": "ui_spacer",
        "z": "ca3530d997241665",
        "name": "spacer",
        "group": "",
        "order": 2,
        "width": 12,
        "height": 1
    },
    {
        "id": "eabd4e6ffb26ae5b",
        "type": "ui_spacer",
        "z": "ca3530d997241665",
        "name": "spacer",
        "group": "",
        "order": 3,
        "width": 12,
        "height": 1
    },
    {
        "id": "c31ac98bbbd8ec5c",
        "type": "ui_spacer",
        "z": "ca3530d997241665",
        "name": "spacer",
        "group": "",
        "order": 4,
        "width": 12,
        "height": 1
    },
    {
        "id": "8b68ebcde93315a0",
        "type": "ui_spacer",
        "z": "ca3530d997241665",
        "name": "spacer",
        "group": "",
        "order": 5,
        "width": 12,
        "height": 1
    },
    {
        "id": "3b0a40cddc1598c8",
        "type": "ui_spacer",
        "z": "ca3530d997241665",
        "name": "spacer",
        "group": "",
        "order": 6,
        "width": 12,
        "height": 1
    },
    {
        "id": "aa7a7f802dc03c13",
        "type": "ui_spacer",
        "z": "ca3530d997241665",
        "name": "spacer",
        "group": "",
        "order": 7,
        "width": 12,
        "height": 1
    },
    {
        "id": "7d3324ed9bfca32a",
        "type": "ui_spacer",
        "z": "ca3530d997241665",
        "name": "spacer",
        "group": "",
        "order": 8,
        "width": 12,
        "height": 1
    },
    {
        "id": "2f5791c5cdf733d7",
        "type": "ui_spacer",
        "z": "ca3530d997241665",
        "name": "spacer",
        "group": "",
        "order": 9,
        "width": 12,
        "height": 1
    },
    {
        "id": "920e18541ab927a9",
        "type": "ui_spacer",
        "z": "ca3530d997241665",
        "name": "spacer",
        "group": "",
        "order": 10,
        "width": 12,
        "height": 1
    },
    {
        "id": "e6e67b2a98ecd0a1",
        "type": "ui_spacer",
        "z": "ca3530d997241665",
        "name": "spacer",
        "group": "",
        "order": 11,
        "width": 12,
        "height": 1
    },
    {
        "id": "afeb4cff712dbc6f",
        "type": "ui_spacer",
        "z": "ca3530d997241665",
        "name": "spacer",
        "group": "",
        "order": 2,
        "width": 12,
        "height": 1
    },
    {
        "id": "1cf0d9f1ca6e6074",
        "type": "ui_spacer",
        "z": "ca3530d997241665",
        "name": "spacer",
        "group": "",
        "order": 3,
        "width": 12,
        "height": 1
    },
    {
        "id": "f62a04f811b6f2f8",
        "type": "ui_spacer",
        "z": "ca3530d997241665",
        "name": "spacer",
        "group": "",
        "order": 4,
        "width": 12,
        "height": 1
    },
    {
        "id": "f5d236b9e7881a45",
        "type": "ui_spacer",
        "z": "ca3530d997241665",
        "name": "spacer",
        "group": "",
        "order": 5,
        "width": 12,
        "height": 1
    },
    {
        "id": "e40770cf736ca05d",
        "type": "ui_spacer",
        "z": "ca3530d997241665",
        "name": "spacer",
        "group": "",
        "order": 6,
        "width": 12,
        "height": 1
    },
    {
        "id": "023c7dcf08a11d5b",
        "type": "ui_spacer",
        "z": "ca3530d997241665",
        "name": "spacer",
        "group": "",
        "order": 7,
        "width": 12,
        "height": 1
    },
    {
        "id": "065b3673191148b7",
        "type": "ui_spacer",
        "z": "ca3530d997241665",
        "name": "spacer",
        "group": "",
        "order": 8,
        "width": 12,
        "height": 1
    },
    {
        "id": "c0fb2237fb3c36c8",
        "type": "ui_spacer",
        "z": "ca3530d997241665",
        "name": "spacer",
        "group": "",
        "order": 9,
        "width": 12,
        "height": 1
    },
    {
        "id": "761f59bdf6887a53",
        "type": "ui_spacer",
        "z": "ca3530d997241665",
        "name": "spacer",
        "group": "",
        "order": 10,
        "width": 12,
        "height": 1
    },
    {
        "id": "2b15ee6322f59714",
        "type": "ui_spacer",
        "z": "ca3530d997241665",
        "name": "spacer",
        "group": "",
        "order": 11,
        "width": 12,
        "height": 1
    },
    {
        "id": "da75ea04287a9de5",
        "type": "ui_spacer",
        "z": "ca3530d997241665",
        "name": "spacer",
        "group": "",
        "order": 2,
        "width": 12,
        "height": 1
    },
    {
        "id": "13ccf0327abad5f5",
        "type": "ui_spacer",
        "z": "ca3530d997241665",
        "name": "spacer",
        "group": "",
        "order": 3,
        "width": 12,
        "height": 1
    },
    {
        "id": "9a1d8bbab492282f",
        "type": "ui_spacer",
        "z": "ca3530d997241665",
        "name": "spacer",
        "group": "",
        "order": 4,
        "width": 12,
        "height": 1
    },
    {
        "id": "111605e1ce52c19f",
        "type": "ui_spacer",
        "z": "ca3530d997241665",
        "name": "spacer",
        "group": "",
        "order": 5,
        "width": 12,
        "height": 1
    },
    {
        "id": "2ff34152dd203f84",
        "type": "ui_spacer",
        "z": "ca3530d997241665",
        "name": "spacer",
        "group": "",
        "order": 6,
        "width": 12,
        "height": 1
    },
    {
        "id": "1257ecb6e67e9cfe",
        "type": "ui_spacer",
        "z": "ca3530d997241665",
        "name": "spacer",
        "group": "",
        "order": 7,
        "width": 12,
        "height": 1
    },
    {
        "id": "26d22cee34d2eb4f",
        "type": "ui_spacer",
        "z": "ca3530d997241665",
        "name": "spacer",
        "group": "",
        "order": 8,
        "width": 12,
        "height": 1
    },
    {
        "id": "9b31bfb7829db2b4",
        "type": "ui_spacer",
        "z": "ca3530d997241665",
        "name": "spacer",
        "group": "",
        "order": 9,
        "width": 12,
        "height": 1
    },
    {
        "id": "25ea85c690dbacfe",
        "type": "ui_spacer",
        "z": "ca3530d997241665",
        "name": "spacer",
        "group": "",
        "order": 10,
        "width": 12,
        "height": 1
    },
    {
        "id": "0c6e546bf7cf898c",
        "type": "ui_spacer",
        "z": "ca3530d997241665",
        "name": "spacer",
        "group": "",
        "order": 11,
        "width": 12,
        "height": 1
    },
    {
        "id": "75f0d07749cb07f9",
        "type": "ui_spacer",
        "z": "ca3530d997241665",
        "name": "spacer",
        "group": "",
        "order": 2,
        "width": 12,
        "height": 1
    },
    {
        "id": "fc99bbcf5353a598",
        "type": "ui_spacer",
        "z": "ca3530d997241665",
        "name": "spacer",
        "group": "",
        "order": 3,
        "width": 12,
        "height": 1
    },
    {
        "id": "4879ae8d55184e41",
        "type": "ui_spacer",
        "z": "ca3530d997241665",
        "name": "spacer",
        "group": "",
        "order": 4,
        "width": 12,
        "height": 1
    },
    {
        "id": "1068e8817188813a",
        "type": "ui_spacer",
        "z": "ca3530d997241665",
        "name": "spacer",
        "group": "",
        "order": 5,
        "width": 12,
        "height": 1
    },
    {
        "id": "e19d4a2e037572fa",
        "type": "ui_spacer",
        "z": "ca3530d997241665",
        "name": "spacer",
        "group": "",
        "order": 6,
        "width": 12,
        "height": 1
    },
    {
        "id": "7312162e235b09ee",
        "type": "ui_spacer",
        "z": "ca3530d997241665",
        "name": "spacer",
        "group": "",
        "order": 7,
        "width": 12,
        "height": 1
    },
    {
        "id": "9ff8ee63358b8a6b",
        "type": "ui_spacer",
        "z": "ca3530d997241665",
        "name": "spacer",
        "group": "",
        "order": 8,
        "width": 12,
        "height": 1
    },
    {
        "id": "f2be24213eacca2c",
        "type": "ui_spacer",
        "z": "ca3530d997241665",
        "name": "spacer",
        "group": "",
        "order": 9,
        "width": 12,
        "height": 1
    },
    {
        "id": "4bb9a7f59a578f17",
        "type": "ui_spacer",
        "z": "ca3530d997241665",
        "name": "spacer",
        "group": "",
        "order": 10,
        "width": 12,
        "height": 1
    },
    {
        "id": "3f5b913e28131e16",
        "type": "ui_spacer",
        "z": "ca3530d997241665",
        "name": "spacer",
        "group": "",
        "order": 11,
        "width": 12,
        "height": 1
    },
    {
        "id": "df2855ae8d261641",
        "type": "ui_group",
        "name": "Change Tab",
        "tab": "c3173234.2636e",
        "order": 1,
        "disp": false,
        "width": "6",
        "collapse": false
    },
    {
        "id": "155166d5f0867b9b",
        "type": "ui_group",
        "name": "Change Tab",
        "tab": "e9a27aae4ed1b3ba",
        "order": 1,
        "disp": false,
        "width": "2",
        "collapse": false
    },
    {
        "id": "243b27d3512ab3f4",
        "type": "ui_group",
        "name": "Hide/Show Devices",
        "tab": "e9a27aae4ed1b3ba",
        "order": 2,
        "disp": false,
        "width": "6",
        "collapse": false
    },
    {
        "id": "eb5ff592e856ea53",
        "type": "ui_group",
        "name": "Change Tab",
        "tab": "b63d1f91.68095",
        "order": 1,
        "disp": false,
        "width": "2",
        "collapse": false
    },
    {
        "id": "891417914e439b25",
        "type": "ui_group",
        "name": "Selection Buttons",
        "tab": "025addf847a2489f",
        "order": 1,
        "disp": false,
        "width": "6",
        "collapse": false
    },
    {
        "id": "c3173234.2636e",
        "type": "ui_tab",
        "name": "RPi Control",
        "icon": "fa-power-off",
        "order": 5,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "e9a27aae4ed1b3ba",
        "type": "ui_tab",
        "name": "Devices",
        "icon": "fa-sitemap",
        "order": 2,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "b63d1f91.68095",
        "type": "ui_tab",
        "name": "Files",
        "icon": "fa-hdd-o",
        "order": 6,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "025addf847a2489f",
        "type": "ui_tab",
        "name": "Charts",
        "icon": "fa-line-chart",
        "order": 3,
        "disabled": false,
        "hidden": false
    }
]