Project/Node-RED/db-design.json
[
    {
        "id": "2e614d5754b37152",
        "type": "tab",
        "label": "Dashboard's Design",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "7ec5315a3ea80fd3",
        "type": "group",
        "z": "2e614d5754b37152",
        "style": {
            "stroke": "#999999",
            "stroke-opacity": "1",
            "fill": "none",
            "fill-opacity": "1",
            "label": true,
            "label-position": "nw",
            "color": "#a4a4a4"
        },
        "nodes": [
            "57e75bf6b14703d9",
            "c069705dafb9b75d",
            "82b02a7e1c1b349b",
            "b542a7aaf65efbac",
            "9a6853c4796a4df3"
        ],
        "x": 74,
        "y": 139,
        "w": 392,
        "h": 202
    },
    {
        "id": "0dbd53c0acd802a4",
        "type": "group",
        "z": "2e614d5754b37152",
        "style": {
            "stroke": "#999999",
            "stroke-opacity": "1",
            "fill": "none",
            "fill-opacity": "1",
            "label": true,
            "label-position": "nw",
            "color": "#a4a4a4"
        },
        "nodes": [
            "440aa6293aa642f2",
            "9bd56d33aed38dad",
            "fb34eb9f74fe6dc5",
            "be16c5c398853bc6"
        ],
        "x": 494,
        "y": 139,
        "w": 372,
        "h": 162
    },
    {
        "id": "f66abb75c08c7580",
        "type": "group",
        "z": "2e614d5754b37152",
        "style": {
            "stroke": "#999999",
            "stroke-opacity": "1",
            "fill": "none",
            "fill-opacity": "1",
            "label": true,
            "label-position": "nw",
            "color": "#a4a4a4"
        },
        "nodes": [
            "b1ba55a6c00cddc6",
            "130f755c488e1830",
            "6b3a53859e77d24c",
            "33c4f786a211d91b"
        ],
        "x": 494,
        "y": 319,
        "w": 372,
        "h": 162
    },
    {
        "id": "312d3742c2d6ca8b",
        "type": "group",
        "z": "2e614d5754b37152",
        "style": {
            "stroke": "#999999",
            "stroke-opacity": "1",
            "fill": "none",
            "fill-opacity": "1",
            "label": true,
            "label-position": "nw",
            "color": "#a4a4a4"
        },
        "nodes": [
            "b555d5e296c45028",
            "e381da8be6e55612",
            "7f6ad61bcd393083",
            "5f1d8fb1e705e508",
            "935acd7b17cc33cb",
            "f2aa3a6973dddf2e",
            "9c9f171b90b99849",
            "92618719a1b22d54",
            "a7d1413db57421b6",
            "4a6729b5aa3b7bf2",
            "03a6e909e05df868",
            "03ea1d129f00c375",
            "308b8177baf1e568",
            "bfe72e92eeccbd0a",
            "cb6dbfc7cc7b7804",
            "1f9cee76c62b3825",
            "2a56343ae9befe3d",
            "69c26953d0f97dbc",
            "9eef59a6da6aba2c",
            "79cdbaadd58b2c83",
            "75d9a8e69ae14885",
            "d468593f39a2fd68",
            "247dc596ef6a6feb",
            "08c16a97867dd2a0",
            "d3725ea10a20925e",
            "c4bc432d9ba26290",
            "387f497123925d34",
            "da0afcd17485f732",
            "cdb95b758ffdcb63",
            "52f9e109c26e6d23",
            "c9ef8dd967153b4b",
            "d0d76b626ee5acd0",
            "3a68b6d35385772f",
            "e3628d82daba956a",
            "e5eec95ca3daed9b",
            "912e14f67298930e",
            "0352dda6da750aa4"
        ],
        "x": 79,
        "y": 819,
        "w": 717,
        "h": 862
    },
    {
        "id": "1d32c47a6c95b9aa",
        "type": "group",
        "z": "2e614d5754b37152",
        "style": {
            "stroke": "#999999",
            "stroke-opacity": "1",
            "fill": "none",
            "fill-opacity": "1",
            "label": true,
            "label-position": "nw",
            "color": "#a4a4a4"
        },
        "nodes": [
            "5ab4815dca5c1499",
            "dfa149fc9fb6505e",
            "d1dca236571f5c88",
            "3ca9da99f3fc645d",
            "83d3c6138e4f96d4",
            "be6fe70ec0a130a7",
            "a86c8d2e83b2af5a"
        ],
        "x": 814,
        "y": 819,
        "w": 612,
        "h": 202
    },
    {
        "id": "3e676413b52ec66f",
        "type": "group",
        "z": "2e614d5754b37152",
        "style": {
            "stroke": "#999999",
            "stroke-opacity": "1",
            "fill": "none",
            "fill-opacity": "1",
            "label": true,
            "label-position": "nw",
            "color": "#a4a4a4"
        },
        "nodes": [
            "dcc27ea535f625d0",
            "53a2464779e8a6d6",
            "81991c0c1b1543d4",
            "efb0ea2fda42adc2",
            "db8537c271215dc3",
            "9bb463a79b61ad8a",
            "f95788c6367ade7c",
            "deb2cf92b70dd131",
            "475448bce2135ec3",
            "e090e01d2eb5c872",
            "2aefcb460ad09244",
            "f41b963dc44a3f22",
            "a476595b341b26f3",
            "84948d3b0ff8bc2c",
            "d83111499f295d1a"
        ],
        "x": 79,
        "y": 499,
        "w": 907,
        "h": 282
    },
    {
        "id": "6c391dee9597d21b",
        "type": "ui_template",
        "z": "2e614d5754b37152",
        "group": "694c52294be443e1",
        "name": "Clock Toolbar",
        "order": 1,
        "width": "0",
        "height": "0",
        "format": "<script id=\"titleScript\" type=\"text/javascript\">\n\n$(function() {\n    if($('.md-toolbar-tools').length != 0){\n        loadClock();\n    }else setTimeout(loadClock, 500)\n});\n\nfunction loadClock(){\n    $('#clock').remove();\n    var toolbar = $('.md-toolbar-tools');\n    \n    var div = $('<div/>');\n    var p = $('<p/ id=\"clock\">');\n    \n    div.append(p);\n    div[0].style.margin = '5px 5px 5px auto';\n    toolbar.append(div);\n\n    function displayTitle(lh) {\n        p.text(lh); \n    }\n    \n    function upTime() {\n        var d = new Date();\n        p.text(d.toLocaleString());\n    }\n\n    if(document.clockInterval){ \n            clearInterval(document.clockInterval);\n            document.clockInterval = null;\n    }\n        \n    document.clockInterval = setInterval(upTime,1000);\n}\n\n</script>",
        "storeOutMessages": false,
        "fwdInMessages": false,
        "resendOnRefresh": false,
        "templateScope": "global",
        "className": "",
        "x": 160,
        "y": 80,
        "wires": [
            []
        ]
    },
    {
        "id": "57e75bf6b14703d9",
        "type": "ui_button",
        "z": "2e614d5754b37152",
        "g": "7ec5315a3ea80fd3",
        "name": "Next",
        "group": "da7662ae07de5b3f",
        "order": 2,
        "width": "1",
        "height": 1,
        "passthru": false,
        "label": "",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "arrow_forward",
        "payload": "+1",
        "payloadType": "str",
        "topic": "",
        "topicType": "str",
        "x": 170,
        "y": 260,
        "wires": [
            [
                "c069705dafb9b75d"
            ]
        ]
    },
    {
        "id": "c069705dafb9b75d",
        "type": "ui_ui_control",
        "z": "2e614d5754b37152",
        "g": "7ec5315a3ea80fd3",
        "name": "Control tabs",
        "x": 370,
        "y": 260,
        "wires": [
            []
        ]
    },
    {
        "id": "82b02a7e1c1b349b",
        "type": "ui_button",
        "z": "2e614d5754b37152",
        "g": "7ec5315a3ea80fd3",
        "name": "Prev",
        "group": "da7662ae07de5b3f",
        "order": 1,
        "width": "1",
        "height": 1,
        "passthru": false,
        "label": "",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "arrow_back",
        "payload": "-1",
        "payloadType": "str",
        "topic": "",
        "topicType": "str",
        "x": 170,
        "y": 300,
        "wires": [
            [
                "c069705dafb9b75d"
            ]
        ]
    },
    {
        "id": "b542a7aaf65efbac",
        "type": "ui_button",
        "z": "2e614d5754b37152",
        "g": "7ec5315a3ea80fd3",
        "name": "Refresh",
        "group": "da7662ae07de5b3f",
        "order": 3,
        "width": "1",
        "height": 1,
        "passthru": false,
        "label": "",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "replay",
        "payload": "{tab:\"\"}",
        "payloadType": "str",
        "topic": "",
        "topicType": "str",
        "x": 160,
        "y": 220,
        "wires": [
            [
                "c069705dafb9b75d"
            ]
        ]
    },
    {
        "id": "9a6853c4796a4df3",
        "type": "comment",
        "z": "2e614d5754b37152",
        "g": "7ec5315a3ea80fd3",
        "name": "Home",
        "info": "",
        "x": 270,
        "y": 180,
        "wires": []
    },
    {
        "id": "440aa6293aa642f2",
        "type": "ui_button",
        "z": "2e614d5754b37152",
        "g": "0dbd53c0acd802a4",
        "name": "Next",
        "group": "5a82b75fbfc0054e",
        "order": 2,
        "width": 1,
        "height": 1,
        "passthru": false,
        "label": "",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "arrow_forward",
        "payload": "+1",
        "payloadType": "str",
        "topic": "",
        "topicType": "str",
        "x": 570,
        "y": 220,
        "wires": [
            [
                "9bd56d33aed38dad"
            ]
        ]
    },
    {
        "id": "9bd56d33aed38dad",
        "type": "ui_ui_control",
        "z": "2e614d5754b37152",
        "g": "0dbd53c0acd802a4",
        "name": "Control tabs",
        "x": 770,
        "y": 240,
        "wires": [
            []
        ]
    },
    {
        "id": "fb34eb9f74fe6dc5",
        "type": "ui_button",
        "z": "2e614d5754b37152",
        "g": "0dbd53c0acd802a4",
        "name": "Prev",
        "group": "5a82b75fbfc0054e",
        "order": 1,
        "width": 1,
        "height": 1,
        "passthru": false,
        "label": "",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "arrow_back",
        "payload": "-1",
        "payloadType": "str",
        "topic": "",
        "topicType": "str",
        "x": 570,
        "y": 260,
        "wires": [
            [
                "9bd56d33aed38dad"
            ]
        ]
    },
    {
        "id": "be16c5c398853bc6",
        "type": "comment",
        "z": "2e614d5754b37152",
        "g": "0dbd53c0acd802a4",
        "name": "RPi Control",
        "info": "",
        "x": 690,
        "y": 180,
        "wires": []
    },
    {
        "id": "b1ba55a6c00cddc6",
        "type": "ui_button",
        "z": "2e614d5754b37152",
        "g": "f66abb75c08c7580",
        "name": "Next",
        "group": "ab19142ca58500d0",
        "order": 2,
        "width": 1,
        "height": 1,
        "passthru": false,
        "label": "",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "arrow_forward",
        "payload": "+1",
        "payloadType": "str",
        "topic": "",
        "topicType": "str",
        "x": 570,
        "y": 400,
        "wires": [
            [
                "130f755c488e1830"
            ]
        ]
    },
    {
        "id": "130f755c488e1830",
        "type": "ui_ui_control",
        "z": "2e614d5754b37152",
        "g": "f66abb75c08c7580",
        "name": "Control tabs",
        "x": 770,
        "y": 420,
        "wires": [
            []
        ]
    },
    {
        "id": "6b3a53859e77d24c",
        "type": "ui_button",
        "z": "2e614d5754b37152",
        "g": "f66abb75c08c7580",
        "name": "Prev",
        "group": "ab19142ca58500d0",
        "order": 1,
        "width": 1,
        "height": 1,
        "passthru": false,
        "label": "",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "arrow_back",
        "payload": "-1",
        "payloadType": "str",
        "topic": "",
        "topicType": "str",
        "x": 570,
        "y": 440,
        "wires": [
            [
                "130f755c488e1830"
            ]
        ]
    },
    {
        "id": "33c4f786a211d91b",
        "type": "comment",
        "z": "2e614d5754b37152",
        "g": "f66abb75c08c7580",
        "name": "Devices",
        "info": "",
        "x": 670,
        "y": 360,
        "wires": []
    },
    {
        "id": "874bdf41f243db77",
        "type": "comment",
        "z": "2e614d5754b37152",
        "name": "timeline",
        "info": "",
        "x": 130,
        "y": 40,
        "wires": []
    },
    {
        "id": "b555d5e296c45028",
        "type": "ui_button",
        "z": "2e614d5754b37152",
        "g": "312d3742c2d6ca8b",
        "name": "temp",
        "group": "85475b3f9505232f",
        "order": 1,
        "width": "3",
        "height": "1",
        "passthru": false,
        "label": "{{topic}}",
        "tooltip": "",
        "color": "",
        "bgcolor": "{{colour}}",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "json",
        "topic": "",
        "topicType": "str",
        "x": 550,
        "y": 940,
        "wires": [
            [
                "5f1d8fb1e705e508",
                "9eef59a6da6aba2c"
            ]
        ]
    },
    {
        "id": "e381da8be6e55612",
        "type": "change",
        "z": "2e614d5754b37152",
        "g": "312d3742c2d6ca8b",
        "name": "show",
        "rules": [
            {
                "t": "set",
                "p": "colour",
                "pt": "msg",
                "to": "green",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "<i class=\"fa fa-eye\" aria-hidden=\"true\"></i> temperature",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{\"group\":{\"show\":[\"Graphics_T\"]}}",
                "tot": "json"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 340,
        "y": 895,
        "wires": [
            [
                "b555d5e296c45028"
            ]
        ]
    },
    {
        "id": "7f6ad61bcd393083",
        "type": "inject",
        "z": "2e614d5754b37152",
        "g": "312d3742c2d6ca8b",
        "name": "",
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": "",
        "topic": "",
        "payload": "",
        "payloadType": "str",
        "x": 175,
        "y": 895,
        "wires": [
            [
                "e381da8be6e55612"
            ]
        ]
    },
    {
        "id": "5f1d8fb1e705e508",
        "type": "function",
        "z": "2e614d5754b37152",
        "g": "312d3742c2d6ca8b",
        "name": "state",
        "func": "var state = context.state || false;\nstate = !state;\ncontext.state = state;\nif (state) { return [msg,null]; }\nelse { return [null,msg]; }\n",
        "outputs": 2,
        "noerr": 0,
        "x": 175,
        "y": 940,
        "wires": [
            [
                "e381da8be6e55612"
            ],
            [
                "935acd7b17cc33cb"
            ]
        ]
    },
    {
        "id": "935acd7b17cc33cb",
        "type": "change",
        "z": "2e614d5754b37152",
        "g": "312d3742c2d6ca8b",
        "name": "hide",
        "rules": [
            {
                "t": "set",
                "p": "colour",
                "pt": "msg",
                "to": "red",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "<i class=\"fa fa-eye-slash\" aria-hidden=\"true\"></i> temperature",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{\"group\":{\"hide\":[\"Graphics_T\"]}}",
                "tot": "json"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 340,
        "y": 940,
        "wires": [
            [
                "b555d5e296c45028"
            ]
        ]
    },
    {
        "id": "f2aa3a6973dddf2e",
        "type": "ui_button",
        "z": "2e614d5754b37152",
        "g": "312d3742c2d6ca8b",
        "name": "hum",
        "group": "85475b3f9505232f",
        "order": 2,
        "width": "3",
        "height": "1",
        "passthru": false,
        "label": "{{topic}}",
        "tooltip": "",
        "color": "",
        "bgcolor": "{{colour}}",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "json",
        "topic": "",
        "topicType": "str",
        "x": 550,
        "y": 1080,
        "wires": [
            [
                "a7d1413db57421b6",
                "9eef59a6da6aba2c"
            ]
        ]
    },
    {
        "id": "9c9f171b90b99849",
        "type": "change",
        "z": "2e614d5754b37152",
        "g": "312d3742c2d6ca8b",
        "name": "show",
        "rules": [
            {
                "t": "set",
                "p": "colour",
                "pt": "msg",
                "to": "green",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "<i class=\"fa fa-eye\" aria-hidden=\"true\"></i> humidity",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{\"group\":{\"show\":[\"Graphics_H\"]}}",
                "tot": "json"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 340,
        "y": 1035,
        "wires": [
            [
                "f2aa3a6973dddf2e"
            ]
        ]
    },
    {
        "id": "92618719a1b22d54",
        "type": "inject",
        "z": "2e614d5754b37152",
        "g": "312d3742c2d6ca8b",
        "name": "",
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": "",
        "topic": "",
        "payload": "",
        "payloadType": "str",
        "x": 175,
        "y": 1035,
        "wires": [
            [
                "9c9f171b90b99849"
            ]
        ]
    },
    {
        "id": "a7d1413db57421b6",
        "type": "function",
        "z": "2e614d5754b37152",
        "g": "312d3742c2d6ca8b",
        "name": "state",
        "func": "var state = context.state || false;\nstate = !state;\ncontext.state = state;\nif (state) { return [msg,null]; }\nelse { return [null,msg]; }\n",
        "outputs": 2,
        "noerr": 0,
        "x": 175,
        "y": 1080,
        "wires": [
            [
                "9c9f171b90b99849"
            ],
            [
                "4a6729b5aa3b7bf2"
            ]
        ]
    },
    {
        "id": "4a6729b5aa3b7bf2",
        "type": "change",
        "z": "2e614d5754b37152",
        "g": "312d3742c2d6ca8b",
        "name": "hide",
        "rules": [
            {
                "t": "set",
                "p": "colour",
                "pt": "msg",
                "to": "red",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "<i class=\"fa fa-eye-slash\" aria-hidden=\"true\"></i> humidity",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{\"group\":{\"hide\":[\"Graphics_H\"]}}",
                "tot": "json"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 340,
        "y": 1080,
        "wires": [
            [
                "f2aa3a6973dddf2e"
            ]
        ]
    },
    {
        "id": "03a6e909e05df868",
        "type": "comment",
        "z": "2e614d5754b37152",
        "g": "312d3742c2d6ca8b",
        "name": "H",
        "info": "",
        "x": 170,
        "y": 1000,
        "wires": []
    },
    {
        "id": "03ea1d129f00c375",
        "type": "comment",
        "z": "2e614d5754b37152",
        "g": "312d3742c2d6ca8b",
        "name": "T",
        "info": "",
        "x": 170,
        "y": 860,
        "wires": []
    },
    {
        "id": "308b8177baf1e568",
        "type": "ui_button",
        "z": "2e614d5754b37152",
        "g": "312d3742c2d6ca8b",
        "name": "soil",
        "group": "85475b3f9505232f",
        "order": 2,
        "width": "3",
        "height": "1",
        "passthru": false,
        "label": "{{topic}}",
        "tooltip": "",
        "color": "",
        "bgcolor": "{{colour}}",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "json",
        "topic": "",
        "topicType": "str",
        "x": 550,
        "y": 1220,
        "wires": [
            [
                "1f9cee76c62b3825",
                "9eef59a6da6aba2c"
            ]
        ]
    },
    {
        "id": "bfe72e92eeccbd0a",
        "type": "change",
        "z": "2e614d5754b37152",
        "g": "312d3742c2d6ca8b",
        "name": "show",
        "rules": [
            {
                "t": "set",
                "p": "colour",
                "pt": "msg",
                "to": "green",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "<i class=\"fa fa-eye\" aria-hidden=\"true\"></i> soil",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{\"group\":{\"show\":[\"Graphics_S\"]}}",
                "tot": "json"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 340,
        "y": 1175,
        "wires": [
            [
                "308b8177baf1e568"
            ]
        ]
    },
    {
        "id": "cb6dbfc7cc7b7804",
        "type": "inject",
        "z": "2e614d5754b37152",
        "g": "312d3742c2d6ca8b",
        "name": "",
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": "",
        "topic": "",
        "payload": "",
        "payloadType": "str",
        "x": 175,
        "y": 1175,
        "wires": [
            [
                "bfe72e92eeccbd0a"
            ]
        ]
    },
    {
        "id": "1f9cee76c62b3825",
        "type": "function",
        "z": "2e614d5754b37152",
        "g": "312d3742c2d6ca8b",
        "name": "state",
        "func": "var state = context.state || false;\nstate = !state;\ncontext.state = state;\nif (state) { return [msg,null]; }\nelse { return [null,msg]; }\n",
        "outputs": 2,
        "noerr": 0,
        "x": 175,
        "y": 1220,
        "wires": [
            [
                "bfe72e92eeccbd0a"
            ],
            [
                "2a56343ae9befe3d"
            ]
        ]
    },
    {
        "id": "2a56343ae9befe3d",
        "type": "change",
        "z": "2e614d5754b37152",
        "g": "312d3742c2d6ca8b",
        "name": "hide",
        "rules": [
            {
                "t": "set",
                "p": "colour",
                "pt": "msg",
                "to": "red",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "<i class=\"fa fa-eye-slash\" aria-hidden=\"true\"></i> soil",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{\"group\":{\"hide\":[\"Graphics_S\"]}}",
                "tot": "json"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 340,
        "y": 1220,
        "wires": [
            [
                "308b8177baf1e568"
            ]
        ]
    },
    {
        "id": "69c26953d0f97dbc",
        "type": "comment",
        "z": "2e614d5754b37152",
        "g": "312d3742c2d6ca8b",
        "name": "S",
        "info": "",
        "x": 170,
        "y": 1140,
        "wires": []
    },
    {
        "id": "9eef59a6da6aba2c",
        "type": "link out",
        "z": "2e614d5754b37152",
        "g": "312d3742c2d6ca8b",
        "name": "",
        "mode": "link",
        "links": [
            "73fee8ef6143aa9a",
            "a86c8d2e83b2af5a"
        ],
        "x": 755,
        "y": 1100,
        "wires": []
    },
    {
        "id": "79cdbaadd58b2c83",
        "type": "comment",
        "z": "2e614d5754b37152",
        "g": "312d3742c2d6ca8b",
        "name": "P",
        "info": "",
        "x": 170,
        "y": 1280,
        "wires": []
    },
    {
        "id": "75d9a8e69ae14885",
        "type": "ui_button",
        "z": "2e614d5754b37152",
        "g": "312d3742c2d6ca8b",
        "name": "pressure",
        "group": "85475b3f9505232f",
        "order": 2,
        "width": "3",
        "height": "1",
        "passthru": false,
        "label": "{{topic}}",
        "tooltip": "",
        "color": "",
        "bgcolor": "{{colour}}",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "json",
        "topic": "",
        "topicType": "str",
        "x": 560,
        "y": 1360,
        "wires": [
            [
                "08c16a97867dd2a0",
                "9eef59a6da6aba2c"
            ]
        ]
    },
    {
        "id": "d468593f39a2fd68",
        "type": "change",
        "z": "2e614d5754b37152",
        "g": "312d3742c2d6ca8b",
        "name": "show",
        "rules": [
            {
                "t": "set",
                "p": "colour",
                "pt": "msg",
                "to": "green",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "<i class=\"fa fa-eye\" aria-hidden=\"true\"></i> pressure",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{\"group\":{\"show\":[\"Graphics_P\"]}}",
                "tot": "json"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 340,
        "y": 1315,
        "wires": [
            [
                "75d9a8e69ae14885"
            ]
        ]
    },
    {
        "id": "247dc596ef6a6feb",
        "type": "inject",
        "z": "2e614d5754b37152",
        "g": "312d3742c2d6ca8b",
        "name": "",
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": "",
        "topic": "",
        "payload": "",
        "payloadType": "str",
        "x": 175,
        "y": 1315,
        "wires": [
            [
                "d468593f39a2fd68"
            ]
        ]
    },
    {
        "id": "08c16a97867dd2a0",
        "type": "function",
        "z": "2e614d5754b37152",
        "g": "312d3742c2d6ca8b",
        "name": "state",
        "func": "var state = context.state || false;\nstate = !state;\ncontext.state = state;\nif (state) { return [msg,null]; }\nelse { return [null,msg]; }\n",
        "outputs": 2,
        "noerr": 0,
        "x": 175,
        "y": 1360,
        "wires": [
            [
                "d468593f39a2fd68"
            ],
            [
                "d3725ea10a20925e"
            ]
        ]
    },
    {
        "id": "d3725ea10a20925e",
        "type": "change",
        "z": "2e614d5754b37152",
        "g": "312d3742c2d6ca8b",
        "name": "hide",
        "rules": [
            {
                "t": "set",
                "p": "colour",
                "pt": "msg",
                "to": "red",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "<i class=\"fa fa-eye-slash\" aria-hidden=\"true\"></i> pressure",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{\"group\":{\"hide\":[\"Graphics_P\"]}}",
                "tot": "json"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 340,
        "y": 1360,
        "wires": [
            [
                "75d9a8e69ae14885"
            ]
        ]
    },
    {
        "id": "c4bc432d9ba26290",
        "type": "comment",
        "z": "2e614d5754b37152",
        "g": "312d3742c2d6ca8b",
        "name": "U",
        "info": "",
        "x": 170,
        "y": 1420,
        "wires": []
    },
    {
        "id": "387f497123925d34",
        "type": "ui_button",
        "z": "2e614d5754b37152",
        "g": "312d3742c2d6ca8b",
        "name": "uv",
        "group": "85475b3f9505232f",
        "order": 2,
        "width": "3",
        "height": "1",
        "passthru": false,
        "label": "{{topic}}",
        "tooltip": "",
        "color": "",
        "bgcolor": "{{colour}}",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "json",
        "topic": "",
        "topicType": "str",
        "x": 550,
        "y": 1500,
        "wires": [
            [
                "52f9e109c26e6d23",
                "9eef59a6da6aba2c"
            ]
        ]
    },
    {
        "id": "da0afcd17485f732",
        "type": "change",
        "z": "2e614d5754b37152",
        "g": "312d3742c2d6ca8b",
        "name": "show",
        "rules": [
            {
                "t": "set",
                "p": "colour",
                "pt": "msg",
                "to": "green",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "<i class=\"fa fa-eye\" aria-hidden=\"true\"></i> uv",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{\"group\":{\"show\":[\"Graphics_U\"]}}",
                "tot": "json"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 340,
        "y": 1455,
        "wires": [
            [
                "387f497123925d34"
            ]
        ]
    },
    {
        "id": "cdb95b758ffdcb63",
        "type": "inject",
        "z": "2e614d5754b37152",
        "g": "312d3742c2d6ca8b",
        "name": "",
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": "",
        "topic": "",
        "payload": "",
        "payloadType": "str",
        "x": 175,
        "y": 1455,
        "wires": [
            [
                "da0afcd17485f732"
            ]
        ]
    },
    {
        "id": "52f9e109c26e6d23",
        "type": "function",
        "z": "2e614d5754b37152",
        "g": "312d3742c2d6ca8b",
        "name": "state",
        "func": "var state = context.state || false;\nstate = !state;\ncontext.state = state;\nif (state) { return [msg,null]; }\nelse { return [null,msg]; }\n",
        "outputs": 2,
        "noerr": 0,
        "x": 175,
        "y": 1500,
        "wires": [
            [
                "da0afcd17485f732"
            ],
            [
                "c9ef8dd967153b4b"
            ]
        ]
    },
    {
        "id": "c9ef8dd967153b4b",
        "type": "change",
        "z": "2e614d5754b37152",
        "g": "312d3742c2d6ca8b",
        "name": "hide",
        "rules": [
            {
                "t": "set",
                "p": "colour",
                "pt": "msg",
                "to": "red",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "<i class=\"fa fa-eye-slash\" aria-hidden=\"true\"></i> uv",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{\"group\":{\"hide\":[\"Graphics_U\"]}}",
                "tot": "json"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 340,
        "y": 1500,
        "wires": [
            [
                "387f497123925d34"
            ]
        ]
    },
    {
        "id": "d0d76b626ee5acd0",
        "type": "comment",
        "z": "2e614d5754b37152",
        "g": "312d3742c2d6ca8b",
        "name": "NU",
        "info": "",
        "x": 170,
        "y": 1560,
        "wires": []
    },
    {
        "id": "3a68b6d35385772f",
        "type": "ui_button",
        "z": "2e614d5754b37152",
        "g": "312d3742c2d6ca8b",
        "name": "not used",
        "group": "85475b3f9505232f",
        "order": 2,
        "width": "3",
        "height": "1",
        "passthru": false,
        "label": "{{topic}}",
        "tooltip": "",
        "color": "",
        "bgcolor": "{{colour}}",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "json",
        "topic": "",
        "topicType": "str",
        "x": 560,
        "y": 1640,
        "wires": [
            [
                "912e14f67298930e",
                "9eef59a6da6aba2c"
            ]
        ]
    },
    {
        "id": "e3628d82daba956a",
        "type": "change",
        "z": "2e614d5754b37152",
        "g": "312d3742c2d6ca8b",
        "name": "show",
        "rules": [
            {
                "t": "set",
                "p": "colour",
                "pt": "msg",
                "to": "green",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "<i class=\"fa fa-eye\" aria-hidden=\"true\"></i> not used",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{\"group\":{\"show\":[\"Graphics_NU\"]}}",
                "tot": "json"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 340,
        "y": 1595,
        "wires": [
            [
                "3a68b6d35385772f"
            ]
        ]
    },
    {
        "id": "e5eec95ca3daed9b",
        "type": "inject",
        "z": "2e614d5754b37152",
        "g": "312d3742c2d6ca8b",
        "name": "",
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": "",
        "topic": "",
        "payload": "",
        "payloadType": "str",
        "x": 175,
        "y": 1595,
        "wires": [
            [
                "e3628d82daba956a"
            ]
        ]
    },
    {
        "id": "912e14f67298930e",
        "type": "function",
        "z": "2e614d5754b37152",
        "g": "312d3742c2d6ca8b",
        "name": "state",
        "func": "var state = context.state || false;\nstate = !state;\ncontext.state = state;\nif (state) { return [msg,null]; }\nelse { return [null,msg]; }\n",
        "outputs": 2,
        "noerr": 0,
        "x": 175,
        "y": 1640,
        "wires": [
            [
                "e3628d82daba956a"
            ],
            [
                "0352dda6da750aa4"
            ]
        ]
    },
    {
        "id": "0352dda6da750aa4",
        "type": "change",
        "z": "2e614d5754b37152",
        "g": "312d3742c2d6ca8b",
        "name": "hide",
        "rules": [
            {
                "t": "set",
                "p": "colour",
                "pt": "msg",
                "to": "red",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "<i class=\"fa fa-eye-slash\" aria-hidden=\"true\"></i> not used",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{\"group\":{\"hide\":[\"Graphics_NU\"]}}",
                "tot": "json"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 340,
        "y": 1640,
        "wires": [
            [
                "3a68b6d35385772f"
            ]
        ]
    },
    {
        "id": "5ab4815dca5c1499",
        "type": "ui_button",
        "z": "2e614d5754b37152",
        "g": "1d32c47a6c95b9aa",
        "name": "Next",
        "group": "baaa3acd396ddb5e",
        "order": 2,
        "width": 1,
        "height": 1,
        "passthru": false,
        "label": "",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "arrow_forward",
        "payload": "+1",
        "payloadType": "str",
        "topic": "",
        "topicType": "str",
        "x": 890,
        "y": 900,
        "wires": [
            [
                "3ca9da99f3fc645d"
            ]
        ]
    },
    {
        "id": "dfa149fc9fb6505e",
        "type": "comment",
        "z": "2e614d5754b37152",
        "g": "1d32c47a6c95b9aa",
        "name": "Graphics",
        "info": "",
        "x": 1000,
        "y": 860,
        "wires": []
    },
    {
        "id": "d1dca236571f5c88",
        "type": "ui_button",
        "z": "2e614d5754b37152",
        "g": "1d32c47a6c95b9aa",
        "name": "Prev",
        "group": "baaa3acd396ddb5e",
        "order": 1,
        "width": 1,
        "height": 1,
        "passthru": false,
        "label": "",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "arrow_back",
        "payload": "-1",
        "payloadType": "str",
        "topic": "",
        "topicType": "str",
        "x": 890,
        "y": 940,
        "wires": [
            [
                "3ca9da99f3fc645d"
            ]
        ]
    },
    {
        "id": "3ca9da99f3fc645d",
        "type": "ui_ui_control",
        "z": "2e614d5754b37152",
        "g": "1d32c47a6c95b9aa",
        "name": "Control tabs",
        "x": 1090,
        "y": 920,
        "wires": [
            []
        ]
    },
    {
        "id": "83d3c6138e4f96d4",
        "type": "comment",
        "z": "2e614d5754b37152",
        "g": "1d32c47a6c95b9aa",
        "name": "T",
        "info": "",
        "x": 890,
        "y": 980,
        "wires": []
    },
    {
        "id": "be6fe70ec0a130a7",
        "type": "ui_ui_control",
        "z": "2e614d5754b37152",
        "g": "1d32c47a6c95b9aa",
        "name": "",
        "events": "all",
        "x": 1340,
        "y": 960,
        "wires": [
            []
        ]
    },
    {
        "id": "a86c8d2e83b2af5a",
        "type": "link in",
        "z": "2e614d5754b37152",
        "g": "1d32c47a6c95b9aa",
        "name": "",
        "links": [
            "05e205b244c9c6ce",
            "9eef59a6da6aba2c"
        ],
        "x": 1215,
        "y": 960,
        "wires": [
            [
                "be6fe70ec0a130a7"
            ]
        ]
    },
    {
        "id": "dcc27ea535f625d0",
        "type": "comment",
        "z": "2e614d5754b37152",
        "g": "3e676413b52ec66f",
        "name": "Device 1",
        "info": "",
        "x": 180,
        "y": 540,
        "wires": []
    },
    {
        "id": "53a2464779e8a6d6",
        "type": "inject",
        "z": "2e614d5754b37152",
        "d": true,
        "g": "3e676413b52ec66f",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": "",
        "topic": "",
        "payloadType": "str",
        "x": 175,
        "y": 575,
        "wires": [
            [
                "db8537c271215dc3"
            ]
        ]
    },
    {
        "id": "81991c0c1b1543d4",
        "type": "function",
        "z": "2e614d5754b37152",
        "g": "3e676413b52ec66f",
        "name": "state",
        "func": "var state = context.state || false;\nstate = !state;\ncontext.state = state;\nif (state) { return [msg,null]; }\nelse { return [null,msg]; }\n",
        "outputs": 2,
        "noerr": 0,
        "x": 175,
        "y": 620,
        "wires": [
            [
                "efb0ea2fda42adc2"
            ],
            [
                "db8537c271215dc3"
            ]
        ]
    },
    {
        "id": "efb0ea2fda42adc2",
        "type": "change",
        "z": "2e614d5754b37152",
        "g": "3e676413b52ec66f",
        "name": "show",
        "rules": [
            {
                "t": "set",
                "p": "colour",
                "pt": "msg",
                "to": "green",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "<i class=\"fa fa-eye\" aria-hidden=\"true\"></i> device 1",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{\"group\":{\"show\":[\"Devices_Device_1\"]}}",
                "tot": "json"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 340,
        "y": 575,
        "wires": [
            [
                "9bb463a79b61ad8a"
            ]
        ]
    },
    {
        "id": "db8537c271215dc3",
        "type": "change",
        "z": "2e614d5754b37152",
        "g": "3e676413b52ec66f",
        "name": "hide",
        "rules": [
            {
                "t": "set",
                "p": "colour",
                "pt": "msg",
                "to": "red",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "<i class=\"fa fa-eye-slash\" aria-hidden=\"true\"></i> device 1",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{\"group\":{\"hide\":[\"Devices_Device_1\"]}}",
                "tot": "json"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 340,
        "y": 620,
        "wires": [
            [
                "9bb463a79b61ad8a"
            ]
        ]
    },
    {
        "id": "9bb463a79b61ad8a",
        "type": "ui_button",
        "z": "2e614d5754b37152",
        "g": "3e676413b52ec66f",
        "name": "device 1",
        "group": "74dc97440b8ff378",
        "order": 2,
        "width": 3,
        "height": 1,
        "passthru": false,
        "label": "{{topic}}",
        "tooltip": "",
        "color": "",
        "bgcolor": "{{colour}}",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "json",
        "topic": "",
        "topicType": "str",
        "x": 560,
        "y": 620,
        "wires": [
            [
                "81991c0c1b1543d4",
                "a476595b341b26f3"
            ]
        ]
    },
    {
        "id": "f95788c6367ade7c",
        "type": "comment",
        "z": "2e614d5754b37152",
        "g": "3e676413b52ec66f",
        "name": "Device 0",
        "info": "",
        "x": 180,
        "y": 660,
        "wires": []
    },
    {
        "id": "deb2cf92b70dd131",
        "type": "inject",
        "z": "2e614d5754b37152",
        "d": true,
        "g": "3e676413b52ec66f",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": "",
        "topic": "",
        "payloadType": "str",
        "x": 175,
        "y": 695,
        "wires": [
            [
                "2aefcb460ad09244"
            ]
        ]
    },
    {
        "id": "475448bce2135ec3",
        "type": "function",
        "z": "2e614d5754b37152",
        "g": "3e676413b52ec66f",
        "name": "state",
        "func": "var state = context.state || false;\nstate = !state;\ncontext.state = state;\nif (state) { return [msg,null]; }\nelse { return [null,msg]; }\n",
        "outputs": 2,
        "noerr": 0,
        "x": 175,
        "y": 740,
        "wires": [
            [
                "e090e01d2eb5c872"
            ],
            [
                "2aefcb460ad09244"
            ]
        ]
    },
    {
        "id": "e090e01d2eb5c872",
        "type": "change",
        "z": "2e614d5754b37152",
        "g": "3e676413b52ec66f",
        "name": "show",
        "rules": [
            {
                "t": "set",
                "p": "colour",
                "pt": "msg",
                "to": "green",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "<i class=\"fa fa-eye\" aria-hidden=\"true\"></i> device 0",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{\"group\":{\"show\":[\"Devices_Device_0\"]}}",
                "tot": "json"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 340,
        "y": 695,
        "wires": [
            [
                "f41b963dc44a3f22"
            ]
        ]
    },
    {
        "id": "2aefcb460ad09244",
        "type": "change",
        "z": "2e614d5754b37152",
        "g": "3e676413b52ec66f",
        "name": "hide",
        "rules": [
            {
                "t": "set",
                "p": "colour",
                "pt": "msg",
                "to": "red",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "<i class=\"fa fa-eye-slash\" aria-hidden=\"true\"></i> device 0",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{\"group\":{\"hide\":[\"Devices_Device_0\"]}}",
                "tot": "json"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 340,
        "y": 740,
        "wires": [
            [
                "f41b963dc44a3f22"
            ]
        ]
    },
    {
        "id": "f41b963dc44a3f22",
        "type": "ui_button",
        "z": "2e614d5754b37152",
        "g": "3e676413b52ec66f",
        "name": "device 0",
        "group": "74dc97440b8ff378",
        "order": 1,
        "width": 3,
        "height": 1,
        "passthru": false,
        "label": "{{topic}}",
        "tooltip": "",
        "color": "",
        "bgcolor": "{{colour}}",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "json",
        "topic": "",
        "topicType": "str",
        "x": 560,
        "y": 740,
        "wires": [
            [
                "475448bce2135ec3",
                "a476595b341b26f3"
            ]
        ]
    },
    {
        "id": "a476595b341b26f3",
        "type": "link out",
        "z": "2e614d5754b37152",
        "g": "3e676413b52ec66f",
        "name": "",
        "mode": "link",
        "links": [
            "84948d3b0ff8bc2c"
        ],
        "x": 675,
        "y": 700,
        "wires": []
    },
    {
        "id": "84948d3b0ff8bc2c",
        "type": "link in",
        "z": "2e614d5754b37152",
        "g": "3e676413b52ec66f",
        "name": "",
        "links": [
            "a476595b341b26f3"
        ],
        "x": 755,
        "y": 700,
        "wires": [
            [
                "d83111499f295d1a"
            ]
        ]
    },
    {
        "id": "d83111499f295d1a",
        "type": "ui_ui_control",
        "z": "2e614d5754b37152",
        "g": "3e676413b52ec66f",
        "name": "",
        "events": "all",
        "x": 900,
        "y": 700,
        "wires": [
            []
        ]
    },
    {
        "id": "7a8b7c6d17538903",
        "type": "ui_spacer",
        "z": "2e614d5754b37152",
        "name": "spacer",
        "group": "",
        "order": 2,
        "width": 12,
        "height": 1
    },
    {
        "id": "662d988700a223f3",
        "type": "ui_spacer",
        "z": "2e614d5754b37152",
        "name": "spacer",
        "group": "",
        "order": 3,
        "width": 12,
        "height": 1
    },
    {
        "id": "2a5182068f95ddf4",
        "type": "ui_spacer",
        "z": "2e614d5754b37152",
        "name": "spacer",
        "group": "",
        "order": 4,
        "width": 12,
        "height": 1
    },
    {
        "id": "8e92953a4e9bde87",
        "type": "ui_spacer",
        "z": "2e614d5754b37152",
        "name": "spacer",
        "group": "",
        "order": 5,
        "width": 12,
        "height": 1
    },
    {
        "id": "1c77526054585717",
        "type": "ui_spacer",
        "z": "2e614d5754b37152",
        "name": "spacer",
        "group": "",
        "order": 6,
        "width": 12,
        "height": 1
    },
    {
        "id": "446ca541c3364920",
        "type": "ui_spacer",
        "z": "2e614d5754b37152",
        "name": "spacer",
        "group": "",
        "order": 7,
        "width": 12,
        "height": 1
    },
    {
        "id": "4db6c8656271231d",
        "type": "ui_spacer",
        "z": "2e614d5754b37152",
        "name": "spacer",
        "group": "",
        "order": 8,
        "width": 12,
        "height": 1
    },
    {
        "id": "d7a6edc3f3578058",
        "type": "ui_spacer",
        "z": "2e614d5754b37152",
        "name": "spacer",
        "group": "",
        "order": 9,
        "width": 12,
        "height": 1
    },
    {
        "id": "261a118c8f4af4c9",
        "type": "ui_spacer",
        "z": "2e614d5754b37152",
        "name": "spacer",
        "group": "",
        "order": 10,
        "width": 12,
        "height": 1
    },
    {
        "id": "064abca41da92a8b",
        "type": "ui_spacer",
        "z": "2e614d5754b37152",
        "name": "spacer",
        "group": "",
        "order": 11,
        "width": 12,
        "height": 1
    },
    {
        "id": "d885833cf0cee451",
        "type": "ui_spacer",
        "z": "2e614d5754b37152",
        "name": "spacer",
        "group": "",
        "order": 2,
        "width": 12,
        "height": 1
    },
    {
        "id": "4012dc3db68e9372",
        "type": "ui_spacer",
        "z": "2e614d5754b37152",
        "name": "spacer",
        "group": "",
        "order": 3,
        "width": 12,
        "height": 1
    },
    {
        "id": "6630b362f1f10333",
        "type": "ui_spacer",
        "z": "2e614d5754b37152",
        "name": "spacer",
        "group": "",
        "order": 4,
        "width": 12,
        "height": 1
    },
    {
        "id": "543f240455310133",
        "type": "ui_spacer",
        "z": "2e614d5754b37152",
        "name": "spacer",
        "group": "",
        "order": 5,
        "width": 12,
        "height": 1
    },
    {
        "id": "ae403064a77e04f2",
        "type": "ui_spacer",
        "z": "2e614d5754b37152",
        "name": "spacer",
        "group": "",
        "order": 6,
        "width": 12,
        "height": 1
    },
    {
        "id": "17c9e44134bde433",
        "type": "ui_spacer",
        "z": "2e614d5754b37152",
        "name": "spacer",
        "group": "",
        "order": 7,
        "width": 12,
        "height": 1
    },
    {
        "id": "f8f6f01b29bc5f93",
        "type": "ui_spacer",
        "z": "2e614d5754b37152",
        "name": "spacer",
        "group": "",
        "order": 8,
        "width": 12,
        "height": 1
    },
    {
        "id": "42aac40897f9bcb7",
        "type": "ui_spacer",
        "z": "2e614d5754b37152",
        "name": "spacer",
        "group": "",
        "order": 9,
        "width": 12,
        "height": 1
    },
    {
        "id": "c30f8edd2dbae3c1",
        "type": "ui_spacer",
        "z": "2e614d5754b37152",
        "name": "spacer",
        "group": "",
        "order": 10,
        "width": 12,
        "height": 1
    },
    {
        "id": "c8ac0e3008693645",
        "type": "ui_spacer",
        "z": "2e614d5754b37152",
        "name": "spacer",
        "group": "",
        "order": 11,
        "width": 12,
        "height": 1
    },
    {
        "id": "a3b69160c2a07ffc",
        "type": "ui_spacer",
        "z": "2e614d5754b37152",
        "name": "spacer",
        "group": "",
        "order": 2,
        "width": 12,
        "height": 1
    },
    {
        "id": "a142961f4f52f633",
        "type": "ui_spacer",
        "z": "2e614d5754b37152",
        "name": "spacer",
        "group": "",
        "order": 3,
        "width": 12,
        "height": 1
    },
    {
        "id": "6bc36192119bcae0",
        "type": "ui_spacer",
        "z": "2e614d5754b37152",
        "name": "spacer",
        "group": "",
        "order": 4,
        "width": 12,
        "height": 1
    },
    {
        "id": "5fef137065b2c21f",
        "type": "ui_spacer",
        "z": "2e614d5754b37152",
        "name": "spacer",
        "group": "",
        "order": 5,
        "width": 12,
        "height": 1
    },
    {
        "id": "1fb1d4fd8be5982f",
        "type": "ui_spacer",
        "z": "2e614d5754b37152",
        "name": "spacer",
        "group": "",
        "order": 6,
        "width": 12,
        "height": 1
    },
    {
        "id": "1481a8b2475ef5e1",
        "type": "ui_spacer",
        "z": "2e614d5754b37152",
        "name": "spacer",
        "group": "",
        "order": 7,
        "width": 12,
        "height": 1
    },
    {
        "id": "1b9280dc454b5ca0",
        "type": "ui_spacer",
        "z": "2e614d5754b37152",
        "name": "spacer",
        "group": "",
        "order": 8,
        "width": 12,
        "height": 1
    },
    {
        "id": "04274407863b232c",
        "type": "ui_spacer",
        "z": "2e614d5754b37152",
        "name": "spacer",
        "group": "",
        "order": 9,
        "width": 12,
        "height": 1
    },
    {
        "id": "eef9a809fa8588c1",
        "type": "ui_spacer",
        "z": "2e614d5754b37152",
        "name": "spacer",
        "group": "",
        "order": 10,
        "width": 12,
        "height": 1
    },
    {
        "id": "09a6b49b93e8f474",
        "type": "ui_spacer",
        "z": "2e614d5754b37152",
        "name": "spacer",
        "group": "",
        "order": 11,
        "width": 12,
        "height": 1
    },
    {
        "id": "9c33a67dccb1edee",
        "type": "ui_spacer",
        "z": "2e614d5754b37152",
        "name": "spacer",
        "group": "",
        "order": 2,
        "width": 12,
        "height": 1
    },
    {
        "id": "ec664158b0d6f45d",
        "type": "ui_spacer",
        "z": "2e614d5754b37152",
        "name": "spacer",
        "group": "",
        "order": 3,
        "width": 12,
        "height": 1
    },
    {
        "id": "6a0bdbd87008fe20",
        "type": "ui_spacer",
        "z": "2e614d5754b37152",
        "name": "spacer",
        "group": "",
        "order": 4,
        "width": 12,
        "height": 1
    },
    {
        "id": "c0d5f7f4bc69f17b",
        "type": "ui_spacer",
        "z": "2e614d5754b37152",
        "name": "spacer",
        "group": "",
        "order": 5,
        "width": 12,
        "height": 1
    },
    {
        "id": "e85a70d6b467f668",
        "type": "ui_spacer",
        "z": "2e614d5754b37152",
        "name": "spacer",
        "group": "",
        "order": 6,
        "width": 12,
        "height": 1
    },
    {
        "id": "9223e792d7c8448b",
        "type": "ui_spacer",
        "z": "2e614d5754b37152",
        "name": "spacer",
        "group": "",
        "order": 7,
        "width": 12,
        "height": 1
    },
    {
        "id": "53ed286f9451a9bc",
        "type": "ui_spacer",
        "z": "2e614d5754b37152",
        "name": "spacer",
        "group": "",
        "order": 8,
        "width": 12,
        "height": 1
    },
    {
        "id": "23aba7c9b0acf651",
        "type": "ui_spacer",
        "z": "2e614d5754b37152",
        "name": "spacer",
        "group": "",
        "order": 9,
        "width": 12,
        "height": 1
    },
    {
        "id": "1168a82022e64cf3",
        "type": "ui_spacer",
        "z": "2e614d5754b37152",
        "name": "spacer",
        "group": "",
        "order": 10,
        "width": 12,
        "height": 1
    },
    {
        "id": "66cee0c4f288631f",
        "type": "ui_spacer",
        "z": "2e614d5754b37152",
        "name": "spacer",
        "group": "",
        "order": 11,
        "width": 12,
        "height": 1
    },
    {
        "id": "69ceeb4167c0e2ca",
        "type": "ui_spacer",
        "z": "2e614d5754b37152",
        "name": "spacer",
        "group": "",
        "order": 2,
        "width": 12,
        "height": 1
    },
    {
        "id": "da0a522ae925fc35",
        "type": "ui_spacer",
        "z": "2e614d5754b37152",
        "name": "spacer",
        "group": "",
        "order": 3,
        "width": 12,
        "height": 1
    },
    {
        "id": "3d9b4de2ed9d5fb0",
        "type": "ui_spacer",
        "z": "2e614d5754b37152",
        "name": "spacer",
        "group": "",
        "order": 4,
        "width": 12,
        "height": 1
    },
    {
        "id": "ce73b8c98bd827a6",
        "type": "ui_spacer",
        "z": "2e614d5754b37152",
        "name": "spacer",
        "group": "",
        "order": 5,
        "width": 12,
        "height": 1
    },
    {
        "id": "c20263c2eb78f753",
        "type": "ui_spacer",
        "z": "2e614d5754b37152",
        "name": "spacer",
        "group": "",
        "order": 6,
        "width": 12,
        "height": 1
    },
    {
        "id": "1c6557eeb6a505d4",
        "type": "ui_spacer",
        "z": "2e614d5754b37152",
        "name": "spacer",
        "group": "",
        "order": 7,
        "width": 12,
        "height": 1
    },
    {
        "id": "76e758fc543fb1ed",
        "type": "ui_spacer",
        "z": "2e614d5754b37152",
        "name": "spacer",
        "group": "",
        "order": 8,
        "width": 12,
        "height": 1
    },
    {
        "id": "3cc5fdb0b8147972",
        "type": "ui_spacer",
        "z": "2e614d5754b37152",
        "name": "spacer",
        "group": "",
        "order": 9,
        "width": 12,
        "height": 1
    },
    {
        "id": "7b312875ed315e92",
        "type": "ui_spacer",
        "z": "2e614d5754b37152",
        "name": "spacer",
        "group": "",
        "order": 10,
        "width": 12,
        "height": 1
    },
    {
        "id": "93c288d598268a71",
        "type": "ui_spacer",
        "z": "2e614d5754b37152",
        "name": "spacer",
        "group": "",
        "order": 11,
        "width": 12,
        "height": 1
    },
    {
        "id": "46c435e4a5a80de1",
        "type": "ui_spacer",
        "z": "2e614d5754b37152",
        "name": "spacer",
        "group": "",
        "order": 2,
        "width": 12,
        "height": 1
    },
    {
        "id": "b54619be7cb2155a",
        "type": "ui_spacer",
        "z": "2e614d5754b37152",
        "name": "spacer",
        "group": "",
        "order": 3,
        "width": 12,
        "height": 1
    },
    {
        "id": "c781a77291fa5447",
        "type": "ui_spacer",
        "z": "2e614d5754b37152",
        "name": "spacer",
        "group": "",
        "order": 4,
        "width": 12,
        "height": 1
    },
    {
        "id": "8ca80cc463b095dc",
        "type": "ui_spacer",
        "z": "2e614d5754b37152",
        "name": "spacer",
        "group": "",
        "order": 5,
        "width": 12,
        "height": 1
    },
    {
        "id": "844470c987e873f8",
        "type": "ui_spacer",
        "z": "2e614d5754b37152",
        "name": "spacer",
        "group": "",
        "order": 6,
        "width": 12,
        "height": 1
    },
    {
        "id": "966d6e7367351c3d",
        "type": "ui_spacer",
        "z": "2e614d5754b37152",
        "name": "spacer",
        "group": "",
        "order": 7,
        "width": 12,
        "height": 1
    },
    {
        "id": "0c9ea18838d56822",
        "type": "ui_spacer",
        "z": "2e614d5754b37152",
        "name": "spacer",
        "group": "",
        "order": 8,
        "width": 12,
        "height": 1
    },
    {
        "id": "df81fa8babd27d72",
        "type": "ui_spacer",
        "z": "2e614d5754b37152",
        "name": "spacer",
        "group": "",
        "order": 9,
        "width": 12,
        "height": 1
    },
    {
        "id": "a057f4591d8ffa3d",
        "type": "ui_spacer",
        "z": "2e614d5754b37152",
        "name": "spacer",
        "group": "",
        "order": 10,
        "width": 12,
        "height": 1
    },
    {
        "id": "7a8e666d045544e1",
        "type": "ui_spacer",
        "z": "2e614d5754b37152",
        "name": "spacer",
        "group": "",
        "order": 11,
        "width": 12,
        "height": 1
    },
    {
        "id": "694c52294be443e1",
        "type": "ui_group",
        "name": "clock",
        "tab": "87a869ccbb64bd1b",
        "order": 4,
        "disp": false,
        "width": "18",
        "collapse": false,
        "className": ""
    },
    {
        "id": "da7662ae07de5b3f",
        "type": "ui_group",
        "name": "Change Tab",
        "tab": "87a869ccbb64bd1b",
        "order": 1,
        "disp": false,
        "width": "3",
        "collapse": false,
        "className": ""
    },
    {
        "id": "5a82b75fbfc0054e",
        "type": "ui_group",
        "name": "Change Tab",
        "tab": "c3173234.2636e",
        "order": 1,
        "disp": false,
        "width": "3",
        "collapse": false,
        "className": ""
    },
    {
        "id": "ab19142ca58500d0",
        "type": "ui_group",
        "name": "Change Tab",
        "tab": "5c89e2ef7b16d0d1",
        "order": 1,
        "disp": false,
        "width": "3",
        "collapse": false,
        "className": ""
    },
    {
        "id": "85475b3f9505232f",
        "type": "ui_group",
        "name": "Graphics Management",
        "tab": "11921f4c24e217ce",
        "order": 2,
        "disp": true,
        "width": "18",
        "collapse": false,
        "className": ""
    },
    {
        "id": "baaa3acd396ddb5e",
        "type": "ui_group",
        "name": "Change Tab",
        "tab": "11921f4c24e217ce",
        "order": 1,
        "disp": false,
        "width": "5",
        "collapse": false,
        "className": ""
    },
    {
        "id": "74dc97440b8ff378",
        "type": "ui_group",
        "name": "Hide/Show Devices",
        "tab": "5c89e2ef7b16d0d1",
        "order": 2,
        "disp": true,
        "width": "18",
        "collapse": false,
        "className": ""
    },
    {
        "id": "87a869ccbb64bd1b",
        "type": "ui_tab",
        "name": "Home",
        "icon": "fa-desktop",
        "order": 1,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "c3173234.2636e",
        "type": "ui_tab",
        "name": "RPi Control",
        "icon": "fa-power-off",
        "order": 4,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "5c89e2ef7b16d0d1",
        "type": "ui_tab",
        "name": "Devices",
        "icon": "fa-sitemap",
        "order": 2,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "11921f4c24e217ce",
        "type": "ui_tab",
        "name": "Graphics",
        "icon": "fa-line-chart",
        "order": 3,
        "disabled": false,
        "hidden": false
    }
]