Project/Node-RED/lorawan-decrypt.json
[
    {
        "id": "8442c01bc36cf54c",
        "type": "tab",
        "label": "Decrypt LoraWAN Message",
        "disabled": false,
        "info": "This flow read a a payload in HEX, convert it\nin Base64, and put on output the message in ASCII",
        "env": []
    },
    {
        "id": "aac6d84c4a33e13f",
        "type": "function",
        "z": "8442c01bc36cf54c",
        "name": "Extract Packet",
        "func": "devid=\"12345678901 \"\n\n// the lora lora-packet-converter package expect device id (12) as a string before the Lora wan Packet\nmvk=msg.payload // from the injection \n\nnode.warn(mvk)\n\nmsg.payload=mvk\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 220,
        "y": 320,
        "wires": [
            [
                "b939aa9bc4f43e1c",
                "9de71bfd46fe9b2e"
            ]
        ]
    },
    {
        "id": "186f7fa6c568e81a",
        "type": "function",
        "z": "8442c01bc36cf54c",
        "name": "Sensor data to hex/decode",
        "func": "\nbytes=msg.payload.out // sensor/LoraWAN data playload\n\nnewbytes=Buffer.from(bytes, 'hex')\nnode.warn(newbytes.toString()) ///yeah\n\n//decode ...payload\n//https://learn.adafruit.com/using-lorawan-and-the-things-network-with-circuitpython?view=all\n\nCPU_Load = (newbytes[0] << 8) | newbytes[4];\noTemperature = (newbytes[2] << 8) | newbytes[1];\n   \nmsg.payload.CPU_Load = CPU_Load / 100;\n\nmsg.payload.out = newbytes.toString();\nmsg.payload.DevAddr = msg.payload.buffers.DevAddr;\n  \nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 500,
        "y": 380,
        "wires": [
            [
                "0108905f3e77036b",
                "b79795358e4c0dad",
                "906c615c947d100f",
                "a83821eb2cd9b453"
            ]
        ]
    },
    {
        "id": "0108905f3e77036b",
        "type": "debug",
        "z": "8442c01bc36cf54c",
        "name": "Sensor Data Decoded",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 780,
        "y": 380,
        "wires": []
    },
    {
        "id": "b939aa9bc4f43e1c",
        "type": "debug",
        "z": "8442c01bc36cf54c",
        "name": "InComing LoraWAN",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 480,
        "y": 320,
        "wires": []
    },
    {
        "id": "60ace2f56c04b91b",
        "type": "comment",
        "z": "8442c01bc36cf54c",
        "name": "Example payload with CPU and temp",
        "info": "{\n    \"value\": \"hello\",\n    \"type\": \"dev\",\n    \"msgid\": 0,\n    \"data\": {\n        \"rxpk\": [\n            {\n                \"data\": \"QIoaASYAYAABTqf1tMolR+Q=\",\n                \"time\": \"2019-10-16T02:43:52.558399Z\",\n                \"chan\": 0,\n                \"tmst\": 110465012,\n                \"stat\": 1,\n                \"modu\": \"LORA\",\n                \"lsnr\": 1,\n                \"rssi\": -113,\n                \"rfch\": 0,\n                \"codr\": \"4/5\",\n                \"freq\": 903.9,\n                \"datr\": \"SF7BW125\",\n                \"size\": 17\n            }\n        ]\n    }\n}",
        "x": 830,
        "y": 200,
        "wires": []
    },
    {
        "id": "cea2be5ee8c4795a",
        "type": "comment",
        "z": "8442c01bc36cf54c",
        "name": "Network Key",
        "info": "27E87B6710ACC5FB9098F19AE77DC62B",
        "x": 750,
        "y": 240,
        "wires": []
    },
    {
        "id": "476534a40f84249a",
        "type": "comment",
        "z": "8442c01bc36cf54c",
        "name": "App Key",
        "info": "B887FD00569BE0746E8020746EFC9BA8",
        "x": 740,
        "y": 280,
        "wires": []
    },
    {
        "id": "9de71bfd46fe9b2e",
        "type": "lorawan-packet-decrypt-nwkey-appkey",
        "z": "8442c01bc36cf54c",
        "name": "Decrypt LoRaWAN",
        "nsw": "238792b74801de223b50ddd309b8f139",
        "asw": "744826b8703e23a2e6cb8d79eed484bb",
        "x": 210,
        "y": 380,
        "wires": [
            [
                "186f7fa6c568e81a",
                "6662488e3698dfdf"
            ]
        ]
    },
    {
        "id": "d1aef0013089da17",
        "type": "inject",
        "z": "8442c01bc36cf54c",
        "name": "Encrypted Message",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "Encrypted Message",
        "payload": "404A23C1AB0085010174F2F25959595D2BAC0E5D7F8B4DCFF7463930682D",
        "payloadType": "str",
        "x": 130,
        "y": 180,
        "wires": [
            [
                "5cc4cc7d72a3d1df",
                "bb606ff7d3703798",
                "e05e93077609b4a0"
            ]
        ]
    },
    {
        "id": "5cc4cc7d72a3d1df",
        "type": "function",
        "z": "8442c01bc36cf54c",
        "name": "HEX to base64",
        "func": "\nmvk=msg.payload // from the injection \nvar base64String = Buffer.from(mvk, 'hex').toString('base64')\nnode.warn(base64String)\nmsg.payload=base64String\n\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 120,
        "y": 260,
        "wires": [
            [
                "aac6d84c4a33e13f",
                "fa02fc510d25b933"
            ]
        ]
    },
    {
        "id": "fa02fc510d25b933",
        "type": "debug",
        "z": "8442c01bc36cf54c",
        "name": "Base64 Message",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 390,
        "y": 260,
        "wires": []
    },
    {
        "id": "bb606ff7d3703798",
        "type": "ui_text",
        "z": "8442c01bc36cf54c",
        "group": "675276356cb4ef46",
        "order": 0,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Encrypted Message",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "className": "",
        "x": 430,
        "y": 180,
        "wires": []
    },
    {
        "id": "6662488e3698dfdf",
        "type": "debug",
        "z": "8442c01bc36cf54c",
        "name": "Decrypted",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 310,
        "y": 440,
        "wires": []
    },
    {
        "id": "b79795358e4c0dad",
        "type": "ui_text",
        "z": "8442c01bc36cf54c",
        "group": "675276356cb4ef46",
        "order": 0,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Original Message",
        "format": "{{msg.payload.out}}",
        "layout": "col-center",
        "className": "",
        "x": 770,
        "y": 320,
        "wires": []
    },
    {
        "id": "906c615c947d100f",
        "type": "ui_text",
        "z": "8442c01bc36cf54c",
        "group": "675276356cb4ef46",
        "order": 0,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "DevAddr",
        "format": "{{msg.payload.DevAddr.data}}",
        "layout": "col-center",
        "className": "",
        "x": 740,
        "y": 500,
        "wires": []
    },
    {
        "id": "e05e93077609b4a0",
        "type": "debug",
        "z": "8442c01bc36cf54c",
        "name": "HEX Message",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 420,
        "y": 140,
        "wires": []
    },
    {
        "id": "a83821eb2cd9b453",
        "type": "debug",
        "z": "8442c01bc36cf54c",
        "name": "DevAddr",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload.DevAddr",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 740,
        "y": 440,
        "wires": []
    },
    {
        "id": "675276356cb4ef46",
        "type": "ui_group",
        "name": "Default",
        "tab": "87a869ccbb64bd1b",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "87a869ccbb64bd1b",
        "type": "ui_tab",
        "name": "Home",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    }
]