Project/Node-RED/rpi-control.json
[
    {
        "id": "7ad00daad37933a8",
        "type": "tab",
        "label": "RPi Control Consumption",
        "disabled": false,
        "info": ""
    },
    {
        "id": "05280d872e63cd37",
        "type": "group",
        "z": "7ad00daad37933a8",
        "name": "RPi Temp",
        "style": {
            "label": true
        },
        "nodes": [
            "c3c343d9857e848d",
            "f497990e88c707e0",
            "8c8c7cdd76d89855",
            "c71b8f1b31a9e743"
        ],
        "x": 234,
        "y": 211.5,
        "w": 612,
        "h": 129.5
    },
    {
        "id": "0a2518ca3884c6d3",
        "type": "group",
        "z": "7ad00daad37933a8",
        "name": "RAM",
        "style": {
            "label": true
        },
        "nodes": [
            "339f58e7a1c5cb15",
            "c14efd81360cd096",
            "40b30e6ff4fa7080",
            "a95ed33ec1b83f2f",
            "2f1676d246b867ae",
            "af94062c1f0ad7c8",
            "72e152e905b18be4",
            "35c18dcc793da4e8"
        ],
        "x": 234,
        "y": 559,
        "w": 532,
        "h": 202
    },
    {
        "id": "5b8da14b9ce54c4b",
        "type": "group",
        "z": "7ad00daad37933a8",
        "name": "CPU",
        "style": {
            "label": true
        },
        "nodes": [
            "27370734267d6c64",
            "f2b699a9ce8d7086",
            "681d831ff8215707",
            "b59ec36736888945"
        ],
        "x": 234,
        "y": 359,
        "w": 432,
        "h": 182
    },
    {
        "id": "8c5336f75ce9553a",
        "type": "group",
        "z": "7ad00daad37933a8",
        "name": "Disk Usage",
        "style": {
            "label": true
        },
        "nodes": [
            "8eb87a7cf9a6b71c",
            "796fc71dd9eec1c1",
            "49b1ca486c6bd0fd",
            "47e192854a7c0462",
            "adec0550dd3e0e46",
            "e066940f3b522dc1",
            "5e5cfeeec06f8aec"
        ],
        "x": 34,
        "y": 791.5,
        "w": 732,
        "h": 209.5
    },
    {
        "id": "9d1601da20d4753c",
        "type": "group",
        "z": "7ad00daad37933a8",
        "name": "Pi Action",
        "style": {
            "label": true
        },
        "nodes": [
            "a1aa2633f95525f4",
            "f2bdd9fc57ca9825",
            "189c614cccac1772",
            "18a40fe9064c7332",
            "433ec62086749753",
            "2cc6ab91b431d983",
            "7ddaf299dd1104cb"
        ],
        "x": 34,
        "y": 1019,
        "w": 632,
        "h": 231.75
    },
    {
        "id": "e03910d96f6e91f4",
        "type": "group",
        "z": "7ad00daad37933a8",
        "name": "Network Information",
        "style": {
            "label": true
        },
        "nodes": [
            "10cd93aa579df352",
            "3a26c4bae59b3f9d",
            "8b50e479df9c65f0",
            "0b85417631f7c834"
        ],
        "x": 234,
        "y": 59,
        "w": 532,
        "h": 122
    },
    {
        "id": "c3c343d9857e848d",
        "type": "ui_gauge",
        "z": "7ad00daad37933a8",
        "g": "05280d872e63cd37",
        "name": "",
        "group": "6a272635d3d9218b",
        "order": 4,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "CPU Temperature",
        "label": "C",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "x": 730,
        "y": 260,
        "wires": []
    },
    {
        "id": "f497990e88c707e0",
        "type": "exec",
        "z": "7ad00daad37933a8",
        "g": "05280d872e63cd37",
        "command": "vcgencmd measure_temp",
        "addpay": false,
        "append": "",
        "useSpawn": "",
        "timer": "",
        "name": "RPi Temp.",
        "x": 330,
        "y": 260,
        "wires": [
            [
                "8c8c7cdd76d89855"
            ],
            [],
            []
        ]
    },
    {
        "id": "728aca22bac89e0a",
        "type": "inject",
        "z": "7ad00daad37933a8",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "5",
        "crontab": "",
        "once": false,
        "onceDelay": "",
        "topic": "",
        "payloadType": "date",
        "x": 110,
        "y": 440,
        "wires": [
            [
                "f497990e88c707e0",
                "27370734267d6c64",
                "681d831ff8215707",
                "72e152e905b18be4"
            ]
        ]
    },
    {
        "id": "8c8c7cdd76d89855",
        "type": "function",
        "z": "7ad00daad37933a8",
        "g": "05280d872e63cd37",
        "name": "",
        "func": "str = msg.payload\nmsg.payload = str.substring(5,9);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 510,
        "y": 260,
        "wires": [
            [
                "c3c343d9857e848d",
                "c71b8f1b31a9e743"
            ]
        ]
    },
    {
        "id": "a1aa2633f95525f4",
        "type": "ui_button",
        "z": "7ad00daad37933a8",
        "g": "9d1601da20d4753c",
        "name": "",
        "group": "b28c93ede4d79393",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Reboot",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "",
        "topicType": "str",
        "x": 160,
        "y": 1140,
        "wires": [
            [
                "f2bdd9fc57ca9825"
            ]
        ]
    },
    {
        "id": "f2bdd9fc57ca9825",
        "type": "exec",
        "z": "7ad00daad37933a8",
        "g": "9d1601da20d4753c",
        "command": "sudo reboot",
        "addpay": false,
        "append": "",
        "useSpawn": "",
        "timer": "",
        "name": "Reboot",
        "x": 378,
        "y": 1140,
        "wires": [
            [],
            [],
            []
        ]
    },
    {
        "id": "189c614cccac1772",
        "type": "ui_button",
        "z": "7ad00daad37933a8",
        "g": "9d1601da20d4753c",
        "name": "",
        "group": "b28c93ede4d79393",
        "order": 3,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Shutdown",
        "tooltip": "",
        "color": "",
        "bgcolor": "red",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "",
        "topicType": "str",
        "x": 168.5,
        "y": 1184.25,
        "wires": [
            [
                "18a40fe9064c7332"
            ]
        ]
    },
    {
        "id": "18a40fe9064c7332",
        "type": "exec",
        "z": "7ad00daad37933a8",
        "g": "9d1601da20d4753c",
        "command": "sudo shutdown -h now",
        "addpay": false,
        "append": "",
        "useSpawn": "",
        "timer": "",
        "name": "Shutdown",
        "x": 389.5,
        "y": 1202.25,
        "wires": [
            [],
            [],
            []
        ]
    },
    {
        "id": "c71b8f1b31a9e743",
        "type": "ui_chart",
        "z": "7ad00daad37933a8",
        "g": "05280d872e63cd37",
        "name": "",
        "group": "6a272635d3d9218b",
        "order": 5,
        "width": 0,
        "height": 0,
        "label": "CPU Temperature",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": "24",
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "x": 730,
        "y": 300,
        "wires": [
            []
        ]
    },
    {
        "id": "27370734267d6c64",
        "type": "exec",
        "z": "7ad00daad37933a8",
        "g": "5b8da14b9ce54c4b",
        "command": "top -d 0.5 -b -n2 | grep Cpu | tail -1 | awk '{print 100-$8}'",
        "addpay": false,
        "append": "",
        "useSpawn": "",
        "timer": "",
        "winHide": false,
        "name": "CPU Load",
        "x": 330,
        "y": 420,
        "wires": [
            [
                "f2b699a9ce8d7086"
            ],
            [],
            []
        ]
    },
    {
        "id": "f2b699a9ce8d7086",
        "type": "ui_gauge",
        "z": "7ad00daad37933a8",
        "g": "5b8da14b9ce54c4b",
        "name": "",
        "group": "6a272635d3d9218b",
        "order": 3,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "CPU Load",
        "label": "CPU",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 570,
        "y": 400,
        "wires": []
    },
    {
        "id": "339f58e7a1c5cb15",
        "type": "ui_gauge",
        "z": "7ad00daad37933a8",
        "g": "0a2518ca3884c6d3",
        "name": "",
        "group": "d0b30f16c502dcd4",
        "order": 1,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Memory",
        "label": "RAM",
        "format": "{{msg.payload}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 640,
        "y": 640,
        "wires": []
    },
    {
        "id": "8eb87a7cf9a6b71c",
        "type": "exec",
        "z": "7ad00daad37933a8",
        "g": "8c5336f75ce9553a",
        "command": "df -h",
        "addpay": false,
        "append": "",
        "useSpawn": "",
        "timer": "",
        "name": "Disk Usage",
        "x": 330,
        "y": 840,
        "wires": [
            [
                "49b1ca486c6bd0fd"
            ],
            [],
            []
        ]
    },
    {
        "id": "796fc71dd9eec1c1",
        "type": "ui_gauge",
        "z": "7ad00daad37933a8",
        "g": "8c5336f75ce9553a",
        "name": "",
        "group": "7a6aa7a1181cf296",
        "order": 1,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Disk",
        "label": "Usage",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "x": 690,
        "y": 840,
        "wires": []
    },
    {
        "id": "49b1ca486c6bd0fd",
        "type": "function",
        "z": "7ad00daad37933a8",
        "g": "8c5336f75ce9553a",
        "name": "",
        "func": "var re = /([0-9]{2})%/\nvar idx = msg.payload.search(re);\nvar str = msg.payload;\nif (idx >=0) {\n    str = msg.payload.substring(idx, idx + 2);\n}\nmsg.payload = str;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 510,
        "y": 840,
        "wires": [
            [
                "796fc71dd9eec1c1"
            ]
        ]
    },
    {
        "id": "47e192854a7c0462",
        "type": "inject",
        "z": "7ad00daad37933a8",
        "g": "8c5336f75ce9553a",
        "name": "",
        "props": [
            {
                "p": "payload",
                "v": "",
                "vt": "date"
            },
            {
                "p": "topic",
                "v": "",
                "vt": "string"
            }
        ],
        "repeat": "60",
        "crontab": "",
        "once": false,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 150,
        "y": 840,
        "wires": [
            [
                "8eb87a7cf9a6b71c",
                "adec0550dd3e0e46"
            ]
        ]
    },
    {
        "id": "10cd93aa579df352",
        "type": "NetworkIntf",
        "z": "7ad00daad37933a8",
        "g": "e03910d96f6e91f4",
        "name": "",
        "x": 330,
        "y": 140,
        "wires": [
            [
                "8b50e479df9c65f0"
            ]
        ]
    },
    {
        "id": "3a26c4bae59b3f9d",
        "type": "ui_text",
        "z": "7ad00daad37933a8",
        "g": "e03910d96f6e91f4",
        "group": "108748c2aacc8c07",
        "order": 3,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "{{msg.type}}",
        "format": "{{msg.address}}",
        "layout": "row-left",
        "x": 690,
        "y": 140,
        "wires": []
    },
    {
        "id": "06e2436c4de1bed2",
        "type": "inject",
        "z": "7ad00daad37933a8",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "300",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payloadType": "date",
        "x": 110,
        "y": 140,
        "wires": [
            [
                "10cd93aa579df352"
            ]
        ]
    },
    {
        "id": "8b50e479df9c65f0",
        "type": "function",
        "z": "7ad00daad37933a8",
        "g": "e03910d96f6e91f4",
        "name": "extract",
        "func": "\nvar wireless\n\n//node.warn(msg.payload.networkInterfaces)\n\nwireless = msg.payload.networkInterfaces.wlan0[0]\n//node.warn(wireless)\n\nwireless.type = \"wlan0\"\n\nnode.send([wireless])",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 510,
        "y": 140,
        "wires": [
            [
                "3a26c4bae59b3f9d",
                "0b85417631f7c834"
            ]
        ]
    },
    {
        "id": "681d831ff8215707",
        "type": "CPUs",
        "z": "7ad00daad37933a8",
        "g": "5b8da14b9ce54c4b",
        "name": "",
        "x": 310,
        "y": 480,
        "wires": [
            [
                "b59ec36736888945"
            ]
        ]
    },
    {
        "id": "433ec62086749753",
        "type": "ui_switch",
        "z": "7ad00daad37933a8",
        "g": "9d1601da20d4753c",
        "name": "",
        "label": "Clicca per interagire",
        "tooltip": "",
        "group": "b28c93ede4d79393",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "",
        "topicType": "str",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "create",
        "oncolor": "green",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "lock",
        "offcolor": "red",
        "animate": true,
        "x": 320,
        "y": 1060,
        "wires": [
            [
                "7ddaf299dd1104cb"
            ]
        ]
    },
    {
        "id": "2cc6ab91b431d983",
        "type": "inject",
        "z": "7ad00daad37933a8",
        "g": "9d1601da20d4753c",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "300",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "false",
        "payloadType": "bool",
        "x": 130,
        "y": 1060,
        "wires": [
            [
                "433ec62086749753"
            ]
        ]
    },
    {
        "id": "7ddaf299dd1104cb",
        "type": "function",
        "z": "7ad00daad37933a8",
        "g": "9d1601da20d4753c",
        "name": "Gate",
        "func": "if (msg.payload === false)node.send({ui_control:{\"icon\":\"lock\"}});\nif (msg.payload === false){\n msg.enabled=false;\n msg.background=\"grey\";\n }\n if (msg.payload === true){\n msg.enabled=true;\n msg.background=\"green\";\n //msg.icon=\"mode_edit\";\n }\nif (msg.payload === true)node.send({ui_control:{\"icon\":\"lock_open\"}});\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 590,
        "y": 1060,
        "wires": [
            [
                "a1aa2633f95525f4",
                "189c614cccac1772"
            ]
        ]
    },
    {
        "id": "c14efd81360cd096",
        "type": "ui_text",
        "z": "7ad00daad37933a8",
        "g": "0a2518ca3884c6d3",
        "group": "d0b30f16c502dcd4",
        "order": 2,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Total Memory",
        "format": "{{msg.payload}}",
        "layout": "row-left",
        "x": 660,
        "y": 680,
        "wires": []
    },
    {
        "id": "40b30e6ff4fa7080",
        "type": "ui_text",
        "z": "7ad00daad37933a8",
        "g": "0a2518ca3884c6d3",
        "group": "d0b30f16c502dcd4",
        "order": 3,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Free Memory",
        "format": "{{msg.payload}}",
        "layout": "row-left",
        "x": 650,
        "y": 720,
        "wires": []
    },
    {
        "id": "adec0550dd3e0e46",
        "type": "OS",
        "z": "7ad00daad37933a8",
        "g": "8c5336f75ce9553a",
        "name": "",
        "x": 310,
        "y": 920,
        "wires": [
            [
                "e066940f3b522dc1",
                "5e5cfeeec06f8aec"
            ]
        ]
    },
    {
        "id": "e066940f3b522dc1",
        "type": "ui_text",
        "z": "7ad00daad37933a8",
        "g": "8c5336f75ce9553a",
        "group": "108748c2aacc8c07",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Hostname",
        "format": "{{msg.payload.hostname}}",
        "layout": "row-left",
        "x": 649,
        "y": 914,
        "wires": []
    },
    {
        "id": "5e5cfeeec06f8aec",
        "type": "ui_text",
        "z": "7ad00daad37933a8",
        "g": "8c5336f75ce9553a",
        "group": "108748c2aacc8c07",
        "order": 2,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Platform",
        "format": "{{msg.payload.platform}}",
        "layout": "row-left",
        "x": 640,
        "y": 960,
        "wires": []
    },
    {
        "id": "a95ed33ec1b83f2f",
        "type": "function",
        "z": "7ad00daad37933a8",
        "g": "0a2518ca3884c6d3",
        "name": "",
        "func": "msg.payload = msg.payload.memusage;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 500,
        "y": 640,
        "wires": [
            [
                "339f58e7a1c5cb15",
                "35c18dcc793da4e8"
            ]
        ]
    },
    {
        "id": "2f1676d246b867ae",
        "type": "function",
        "z": "7ad00daad37933a8",
        "g": "0a2518ca3884c6d3",
        "name": "",
        "func": "function formatBytes(bytes,decimals) {\n   if(bytes === 0) return '0 Byte';\n   var k = 1000; // or 1024 for binary\n   var dm = decimals + 1 || 3;\n   var sizes = ['Bytes', 'KB', 'MB', 'GB', 'TB', 'PB', 'EB', 'ZB', 'YB'];\n   var i = Math.floor(Math.log(bytes) / Math.log(k));\n   return parseFloat((bytes / Math.pow(k, i)).toFixed(dm)) + ' ' + sizes[i];\n}\n\nmsg.payload = formatBytes(msg.payload.totalmem);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 500,
        "y": 680,
        "wires": [
            [
                "c14efd81360cd096"
            ]
        ]
    },
    {
        "id": "af94062c1f0ad7c8",
        "type": "function",
        "z": "7ad00daad37933a8",
        "g": "0a2518ca3884c6d3",
        "name": "",
        "func": "function formatBytes(bytes,decimals) {\n   if(bytes === 0) return '0 Byte';\n   var k = 1000; // or 1024 for binary\n   var dm = decimals + 1 || 3;\n   var sizes = ['Bytes', 'KB', 'MB', 'GB', 'TB', 'PB', 'EB', 'ZB', 'YB'];\n   var i = Math.floor(Math.log(bytes) / Math.log(k));\n   return parseFloat((bytes / Math.pow(k, i)).toFixed(dm)) + ' ' + sizes[i];\n}\n\nmsg.payload = formatBytes(msg.payload.freemem);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 500,
        "y": 720,
        "wires": [
            [
                "40b30e6ff4fa7080"
            ]
        ]
    },
    {
        "id": "72e152e905b18be4",
        "type": "Memory",
        "z": "7ad00daad37933a8",
        "g": "0a2518ca3884c6d3",
        "name": "",
        "x": 320,
        "y": 680,
        "wires": [
            [
                "a95ed33ec1b83f2f",
                "2f1676d246b867ae",
                "af94062c1f0ad7c8"
            ]
        ]
    },
    {
        "id": "7d1588260dc85b4d",
        "type": "ui_button",
        "z": "7ad00daad37933a8",
        "name": "Refresh",
        "group": "849f30cb3ef98364",
        "order": 2,
        "width": 2,
        "height": 1,
        "passthru": false,
        "label": "Refresh",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "replay",
        "payload": "",
        "payloadType": "date",
        "topic": "topic",
        "topicType": "msg",
        "x": 100,
        "y": 480,
        "wires": [
            [
                "10cd93aa579df352",
                "f497990e88c707e0",
                "72e152e905b18be4",
                "681d831ff8215707"
            ]
        ]
    },
    {
        "id": "35c18dcc793da4e8",
        "type": "ui_chart",
        "z": "7ad00daad37933a8",
        "g": "0a2518ca3884c6d3",
        "name": "",
        "group": "d0b30f16c502dcd4",
        "order": 4,
        "width": 0,
        "height": 0,
        "label": "Usage RAM",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "x": 650,
        "y": 600,
        "wires": [
            []
        ]
    },
    {
        "id": "0b85417631f7c834",
        "type": "debug",
        "z": "7ad00daad37933a8",
        "g": "e03910d96f6e91f4",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 670,
        "y": 100,
        "wires": []
    },
    {
        "id": "b59ec36736888945",
        "type": "debug",
        "z": "7ad00daad37933a8",
        "g": "5b8da14b9ce54c4b",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 450,
        "y": 500,
        "wires": []
    },
    {
        "id": "aaef9bd582a49154",
        "type": "ui_spacer",
        "z": "7ad00daad37933a8",
        "name": "spacer",
        "group": "849f30cb3ef98364",
        "order": 5,
        "width": "6",
        "height": 1
    },
    {
        "id": "c1ec1e4664ef67fd",
        "type": "ui_spacer",
        "z": "7ad00daad37933a8",
        "name": "spacer",
        "group": "849f30cb3ef98364",
        "order": 5,
        "width": "6",
        "height": 1
    },
    {
        "id": "76846a2fd1688653",
        "type": "ui_spacer",
        "z": "7ad00daad37933a8",
        "name": "spacer",
        "group": "c0e17316b9ae9f25",
        "order": 7,
        "width": 1,
        "height": 1
    },
    {
        "id": "6a272635d3d9218b",
        "type": "ui_group",
        "name": "CPU",
        "tab": "c3173234.2636e",
        "order": 5,
        "disp": true,
        "width": "6",
        "collapse": true
    },
    {
        "id": "b28c93ede4d79393",
        "type": "ui_group",
        "name": "Manage RPi",
        "tab": "c3173234.2636e",
        "order": 3,
        "disp": false,
        "width": "6",
        "collapse": false
    },
    {
        "id": "d0b30f16c502dcd4",
        "type": "ui_group",
        "name": "RAM",
        "tab": "c3173234.2636e",
        "order": 6,
        "disp": true,
        "width": "6",
        "collapse": true
    },
    {
        "id": "7a6aa7a1181cf296",
        "type": "ui_group",
        "name": "Disk",
        "tab": "c3173234.2636e",
        "order": 7,
        "disp": true,
        "width": "6",
        "collapse": true
    },
    {
        "id": "108748c2aacc8c07",
        "type": "ui_group",
        "name": "Device Information",
        "tab": "c3173234.2636e",
        "order": 4,
        "disp": false,
        "width": "12",
        "collapse": false
    },
    {
        "id": "849f30cb3ef98364",
        "type": "ui_group",
        "name": "Change Tab",
        "tab": "c3173234.2636e",
        "order": 1,
        "disp": false,
        "width": "18",
        "collapse": false
    },
    {
        "id": "c3173234.2636e",
        "type": "ui_tab",
        "name": "RPi Control",
        "icon": "power_settings_new",
        "order": 1,
        "disabled": false,
        "hidden": false
    }
]