Project/Node-RED/smart-agricolture-offline.json
[
    {
        "id": "b60aac9e4ccdd90c",
        "type": "subflow",
        "name": "Extract Information from payload",
        "info": "",
        "category": "",
        "in": [
            {
                "x": 60,
                "y": 80,
                "wires": [
                    {
                        "id": "6c885f6916a2bbeb"
                    }
                ]
            }
        ],
        "out": [
            {
                "x": 560,
                "y": 420,
                "wires": [
                    {
                        "id": "b7d8b4db654b700e",
                        "port": 0
                    }
                ]
            }
        ],
        "env": [],
        "meta": {},
        "color": "#DDAA99"
    },
    {
        "id": "b08a63d9cd4a6eef",
        "type": "function",
        "z": "b60aac9e4ccdd90c",
        "name": "Sensor data to hex/decode",
        "func": "\nbytes=msg.payload.out // sensor/LoraWAN data playload\n\nnewbytes=Buffer.from(bytes, 'hex')\n//node.warn(newbytes.toString()) ///yeah\n\n//decode ...payload\n//https://learn.adafruit.com/using-lorawan-and-the-things-network-with-circuitpython?view=all\n\nmsg.payload.out = newbytes.toString();\n  \nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 240,
        "y": 280,
        "wires": [
            [
                "b7d8b4db654b700e"
            ]
        ]
    },
    {
        "id": "2c801422965fa21d",
        "type": "lorawan-packet-decrypt-nwkey-appkey",
        "z": "b60aac9e4ccdd90c",
        "name": "Decrypt LoRaWAN",
        "nsw": "238792b74801de223b50ddd309b8f139",
        "asw": "744826b8703e23a2e6cb8d79eed484bb",
        "x": 210,
        "y": 160,
        "wires": [
            [
                "b08a63d9cd4a6eef"
            ]
        ]
    },
    {
        "id": "6c885f6916a2bbeb",
        "type": "function",
        "z": "b60aac9e4ccdd90c",
        "name": "HEX to base64",
        "func": "\nmvk=msg.payload // from the injection\n\n//node.warn(mvk)\n\nvar messagge = mvk.data\n\n//node.warn(messagge)\n\nvar base64String = Buffer.from(messagge, 'hex').toString('base64')\n\n//node.warn(base64String)\n\nmsg.payload=base64String\nmsg.rssi = mvk.rssi\nmsg.snr = mvk.snr\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 220,
        "y": 80,
        "wires": [
            [
                "6b8a6f78ce43aa13",
                "2c801422965fa21d"
            ]
        ]
    },
    {
        "id": "6b8a6f78ce43aa13",
        "type": "debug",
        "z": "b60aac9e4ccdd90c",
        "name": "Base64 Message",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 450,
        "y": 80,
        "wires": []
    },
    {
        "id": "b7d8b4db654b700e",
        "type": "function",
        "z": "b60aac9e4ccdd90c",
        "name": "Extract Information",
        "func": "\ndataArray = []\ndictArray = {}\n\nlet msg1 = {}\n\ntext = msg.payload.out\n//node.warn(text)\n\ntextArray = text.split(\"$\")\ntextArray = textArray.filter(item => item != \"\")\n//node.warn(textArray)\n\nfor(let i = 0; i < textArray.length; i++)\n{\n    dataArray = textArray[i].split(\":\")\n    dictArray[dataArray[0]] = parseFloat(dataArray[1])\n}\n\n//node.warn(dictArray)\n\nmsg.payload.out = dictArray\n\n//node.warn(msg.payload.out.Hum)\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 210,
        "y": 420,
        "wires": [
            []
        ],
        "info": "From the string in Input,\nthis node will convert it on a dict\nwith this format: \n{unit_measure : value}"
    },
    {
        "id": "c2bff896cb66295f",
        "type": "subflow",
        "name": "DevAddr",
        "info": "",
        "category": "",
        "in": [
            {
                "x": 40,
                "y": 100,
                "wires": [
                    {
                        "id": "eb7fa24ed9b03246"
                    }
                ]
            }
        ],
        "out": [
            {
                "x": 440,
                "y": 180,
                "wires": [
                    {
                        "id": "880e3e6dc1169187",
                        "port": 0
                    }
                ]
            }
        ],
        "env": [],
        "meta": {},
        "color": "#DDAA99"
    },
    {
        "id": "eb7fa24ed9b03246",
        "type": "function",
        "z": "c2bff896cb66295f",
        "name": "Extract DevAddr",
        "func": "\nlet HexString = \"\";\n\nDevAddr=msg.payload.buffers.DevAddr // sensor/LoraWAN data payload\n\n//node.warn(DevAddr)\n\nfor (let i = 0; i < DevAddr.length; i++)\n{\n  hex = DevAddr[i].toString(16).toUpperCase();\n  HexString += hex;\n}\n//node.warn(HexString);\n\nmsg.DevAddr = HexString;\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 200,
        "y": 100,
        "wires": [
            [
                "880e3e6dc1169187"
            ]
        ]
    },
    {
        "id": "880e3e6dc1169187",
        "type": "function",
        "z": "c2bff896cb66295f",
        "name": "define type of device",
        "func": "\nDeviceAddress = msg.payload.DevAddr\n\nif(DeviceAddress == \"AAABB14A\")\n    msg.device = \"L1 board\"\nelse if(DeviceAddress == \"AAC44AC5\")\n    msg.device = \"L0 board\"\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 180,
        "y": 180,
        "wires": [
            []
        ]
    },
    {
        "id": "b5496873b6dbd051",
        "type": "tab",
        "label": "SA (offline)",
        "disabled": false,
        "info": "This flow read a a payload in HEX, convert it\nin Base64, and put on output the message in ASCII\n\nThis is the OFFLINE version, to test it without a Pi"
    },
    {
        "id": "1a6949c03c49b5cd",
        "type": "group",
        "z": "b5496873b6dbd051",
        "name": "charts",
        "style": {
            "label": true
        },
        "nodes": [
            "2a044d4f742c9bcb",
            "10faa1536cbceb48",
            "19e4858c0b5b9bc1",
            "b3a7590d27c41b19",
            "38d68791565764f4",
            "c98d2c30579c280f",
            "32f3026d86e43c6b",
            "79046fb402a36403",
            "84bac1b92ae2468b",
            "8f61766d047de925",
            "1955c29765fcce33",
            "240f12fa1e72e39e",
            "2cab0df63fc2fdfc",
            "367278d24e11ef3f",
            "b5ceb38da9b4aa19"
        ],
        "env": [],
        "x": 814,
        "y": 779,
        "w": 362,
        "h": 362
    },
    {
        "id": "804d89690f0e9ea8",
        "type": "group",
        "z": "b5496873b6dbd051",
        "name": "Extrapolation",
        "style": {
            "label": true
        },
        "nodes": [
            "7b851dcd484d6b47",
            "988b7736a6a43b12",
            "c4220726c1ad5d8c",
            "583c121d82381401",
            "9b9f3de7467d16b1",
            "18ddef2ad583dd50",
            "cd9792bd47468015",
            "353cbd214b7e581e",
            "cf15cae2f7137bc9",
            "71e5d57548ffee5e",
            "dc518af36712a65b",
            "d7d535de48fe5210",
            "7f78a64da02931bd",
            "d414911a116f2d6b",
            "00e7daeb84cdcd54",
            "161d0d1c99a37900",
            "0d839d98a2c0bae4",
            "0c3d47a42c39db6a",
            "0f1a49e065c85131"
        ],
        "env": [],
        "x": 34,
        "y": 419,
        "w": 1272,
        "h": 282
    },
    {
        "id": "4b1425ccfc62491f",
        "type": "group",
        "z": "b5496873b6dbd051",
        "name": "Injects",
        "style": {
            "label": true
        },
        "nodes": [
            "985625ffdb60b59f",
            "ead91ebc34b98f47",
            "1fc6f7271cc6b74e",
            "ba8125d42df45db1",
            "cd9c0f3150c81735",
            "1aeda8f47713ff8a",
            "b1c6e0d27fd829e1",
            "c03da3babbdb0ec0",
            "2f34bda95efaf3b2",
            "a179da51504a9682",
            "eda078f9615f6e0d",
            "7f299b406b0cf16a",
            "829d407cfb9f45a6",
            "7a1ef42a989a08eb"
        ],
        "env": [],
        "x": 34,
        "y": 19,
        "w": 972,
        "h": 322
    },
    {
        "id": "fc9c68a7d6e43444",
        "type": "group",
        "z": "b5496873b6dbd051",
        "name": "Instant Information",
        "style": {
            "label": true
        },
        "nodes": [
            "8c1397019feff12a",
            "e942d705f6a29000",
            "b6a10f911cb64cef",
            "2d5d3e07b83c07d0",
            "39cbec0f344cc3c0",
            "5441c01f626e47f2",
            "8240fcb49837a89e",
            "8c00d46c6a6fe480"
        ],
        "env": [],
        "x": 34,
        "y": 1259,
        "w": 352,
        "h": 302
    },
    {
        "id": "8f32578cd6bcd514",
        "type": "group",
        "z": "b5496873b6dbd051",
        "name": "Devices",
        "style": {
            "label": true
        },
        "nodes": [
            "041f27f24519d6ab",
            "8632bbe692102952",
            "b64307c5f98b5843",
            "080dd872ea6c826b",
            "5e37a549565d81ec",
            "9642edf4dda95dc7",
            "821f8be17770ea09",
            "d4b98cbde0bffa6b"
        ],
        "env": [],
        "x": 34,
        "y": 779,
        "w": 652,
        "h": 342
    },
    {
        "id": "985625ffdb60b59f",
        "type": "debug",
        "z": "b5496873b6dbd051",
        "g": "4b1425ccfc62491f",
        "name": "HEX Message",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 860,
        "y": 60,
        "wires": []
    },
    {
        "id": "ead91ebc34b98f47",
        "type": "ui_button",
        "z": "b5496873b6dbd051",
        "g": "4b1425ccfc62491f",
        "name": "Start Reading (From Dashboard)",
        "group": "d230bf085d19d06e",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "{{payload}}",
        "tooltip": "",
        "color": "",
        "bgcolor": "{{colour}}",
        "className": "",
        "icon": "",
        "payload": "press",
        "payloadType": "str",
        "topic": "",
        "topicType": "str",
        "x": 540,
        "y": 60,
        "wires": [
            [
                "985625ffdb60b59f",
                "1fc6f7271cc6b74e",
                "1aeda8f47713ff8a",
                "7f299b406b0cf16a"
            ]
        ]
    },
    {
        "id": "7b851dcd484d6b47",
        "type": "debug",
        "z": "b5496873b6dbd051",
        "g": "804d89690f0e9ea8",
        "name": "Informations from Sensors",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload.out",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 760,
        "y": 460,
        "wires": []
    },
    {
        "id": "988b7736a6a43b12",
        "type": "debug",
        "z": "b5496873b6dbd051",
        "g": "804d89690f0e9ea8",
        "name": "DevAddr",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "DevAddr",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 560,
        "y": 560,
        "wires": []
    },
    {
        "id": "c4220726c1ad5d8c",
        "type": "subflow:c2bff896cb66295f",
        "z": "b5496873b6dbd051",
        "g": "804d89690f0e9ea8",
        "name": "",
        "env": [],
        "x": 180,
        "y": 560,
        "wires": [
            [
                "988b7736a6a43b12",
                "18ddef2ad583dd50"
            ]
        ]
    },
    {
        "id": "583c121d82381401",
        "type": "subflow:b60aac9e4ccdd90c",
        "z": "b5496873b6dbd051",
        "g": "804d89690f0e9ea8",
        "name": "",
        "env": [],
        "x": 410,
        "y": 460,
        "wires": [
            [
                "7b851dcd484d6b47",
                "c4220726c1ad5d8c",
                "9b9f3de7467d16b1",
                "71e5d57548ffee5e"
            ]
        ]
    },
    {
        "id": "1fc6f7271cc6b74e",
        "type": "ui_text",
        "z": "b5496873b6dbd051",
        "d": true,
        "g": "4b1425ccfc62491f",
        "group": "f4aa4eb55ad8daa3",
        "order": 6,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Encrypted Message",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "className": "",
        "x": 880,
        "y": 100,
        "wires": []
    },
    {
        "id": "9b9f3de7467d16b1",
        "type": "ui_text",
        "z": "b5496873b6dbd051",
        "d": true,
        "g": "804d89690f0e9ea8",
        "group": "f4aa4eb55ad8daa3",
        "order": 7,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Original Message",
        "format": "{{msg.payload.out}}",
        "layout": "row-spread",
        "className": "",
        "x": 730,
        "y": 500,
        "wires": []
    },
    {
        "id": "2a044d4f742c9bcb",
        "type": "ui_chart",
        "z": "b5496873b6dbd051",
        "g": "1a6949c03c49b5cd",
        "name": "",
        "group": "d0f72a5cd39e81d5",
        "order": 1,
        "width": 0,
        "height": 0,
        "label": "Humidity",
        "chartType": "line",
        "legend": "true",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 1040,
        "y": 940,
        "wires": [
            []
        ]
    },
    {
        "id": "10faa1536cbceb48",
        "type": "ui_chart",
        "z": "b5496873b6dbd051",
        "g": "1a6949c03c49b5cd",
        "name": "",
        "group": "14fcfb53ca18d546",
        "order": 1,
        "width": 0,
        "height": 0,
        "label": "Humidity Soil",
        "chartType": "line",
        "legend": "true",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 1050,
        "y": 980,
        "wires": [
            []
        ]
    },
    {
        "id": "19e4858c0b5b9bc1",
        "type": "ui_chart",
        "z": "b5496873b6dbd051",
        "g": "1a6949c03c49b5cd",
        "name": "",
        "group": "09ac4e0110da1002",
        "order": 1,
        "width": 0,
        "height": 0,
        "label": "Pressure",
        "chartType": "line",
        "legend": "true",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 1040,
        "y": 1020,
        "wires": [
            []
        ]
    },
    {
        "id": "b3a7590d27c41b19",
        "type": "ui_chart",
        "z": "b5496873b6dbd051",
        "g": "1a6949c03c49b5cd",
        "name": "",
        "group": "fecfb76a97dab80d",
        "order": 1,
        "width": 0,
        "height": 0,
        "label": "UV",
        "chartType": "line",
        "legend": "true",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 1030,
        "y": 1060,
        "wires": [
            []
        ]
    },
    {
        "id": "38d68791565764f4",
        "type": "ui_chart",
        "z": "b5496873b6dbd051",
        "g": "1a6949c03c49b5cd",
        "name": "",
        "group": "a163bb3054b0c209",
        "order": 1,
        "width": 0,
        "height": 0,
        "label": "UNUSED",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 1040,
        "y": 1100,
        "wires": [
            []
        ]
    },
    {
        "id": "c98d2c30579c280f",
        "type": "ui_chart",
        "z": "b5496873b6dbd051",
        "g": "1a6949c03c49b5cd",
        "name": "",
        "group": "77c3f71732498633",
        "order": 1,
        "width": 0,
        "height": 0,
        "label": "Temperature",
        "chartType": "line",
        "legend": "true",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 1050,
        "y": 900,
        "wires": [
            []
        ]
    },
    {
        "id": "ba8125d42df45db1",
        "type": "inject",
        "z": "b5496873b6dbd051",
        "g": "4b1425ccfc62491f",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": " {\t 'port': 0, \t 'rssi': -89, \t 'snr': 4, \t 'len': 86, \t 'data': '404ab1abaa00b40d01b733294ffaa4ad9d4d782c76f3a2ecfa61c20b0863918264369c676d96507cb41b04'}",
        "payloadType": "jsonata",
        "x": 130,
        "y": 300,
        "wires": [
            [
                "cd9c0f3150c81735",
                "a179da51504a9682"
            ]
        ]
    },
    {
        "id": "cd9c0f3150c81735",
        "type": "debug",
        "z": "b5496873b6dbd051",
        "g": "4b1425ccfc62491f",
        "name": "payload debug",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 610,
        "y": 260,
        "wires": []
    },
    {
        "id": "18ddef2ad583dd50",
        "type": "function",
        "z": "b5496873b6dbd051",
        "g": "804d89690f0e9ea8",
        "name": "Cleaning",
        "func": "\nlet msg1 = {}\n\npars = [\"Temperature\", \"Humidity\", \"Pressure\", \"UV\", \"Humidity Soil\"]\nreduced_pars = [\"T\", \"H\", \"P\", \"U\", \"S\"]\n\n//node.warn(msg)\n\nmsg1.rssi = msg.rssi\nmsg1.snr = msg.snr\nmsg1.DevAddr = msg.DevAddr\nmsg1.out = msg.payload.out\n\n//node.warn(msg1)\n\nreturn msg1;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 180,
        "y": 640,
        "wires": [
            [
                "cd9792bd47468015",
                "cf15cae2f7137bc9"
            ]
        ]
    },
    {
        "id": "cd9792bd47468015",
        "type": "debug",
        "z": "b5496873b6dbd051",
        "g": "804d89690f0e9ea8",
        "name": "cleaning debug",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 380,
        "y": 600,
        "wires": []
    },
    {
        "id": "1aeda8f47713ff8a",
        "type": "function",
        "z": "b5496873b6dbd051",
        "g": "4b1425ccfc62491f",
        "name": "push payload from dashboard",
        "func": "\nmsg.payload =  {\t \n    'port': 0, \t \n    'rssi': -51, \t \n    'snr': 7, \t \n    'len': 85, \t \n    'data': '40C54AC4AA00020001228F96D52CAD4C222382CB6FF2BC7CF3F8583BB6764F8514AC5CFD8F312849F8FEDD4B3F5D1A'\n    \n}\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 610,
        "y": 180,
        "wires": [
            [
                "a179da51504a9682"
            ]
        ]
    },
    {
        "id": "8c1397019feff12a",
        "type": "ui_text",
        "z": "b5496873b6dbd051",
        "g": "fc9c68a7d6e43444",
        "group": "f4aa4eb55ad8daa3",
        "order": 1,
        "width": 4,
        "height": 1,
        "name": "",
        "label": "DevAddr",
        "format": "{{msg.DevAddr}}",
        "layout": "col-center",
        "className": "",
        "x": 300,
        "y": 1380,
        "wires": []
    },
    {
        "id": "e942d705f6a29000",
        "type": "ui_text",
        "z": "b5496873b6dbd051",
        "g": "fc9c68a7d6e43444",
        "group": "f4aa4eb55ad8daa3",
        "order": 2,
        "width": 5,
        "height": 1,
        "name": "",
        "label": "Device",
        "format": "{{msg.device}}",
        "layout": "col-center",
        "className": "",
        "x": 290,
        "y": 1420,
        "wires": []
    },
    {
        "id": "b6a10f911cb64cef",
        "type": "ui_text",
        "z": "b5496873b6dbd051",
        "g": "fc9c68a7d6e43444",
        "group": "f4aa4eb55ad8daa3",
        "order": 3,
        "width": 3,
        "height": 1,
        "name": "",
        "label": "RSSI",
        "format": "{{rssi}}",
        "layout": "col-center",
        "className": "",
        "x": 290,
        "y": 1300,
        "wires": []
    },
    {
        "id": "2d5d3e07b83c07d0",
        "type": "ui_text",
        "z": "b5496873b6dbd051",
        "g": "fc9c68a7d6e43444",
        "group": "f4aa4eb55ad8daa3",
        "order": 4,
        "width": 3,
        "height": 1,
        "name": "",
        "label": "SNR",
        "format": "{{msg.snr}}",
        "layout": "col-center",
        "className": "",
        "x": 290,
        "y": 1340,
        "wires": []
    },
    {
        "id": "39cbec0f344cc3c0",
        "type": "function",
        "z": "b5496873b6dbd051",
        "g": "fc9c68a7d6e43444",
        "name": "RSSI",
        "func": "\nlet msg1 = {}\n\nmsg1.rssi = msg.rssi\nmsg1.snr = msg.snr\nmsg1.DevAddr = msg.DevAddr\nmsg1.device = msg.topic\n\n//node.warn(msg)\n\nrssi = msg1.rssi\n\nif(rssi <= 0 && rssi > -30)\n    msg1.intensity = \"strong\"\nelse if(rssi <= -30 && rssi > -60)\n    msg1.intensity = \"good\"\nelse if(rssi <= -60 && rssi > -90)\n    msg1.intensity = \"enough\"\nelse\n    msg1.intensity = \"weak\"\n\n//node.warn(msg1)\n//  msg1 = {ui_control:{icon:\"signal_wifi_3_bar\"}}\n\nreturn msg1;\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 110,
        "y": 1380,
        "wires": [
            [
                "b6a10f911cb64cef",
                "8240fcb49837a89e",
                "2d5d3e07b83c07d0",
                "8c1397019feff12a",
                "e942d705f6a29000",
                "5441c01f626e47f2"
            ]
        ]
    },
    {
        "id": "5441c01f626e47f2",
        "type": "ui_text",
        "z": "b5496873b6dbd051",
        "g": "fc9c68a7d6e43444",
        "group": "f4aa4eb55ad8daa3",
        "order": 5,
        "width": 3,
        "height": 1,
        "name": "Intensity",
        "label": "Intensity",
        "format": "{{msg.intensity}}",
        "layout": "col-center",
        "className": "",
        "x": 300,
        "y": 1460,
        "wires": []
    },
    {
        "id": "8240fcb49837a89e",
        "type": "debug",
        "z": "b5496873b6dbd051",
        "g": "fc9c68a7d6e43444",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 180,
        "y": 1520,
        "wires": []
    },
    {
        "id": "b1c6e0d27fd829e1",
        "type": "comment",
        "z": "b5496873b6dbd051",
        "g": "4b1425ccfc62491f",
        "name": "L1 payload",
        "info": "",
        "x": 120,
        "y": 260,
        "wires": []
    },
    {
        "id": "c03da3babbdb0ec0",
        "type": "inject",
        "z": "b5496873b6dbd051",
        "g": "4b1425ccfc62491f",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": "",
        "topic": "",
        "payload": " {\t 'port': 0, \t 'rssi': -38, \t 'snr': 4, \t 'len': 86, \t 'data': '40C54AC4AA00020001228F96D52CAD4C222382CB6FF2BC7CF3F8583BB6764F8514AC5CFD8F312849F8FEDD4B3F5D1A'}",
        "payloadType": "jsonata",
        "x": 130,
        "y": 220,
        "wires": [
            [
                "a179da51504a9682",
                "cd9c0f3150c81735"
            ]
        ]
    },
    {
        "id": "2f34bda95efaf3b2",
        "type": "comment",
        "z": "b5496873b6dbd051",
        "g": "4b1425ccfc62491f",
        "name": "L0 payload",
        "info": "",
        "x": 120,
        "y": 180,
        "wires": []
    },
    {
        "id": "8c00d46c6a6fe480",
        "type": "link in",
        "z": "b5496873b6dbd051",
        "g": "fc9c68a7d6e43444",
        "name": "",
        "links": [
            "080dd872ea6c826b"
        ],
        "x": 135,
        "y": 1320,
        "wires": [
            [
                "39cbec0f344cc3c0"
            ]
        ]
    },
    {
        "id": "32f3026d86e43c6b",
        "type": "link in",
        "z": "b5496873b6dbd051",
        "g": "1a6949c03c49b5cd",
        "name": "all charts",
        "links": [
            "79046fb402a36403"
        ],
        "x": 855,
        "y": 860,
        "wires": [
            [
                "38d68791565764f4",
                "b3a7590d27c41b19",
                "19e4858c0b5b9bc1",
                "10faa1536cbceb48",
                "2a044d4f742c9bcb",
                "c98d2c30579c280f"
            ]
        ]
    },
    {
        "id": "405f65293650379a",
        "type": "link in",
        "z": "b5496873b6dbd051",
        "name": "",
        "links": [
            "080dd872ea6c826b"
        ],
        "x": 275,
        "y": 840,
        "wires": [
            [
                "a383a40e0ac4723e"
            ]
        ]
    },
    {
        "id": "a383a40e0ac4723e",
        "type": "debug",
        "z": "b5496873b6dbd051",
        "name": "device id debug",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 400,
        "y": 840,
        "wires": []
    },
    {
        "id": "353cbd214b7e581e",
        "type": "link in",
        "z": "b5496873b6dbd051",
        "g": "804d89690f0e9ea8",
        "name": "",
        "links": [
            "a179da51504a9682"
        ],
        "x": 75,
        "y": 460,
        "wires": [
            [
                "583c121d82381401"
            ]
        ]
    },
    {
        "id": "a179da51504a9682",
        "type": "link out",
        "z": "b5496873b6dbd051",
        "g": "4b1425ccfc62491f",
        "name": "",
        "mode": "link",
        "links": [
            "353cbd214b7e581e"
        ],
        "x": 815,
        "y": 180,
        "wires": []
    },
    {
        "id": "84bac1b92ae2468b",
        "type": "ui_button",
        "z": "b5496873b6dbd051",
        "g": "1a6949c03c49b5cd",
        "name": "clear all",
        "group": "baaa3acd396ddb5e",
        "order": 3,
        "width": 3,
        "height": 1,
        "passthru": false,
        "label": "CLEAR ALL",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "clear_all",
        "payload": "[]",
        "payloadType": "json",
        "topic": "topic",
        "topicType": "msg",
        "x": 1000,
        "y": 820,
        "wires": [
            [
                "79046fb402a36403"
            ]
        ]
    },
    {
        "id": "79046fb402a36403",
        "type": "link out",
        "z": "b5496873b6dbd051",
        "g": "1a6949c03c49b5cd",
        "name": "",
        "mode": "link",
        "links": [
            "32f3026d86e43c6b"
        ],
        "x": 1135,
        "y": 820,
        "wires": []
    },
    {
        "id": "cf15cae2f7137bc9",
        "type": "link out",
        "z": "b5496873b6dbd051",
        "g": "804d89690f0e9ea8",
        "name": "",
        "mode": "link",
        "links": [
            "5e37a549565d81ec"
        ],
        "x": 335,
        "y": 640,
        "wires": []
    },
    {
        "id": "8f61766d047de925",
        "type": "link in",
        "z": "b5496873b6dbd051",
        "g": "1a6949c03c49b5cd",
        "name": "temp chart",
        "links": [
            "00b3ea4224c3e4fb",
            "189c515edfd327b2",
            "fae2b80536f4a7b1",
            "78e32ac3c444ac1e"
        ],
        "x": 855,
        "y": 900,
        "wires": [
            [
                "c98d2c30579c280f"
            ]
        ]
    },
    {
        "id": "71e5d57548ffee5e",
        "type": "change",
        "z": "b5496873b6dbd051",
        "g": "804d89690f0e9ea8",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "out",
                "pt": "msg",
                "to": "payload.out",
                "tot": "msg"
            },
            {
                "t": "delete",
                "p": "payload",
                "pt": "msg"
            },
            {
                "t": "delete",
                "p": "rssi",
                "pt": "msg"
            },
            {
                "t": "delete",
                "p": "snr",
                "pt": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 780,
        "y": 560,
        "wires": [
            [
                "dc518af36712a65b",
                "0f1a49e065c85131"
            ]
        ]
    },
    {
        "id": "dc518af36712a65b",
        "type": "function",
        "z": "b5496873b6dbd051",
        "g": "804d89690f0e9ea8",
        "name": "",
        "func": "\nlet msg1 = {};\nlet msg2 = {};\nlet msg3 = {};\nlet msg4 = {};\nlet msg5 = {};\nlet msg6 = {};\n\n//node.warn(msg)\n\nmsg1.topic = \"Temperature\"\nmsg1.payload = msg.out.T\n\nmsg2.topic = \"Humidity\"\nmsg2.payload = msg.out.H\n\nmsg3.topic = \"Humidity Soil\"\nmsg3.payload = msg.out.S\n\nmsg4.topic = \"Pressure\"\nmsg4.payload = msg.out.P\n\nmsg5.topic = \"UV\"\nmsg5.payload = msg.out.U\n\nmsg6.topic = \"Not used\"\nmsg6.payload = \"not used\"\n\nnode.send([msg1, msg2, msg3, msg4, msg5, msg6])",
        "outputs": 6,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1000,
        "y": 560,
        "wires": [
            [
                "d7d535de48fe5210"
            ],
            [
                "7f78a64da02931bd"
            ],
            [
                "d414911a116f2d6b"
            ],
            [
                "00e7daeb84cdcd54"
            ],
            [
                "161d0d1c99a37900"
            ],
            [
                "0d839d98a2c0bae4"
            ]
        ],
        "outputLabels": [
            "T",
            "H",
            "S",
            "P",
            "U",
            "not used"
        ]
    },
    {
        "id": "0d839d98a2c0bae4",
        "type": "ui_text",
        "z": "b5496873b6dbd051",
        "g": "804d89690f0e9ea8",
        "group": "f4aa4eb55ad8daa3",
        "order": 14,
        "width": 3,
        "height": 1,
        "name": "not used",
        "label": "{{msg.topiv}}",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "x": 1220,
        "y": 660,
        "wires": []
    },
    {
        "id": "161d0d1c99a37900",
        "type": "ui_text",
        "z": "b5496873b6dbd051",
        "g": "804d89690f0e9ea8",
        "group": "f4aa4eb55ad8daa3",
        "order": 12,
        "width": 3,
        "height": 1,
        "name": "U",
        "label": "{{msg.topic}}",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "x": 1210,
        "y": 620,
        "wires": []
    },
    {
        "id": "00e7daeb84cdcd54",
        "type": "ui_text",
        "z": "b5496873b6dbd051",
        "g": "804d89690f0e9ea8",
        "group": "f4aa4eb55ad8daa3",
        "order": 13,
        "width": 3,
        "height": 1,
        "name": "P",
        "label": "{{msg.topic}}",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "x": 1210,
        "y": 580,
        "wires": []
    },
    {
        "id": "d414911a116f2d6b",
        "type": "ui_text",
        "z": "b5496873b6dbd051",
        "g": "804d89690f0e9ea8",
        "group": "f4aa4eb55ad8daa3",
        "order": 11,
        "width": 3,
        "height": 1,
        "name": "S",
        "label": "{{msg.topic}}",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "x": 1210,
        "y": 540,
        "wires": []
    },
    {
        "id": "7f78a64da02931bd",
        "type": "ui_text",
        "z": "b5496873b6dbd051",
        "g": "804d89690f0e9ea8",
        "group": "f4aa4eb55ad8daa3",
        "order": 10,
        "width": 3,
        "height": 1,
        "name": "H",
        "label": "{{msg.topic}}",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "x": 1210,
        "y": 500,
        "wires": []
    },
    {
        "id": "d7d535de48fe5210",
        "type": "ui_text",
        "z": "b5496873b6dbd051",
        "g": "804d89690f0e9ea8",
        "group": "f4aa4eb55ad8daa3",
        "order": 9,
        "width": 3,
        "height": 1,
        "name": "T",
        "label": "{{msg.topic}}",
        "format": "{{value}}",
        "layout": "col-center",
        "x": 1210,
        "y": 460,
        "wires": []
    },
    {
        "id": "0c3d47a42c39db6a",
        "type": "ui_text",
        "z": "b5496873b6dbd051",
        "g": "804d89690f0e9ea8",
        "group": "f4aa4eb55ad8daa3",
        "order": 8,
        "width": 0,
        "height": 0,
        "name": "parameters",
        "label": "",
        "format": "Parameters",
        "layout": "row-center",
        "className": "",
        "x": 1030,
        "y": 660,
        "wires": []
    },
    {
        "id": "0f1a49e065c85131",
        "type": "debug",
        "z": "b5496873b6dbd051",
        "g": "804d89690f0e9ea8",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 990,
        "y": 480,
        "wires": []
    },
    {
        "id": "1955c29765fcce33",
        "type": "link in",
        "z": "b5496873b6dbd051",
        "g": "1a6949c03c49b5cd",
        "name": "humidity chart",
        "links": [
            "31630cc007d780a1",
            "78be73b4672a3b7e",
            "e8f2206c1bc56303",
            "65e086b4c1435fa8"
        ],
        "x": 855,
        "y": 940,
        "wires": [
            [
                "2a044d4f742c9bcb"
            ]
        ]
    },
    {
        "id": "2cab0df63fc2fdfc",
        "type": "link in",
        "z": "b5496873b6dbd051",
        "g": "1a6949c03c49b5cd",
        "name": "humidity soil chart",
        "links": [
            "2d497c3849bb87d2",
            "4cd85284da2e3125",
            "c48af199d116db02",
            "46c760c9ba47791a"
        ],
        "x": 855,
        "y": 980,
        "wires": [
            [
                "10faa1536cbceb48"
            ]
        ]
    },
    {
        "id": "367278d24e11ef3f",
        "type": "link in",
        "z": "b5496873b6dbd051",
        "g": "1a6949c03c49b5cd",
        "name": "pressure chart",
        "links": [
            "0dcd918905b27379",
            "4064a3b7a9735d01",
            "501d2e060ed615fb",
            "dd0f2e7d06959181"
        ],
        "x": 855,
        "y": 1020,
        "wires": [
            [
                "19e4858c0b5b9bc1"
            ]
        ]
    },
    {
        "id": "240f12fa1e72e39e",
        "type": "link in",
        "z": "b5496873b6dbd051",
        "g": "1a6949c03c49b5cd",
        "name": "uv chart",
        "links": [
            "62ba25b12269b173",
            "80f3a63fd73f4f27",
            "87290e575f7dc351",
            "e96367e09c05b280"
        ],
        "x": 855,
        "y": 1060,
        "wires": [
            [
                "b3a7590d27c41b19"
            ]
        ]
    },
    {
        "id": "b5ceb38da9b4aa19",
        "type": "link in",
        "z": "b5496873b6dbd051",
        "g": "1a6949c03c49b5cd",
        "name": "not used chart",
        "links": [
            "a3e91e3a06dbbb06",
            "a53e54e2dbdbf746",
            "513991b5b628460b"
        ],
        "x": 855,
        "y": 1100,
        "wires": [
            [
                "38d68791565764f4"
            ]
        ]
    },
    {
        "id": "0573b4ce5987c9d8",
        "type": "comment",
        "z": "b5496873b6dbd051",
        "name": "dashboard",
        "info": "",
        "x": 100,
        "y": 20,
        "wires": []
    },
    {
        "id": "829d407cfb9f45a6",
        "type": "change",
        "z": "b5496873b6dbd051",
        "g": "4b1425ccfc62491f",
        "name": "start",
        "rules": [
            {
                "t": "set",
                "p": "colour",
                "pt": "msg",
                "to": "green",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "<i class=\"fa fa-play\" aria-hidden=\"true\"></i> START READING NEW MESSAGE",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 290,
        "y": 60,
        "wires": [
            [
                "ead91ebc34b98f47"
            ]
        ]
    },
    {
        "id": "eda078f9615f6e0d",
        "type": "inject",
        "z": "b5496873b6dbd051",
        "g": "4b1425ccfc62491f",
        "name": "",
        "props": [
            {
                "p": "payload",
                "v": "",
                "vt": "str"
            },
            {
                "p": "topic",
                "v": "",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": "",
        "topic": "",
        "payload": "",
        "payloadType": "str",
        "x": 130,
        "y": 60,
        "wires": [
            [
                "829d407cfb9f45a6"
            ]
        ]
    },
    {
        "id": "7f299b406b0cf16a",
        "type": "function",
        "z": "b5496873b6dbd051",
        "g": "4b1425ccfc62491f",
        "name": "state",
        "func": "var state = context.state || false;\nstate = !state;\ncontext.state = state;\nif (state) { return [msg,null]; }\nelse { return [null,msg]; }\n",
        "outputs": 2,
        "noerr": 0,
        "x": 130,
        "y": 100,
        "wires": [
            [
                "829d407cfb9f45a6"
            ],
            [
                "7a1ef42a989a08eb"
            ]
        ]
    },
    {
        "id": "7a1ef42a989a08eb",
        "type": "change",
        "z": "b5496873b6dbd051",
        "g": "4b1425ccfc62491f",
        "name": "stop",
        "rules": [
            {
                "t": "set",
                "p": "colour",
                "pt": "msg",
                "to": "red",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "<i class=\"fa fa-stop\" aria-hidden=\"true\"></i> STOP",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 290,
        "y": 100,
        "wires": [
            [
                "ead91ebc34b98f47"
            ]
        ]
    },
    {
        "id": "041f27f24519d6ab",
        "type": "function",
        "z": "b5496873b6dbd051",
        "g": "8f32578cd6bcd514",
        "name": "Device Identification",
        "func": "\n/*\n    0: L0\n    1: L1\n    2: L4\n    */\n\n\nvar Devices = [\"AAC44AC5\", \"AAABB14A\", \"AAC44AC6\"]\n\naddr = msg.DevAddr\n\n//node.warn(addr)\n\nswitch(Devices.indexOf(addr))\n{\n    case 0:\n        msg.topic = \"L0 Board\"\n        node.send([msg, null, null, null, null])\n    break;\n    case 1:\n        msg.topic = \"L1 Board\"\n        node.send([null, msg, null, null, null])\n    break;\n    case 2:\n        msg.topic = \"L4 Board\"\n        node.send([null, null, msg, null, null])\n    break;\n    case 3:\n        msg.topic = \"xx Board\"\n        node.send([null, null, null, msg, null])\n    break;\n    case 4:\n        msg.topic = \"xx Board\"\n        node.send([null, null, null, null ,msg])\n    break;\n}",
        "outputs": 3,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 240,
        "y": 940,
        "wires": [
            [
                "080dd872ea6c826b",
                "d4b98cbde0bffa6b"
            ],
            [
                "080dd872ea6c826b",
                "821f8be17770ea09"
            ],
            [
                "080dd872ea6c826b"
            ]
        ]
    },
    {
        "id": "8632bbe692102952",
        "type": "comment",
        "z": "b5496873b6dbd051",
        "g": "8f32578cd6bcd514",
        "name": "L1",
        "info": "",
        "x": 610,
        "y": 940,
        "wires": []
    },
    {
        "id": "b64307c5f98b5843",
        "type": "comment",
        "z": "b5496873b6dbd051",
        "g": "8f32578cd6bcd514",
        "name": "L0",
        "info": "",
        "x": 610,
        "y": 860,
        "wires": []
    },
    {
        "id": "080dd872ea6c826b",
        "type": "link out",
        "z": "b5496873b6dbd051",
        "g": "8f32578cd6bcd514",
        "name": "outs dev information",
        "mode": "link",
        "links": [
            "405f65293650379a",
            "8c00d46c6a6fe480",
            "c3bb830f2fc3798f"
        ],
        "x": 375,
        "y": 1080,
        "wires": []
    },
    {
        "id": "5e37a549565d81ec",
        "type": "link in",
        "z": "b5496873b6dbd051",
        "g": "8f32578cd6bcd514",
        "name": "",
        "links": [
            "cf15cae2f7137bc9"
        ],
        "x": 75,
        "y": 940,
        "wires": [
            [
                "041f27f24519d6ab"
            ]
        ]
    },
    {
        "id": "9642edf4dda95dc7",
        "type": "comment",
        "z": "b5496873b6dbd051",
        "g": "8f32578cd6bcd514",
        "name": "device_hub",
        "info": "",
        "x": 130,
        "y": 820,
        "wires": []
    },
    {
        "id": "821f8be17770ea09",
        "type": "link out",
        "z": "b5496873b6dbd051",
        "g": "8f32578cd6bcd514",
        "name": "device1 information",
        "mode": "link",
        "links": [
            "4de2ce51e2c94dfd",
            "da349aaa47c67a9c"
        ],
        "x": 615,
        "y": 980,
        "wires": []
    },
    {
        "id": "d4b98cbde0bffa6b",
        "type": "link out",
        "z": "b5496873b6dbd051",
        "g": "8f32578cd6bcd514",
        "name": "device0 information",
        "mode": "link",
        "links": [
            "74cb0c6221ecb4b2",
            "8e87e7f15d5fdcf1",
            "e08eb88c2cfcfc02"
        ],
        "x": 615,
        "y": 900,
        "wires": []
    },
    {
        "id": "d0f8cca4ccb30b57",
        "type": "ui_spacer",
        "z": "b5496873b6dbd051",
        "name": "spacer",
        "group": "2c31eca47c87ce80",
        "order": 4,
        "width": 13,
        "height": 1
    },
    {
        "id": "d230bf085d19d06e",
        "type": "ui_group",
        "name": "Buttons",
        "tab": "87a869ccbb64bd1b",
        "order": 2,
        "disp": true,
        "width": "18",
        "collapse": false,
        "className": ""
    },
    {
        "id": "f4aa4eb55ad8daa3",
        "type": "ui_group",
        "name": "New Messages",
        "tab": "87a869ccbb64bd1b",
        "order": 3,
        "disp": true,
        "width": "18",
        "collapse": false,
        "className": ""
    },
    {
        "id": "d0f72a5cd39e81d5",
        "type": "ui_group",
        "name": "H",
        "tab": "11921f4c24e217ce",
        "order": 4,
        "disp": false,
        "width": "18",
        "collapse": false,
        "className": ""
    },
    {
        "id": "14fcfb53ca18d546",
        "type": "ui_group",
        "name": "S",
        "tab": "11921f4c24e217ce",
        "order": 5,
        "disp": false,
        "width": "18",
        "collapse": false,
        "className": ""
    },
    {
        "id": "09ac4e0110da1002",
        "type": "ui_group",
        "name": "P",
        "tab": "11921f4c24e217ce",
        "order": 6,
        "disp": false,
        "width": "18",
        "collapse": false,
        "className": ""
    },
    {
        "id": "fecfb76a97dab80d",
        "type": "ui_group",
        "name": "U",
        "tab": "11921f4c24e217ce",
        "order": 7,
        "disp": false,
        "width": "18",
        "collapse": false,
        "className": ""
    },
    {
        "id": "a163bb3054b0c209",
        "type": "ui_group",
        "name": "NU",
        "tab": "11921f4c24e217ce",
        "order": 8,
        "disp": false,
        "width": "18",
        "collapse": false,
        "className": ""
    },
    {
        "id": "77c3f71732498633",
        "type": "ui_group",
        "name": "T",
        "tab": "11921f4c24e217ce",
        "order": 3,
        "disp": false,
        "width": "18",
        "collapse": false,
        "className": ""
    },
    {
        "id": "baaa3acd396ddb5e",
        "type": "ui_group",
        "name": "Change Tab",
        "tab": "11921f4c24e217ce",
        "order": 1,
        "disp": false,
        "width": "5",
        "collapse": false,
        "className": ""
    },
    {
        "id": "87a869ccbb64bd1b",
        "type": "ui_tab",
        "name": "Home",
        "icon": "fa-desktop",
        "order": 1,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "11921f4c24e217ce",
        "type": "ui_tab",
        "name": "Graphics",
        "icon": "fa-line-chart",
        "order": 3,
        "disabled": false,
        "hidden": false
    }
]