Project/Node-RED/smart-agricolture.json
[
    {
        "id": "78dd068b39233de0",
        "type": "subflow",
        "name": "DevAddr",
        "info": "",
        "category": "",
        "in": [
            {
                "x": 40,
                "y": 80,
                "wires": [
                    {
                        "id": "ee62b13133183903"
                    }
                ]
            }
        ],
        "out": [
            {
                "x": 480,
                "y": 240,
                "wires": [
                    {
                        "id": "b5083db2892fe6f0",
                        "port": 0
                    }
                ]
            }
        ],
        "env": [],
        "meta": {},
        "color": "#DDAA99"
    },
    {
        "id": "ee62b13133183903",
        "type": "function",
        "z": "78dd068b39233de0",
        "name": "Extract DevAddr",
        "func": "\nlet HexString = \"\";\n\n// DevAddr to convert\nDevAddr=msg.payload.buffers.DevAddr // sensor/LoraWAN data payload\n//node.warn(DevAddr)\n\nfor (let i = 0; i < DevAddr.length; i++)\n{\n  hex = DevAddr[i].toString(16).toUpperCase();\n  HexString += hex;\n}\n//node.warn(HexString);\n\n// converted DevAddr\nmsg.payload.DevAddr = HexString;\n  \nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 200,
        "y": 80,
        "wires": [
            [
                "dc8babc020bebce1"
            ]
        ]
    },
    {
        "id": "dc8babc020bebce1",
        "type": "function",
        "z": "78dd068b39233de0",
        "name": "define type of device",
        "func": "\nDeviceAddress = msg.payload.DevAddr\n\nif(DeviceAddress == \"AAABB14A\")\n    msg.device = \"L1 board\"\nelse if(DeviceAddress == \"AAC44AC5\")\n    msg.device = \"L0 board\"\nelse if(DeviceAddress == \"AAC44AC6\")\n    msg.device = \"L4 board\"\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 200,
        "y": 160,
        "wires": [
            [
                "b5083db2892fe6f0"
            ]
        ]
    },
    {
        "id": "b5083db2892fe6f0",
        "type": "change",
        "z": "78dd068b39233de0",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "out",
                "pt": "msg",
                "to": "payload.out",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "DevAddr",
                "pt": "msg",
                "to": "payload.DevAddr",
                "tot": "msg"
            },
            {
                "t": "delete",
                "p": "payload",
                "pt": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 200,
        "y": 240,
        "wires": [
            []
        ]
    },
    {
        "id": "c7539078b7b3625f",
        "type": "subflow",
        "name": "Extract Information from payload",
        "info": "",
        "category": "",
        "in": [
            {
                "x": 40,
                "y": 120,
                "wires": [
                    {
                        "id": "90746576c4ee047f"
                    }
                ]
            }
        ],
        "out": [
            {
                "x": 380,
                "y": 440,
                "wires": [
                    {
                        "id": "f4053f62fd89a3a6",
                        "port": 0
                    }
                ]
            }
        ],
        "env": [],
        "meta": {},
        "color": "#DDAA99"
    },
    {
        "id": "1ebbeda11cd37c7d",
        "type": "function",
        "z": "c7539078b7b3625f",
        "name": "Sensor data hex/string decode",
        "func": "\nbytes=msg.payload.out // sensor/LoraWAN data payload\n//node.warn(bytes)\n\nnewbytes=Buffer.from(bytes, 'hex')\n//node.warn(newbytes.toString()) ///yeah\n\n//decode ...payload\n//https://learn.adafruit.com/using-lorawan-and-the-things-network-with-circuitpython?view=all\n\nmsg.payload.out = newbytes.toString();\n//node.warn(newbytes.toString())\n  \nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 490,
        "y": 300,
        "wires": [
            [
                "f4053f62fd89a3a6"
            ]
        ],
        "info": "This node decode the payload\nfrom HEX to String"
    },
    {
        "id": "9f07b150113fab8b",
        "type": "lorawan-packet-decrypt-nwkey-appkey",
        "z": "c7539078b7b3625f",
        "name": "Decrypt LoRaWAN",
        "nsw": "238792b74801de223b50ddd309b8f139",
        "asw": "744826b8703e23a2e6cb8d79eed484bb",
        "x": 210,
        "y": 300,
        "wires": [
            [
                "1ebbeda11cd37c7d",
                "268d7649d7a9ba8b"
            ]
        ]
    },
    {
        "id": "90746576c4ee047f",
        "type": "function",
        "z": "c7539078b7b3625f",
        "name": "HEX to base64",
        "func": "\nmvk=msg.payload // from the injection\n\nmessage = mvk.split(\" \")[0]\nrssi = mvk.split(\" \")[1]\nsnr = mvk.split(\" \")[2]\n\n//node.warn(message)\n\nvar base64String = Buffer.from(message, 'hex').toString('base64')\n\n//node.warn(base64String)\nmsg.payload=base64String\nmsg.rssi = rssi\nmsg.snr = snr\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 200,
        "y": 120,
        "wires": [
            [
                "68ba56bfb745c746",
                "9f07b150113fab8b"
            ]
        ],
        "info": "This node will convert the message\non base64 format\n\nInput: HEX message\nOutput: Base64 message"
    },
    {
        "id": "68ba56bfb745c746",
        "type": "debug",
        "z": "c7539078b7b3625f",
        "name": "Base64 Message",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 450,
        "y": 120,
        "wires": []
    },
    {
        "id": "268d7649d7a9ba8b",
        "type": "debug",
        "z": "c7539078b7b3625f",
        "name": "Decrypted",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 250,
        "y": 340,
        "wires": []
    },
    {
        "id": "0b6443221f135493",
        "type": "comment",
        "z": "c7539078b7b3625f",
        "name": "Conversion + Extract Packet",
        "info": "",
        "x": 240,
        "y": 80,
        "wires": []
    },
    {
        "id": "a96c6cba892b34a0",
        "type": "comment",
        "z": "c7539078b7b3625f",
        "name": "Decrypt + Sensor Data",
        "info": "",
        "x": 220,
        "y": 260,
        "wires": []
    },
    {
        "id": "f4053f62fd89a3a6",
        "type": "function",
        "z": "c7539078b7b3625f",
        "name": "Extract Information",
        "func": "\ndataArray = []\ndictArray = {}\n\nDevAddr = msg.payload.DevAddr\ntext = msg.payload.out\n//node.warn(text)\n\ntextArray = text.split(\"$\")\ntextArray = textArray.filter(item => item != \"\")\n//node.warn(textArray)\n\nfor(let i = 0; i < textArray.length; i++)\n{\n    dataArray = textArray[i].split(\":\")\n    dictArray[dataArray[0]] = parseFloat(dataArray[1])\n}\n\n//node.warn(dictArray)\n\nmsg.payload.out = dictArray\n\n//node.warn(msg.payload.out.Hum)\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 210,
        "y": 440,
        "wires": [
            []
        ],
        "info": "From the string in Input,\nthis node will convert it on a dict\nwith this format: \n{unit_measure : value}"
    },
    {
        "id": "0c21a10012bbdc1d",
        "type": "subflow",
        "name": "Device 2",
        "info": "",
        "category": "",
        "in": [
            {
                "x": 40,
                "y": 260,
                "wires": [
                    {
                        "id": "85cc532b886215ca"
                    }
                ]
            }
        ],
        "out": [
            {
                "x": 580,
                "y": 120,
                "wires": [
                    {
                        "id": "4ca1286ce384e03d",
                        "port": 0
                    }
                ]
            },
            {
                "x": 580,
                "y": 200,
                "wires": [
                    {
                        "id": "5ff40944983cb1ff",
                        "port": 0
                    }
                ]
            },
            {
                "x": 620,
                "y": 280,
                "wires": [
                    {
                        "id": "6a5bc88c47866be9",
                        "port": 0
                    }
                ]
            },
            {
                "x": 600,
                "y": 360,
                "wires": [
                    {
                        "id": "9a884a03967ceb92",
                        "port": 0
                    }
                ]
            },
            {
                "x": 580,
                "y": 440,
                "wires": [
                    {
                        "id": "db96b55384957800",
                        "port": 0
                    }
                ]
            },
            {
                "x": 680,
                "y": 520,
                "wires": [
                    {
                        "id": "57487a0419d863e3",
                        "port": 0
                    }
                ]
            }
        ],
        "env": [],
        "meta": {},
        "color": "#DDAA99"
    },
    {
        "id": "85cc532b886215ca",
        "type": "function",
        "z": "0c21a10012bbdc1d",
        "name": "Get Values",
        "func": "\nlet msg1 = {};\nlet msg2 = {};\nlet msg3 = {};\nlet msg4 = {};\nlet msg5 = {};\nlet msg6 = {};\n\nvar values = msg.payload.out\n\nnode.warn(values)\n\nvar temp = msg.payload.out.T\nvar hum = msg.payload.out.H\nvar soil = msg.payload.out.S\nvar pressure = msg.payload.out.P\nvar uv = msg.payload.out.U\n\nmsg1.topic = \"Temperature\"\nmsg1.payload = temp\n\nmsg2.topic = \"Humidity\"\nmsg2.payload = hum\n\nmsg3.topic = \"Humidity Soil\"\nmsg3.payload = soil\n\nmsg4.topic = \"Pressure\"\nmsg4.payload = pressure\n\nmsg5.topic = \"UV\"\nmsg5.payload = uv\n\nnode.send([msg1, msg2, msg3, msg4, msg5, null])",
        "outputs": 6,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 190,
        "y": 260,
        "wires": [
            [
                "d7d9f2a4c89cd25b",
                "4ca1286ce384e03d"
            ],
            [
                "dea8b3826f5c1a23",
                "5ff40944983cb1ff"
            ],
            [
                "45d9d8f9fcc2dbbb",
                "6a5bc88c47866be9"
            ],
            [
                "063b5373a082466d",
                "9a884a03967ceb92"
            ],
            [
                "722447c5ec91c3a9",
                "db96b55384957800"
            ],
            [
                "d4c35c54fc94eb94",
                "57487a0419d863e3"
            ]
        ]
    },
    {
        "id": "d7d9f2a4c89cd25b",
        "type": "ui_gauge",
        "z": "0c21a10012bbdc1d",
        "name": "Temp Gauge",
        "group": "0f1e0322509287a2",
        "order": 1,
        "width": 4,
        "height": 4,
        "gtype": "gage",
        "title": "Temp Gauge",
        "label": "°C",
        "format": "{{value}}",
        "min": "-40",
        "max": "+85",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 470,
        "y": 80,
        "wires": []
    },
    {
        "id": "dea8b3826f5c1a23",
        "type": "ui_gauge",
        "z": "0c21a10012bbdc1d",
        "name": "Humidity Gauge",
        "group": "0f1e0322509287a2",
        "order": 2,
        "width": 4,
        "height": 4,
        "gtype": "donut",
        "title": "Humidity Gauge",
        "label": "Percent",
        "format": "{{value}}",
        "min": "0",
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 480,
        "y": 160,
        "wires": []
    },
    {
        "id": "063b5373a082466d",
        "type": "ui_gauge",
        "z": "0c21a10012bbdc1d",
        "name": "Pressure Gauge",
        "group": "0f1e0322509287a2",
        "order": 4,
        "width": 4,
        "height": 4,
        "gtype": "wave",
        "title": "Pressure Gauge",
        "label": "hPa",
        "format": "{{value}}",
        "min": "300",
        "max": "1100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 480,
        "y": 320,
        "wires": []
    },
    {
        "id": "722447c5ec91c3a9",
        "type": "ui_gauge",
        "z": "0c21a10012bbdc1d",
        "name": "UV Gauge",
        "group": "0f1e0322509287a2",
        "order": 3,
        "width": 4,
        "height": 4,
        "gtype": "gage",
        "title": "UV Gauge",
        "label": "nm",
        "format": "{{value}}",
        "min": "0",
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 470,
        "y": 400,
        "wires": []
    },
    {
        "id": "45d9d8f9fcc2dbbb",
        "type": "ui_gauge",
        "z": "0c21a10012bbdc1d",
        "name": "Humidity Soil Gauge",
        "group": "0f1e0322509287a2",
        "order": 5,
        "width": 4,
        "height": 4,
        "gtype": "compass",
        "title": "Humidity Soil Gauge",
        "label": "nm",
        "format": "{{value}}",
        "min": "0",
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 500,
        "y": 240,
        "wires": []
    },
    {
        "id": "4ca1286ce384e03d",
        "type": "function",
        "z": "0c21a10012bbdc1d",
        "name": "Temp",
        "func": "\nmsg.topic = \"Temperature from L1 board\"\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 450,
        "y": 120,
        "wires": [
            []
        ]
    },
    {
        "id": "5ff40944983cb1ff",
        "type": "function",
        "z": "0c21a10012bbdc1d",
        "name": "Hum",
        "func": "\nmsg.topic = \"Humidity from L1 board\"\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 450,
        "y": 200,
        "wires": [
            []
        ]
    },
    {
        "id": "6a5bc88c47866be9",
        "type": "function",
        "z": "0c21a10012bbdc1d",
        "name": "Humidity Soil",
        "func": "\nmsg.topic = \"Humidity Soil from L1 board\"\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 470,
        "y": 280,
        "wires": [
            []
        ]
    },
    {
        "id": "9a884a03967ceb92",
        "type": "function",
        "z": "0c21a10012bbdc1d",
        "name": "Pressure",
        "func": "\nmsg.topic = \"Pressure from L1 board\"\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 460,
        "y": 360,
        "wires": [
            []
        ]
    },
    {
        "id": "db96b55384957800",
        "type": "function",
        "z": "0c21a10012bbdc1d",
        "name": "UV",
        "func": "\nmsg.topic = \"UV from L1 board\"\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 450,
        "y": 440,
        "wires": [
            []
        ]
    },
    {
        "id": "57487a0419d863e3",
        "type": "function",
        "z": "0c21a10012bbdc1d",
        "name": "NEED TO CHANGE",
        "func": "\nmsg.topic = \"NEED TO CHANGE\"\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 500,
        "y": 520,
        "wires": [
            []
        ]
    },
    {
        "id": "d4c35c54fc94eb94",
        "type": "ui_gauge",
        "z": "0c21a10012bbdc1d",
        "name": "UNUSED",
        "group": "0f1e0322509287a2",
        "order": 3,
        "width": 4,
        "height": 4,
        "gtype": "gage",
        "title": "UNUSED",
        "label": "nm",
        "format": "{{value}}",
        "min": "0",
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 460,
        "y": 480,
        "wires": []
    },
    {
        "id": "0f1e0322509287a2",
        "type": "ui_group",
        "z": "0c21a10012bbdc1d",
        "name": "Device 2",
        "tab": "0f6d015170083263",
        "order": 3,
        "disp": true,
        "width": "6",
        "collapse": true
    },
    {
        "id": "fdf72f48ef30792d",
        "type": "subflow",
        "name": "Device 1",
        "info": "",
        "category": "",
        "in": [
            {
                "x": 40,
                "y": 260,
                "wires": [
                    {
                        "id": "d7e28c9baaa36a70"
                    }
                ]
            }
        ],
        "out": [
            {
                "x": 580,
                "y": 120,
                "wires": [
                    {
                        "id": "43dccc01f1805abe",
                        "port": 0
                    }
                ]
            },
            {
                "x": 580,
                "y": 200,
                "wires": [
                    {
                        "id": "573fb1ab9877ce13",
                        "port": 0
                    }
                ]
            },
            {
                "x": 620,
                "y": 280,
                "wires": [
                    {
                        "id": "ffb69643d6cdd84f",
                        "port": 0
                    }
                ]
            },
            {
                "x": 600,
                "y": 360,
                "wires": [
                    {
                        "id": "b827a0a0bfc699b5",
                        "port": 0
                    }
                ]
            },
            {
                "x": 580,
                "y": 440,
                "wires": [
                    {
                        "id": "5c5697e1bb625bfa",
                        "port": 0
                    }
                ]
            },
            {
                "x": 680,
                "y": 520,
                "wires": [
                    {
                        "id": "ee098fc7b813cb63",
                        "port": 0
                    }
                ]
            }
        ],
        "env": [],
        "meta": {},
        "color": "#DDAA99"
    },
    {
        "id": "d7e28c9baaa36a70",
        "type": "function",
        "z": "fdf72f48ef30792d",
        "name": "Get Values",
        "func": "\nlet msg1 = {};\nlet msg2 = {};\nlet msg3 = {};\nlet msg4 = {};\nlet msg5 = {};\nlet msg6 = {};\n\n//var values = msg.payload.out\n\nnode.warn(msg)\n\nvar temp = msg.out.T\nvar hum = msg.out.H\nvar soil = msg.out.S\nvar pressure = msg.out.P\nvar uv = msg.out.U\n\nmsg1.topic = \"Temperature\"\nmsg1.payload = temp\n\nmsg2.topic = \"Humidity\"\nmsg2.payload = hum\n\nmsg3.topic = \"Humidity Soil\"\nmsg3.payload = soil\n\nmsg4.topic = \"Pressure\"\nmsg4.payload = pressure\n\nmsg5.topic = \"UV\"\nmsg5.payload = uv\n\nnode.send([msg1, msg2, msg3, msg4, msg5, null])",
        "outputs": 6,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 190,
        "y": 260,
        "wires": [
            [
                "8d3381acc160c642",
                "43dccc01f1805abe"
            ],
            [
                "41a471670d0a2674",
                "573fb1ab9877ce13"
            ],
            [
                "dc201aac34545d6b",
                "ffb69643d6cdd84f"
            ],
            [
                "b3337f4ef16cf020",
                "b827a0a0bfc699b5"
            ],
            [
                "adf344300633ae83",
                "5c5697e1bb625bfa"
            ],
            [
                "48bb705f3027aa6f",
                "ee098fc7b813cb63"
            ]
        ]
    },
    {
        "id": "8d3381acc160c642",
        "type": "ui_gauge",
        "z": "fdf72f48ef30792d",
        "name": "Temp Gauge",
        "group": "bf70415761306777",
        "order": 1,
        "width": 4,
        "height": 4,
        "gtype": "gage",
        "title": "Temp Gauge",
        "label": "°C",
        "format": "{{value}}",
        "min": "-40",
        "max": "+85",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 470,
        "y": 80,
        "wires": []
    },
    {
        "id": "41a471670d0a2674",
        "type": "ui_gauge",
        "z": "fdf72f48ef30792d",
        "name": "Humidity Gauge",
        "group": "bf70415761306777",
        "order": 2,
        "width": 4,
        "height": 4,
        "gtype": "donut",
        "title": "Humidity Gauge",
        "label": "Percent",
        "format": "{{value}}",
        "min": "0",
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 480,
        "y": 160,
        "wires": []
    },
    {
        "id": "b3337f4ef16cf020",
        "type": "ui_gauge",
        "z": "fdf72f48ef30792d",
        "name": "Pressure Gauge",
        "group": "bf70415761306777",
        "order": 4,
        "width": 4,
        "height": 4,
        "gtype": "wave",
        "title": "Pressure Gauge",
        "label": "hPa",
        "format": "{{value}}",
        "min": "300",
        "max": "1100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 480,
        "y": 320,
        "wires": []
    },
    {
        "id": "adf344300633ae83",
        "type": "ui_gauge",
        "z": "fdf72f48ef30792d",
        "name": "UV Gauge",
        "group": "bf70415761306777",
        "order": 3,
        "width": 4,
        "height": 4,
        "gtype": "gage",
        "title": "UV Gauge",
        "label": "nm",
        "format": "{{value}}",
        "min": "0",
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 470,
        "y": 400,
        "wires": []
    },
    {
        "id": "dc201aac34545d6b",
        "type": "ui_gauge",
        "z": "fdf72f48ef30792d",
        "name": "Humidity Soil Gauge",
        "group": "bf70415761306777",
        "order": 5,
        "width": 4,
        "height": 4,
        "gtype": "compass",
        "title": "Humidity Soil Gauge",
        "label": "nm",
        "format": "{{value}}",
        "min": "0",
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 500,
        "y": 240,
        "wires": []
    },
    {
        "id": "43dccc01f1805abe",
        "type": "function",
        "z": "fdf72f48ef30792d",
        "name": "Temp",
        "func": "\nmsg.topic = \"Temperature from L1 board\"\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 450,
        "y": 120,
        "wires": [
            []
        ]
    },
    {
        "id": "573fb1ab9877ce13",
        "type": "function",
        "z": "fdf72f48ef30792d",
        "name": "Hum",
        "func": "\nmsg.topic = \"Humidity from L1 board\"\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 450,
        "y": 200,
        "wires": [
            []
        ]
    },
    {
        "id": "ffb69643d6cdd84f",
        "type": "function",
        "z": "fdf72f48ef30792d",
        "name": "Humidity Soil",
        "func": "\nmsg.topic = \"Humidity Soil from L1 board\"\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 470,
        "y": 280,
        "wires": [
            []
        ]
    },
    {
        "id": "b827a0a0bfc699b5",
        "type": "function",
        "z": "fdf72f48ef30792d",
        "name": "Pressure",
        "func": "\nmsg.topic = \"Pressure from L1 board\"\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 460,
        "y": 360,
        "wires": [
            []
        ]
    },
    {
        "id": "5c5697e1bb625bfa",
        "type": "function",
        "z": "fdf72f48ef30792d",
        "name": "UV",
        "func": "\nmsg.topic = \"UV from L1 board\"\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 450,
        "y": 440,
        "wires": [
            []
        ]
    },
    {
        "id": "ee098fc7b813cb63",
        "type": "function",
        "z": "fdf72f48ef30792d",
        "name": "NEED TO CHANGE",
        "func": "\nmsg.topic = \"NEED TO CHANGE\"\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 500,
        "y": 520,
        "wires": [
            []
        ]
    },
    {
        "id": "48bb705f3027aa6f",
        "type": "ui_gauge",
        "z": "fdf72f48ef30792d",
        "name": "UNUSED",
        "group": "bf70415761306777",
        "order": 3,
        "width": 4,
        "height": 4,
        "gtype": "gage",
        "title": "UNUSED",
        "label": "nm",
        "format": "{{value}}",
        "min": "0",
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 460,
        "y": 480,
        "wires": []
    },
    {
        "id": "bf70415761306777",
        "type": "ui_group",
        "name": "Device 1",
        "tab": "0f6d015170083263",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": true
    },
    {
        "id": "0f6d015170083263",
        "type": "ui_tab",
        "name": "Devices",
        "icon": "track_changes",
        "order": 3,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "fb93e1410c3b219d",
        "type": "tab",
        "label": "Smart Agricolture",
        "disabled": false,
        "info": "This flow read a a payload in HEX, convert it\nin Base64, and put on output the message in ASCII"
    },
    {
        "id": "0671103152adcc33",
        "type": "group",
        "z": "fb93e1410c3b219d",
        "name": "Charts",
        "style": {
            "label": true
        },
        "nodes": [
            "43356b8faec642c3",
            "34197af87b762a07",
            "a33352ea68960c4d",
            "8e564394ba0a3d0d",
            "4a22e505c259a92c",
            "6fddf02109a6f4d0",
            "6acf407519637211",
            "ee6ffd0860c077c3",
            "cce093d7256aa51d"
        ],
        "x": 754,
        "y": 679,
        "w": 472,
        "h": 342
    },
    {
        "id": "5f6d9725434a408f",
        "type": "group",
        "z": "fb93e1410c3b219d",
        "name": "Pi Script",
        "style": {
            "label": true
        },
        "nodes": [
            "7b76cc623fae5692",
            "e3eef7abf05e9f2e",
            "a6ff29bc676359ba",
            "9d5305c1718324a9",
            "c95a96086982240d"
        ],
        "x": 524,
        "y": 59,
        "w": 502,
        "h": 202
    },
    {
        "id": "640c131938dbb58f",
        "type": "group",
        "z": "fb93e1410c3b219d",
        "name": "Input and Stop",
        "style": {
            "label": true
        },
        "nodes": [
            "b28bb243a7054115",
            "a0e0f067cee91082",
            "b82fdfcce2d26c37",
            "82dcc70435b9f365",
            "ce12063742297cf5"
        ],
        "x": 34,
        "y": 59,
        "w": 462,
        "h": 202
    },
    {
        "id": "c120add7f9a5a585",
        "type": "group",
        "z": "fb93e1410c3b219d",
        "name": "Instant Information",
        "style": {
            "label": true
        },
        "nodes": [
            "22f6731b0e3b761c",
            "733fa0c46b9dc6fa",
            "4f898cdaf06b8b31",
            "61db89b76809b0e5",
            "14257ace74fa3a9b",
            "d195bf0d74604217",
            "db5f0b854a9dd548",
            "769c0ffc6825d420",
            "b39ead4620117f8f",
            "128d63f98b17f025"
        ],
        "x": 34,
        "y": 1159,
        "w": 652,
        "h": 262
    },
    {
        "id": "ec4695c38bb368e6",
        "type": "group",
        "z": "fb93e1410c3b219d",
        "name": "Extrapolation",
        "style": {
            "label": true
        },
        "nodes": [
            "471a181a0f81cf74",
            "b7052d055c177e42",
            "75d9fa640a523918",
            "37ce3c9eeb238fb2",
            "59cad58acff63680",
            "5a5cb90f5d99ca76",
            "5695a73be3b3744c",
            "e3a7ba8bc83e2f8b",
            "c4a1afe18577c407",
            "d1d03f96d855bba6",
            "8e1a46d56059f44d",
            "a4a28f23c6739e5a",
            "d2e4ba1cfcb5de4e",
            "c9dd316d854f7b57",
            "82ca0dede8353e1a",
            "02e79e22031133f9",
            "be25a5659bd520c8",
            "a16655ae8906bf33"
        ],
        "x": 34,
        "y": 279,
        "w": 1252,
        "h": 362
    },
    {
        "id": "7b76cc623fae5692",
        "type": "ui_text",
        "z": "fb93e1410c3b219d",
        "d": true,
        "g": "5f6d9725434a408f",
        "group": "403267448a6f0a1d",
        "order": 3,
        "width": 18,
        "height": 1,
        "name": "",
        "label": "Encrypted Message",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "x": 900,
        "y": 200,
        "wires": []
    },
    {
        "id": "471a181a0f81cf74",
        "type": "ui_text",
        "z": "fb93e1410c3b219d",
        "d": true,
        "g": "ec4695c38bb368e6",
        "group": "f35341f8d369eaea",
        "order": 6,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Original Message",
        "format": "{{msg.payload.out}}",
        "layout": "col-center",
        "x": 630,
        "y": 360,
        "wires": []
    },
    {
        "id": "b7052d055c177e42",
        "type": "ui_text",
        "z": "fb93e1410c3b219d",
        "d": true,
        "g": "ec4695c38bb368e6",
        "group": "403267448a6f0a1d",
        "order": 4,
        "width": 9,
        "height": 1,
        "name": "",
        "label": "DevAddr",
        "format": "{{msg.DevAddr}}",
        "layout": "col-center",
        "x": 600,
        "y": 460,
        "wires": []
    },
    {
        "id": "e3eef7abf05e9f2e",
        "type": "debug",
        "z": "fb93e1410c3b219d",
        "g": "5f6d9725434a408f",
        "name": "HEX Message",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 880,
        "y": 160,
        "wires": []
    },
    {
        "id": "75d9fa640a523918",
        "type": "debug",
        "z": "fb93e1410c3b219d",
        "g": "ec4695c38bb368e6",
        "name": "DevAddr",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "DevAddr",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 600,
        "y": 500,
        "wires": []
    },
    {
        "id": "b28bb243a7054115",
        "type": "inject",
        "z": "fb93e1410c3b219d",
        "g": "640c131938dbb58f",
        "name": "Message Reception",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payloadType": "date",
        "x": 170,
        "y": 100,
        "wires": [
            [
                "ce12063742297cf5"
            ]
        ]
    },
    {
        "id": "a6ff29bc676359ba",
        "type": "exec",
        "z": "fb93e1410c3b219d",
        "g": "5f6d9725434a408f",
        "command": "python3 /home/pi/Desktop/git/smart-agricolture/Project/pHAT/lorapi_rcx.py",
        "addpay": "",
        "append": "",
        "useSpawn": "true",
        "timer": "",
        "winHide": false,
        "oldrc": false,
        "name": "LoraPi Receive Script",
        "x": 660,
        "y": 160,
        "wires": [
            [
                "e3eef7abf05e9f2e",
                "7b76cc623fae5692",
                "9d5305c1718324a9"
            ],
            [],
            []
        ]
    },
    {
        "id": "a0e0f067cee91082",
        "type": "ui_button",
        "z": "fb93e1410c3b219d",
        "g": "640c131938dbb58f",
        "name": "",
        "group": "403267448a6f0a1d",
        "order": 1,
        "width": 9,
        "height": 1,
        "passthru": false,
        "label": "Check New Message",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "",
        "payloadType": "date",
        "topic": "Message",
        "topicType": "msg",
        "x": 180,
        "y": 140,
        "wires": [
            [
                "ce12063742297cf5"
            ]
        ]
    },
    {
        "id": "b82fdfcce2d26c37",
        "type": "ui_button",
        "z": "fb93e1410c3b219d",
        "g": "640c131938dbb58f",
        "name": "Stop Searching New Message",
        "group": "403267448a6f0a1d",
        "order": 2,
        "width": 9,
        "height": 1,
        "passthru": false,
        "label": "Stop Searching New Message",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "",
        "payloadType": "date",
        "topic": "kill",
        "topicType": "msg",
        "x": 210,
        "y": 180,
        "wires": [
            [
                "ce12063742297cf5"
            ]
        ]
    },
    {
        "id": "37ce3c9eeb238fb2",
        "type": "debug",
        "z": "fb93e1410c3b219d",
        "g": "ec4695c38bb368e6",
        "name": "Informations from Sensors",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload.out",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 660,
        "y": 400,
        "wires": []
    },
    {
        "id": "82dcc70435b9f365",
        "type": "inject",
        "z": "fb93e1410c3b219d",
        "g": "640c131938dbb58f",
        "name": "Stop Searching New Message",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "kill",
        "payloadType": "msg",
        "x": 200,
        "y": 220,
        "wires": [
            [
                "ce12063742297cf5"
            ]
        ]
    },
    {
        "id": "3a6fa7ccda1e8eb6",
        "type": "function",
        "z": "fb93e1410c3b219d",
        "name": "Device Identification",
        "func": "\n/*\n    0: L0\n    1: L1\n    2: L4\n    */\n\n\nvar Devices = [\"AAC44AC5\", \"AAABB14A\", \"AAC44AC6\"]\n\naddr = msg.DevAddr\n\n//node.warn(addr)\n\nswitch(Devices.indexOf(addr))\n{\n    case 0:\n        node.send([msg, null, null, null, null])\n    break;\n    case 1:\n        node.send([null, msg, null, null, null])\n    break;\n    case 2:\n        node.send([null, null, msg, null, null])\n    break;\n    case 3:\n        node.send([null, null, null, msg, null])\n    break;\n    case 4:\n        node.send([null, null, null, null ,msg])\n    break;\n}",
        "outputs": 3,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 240,
        "y": 900,
        "wires": [
            [
                "8a64794c1fd26505",
                "33094aa2d8a4d29f"
            ],
            [
                "004744fcfce12039",
                "33094aa2d8a4d29f"
            ],
            [
                "d02fa4d637dcaa9a",
                "33094aa2d8a4d29f"
            ]
        ],
        "outputLabels": [
            "Device 0",
            "Device 1",
            "Device 2"
        ]
    },
    {
        "id": "039eb663a725c55f",
        "type": "debug",
        "z": "fb93e1410c3b219d",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 890,
        "y": 1120,
        "wires": []
    },
    {
        "id": "43356b8faec642c3",
        "type": "ui_chart",
        "z": "fb93e1410c3b219d",
        "g": "0671103152adcc33",
        "name": "",
        "group": "a7f226fd1619405b",
        "order": 1,
        "width": 0,
        "height": 0,
        "label": "Temps",
        "chartType": "line",
        "legend": "true",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "x": 1090,
        "y": 780,
        "wires": [
            []
        ]
    },
    {
        "id": "34197af87b762a07",
        "type": "ui_chart",
        "z": "fb93e1410c3b219d",
        "g": "0671103152adcc33",
        "name": "",
        "group": "54ea73b1524ffbe0",
        "order": 1,
        "width": 0,
        "height": 0,
        "label": "All Humidity",
        "chartType": "line",
        "legend": "true",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "x": 1110,
        "y": 820,
        "wires": [
            []
        ]
    },
    {
        "id": "a33352ea68960c4d",
        "type": "ui_chart",
        "z": "fb93e1410c3b219d",
        "g": "0671103152adcc33",
        "name": "",
        "group": "d893e7411bbbd893",
        "order": 1,
        "width": 0,
        "height": 0,
        "label": "All Humidity Soil",
        "chartType": "line",
        "legend": "true",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "x": 1120,
        "y": 860,
        "wires": [
            []
        ]
    },
    {
        "id": "8e564394ba0a3d0d",
        "type": "ui_chart",
        "z": "fb93e1410c3b219d",
        "g": "0671103152adcc33",
        "name": "",
        "group": "2673be80b49655fa",
        "order": 1,
        "width": 0,
        "height": 0,
        "label": "All Pressure",
        "chartType": "line",
        "legend": "true",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "x": 1110,
        "y": 900,
        "wires": [
            []
        ]
    },
    {
        "id": "4a22e505c259a92c",
        "type": "ui_chart",
        "z": "fb93e1410c3b219d",
        "g": "0671103152adcc33",
        "name": "",
        "group": "7d6882930ee51ba7",
        "order": 1,
        "width": 0,
        "height": 0,
        "label": "UVs",
        "chartType": "line",
        "legend": "true",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "x": 1090,
        "y": 940,
        "wires": [
            []
        ]
    },
    {
        "id": "6fddf02109a6f4d0",
        "type": "ui_chart",
        "z": "fb93e1410c3b219d",
        "g": "0671103152adcc33",
        "name": "",
        "group": "2d070975c59a0a4e",
        "order": 2,
        "width": 0,
        "height": 0,
        "label": "UNUSED",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "x": 1100,
        "y": 980,
        "wires": [
            []
        ]
    },
    {
        "id": "004744fcfce12039",
        "type": "subflow:fdf72f48ef30792d",
        "z": "fb93e1410c3b219d",
        "name": "Device 1",
        "env": [],
        "x": 580,
        "y": 940,
        "wires": [
            [
                "43356b8faec642c3"
            ],
            [
                "34197af87b762a07"
            ],
            [
                "a33352ea68960c4d"
            ],
            [
                "8e564394ba0a3d0d"
            ],
            [
                "4a22e505c259a92c"
            ],
            []
        ],
        "outputLabels": [
            "Temp",
            "Humidty",
            "Humidty Soil",
            "Pressure",
            "UV",
            "UNUSED"
        ]
    },
    {
        "id": "4430452502666b0c",
        "type": "comment",
        "z": "fb93e1410c3b219d",
        "name": "L1",
        "info": "",
        "x": 570,
        "y": 860,
        "wires": []
    },
    {
        "id": "d02fa4d637dcaa9a",
        "type": "subflow:0c21a10012bbdc1d",
        "z": "fb93e1410c3b219d",
        "name": "",
        "env": [],
        "x": 580,
        "y": 1100,
        "wires": [
            [
                "43356b8faec642c3"
            ],
            [
                "34197af87b762a07"
            ],
            [
                "a33352ea68960c4d"
            ],
            [
                "8e564394ba0a3d0d"
            ],
            [
                "4a22e505c259a92c"
            ],
            [
                "6fddf02109a6f4d0"
            ]
        ]
    },
    {
        "id": "60ba5d49fa785a06",
        "type": "comment",
        "z": "fb93e1410c3b219d",
        "name": "L4",
        "info": "",
        "x": 570,
        "y": 1020,
        "wires": []
    },
    {
        "id": "8a64794c1fd26505",
        "type": "subflow:fdf72f48ef30792d",
        "z": "fb93e1410c3b219d",
        "name": "Device 1",
        "env": [],
        "x": 580,
        "y": 780,
        "wires": [
            [
                "43356b8faec642c3"
            ],
            [
                "34197af87b762a07"
            ],
            [
                "a33352ea68960c4d"
            ],
            [
                "8e564394ba0a3d0d"
            ],
            [
                "4a22e505c259a92c"
            ],
            []
        ],
        "outputLabels": [
            "Temp",
            "Humidty",
            "Humidty Soil",
            "Pressure",
            "UV",
            "UNUSED"
        ]
    },
    {
        "id": "af0877f581d0f463",
        "type": "comment",
        "z": "fb93e1410c3b219d",
        "name": "L0",
        "info": "",
        "x": 570,
        "y": 700,
        "wires": []
    },
    {
        "id": "59cad58acff63680",
        "type": "subflow:c7539078b7b3625f",
        "z": "fb93e1410c3b219d",
        "g": "ec4695c38bb368e6",
        "name": "Extract Information from payload",
        "env": [],
        "x": 310,
        "y": 360,
        "wires": [
            [
                "471a181a0f81cf74",
                "37ce3c9eeb238fb2",
                "5695a73be3b3744c",
                "d1d03f96d855bba6"
            ]
        ]
    },
    {
        "id": "5a5cb90f5d99ca76",
        "type": "link in",
        "z": "fb93e1410c3b219d",
        "g": "ec4695c38bb368e6",
        "name": "ext INT",
        "links": [
            "9d5305c1718324a9"
        ],
        "x": 75,
        "y": 360,
        "wires": [
            [
                "59cad58acff63680"
            ]
        ]
    },
    {
        "id": "9d5305c1718324a9",
        "type": "link out",
        "z": "fb93e1410c3b219d",
        "g": "5f6d9725434a408f",
        "name": "Py OUTPUT",
        "links": [
            "5a5cb90f5d99ca76"
        ],
        "x": 695,
        "y": 220,
        "wires": []
    },
    {
        "id": "5695a73be3b3744c",
        "type": "subflow:78dd068b39233de0",
        "z": "fb93e1410c3b219d",
        "g": "ec4695c38bb368e6",
        "name": "",
        "env": [],
        "x": 200,
        "y": 500,
        "wires": [
            [
                "b7052d055c177e42",
                "75d9fa640a523918",
                "e3a7ba8bc83e2f8b",
                "c4a1afe18577c407"
            ]
        ]
    },
    {
        "id": "ce12063742297cf5",
        "type": "link out",
        "z": "fb93e1410c3b219d",
        "g": "640c131938dbb58f",
        "name": "I/O",
        "links": [
            "c95a96086982240d"
        ],
        "x": 455,
        "y": 160,
        "wires": []
    },
    {
        "id": "c95a96086982240d",
        "type": "link in",
        "z": "fb93e1410c3b219d",
        "g": "5f6d9725434a408f",
        "name": "Py INPUT",
        "links": [
            "ce12063742297cf5"
        ],
        "x": 565,
        "y": 100,
        "wires": [
            [
                "a6ff29bc676359ba"
            ]
        ]
    },
    {
        "id": "e3a7ba8bc83e2f8b",
        "type": "link out",
        "z": "fb93e1410c3b219d",
        "g": "ec4695c38bb368e6",
        "name": "devaddr OUT",
        "links": [
            "4eb3f49bb4a32dec"
        ],
        "x": 165,
        "y": 580,
        "wires": []
    },
    {
        "id": "4eb3f49bb4a32dec",
        "type": "link in",
        "z": "fb93e1410c3b219d",
        "name": "dev information INPUT",
        "links": [
            "e3a7ba8bc83e2f8b"
        ],
        "x": 145,
        "y": 820,
        "wires": [
            [
                "3a6fa7ccda1e8eb6"
            ]
        ]
    },
    {
        "id": "6acf407519637211",
        "type": "ui_button",
        "z": "fb93e1410c3b219d",
        "g": "0671103152adcc33",
        "name": "clear all",
        "group": "465a06e9efc956d3",
        "order": 4,
        "width": 2,
        "height": 1,
        "passthru": false,
        "label": "",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "clear_all",
        "payload": "[]",
        "payloadType": "json",
        "topic": "topic",
        "topicType": "msg",
        "x": 840,
        "y": 720,
        "wires": [
            [
                "ee6ffd0860c077c3"
            ]
        ]
    },
    {
        "id": "ee6ffd0860c077c3",
        "type": "link out",
        "z": "fb93e1410c3b219d",
        "g": "0671103152adcc33",
        "name": "clear all",
        "links": [
            "cce093d7256aa51d"
        ],
        "x": 935,
        "y": 720,
        "wires": []
    },
    {
        "id": "cce093d7256aa51d",
        "type": "link in",
        "z": "fb93e1410c3b219d",
        "g": "0671103152adcc33",
        "name": "charts",
        "links": [
            "ee6ffd0860c077c3"
        ],
        "x": 1075,
        "y": 720,
        "wires": [
            [
                "43356b8faec642c3",
                "34197af87b762a07",
                "a33352ea68960c4d",
                "8e564394ba0a3d0d",
                "4a22e505c259a92c",
                "6fddf02109a6f4d0"
            ]
        ]
    },
    {
        "id": "c4a1afe18577c407",
        "type": "ui_text",
        "z": "fb93e1410c3b219d",
        "d": true,
        "g": "ec4695c38bb368e6",
        "group": "403267448a6f0a1d",
        "order": 5,
        "width": 9,
        "height": 1,
        "name": "",
        "label": "Device",
        "format": "{{msg.device}}",
        "layout": "col-center",
        "x": 590,
        "y": 540,
        "wires": []
    },
    {
        "id": "22f6731b0e3b761c",
        "type": "ui_text",
        "z": "fb93e1410c3b219d",
        "g": "c120add7f9a5a585",
        "group": "f35341f8d369eaea",
        "order": 1,
        "width": 4,
        "height": 1,
        "name": "",
        "label": "DevAddr",
        "format": "{{msg.DevAddr}}",
        "layout": "col-center",
        "x": 600,
        "y": 1280,
        "wires": []
    },
    {
        "id": "733fa0c46b9dc6fa",
        "type": "ui_text",
        "z": "fb93e1410c3b219d",
        "g": "c120add7f9a5a585",
        "group": "f35341f8d369eaea",
        "order": 2,
        "width": 5,
        "height": 1,
        "name": "",
        "label": "Device",
        "format": "{{msg.device}}",
        "layout": "col-center",
        "x": 590,
        "y": 1320,
        "wires": []
    },
    {
        "id": "4f898cdaf06b8b31",
        "type": "ui_text",
        "z": "fb93e1410c3b219d",
        "g": "c120add7f9a5a585",
        "group": "f35341f8d369eaea",
        "order": 3,
        "width": 3,
        "height": 1,
        "name": "",
        "label": "RSSI",
        "format": "{{rssi}}",
        "layout": "col-center",
        "x": 590,
        "y": 1200,
        "wires": []
    },
    {
        "id": "61db89b76809b0e5",
        "type": "ui_text",
        "z": "fb93e1410c3b219d",
        "g": "c120add7f9a5a585",
        "group": "f35341f8d369eaea",
        "order": 4,
        "width": 3,
        "height": 1,
        "name": "",
        "label": "SNR",
        "format": "{{msg.snr}}",
        "layout": "col-center",
        "x": 590,
        "y": 1240,
        "wires": []
    },
    {
        "id": "14257ace74fa3a9b",
        "type": "function",
        "z": "fb93e1410c3b219d",
        "g": "c120add7f9a5a585",
        "name": "RSSI",
        "func": "\nlet msg1 = {}\n\nmsg1.rssi = msg.rssi\nmsg1.snr = msg.snr\nmsg1.DevAddr = msg.DevAddr\nmsg1.device = msg.device\n\n//node.warn(msg)\n\nrssi = msg1.rssi\n\nif(rssi <= 0 && rssi > -30)\n    msg1.intensity = \"strong\"\nelse if(rssi <= -30 && rssi > -60)\n    msg1.intensity = \"good\"\nelse if(rssi <= -60 && rssi > -90)\n    msg1.intensity = \"enough\"\nelse\n    msg1.intensity = \"weak\"\n\n//node.warn(msg1)\n//  msg1 = {ui_control:{icon:\"signal_wifi_3_bar\"}}\n\nreturn msg1;\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 170,
        "y": 1280,
        "wires": [
            [
                "b39ead4620117f8f",
                "db5f0b854a9dd548"
            ]
        ]
    },
    {
        "id": "d195bf0d74604217",
        "type": "ui_text",
        "z": "fb93e1410c3b219d",
        "g": "c120add7f9a5a585",
        "group": "f35341f8d369eaea",
        "order": 5,
        "width": 3,
        "height": 1,
        "name": "Intensity",
        "label": "Intensity",
        "format": "{{msg.intensity}}",
        "layout": "col-center",
        "x": 600,
        "y": 1360,
        "wires": []
    },
    {
        "id": "db5f0b854a9dd548",
        "type": "debug",
        "z": "fb93e1410c3b219d",
        "g": "c120add7f9a5a585",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 250,
        "y": 1380,
        "wires": []
    },
    {
        "id": "769c0ffc6825d420",
        "type": "link in",
        "z": "fb93e1410c3b219d",
        "g": "c120add7f9a5a585",
        "name": "instant infos",
        "links": [
            "33094aa2d8a4d29f"
        ],
        "x": 75,
        "y": 1280,
        "wires": [
            [
                "14257ace74fa3a9b"
            ]
        ]
    },
    {
        "id": "33094aa2d8a4d29f",
        "type": "link out",
        "z": "fb93e1410c3b219d",
        "name": "dev information OUTPUT",
        "links": [
            "769c0ffc6825d420",
            "ff21af2fbb8eaae1"
        ],
        "x": 185,
        "y": 980,
        "wires": []
    },
    {
        "id": "52e357fa2672499c",
        "type": "debug",
        "z": "fb93e1410c3b219d",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 340,
        "y": 1020,
        "wires": []
    },
    {
        "id": "ff21af2fbb8eaae1",
        "type": "link in",
        "z": "fb93e1410c3b219d",
        "name": "",
        "links": [
            "33094aa2d8a4d29f"
        ],
        "x": 235,
        "y": 1020,
        "wires": [
            [
                "52e357fa2672499c"
            ]
        ]
    },
    {
        "id": "b39ead4620117f8f",
        "type": "link out",
        "z": "fb93e1410c3b219d",
        "g": "c120add7f9a5a585",
        "name": "",
        "links": [
            "128d63f98b17f025"
        ],
        "x": 295,
        "y": 1280,
        "wires": []
    },
    {
        "id": "128d63f98b17f025",
        "type": "link in",
        "z": "fb93e1410c3b219d",
        "g": "c120add7f9a5a585",
        "name": "",
        "links": [
            "b39ead4620117f8f"
        ],
        "x": 455,
        "y": 1280,
        "wires": [
            [
                "4f898cdaf06b8b31",
                "61db89b76809b0e5",
                "22f6731b0e3b761c",
                "733fa0c46b9dc6fa",
                "d195bf0d74604217"
            ]
        ]
    },
    {
        "id": "d1d03f96d855bba6",
        "type": "change",
        "z": "fb93e1410c3b219d",
        "g": "ec4695c38bb368e6",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "out",
                "pt": "msg",
                "to": "payload.out",
                "tot": "msg"
            },
            {
                "t": "delete",
                "p": "payload",
                "pt": "msg"
            },
            {
                "t": "delete",
                "p": "rssi",
                "pt": "msg"
            },
            {
                "t": "delete",
                "p": "snr",
                "pt": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 640,
        "y": 320,
        "wires": [
            [
                "8e1a46d56059f44d"
            ]
        ]
    },
    {
        "id": "8e1a46d56059f44d",
        "type": "function",
        "z": "fb93e1410c3b219d",
        "g": "ec4695c38bb368e6",
        "name": "",
        "func": "\nlet msg1 = {};\nlet msg2 = {};\nlet msg3 = {};\nlet msg4 = {};\nlet msg5 = {};\nlet msg6 = {};\n\nnode.warn(msg)\n\nmsg1.topic = \"temperature\"\nmsg1.payload = msg.out.T\n\nmsg2.topic = \"humidity\"\nmsg2.payload = msg.out.H\n\nmsg3.topic = \"Humidity Soil\"\nmsg3.payload = msg.out.S\n\nmsg4.topic = \"Pressure\"\nmsg4.payload = msg.out.P\n\nmsg5.topic = \"UV\"\nmsg5.payload = msg.out.U\n\nmsg6.topic = \"not used\"\nmsg6.payload = \"not used\"\n\nnode.send([msg1, msg2, msg3, msg4, msg5, msg6])",
        "outputs": 6,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1000,
        "y": 420,
        "wires": [
            [
                "be25a5659bd520c8"
            ],
            [
                "02e79e22031133f9"
            ],
            [
                "82ca0dede8353e1a"
            ],
            [
                "c9dd316d854f7b57"
            ],
            [
                "d2e4ba1cfcb5de4e"
            ],
            [
                "a4a28f23c6739e5a"
            ]
        ],
        "outputLabels": [
            "T",
            "H",
            "S",
            "P",
            "U",
            "not used"
        ]
    },
    {
        "id": "be25a5659bd520c8",
        "type": "ui_text",
        "z": "fb93e1410c3b219d",
        "g": "ec4695c38bb368e6",
        "group": "f35341f8d369eaea",
        "order": 8,
        "width": 3,
        "height": 1,
        "name": "T",
        "label": "{{msg.topic}}",
        "format": "{{value}}",
        "layout": "col-center",
        "x": 1190,
        "y": 320,
        "wires": []
    },
    {
        "id": "02e79e22031133f9",
        "type": "ui_text",
        "z": "fb93e1410c3b219d",
        "g": "ec4695c38bb368e6",
        "group": "f35341f8d369eaea",
        "order": 9,
        "width": 3,
        "height": 1,
        "name": "H",
        "label": "{{msg.topic}}",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "x": 1190,
        "y": 360,
        "wires": []
    },
    {
        "id": "82ca0dede8353e1a",
        "type": "ui_text",
        "z": "fb93e1410c3b219d",
        "g": "ec4695c38bb368e6",
        "group": "f35341f8d369eaea",
        "order": 10,
        "width": 3,
        "height": 1,
        "name": "S",
        "label": "{{msg.topic}}",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "x": 1190,
        "y": 400,
        "wires": []
    },
    {
        "id": "c9dd316d854f7b57",
        "type": "ui_text",
        "z": "fb93e1410c3b219d",
        "g": "ec4695c38bb368e6",
        "group": "f35341f8d369eaea",
        "order": 12,
        "width": 3,
        "height": 1,
        "name": "P",
        "label": "{{msg.topic}}",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "x": 1190,
        "y": 440,
        "wires": []
    },
    {
        "id": "d2e4ba1cfcb5de4e",
        "type": "ui_text",
        "z": "fb93e1410c3b219d",
        "g": "ec4695c38bb368e6",
        "group": "f35341f8d369eaea",
        "order": 11,
        "width": 3,
        "height": 1,
        "name": "U",
        "label": "{{msg.topic}}",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "x": 1190,
        "y": 480,
        "wires": []
    },
    {
        "id": "a4a28f23c6739e5a",
        "type": "ui_text",
        "z": "fb93e1410c3b219d",
        "g": "ec4695c38bb368e6",
        "group": "f35341f8d369eaea",
        "order": 13,
        "width": 3,
        "height": 1,
        "name": "not used",
        "label": "{{msg.topiv}}",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "x": 1200,
        "y": 520,
        "wires": []
    },
    {
        "id": "a16655ae8906bf33",
        "type": "ui_text",
        "z": "fb93e1410c3b219d",
        "g": "ec4695c38bb368e6",
        "group": "f35341f8d369eaea",
        "order": 7,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "",
        "format": "Parameters",
        "layout": "row-center",
        "x": 1180,
        "y": 600,
        "wires": []
    },
    {
        "id": "cdeae21b6b1463d5",
        "type": "ui_spacer",
        "z": "fb93e1410c3b219d",
        "name": "spacer",
        "group": "0526784ef6b33bb4",
        "order": 2,
        "width": 2,
        "height": 1
    },
    {
        "id": "2417dbf868b26a8a",
        "type": "ui_spacer",
        "z": "fb93e1410c3b219d",
        "name": "spacer",
        "group": "0526784ef6b33bb4",
        "order": 3,
        "width": 2,
        "height": 1
    },
    {
        "id": "0c03ea0544054d85",
        "type": "ui_spacer",
        "z": "fb93e1410c3b219d",
        "name": "spacer",
        "group": "0526784ef6b33bb4",
        "order": 4,
        "width": 2,
        "height": 1
    },
    {
        "id": "c199c88cdcfec336",
        "type": "ui_spacer",
        "z": "fb93e1410c3b219d",
        "name": "spacer",
        "group": "0526784ef6b33bb4",
        "order": 5,
        "width": 2,
        "height": 1
    },
    {
        "id": "6f0eadbec5747c60",
        "type": "ui_spacer",
        "z": "fb93e1410c3b219d",
        "name": "spacer",
        "group": "0526784ef6b33bb4",
        "order": 7,
        "width": 2,
        "height": 1
    },
    {
        "id": "dd4adac0ab141a1a",
        "type": "ui_spacer",
        "z": "fb93e1410c3b219d",
        "name": "spacer",
        "group": "0526784ef6b33bb4",
        "order": 8,
        "width": 2,
        "height": 1
    },
    {
        "id": "99f417be4f3b81a5",
        "type": "ui_spacer",
        "z": "fb93e1410c3b219d",
        "name": "spacer",
        "group": "0526784ef6b33bb4",
        "order": 9,
        "width": 2,
        "height": 1
    },
    {
        "id": "5625ba85a5ecc9fe",
        "type": "ui_spacer",
        "z": "fb93e1410c3b219d",
        "name": "spacer",
        "group": "0526784ef6b33bb4",
        "order": 10,
        "width": 2,
        "height": 1
    },
    {
        "id": "35f87655e27afd58",
        "type": "ui_spacer",
        "z": "fb93e1410c3b219d",
        "name": "spacer",
        "group": "0526784ef6b33bb4",
        "order": 12,
        "width": 2,
        "height": 1
    },
    {
        "id": "e2d57271ed23ef65",
        "type": "ui_spacer",
        "z": "fb93e1410c3b219d",
        "name": "spacer",
        "group": "0526784ef6b33bb4",
        "order": 13,
        "width": 2,
        "height": 1
    },
    {
        "id": "2f2914ae4e5e4f2a",
        "type": "ui_spacer",
        "z": "fb93e1410c3b219d",
        "name": "spacer",
        "group": "0526784ef6b33bb4",
        "order": 14,
        "width": 2,
        "height": 1
    },
    {
        "id": "c394257615ec44f5",
        "type": "ui_spacer",
        "z": "fb93e1410c3b219d",
        "name": "spacer",
        "group": "0526784ef6b33bb4",
        "order": 15,
        "width": 2,
        "height": 1
    },
    {
        "id": "3d7524da0451c217",
        "type": "ui_spacer",
        "z": "fb93e1410c3b219d",
        "name": "spacer",
        "group": "0526784ef6b33bb4",
        "order": 17,
        "width": 2,
        "height": 1
    },
    {
        "id": "8779cff2fa68b275",
        "type": "ui_spacer",
        "z": "fb93e1410c3b219d",
        "name": "spacer",
        "group": "0526784ef6b33bb4",
        "order": 18,
        "width": 2,
        "height": 1
    },
    {
        "id": "fa649400918bca4f",
        "type": "ui_spacer",
        "z": "fb93e1410c3b219d",
        "name": "spacer",
        "group": "0526784ef6b33bb4",
        "order": 19,
        "width": 2,
        "height": 1
    },
    {
        "id": "7a5dc4beed660dab",
        "type": "ui_spacer",
        "z": "fb93e1410c3b219d",
        "name": "spacer",
        "group": "0526784ef6b33bb4",
        "order": 20,
        "width": 2,
        "height": 1
    },
    {
        "id": "0733b6c8e49cb80e",
        "type": "ui_spacer",
        "z": "fb93e1410c3b219d",
        "name": "spacer",
        "group": "0526784ef6b33bb4",
        "order": 21,
        "width": 6,
        "height": 1
    },
    {
        "id": "1c308da06a6efec9",
        "type": "ui_spacer",
        "z": "fb93e1410c3b219d",
        "name": "spacer",
        "group": "0526784ef6b33bb4",
        "order": 22,
        "width": 6,
        "height": 1
    },
    {
        "id": "ddf22c7f14e5ae7f",
        "type": "ui_spacer",
        "z": "fb93e1410c3b219d",
        "name": "spacer",
        "group": "0526784ef6b33bb4",
        "order": 24,
        "width": 2,
        "height": 1
    },
    {
        "id": "689e0b86d9604576",
        "type": "ui_spacer",
        "z": "fb93e1410c3b219d",
        "name": "spacer",
        "group": "0526784ef6b33bb4",
        "order": 25,
        "width": 2,
        "height": 1
    },
    {
        "id": "cf3d0acd64488329",
        "type": "ui_spacer",
        "z": "fb93e1410c3b219d",
        "name": "spacer",
        "group": "0526784ef6b33bb4",
        "order": 26,
        "width": 2,
        "height": 1
    },
    {
        "id": "d48228d647d3f20d",
        "type": "ui_spacer",
        "z": "fb93e1410c3b219d",
        "name": "spacer",
        "group": "0526784ef6b33bb4",
        "order": 27,
        "width": 2,
        "height": 1
    },
    {
        "id": "e63fd80827aa0559",
        "type": "ui_spacer",
        "z": "fb93e1410c3b219d",
        "name": "spacer",
        "group": "2d070975c59a0a4e",
        "order": 1,
        "width": 18,
        "height": 1
    },
    {
        "id": "403267448a6f0a1d",
        "type": "ui_group",
        "name": "Buttons",
        "tab": "87a869ccbb64bd1b",
        "order": 2,
        "disp": true,
        "width": "18",
        "collapse": false
    },
    {
        "id": "f35341f8d369eaea",
        "type": "ui_group",
        "name": "New Messages",
        "tab": "87a869ccbb64bd1b",
        "order": 3,
        "disp": true,
        "width": "18",
        "collapse": false
    },
    {
        "id": "a7f226fd1619405b",
        "type": "ui_group",
        "name": "T",
        "tab": "5df9bf985de35fbb",
        "order": 2,
        "disp": true,
        "width": "18",
        "collapse": true
    },
    {
        "id": "54ea73b1524ffbe0",
        "type": "ui_group",
        "name": "H",
        "tab": "5df9bf985de35fbb",
        "order": 3,
        "disp": true,
        "width": "18",
        "collapse": true
    },
    {
        "id": "d893e7411bbbd893",
        "type": "ui_group",
        "name": "S",
        "tab": "5df9bf985de35fbb",
        "order": 4,
        "disp": true,
        "width": "18",
        "collapse": true
    },
    {
        "id": "2673be80b49655fa",
        "type": "ui_group",
        "name": "P",
        "tab": "5df9bf985de35fbb",
        "order": 5,
        "disp": true,
        "width": "18",
        "collapse": true
    },
    {
        "id": "7d6882930ee51ba7",
        "type": "ui_group",
        "name": "U",
        "tab": "5df9bf985de35fbb",
        "order": 6,
        "disp": true,
        "width": "18",
        "collapse": true
    },
    {
        "id": "2d070975c59a0a4e",
        "type": "ui_group",
        "name": "UNUSED",
        "tab": "",
        "order": 7,
        "disp": true,
        "width": "18",
        "collapse": true
    },
    {
        "id": "465a06e9efc956d3",
        "type": "ui_group",
        "name": "Buttons",
        "tab": "5df9bf985de35fbb",
        "order": 1,
        "disp": false,
        "width": "6",
        "collapse": false
    },
    {
        "id": "87a869ccbb64bd1b",
        "type": "ui_tab",
        "name": "Home",
        "icon": "dashboard",
        "order": 1,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "5df9bf985de35fbb",
        "type": "ui_tab",
        "name": "Graphics",
        "icon": "timeline",
        "order": 3,
        "disabled": false,
        "hidden": false
    }
]