Project/Node-RED/smart-agricolture.json
[
    {
        "id": "6c4ef7206a54756d",
        "type": "subflow",
        "name": "STM32 L4",
        "info": "",
        "category": "",
        "in": [
            {
                "x": 40,
                "y": 280,
                "wires": [
                    {
                        "id": "c97d6785e5bdaf93"
                    }
                ]
            }
        ],
        "out": [],
        "env": [],
        "meta": {},
        "color": "#DDAA99"
    },
    {
        "id": "c97d6785e5bdaf93",
        "type": "function",
        "z": "6c4ef7206a54756d",
        "name": "Get Values",
        "func": "\nlet msg1 = {};\nlet msg2 = {};\nlet msg3 = {};\nlet msg4 = {};\nlet msg5 = {};\nlet msg6 = {};\n\nvar values = msg.payload.out\n\nnode.warn(values)\n\nvar temp = msg.payload.out.T\nvar hum = msg.payload.out.H\nvar soil = msg.payload.out.S\nvar pressure = msg.payload.out.P\nvar uv = msg.payload.out.U\n\nmsg1.topic = \"Temperature\"\nmsg1.payload = temp\n\nmsg2.topic = \"Humidity\"\nmsg2.payload = hum\n\nmsg3.topic = \"Humidity Soil\"\nmsg3.payload = soil\n\nmsg4.topic = \"Pressure\"\nmsg4.payload = pressure\n\nmsg5.topic = \"UV\"\nmsg5.payload = uv\n\nnode.send([msg1, msg2, msg3, msg4, msg5])",
        "outputs": 5,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 190,
        "y": 280,
        "wires": [
            [
                "2a47f29e59ce520f"
            ],
            [
                "6bc4b6a7a4f14d66"
            ],
            [
                "2dab14ac0fd0b471"
            ],
            [
                "978308b11282b63f"
            ],
            [
                "39225f7b3872b202"
            ]
        ]
    },
    {
        "id": "2a47f29e59ce520f",
        "type": "ui_gauge",
        "z": "6c4ef7206a54756d",
        "name": "Temp Gauge",
        "group": "085614973771c19a",
        "order": 2,
        "width": 4,
        "height": 4,
        "gtype": "gage",
        "title": "Temp Gauge",
        "label": "°C",
        "format": "{{value}}",
        "min": "-40",
        "max": "+85",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 570,
        "y": 80,
        "wires": []
    },
    {
        "id": "978308b11282b63f",
        "type": "ui_gauge",
        "z": "6c4ef7206a54756d",
        "name": "Pressure Gauge",
        "group": "085614973771c19a",
        "order": 3,
        "width": 4,
        "height": 4,
        "gtype": "gage",
        "title": "Pressure Gauge",
        "label": "hPa",
        "format": "{{value}}",
        "min": "300",
        "max": "1100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 520,
        "y": 360,
        "wires": []
    },
    {
        "id": "39225f7b3872b202",
        "type": "ui_gauge",
        "z": "6c4ef7206a54756d",
        "name": "UV Gauge",
        "group": "085614973771c19a",
        "order": 5,
        "width": 4,
        "height": 4,
        "gtype": "gage",
        "title": "UV Gauge",
        "label": "nm",
        "format": "{{value}}",
        "min": "0",
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 510,
        "y": 400,
        "wires": []
    },
    {
        "id": "2dab14ac0fd0b471",
        "type": "ui_gauge",
        "z": "6c4ef7206a54756d",
        "name": "Humidity Soil Gauge",
        "group": "085614973771c19a",
        "order": 3,
        "width": 4,
        "height": 4,
        "gtype": "gage",
        "title": "Humidity Soil Gauge",
        "label": "nm",
        "format": "{{value}}",
        "min": "0",
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 540,
        "y": 320,
        "wires": []
    },
    {
        "id": "6bc4b6a7a4f14d66",
        "type": "ui_gauge",
        "z": "6c4ef7206a54756d",
        "name": "Humidity Gauge",
        "group": "085614973771c19a",
        "order": 1,
        "width": 4,
        "height": 4,
        "gtype": "gage",
        "title": "Humidity Gauge",
        "label": "Percent",
        "format": "{{value}}",
        "min": "0",
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 620,
        "y": 220,
        "wires": []
    },
    {
        "id": "085614973771c19a",
        "type": "ui_group",
        "z": "6c4ef7206a54756d",
        "name": "L4",
        "tab": "0f6d015170083263",
        "order": 2,
        "disp": true,
        "width": "4",
        "collapse": true
    },
    {
        "id": "4a812b20531a1393",
        "type": "subflow",
        "name": "STM32 L0",
        "info": "",
        "category": "",
        "in": [
            {
                "x": 40,
                "y": 80,
                "wires": [
                    {
                        "id": "56b11f59f5b35828"
                    }
                ]
            }
        ],
        "out": [],
        "env": [],
        "meta": {},
        "color": "#DDAA99"
    },
    {
        "id": "56b11f59f5b35828",
        "type": "function",
        "z": "4a812b20531a1393",
        "name": "Get Values",
        "func": "\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 190,
        "y": 80,
        "wires": [
            [
                "b9b4e6fe3cfc52cb"
            ]
        ]
    },
    {
        "id": "b9b4e6fe3cfc52cb",
        "type": "ui_gauge",
        "z": "4a812b20531a1393",
        "name": "Temp Gauge",
        "group": "043bca539eee9986",
        "order": 4,
        "width": 4,
        "height": 4,
        "gtype": "gage",
        "title": "Temp Gauge",
        "label": "°C",
        "format": "{{msg.payload.out.T}}",
        "min": "-40",
        "max": "+85",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 420,
        "y": 80,
        "wires": []
    },
    {
        "id": "043bca539eee9986",
        "type": "ui_group",
        "z": "4a812b20531a1393",
        "name": "L0",
        "tab": "0f6d015170083263",
        "order": 3,
        "disp": true,
        "width": "4",
        "collapse": true
    },
    {
        "id": "53e10ede6ba0e308",
        "type": "subflow",
        "name": "STM32 L1",
        "info": "",
        "category": "",
        "in": [
            {
                "x": 60,
                "y": 80,
                "wires": [
                    {
                        "id": "5b6558019bba99af"
                    }
                ]
            }
        ],
        "out": [],
        "env": [],
        "meta": {},
        "color": "#DDAA99"
    },
    {
        "id": "5b6558019bba99af",
        "type": "function",
        "z": "53e10ede6ba0e308",
        "name": "Get Values",
        "func": "\nlet msg1 = {};\nlet msg2 = {};\nlet msg3 = {};\nlet msg4 = {};\nlet msg5 = {};\nlet msg6 = {};\n\nvar values = msg.payload.out\n\nnode.warn(values)\n\nvar temp = msg.payload.out.T\nvar hum = msg.payload.out.H\nvar soil = msg.payload.out.S\nvar pressure = msg.payload.out.P\nvar uv = msg.payload.out.U\n\nmsg1.topic = \"Temperature\"\nmsg1.payload = temp\n\nmsg2.topic = \"Humidity\"\nmsg2.payload = hum\n\nmsg3.topic = \"Humidity Soil\"\nmsg3.payload = soil\n\nmsg4.topic = \"Pressure\"\nmsg4.payload = pressure\n\nmsg5.topic = \"UV\"\nmsg5.payload = uv\n\nnode.send([msg1, msg2, msg3, msg4, msg5])",
        "outputs": 5,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 190,
        "y": 260,
        "wires": [
            [
                "b6c82790ba9b608b"
            ],
            [
                "7dd4d64b0d850396"
            ],
            [
                "71f6996b68a4bf63"
            ],
            [
                "159f1bdf67ec4372"
            ],
            [
                "22034ecfaf5e3a1f"
            ]
        ]
    },
    {
        "id": "b6c82790ba9b608b",
        "type": "ui_gauge",
        "z": "53e10ede6ba0e308",
        "name": "Temp Gauge",
        "group": "34ed68ac3c83ff92",
        "order": 1,
        "width": 4,
        "height": 4,
        "gtype": "gage",
        "title": "Temp Gauge",
        "label": "°C",
        "format": "{{value}}",
        "min": "-40",
        "max": "+85",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 570,
        "y": 60,
        "wires": []
    },
    {
        "id": "7dd4d64b0d850396",
        "type": "ui_gauge",
        "z": "53e10ede6ba0e308",
        "name": "Humidity Gauge",
        "group": "34ed68ac3c83ff92",
        "order": 2,
        "width": 4,
        "height": 4,
        "gtype": "gage",
        "title": "Humidity Gauge",
        "label": "Percent",
        "format": "{{value}}",
        "min": "0",
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 620,
        "y": 200,
        "wires": []
    },
    {
        "id": "159f1bdf67ec4372",
        "type": "ui_gauge",
        "z": "53e10ede6ba0e308",
        "name": "Pressure Gauge",
        "group": "34ed68ac3c83ff92",
        "order": 4,
        "width": 4,
        "height": 4,
        "gtype": "gage",
        "title": "Pressure Gauge",
        "label": "hPa",
        "format": "{{value}}",
        "min": "300",
        "max": "1100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 520,
        "y": 340,
        "wires": []
    },
    {
        "id": "22034ecfaf5e3a1f",
        "type": "ui_gauge",
        "z": "53e10ede6ba0e308",
        "name": "UV Gauge",
        "group": "34ed68ac3c83ff92",
        "order": 3,
        "width": 4,
        "height": 4,
        "gtype": "gage",
        "title": "UV Gauge",
        "label": "nm",
        "format": "{{value}}",
        "min": "0",
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 510,
        "y": 380,
        "wires": []
    },
    {
        "id": "71f6996b68a4bf63",
        "type": "ui_gauge",
        "z": "53e10ede6ba0e308",
        "name": "Humidity Soil Gauge",
        "group": "34ed68ac3c83ff92",
        "order": 5,
        "width": 4,
        "height": 4,
        "gtype": "gage",
        "title": "Humidity Soil Gauge",
        "label": "nm",
        "format": "{{value}}",
        "min": "0",
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 540,
        "y": 300,
        "wires": []
    },
    {
        "id": "34ed68ac3c83ff92",
        "type": "ui_group",
        "z": "53e10ede6ba0e308",
        "name": "L1",
        "tab": "0f6d015170083263",
        "order": 1,
        "disp": true,
        "width": "4",
        "collapse": true
    },
    {
        "id": "0f6d015170083263",
        "type": "ui_tab",
        "name": "Devices",
        "icon": "dashboard",
        "order": 5,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "fb93e1410c3b219d",
        "type": "tab",
        "label": "Smart Agricolture",
        "disabled": false,
        "info": "This flow read a a payload in HEX, convert it\nin Base64, and put on output the message in ASCII"
    },
    {
        "id": "2289a92f4dc58bfa",
        "type": "function",
        "z": "fb93e1410c3b219d",
        "d": true,
        "name": "Extract Packet",
        "func": "devid=\"12345678901 \"\n\n// the lora lora-packet-converter package expect device id (12) as a string before the Lora wan Packet\nmvk=msg.payload // from the injection \n\n//node.warn(mvk)\n\nmsg.payload=mvk\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 120,
        "y": 660,
        "wires": [
            [
                "1db216d42dce6831",
                "9f07b150113fab8b"
            ]
        ]
    },
    {
        "id": "1ebbeda11cd37c7d",
        "type": "function",
        "z": "fb93e1410c3b219d",
        "name": "Sensor data hex/string decode",
        "func": "\nbytes=msg.payload.out // sensor/LoraWAN data payload\n//node.warn(bytes)\n\nnewbytes=Buffer.from(bytes, 'hex')\n//node.warn(newbytes.toString()) ///yeah\n\n//decode ...payload\n//https://learn.adafruit.com/using-lorawan-and-the-things-network-with-circuitpython?view=all\n\nmsg.payload.out = newbytes.toString();\n//node.warn(newbytes.toString())\n  \nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 410,
        "y": 800,
        "wires": [
            [
                "471a181a0f81cf74",
                "f4053f62fd89a3a6",
                "fb1a8406ff8dcbbb"
            ]
        ],
        "info": "This node decode the payload\nfrom HEX to String"
    },
    {
        "id": "1db216d42dce6831",
        "type": "debug",
        "z": "fb93e1410c3b219d",
        "d": true,
        "name": "InComing LoraWAN",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload.out",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 380,
        "y": 660,
        "wires": []
    },
    {
        "id": "9f07b150113fab8b",
        "type": "lorawan-packet-decrypt-nwkey-appkey",
        "z": "fb93e1410c3b219d",
        "name": "Decrypt LoRaWAN",
        "nsw": "238792b74801de223b50ddd309b8f139",
        "asw": "744826b8703e23a2e6cb8d79eed484bb",
        "x": 130,
        "y": 800,
        "wires": [
            [
                "1ebbeda11cd37c7d",
                "268d7649d7a9ba8b"
            ]
        ]
    },
    {
        "id": "90746576c4ee047f",
        "type": "function",
        "z": "fb93e1410c3b219d",
        "name": "HEX to base64",
        "func": "\nmvk=msg.payload // from the injection \n//node.warn(mvk)\nvar base64String = Buffer.from(mvk, 'hex').toString('base64')\n//node.warn(base64String)\nmsg.payload=base64String\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 120,
        "y": 620,
        "wires": [
            [
                "2289a92f4dc58bfa",
                "68ba56bfb745c746",
                "9f07b150113fab8b"
            ]
        ],
        "info": "This node will convert the message\non base64 format\n\nInput: HEX message\nOutput: Base64 message"
    },
    {
        "id": "68ba56bfb745c746",
        "type": "debug",
        "z": "fb93e1410c3b219d",
        "name": "Base64 Message",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 370,
        "y": 620,
        "wires": []
    },
    {
        "id": "7b76cc623fae5692",
        "type": "ui_text",
        "z": "fb93e1410c3b219d",
        "d": true,
        "group": "403267448a6f0a1d",
        "order": 7,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Encrypted Message",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "x": 380,
        "y": 440,
        "wires": []
    },
    {
        "id": "268d7649d7a9ba8b",
        "type": "debug",
        "z": "fb93e1410c3b219d",
        "name": "Decrypted",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 110,
        "y": 840,
        "wires": []
    },
    {
        "id": "471a181a0f81cf74",
        "type": "ui_text",
        "z": "fb93e1410c3b219d",
        "group": "403267448a6f0a1d",
        "order": 8,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Original Message",
        "format": "{{msg.payload.out}}",
        "layout": "col-center",
        "x": 670,
        "y": 740,
        "wires": []
    },
    {
        "id": "b7052d055c177e42",
        "type": "ui_text",
        "z": "fb93e1410c3b219d",
        "group": "403267448a6f0a1d",
        "order": 9,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "DevAddr",
        "format": "{{msg.payload.DevAddr}}",
        "layout": "col-center",
        "x": 100,
        "y": 1080,
        "wires": []
    },
    {
        "id": "e3eef7abf05e9f2e",
        "type": "debug",
        "z": "fb93e1410c3b219d",
        "name": "HEX Message",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 360,
        "y": 400,
        "wires": []
    },
    {
        "id": "ee62b13133183903",
        "type": "function",
        "z": "fb93e1410c3b219d",
        "name": "Extract DevAddr",
        "func": "\nlet HexString = \"\";\n\n// DevAddr to convert\nDevAddr=msg.payload.buffers.DevAddr // sensor/LoraWAN data payload\n//node.warn(DevAddr)\n\nfor (let i = 0; i < DevAddr.length; i++)\n{\n  hex = DevAddr[i].toString(16).toUpperCase();\n  HexString += hex;\n}\n//node.warn(HexString);\n\n// converted DevAddr\nmsg.payload.DevAddr = HexString;\n  \nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 120,
        "y": 1040,
        "wires": [
            [
                "b7052d055c177e42",
                "75d9fa640a523918",
                "37ce3c9eeb238fb2",
                "3a6fa7ccda1e8eb6"
            ]
        ]
    },
    {
        "id": "75d9fa640a523918",
        "type": "debug",
        "z": "fb93e1410c3b219d",
        "name": "DevAddr",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload.DevAddr",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 100,
        "y": 1120,
        "wires": []
    },
    {
        "id": "c48adfb0f5ac4e66",
        "type": "ui_date_picker",
        "z": "fb93e1410c3b219d",
        "name": "",
        "label": "date",
        "group": "403267448a6f0a1d",
        "order": 1,
        "width": 12,
        "height": 2,
        "passthru": true,
        "topic": "topic",
        "topicType": "msg",
        "x": 70,
        "y": 20,
        "wires": [
            []
        ]
    },
    {
        "id": "b28bb243a7054115",
        "type": "inject",
        "z": "fb93e1410c3b219d",
        "name": "Message Reception",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payloadType": "date",
        "x": 130,
        "y": 120,
        "wires": [
            [
                "a6ff29bc676359ba"
            ]
        ]
    },
    {
        "id": "a6ff29bc676359ba",
        "type": "exec",
        "z": "fb93e1410c3b219d",
        "command": "python3 /home/pi/Desktop/git/smart-agricolture/Project/pHAT/lorapi_rcx.py",
        "addpay": "",
        "append": "",
        "useSpawn": "true",
        "timer": "",
        "winHide": false,
        "oldrc": false,
        "name": "LoraPi Receive Script",
        "x": 140,
        "y": 420,
        "wires": [
            [
                "3b0b181747f82523",
                "90746576c4ee047f",
                "e3eef7abf05e9f2e",
                "7b76cc623fae5692"
            ],
            [],
            []
        ]
    },
    {
        "id": "3b0b181747f82523",
        "type": "debug",
        "z": "fb93e1410c3b219d",
        "d": true,
        "name": "Message received",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 370,
        "y": 360,
        "wires": []
    },
    {
        "id": "a0e0f067cee91082",
        "type": "ui_button",
        "z": "fb93e1410c3b219d",
        "name": "",
        "group": "403267448a6f0a1d",
        "order": 5,
        "width": 8,
        "height": 1,
        "passthru": false,
        "label": "Check New Message",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "",
        "payloadType": "date",
        "topic": "Message",
        "topicType": "msg",
        "x": 140,
        "y": 160,
        "wires": [
            [
                "a6ff29bc676359ba"
            ]
        ]
    },
    {
        "id": "b82fdfcce2d26c37",
        "type": "ui_button",
        "z": "fb93e1410c3b219d",
        "name": "Stop Searching New Message",
        "group": "403267448a6f0a1d",
        "order": 2,
        "width": 8,
        "height": 1,
        "passthru": false,
        "label": "Stop Searching New Message",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "",
        "payloadType": "date",
        "topic": "kill",
        "topicType": "msg",
        "x": 170,
        "y": 200,
        "wires": [
            [
                "ed279fc489f2488c",
                "a6ff29bc676359ba"
            ]
        ]
    },
    {
        "id": "ed279fc489f2488c",
        "type": "exec",
        "z": "fb93e1410c3b219d",
        "d": true,
        "command": "pkill -f lorapi_rcx.py",
        "addpay": "",
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "winHide": false,
        "oldrc": false,
        "name": "",
        "x": 510,
        "y": 200,
        "wires": [
            [
                "a6ff29bc676359ba"
            ],
            [],
            [
                "a6ff29bc676359ba"
            ]
        ]
    },
    {
        "id": "0b6443221f135493",
        "type": "comment",
        "z": "fb93e1410c3b219d",
        "name": "Conversion + Extract Packet",
        "info": "",
        "x": 160,
        "y": 580,
        "wires": []
    },
    {
        "id": "a96c6cba892b34a0",
        "type": "comment",
        "z": "fb93e1410c3b219d",
        "name": "Decrypt + Sensor Data",
        "info": "",
        "x": 140,
        "y": 760,
        "wires": []
    },
    {
        "id": "2f46e4db4620c786",
        "type": "comment",
        "z": "fb93e1410c3b219d",
        "name": "Pi Script",
        "info": "",
        "x": 100,
        "y": 360,
        "wires": []
    },
    {
        "id": "68b4a64b34ed81da",
        "type": "comment",
        "z": "fb93e1410c3b219d",
        "name": "Input and Stop",
        "info": "",
        "x": 120,
        "y": 80,
        "wires": []
    },
    {
        "id": "f4053f62fd89a3a6",
        "type": "function",
        "z": "fb93e1410c3b219d",
        "name": "Extract Information",
        "func": "\ndataArray = []\ndictArray = {}\n\nDevAddr = msg.payload.DevAddr\ntext = msg.payload.out\n//node.warn(text)\n\ntextArray = text.split(\"$\")\ntextArray = textArray.filter(item => item != \"\")\n//node.warn(textArray)\n\nfor(let i = 0; i < textArray.length; i++)\n{\n    dataArray = textArray[i].split(\":\")\n    dictArray[dataArray[0]] = parseFloat(dataArray[1])\n}\n\n//node.warn(dictArray)\n\nmsg.payload.out = dictArray\n\n//node.warn(msg.payload.out.Hum)\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 130,
        "y": 940,
        "wires": [
            [
                "ee62b13133183903"
            ]
        ],
        "info": "From the string in Input,\nthis node will convert it on a dict\nwith this format: \n{unit_measure : value}"
    },
    {
        "id": "fb1a8406ff8dcbbb",
        "type": "debug",
        "z": "fb93e1410c3b219d",
        "name": "Sensor Data Decoded",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload.out",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 680,
        "y": 780,
        "wires": []
    },
    {
        "id": "37ce3c9eeb238fb2",
        "type": "debug",
        "z": "fb93e1410c3b219d",
        "name": "Informations from Sensors",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload.out",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 700,
        "y": 840,
        "wires": []
    },
    {
        "id": "82dcc70435b9f365",
        "type": "inject",
        "z": "fb93e1410c3b219d",
        "name": "Stop Searching New Message",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "kill",
        "payloadType": "msg",
        "x": 160,
        "y": 240,
        "wires": [
            [
                "a6ff29bc676359ba"
            ]
        ]
    },
    {
        "id": "3a6fa7ccda1e8eb6",
        "type": "function",
        "z": "fb93e1410c3b219d",
        "name": "",
        "func": "\n/*\n    0: L0\n    1: L1\n    2: L4\n    */\n\n\nvar Devices = [\"AAC44AC5\", \"AAABB14A\", \"AAC44AC6\"]\n\naddr = msg.payload.DevAddr\n\n//node.warn(addr)\n\nswitch(Devices.indexOf(addr))\n{\n    case 0:\n        node.send([msg, null, null, null, null])\n    break;\n    case 1:\n        node.send([null, msg, null, null, null])\n    break;\n    case 2:\n        node.send([null, null, msg, null, null])\n    break;\n    case 3:\n        node.send([null, null, null, msg, null])\n    break;\n    case 4:\n        node.send([null, null, null, null ,msg])\n    break;\n}",
        "outputs": 5,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 120,
        "y": 1260,
        "wires": [
            [
                "f9f378d56df58106",
                "c77db63ce6642226"
            ],
            [
                "039eb663a725c55f",
                "a407f69e4137fb29",
                "8b73f40905e9360d"
            ],
            [
                "b5205c0e409d6674",
                "22c709656445dbc1"
            ],
            [],
            []
        ]
    },
    {
        "id": "039eb663a725c55f",
        "type": "debug",
        "z": "fb93e1410c3b219d",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 430,
        "y": 1340,
        "wires": []
    },
    {
        "id": "a407f69e4137fb29",
        "type": "subflow:53e10ede6ba0e308",
        "z": "fb93e1410c3b219d",
        "name": "STM32 L1",
        "env": [],
        "x": 430,
        "y": 1260,
        "wires": []
    },
    {
        "id": "f9f378d56df58106",
        "type": "subflow:4a812b20531a1393",
        "z": "fb93e1410c3b219d",
        "name": "STM32 L0",
        "env": [],
        "x": 430,
        "y": 1220,
        "wires": []
    },
    {
        "id": "870ec3bb71701209",
        "type": "ui_dropdown",
        "z": "fb93e1410c3b219d",
        "d": true,
        "name": "",
        "label": "",
        "tooltip": "",
        "place": "Select option",
        "group": "403267448a6f0a1d",
        "order": 10,
        "width": 0,
        "height": 0,
        "passthru": true,
        "multiple": false,
        "options": [
            {
                "label": "STM32 L0",
                "value": "device1",
                "type": "str"
            },
            {
                "label": "STM32 L1",
                "value": "device2",
                "type": "str"
            },
            {
                "label": "STM32 L4",
                "value": "device3",
                "type": "str"
            }
        ],
        "payload": "",
        "topic": "",
        "topicType": "str",
        "x": 340,
        "y": 1460,
        "wires": [
            [
                "4bc4b53f2de95694"
            ]
        ]
    },
    {
        "id": "4bc4b53f2de95694",
        "type": "change",
        "z": "fb93e1410c3b219d",
        "name": "topic = msg.payload",
        "rules": [
            {
                "t": "set",
                "p": "device",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 540,
        "y": 1460,
        "wires": [
            []
        ]
    },
    {
        "id": "bb80a215cefe125c",
        "type": "comment",
        "z": "fb93e1410c3b219d",
        "name": "Dropdown to pick device to monitor",
        "info": "",
        "x": 460,
        "y": 1420,
        "wires": []
    },
    {
        "id": "0d8b8829865b1fe4",
        "type": "switch",
        "z": "fb93e1410c3b219d",
        "name": "",
        "property": "topic",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "device",
                "vt": "flow"
            },
            {
                "t": "eq",
                "v": "device",
                "vt": "flow"
            },
            {
                "t": "eq",
                "v": "device",
                "vt": "flow"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 3,
        "x": 430,
        "y": 1620,
        "wires": [
            [],
            [],
            []
        ]
    },
    {
        "id": "86b4b2d0dd832f8e",
        "type": "comment",
        "z": "fb93e1410c3b219d",
        "name": "the switch determines which data goes to the gauge",
        "info": "",
        "x": 450,
        "y": 1540,
        "wires": []
    },
    {
        "id": "c77db63ce6642226",
        "type": "change",
        "z": "fb93e1410c3b219d",
        "name": "topic = \"device1\"",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "device1",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 250,
        "y": 1580,
        "wires": [
            [
                "0d8b8829865b1fe4"
            ]
        ]
    },
    {
        "id": "8b73f40905e9360d",
        "type": "change",
        "z": "fb93e1410c3b219d",
        "name": "topic = \"device2\"",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "device2",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 250,
        "y": 1620,
        "wires": [
            [
                "0d8b8829865b1fe4"
            ]
        ]
    },
    {
        "id": "b5205c0e409d6674",
        "type": "change",
        "z": "fb93e1410c3b219d",
        "name": "topic = \"device3\"",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "device3",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 250,
        "y": 1660,
        "wires": [
            [
                "0d8b8829865b1fe4"
            ]
        ]
    },
    {
        "id": "22c709656445dbc1",
        "type": "subflow:6c4ef7206a54756d",
        "z": "fb93e1410c3b219d",
        "name": "STM32 L4",
        "env": [],
        "x": 430,
        "y": 1300,
        "wires": []
    },
    {
        "id": "cdeae21b6b1463d5",
        "type": "ui_spacer",
        "z": "fb93e1410c3b219d",
        "name": "spacer",
        "group": "0526784ef6b33bb4",
        "order": 2,
        "width": 2,
        "height": 1
    },
    {
        "id": "2417dbf868b26a8a",
        "type": "ui_spacer",
        "z": "fb93e1410c3b219d",
        "name": "spacer",
        "group": "0526784ef6b33bb4",
        "order": 3,
        "width": 2,
        "height": 1
    },
    {
        "id": "0c03ea0544054d85",
        "type": "ui_spacer",
        "z": "fb93e1410c3b219d",
        "name": "spacer",
        "group": "0526784ef6b33bb4",
        "order": 4,
        "width": 2,
        "height": 1
    },
    {
        "id": "c199c88cdcfec336",
        "type": "ui_spacer",
        "z": "fb93e1410c3b219d",
        "name": "spacer",
        "group": "0526784ef6b33bb4",
        "order": 5,
        "width": 2,
        "height": 1
    },
    {
        "id": "6f0eadbec5747c60",
        "type": "ui_spacer",
        "z": "fb93e1410c3b219d",
        "name": "spacer",
        "group": "0526784ef6b33bb4",
        "order": 7,
        "width": 2,
        "height": 1
    },
    {
        "id": "dd4adac0ab141a1a",
        "type": "ui_spacer",
        "z": "fb93e1410c3b219d",
        "name": "spacer",
        "group": "0526784ef6b33bb4",
        "order": 8,
        "width": 2,
        "height": 1
    },
    {
        "id": "99f417be4f3b81a5",
        "type": "ui_spacer",
        "z": "fb93e1410c3b219d",
        "name": "spacer",
        "group": "0526784ef6b33bb4",
        "order": 9,
        "width": 2,
        "height": 1
    },
    {
        "id": "5625ba85a5ecc9fe",
        "type": "ui_spacer",
        "z": "fb93e1410c3b219d",
        "name": "spacer",
        "group": "0526784ef6b33bb4",
        "order": 10,
        "width": 2,
        "height": 1
    },
    {
        "id": "35f87655e27afd58",
        "type": "ui_spacer",
        "z": "fb93e1410c3b219d",
        "name": "spacer",
        "group": "0526784ef6b33bb4",
        "order": 12,
        "width": 2,
        "height": 1
    },
    {
        "id": "e2d57271ed23ef65",
        "type": "ui_spacer",
        "z": "fb93e1410c3b219d",
        "name": "spacer",
        "group": "0526784ef6b33bb4",
        "order": 13,
        "width": 2,
        "height": 1
    },
    {
        "id": "2f2914ae4e5e4f2a",
        "type": "ui_spacer",
        "z": "fb93e1410c3b219d",
        "name": "spacer",
        "group": "0526784ef6b33bb4",
        "order": 14,
        "width": 2,
        "height": 1
    },
    {
        "id": "c394257615ec44f5",
        "type": "ui_spacer",
        "z": "fb93e1410c3b219d",
        "name": "spacer",
        "group": "0526784ef6b33bb4",
        "order": 15,
        "width": 2,
        "height": 1
    },
    {
        "id": "3d7524da0451c217",
        "type": "ui_spacer",
        "z": "fb93e1410c3b219d",
        "name": "spacer",
        "group": "0526784ef6b33bb4",
        "order": 17,
        "width": 2,
        "height": 1
    },
    {
        "id": "8779cff2fa68b275",
        "type": "ui_spacer",
        "z": "fb93e1410c3b219d",
        "name": "spacer",
        "group": "0526784ef6b33bb4",
        "order": 18,
        "width": 2,
        "height": 1
    },
    {
        "id": "fa649400918bca4f",
        "type": "ui_spacer",
        "z": "fb93e1410c3b219d",
        "name": "spacer",
        "group": "0526784ef6b33bb4",
        "order": 19,
        "width": 2,
        "height": 1
    },
    {
        "id": "7a5dc4beed660dab",
        "type": "ui_spacer",
        "z": "fb93e1410c3b219d",
        "name": "spacer",
        "group": "0526784ef6b33bb4",
        "order": 20,
        "width": 2,
        "height": 1
    },
    {
        "id": "0733b6c8e49cb80e",
        "type": "ui_spacer",
        "z": "fb93e1410c3b219d",
        "name": "spacer",
        "group": "0526784ef6b33bb4",
        "order": 21,
        "width": 6,
        "height": 1
    },
    {
        "id": "1c308da06a6efec9",
        "type": "ui_spacer",
        "z": "fb93e1410c3b219d",
        "name": "spacer",
        "group": "0526784ef6b33bb4",
        "order": 22,
        "width": 6,
        "height": 1
    },
    {
        "id": "ddf22c7f14e5ae7f",
        "type": "ui_spacer",
        "z": "fb93e1410c3b219d",
        "name": "spacer",
        "group": "0526784ef6b33bb4",
        "order": 24,
        "width": 2,
        "height": 1
    },
    {
        "id": "689e0b86d9604576",
        "type": "ui_spacer",
        "z": "fb93e1410c3b219d",
        "name": "spacer",
        "group": "0526784ef6b33bb4",
        "order": 25,
        "width": 2,
        "height": 1
    },
    {
        "id": "cf3d0acd64488329",
        "type": "ui_spacer",
        "z": "fb93e1410c3b219d",
        "name": "spacer",
        "group": "0526784ef6b33bb4",
        "order": 26,
        "width": 2,
        "height": 1
    },
    {
        "id": "d48228d647d3f20d",
        "type": "ui_spacer",
        "z": "fb93e1410c3b219d",
        "name": "spacer",
        "group": "0526784ef6b33bb4",
        "order": 27,
        "width": 2,
        "height": 1
    },
    {
        "id": "403267448a6f0a1d",
        "type": "ui_group",
        "name": "Message",
        "tab": "87a869ccbb64bd1b",
        "order": 1,
        "disp": true,
        "width": 12,
        "collapse": false
    },
    {
        "id": "87a869ccbb64bd1b",
        "type": "ui_tab",
        "name": "Home",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    }
]