Project/Node-RED/secondary flows/device.json
[
    {
        "id": "27f0efad66b450f9",
        "type": "tab",
        "label": "Device 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "9fd886a733da7f79",
        "type": "group",
        "z": "27f0efad66b450f9",
        "name": "input values",
        "style": {
            "label": true
        },
        "nodes": [
            "74b152a55cfd6d50",
            "b4bacb0964696fcf"
        ],
        "x": 194,
        "y": 109,
        "w": 392,
        "h": 142
    },
    {
        "id": "a707f8c51b94c6e7",
        "type": "group",
        "z": "27f0efad66b450f9",
        "name": "all values on chart",
        "style": {
            "label": true
        },
        "nodes": [
            "e95f158430df8df3",
            "ebcb8ede31dd56d9",
            "a6745e4e22caa5f9"
        ],
        "x": 634,
        "y": 39,
        "w": 352,
        "h": 82
    },
    {
        "id": "818db4bb1a7f5904",
        "type": "group",
        "z": "27f0efad66b450f9",
        "style": {
            "stroke": "#999999",
            "stroke-opacity": "1",
            "fill": "none",
            "fill-opacity": "1",
            "label": true,
            "label-position": "nw",
            "color": "#a4a4a4"
        },
        "nodes": [
            "65dc0d5529e6dcae",
            "4da18c8f4d234749",
            "5130cd842c98a19d",
            "5a3d3fcb88ab39d1",
            "8b2e72b03c21e42b",
            "3d882571b3d734ee",
            "eee0d9a4f2b34cc7",
            "bcb72b2870907f13",
            "e54be48039e3ddb8",
            "01cc3c530cf17c11",
            "d54ea03753f38310",
            "dadfeb9eb9460381",
            "6c4c89c54598ad51"
        ],
        "x": 1034,
        "y": 39,
        "w": 282,
        "h": 422
    },
    {
        "id": "052b2bbd8f43d063",
        "type": "group",
        "z": "27f0efad66b450f9",
        "name": "Buttons",
        "style": {
            "label": true
        },
        "nodes": [
            "5ad0bb42aaf50d86",
            "261e757580e6221d",
            "ab3b4da41ed771ac",
            "77d8c7d278dc57fb",
            "580f7deaa8971b93",
            "01510bc022eab30a",
            "5b34384377bbe611"
        ],
        "x": 674,
        "y": 339,
        "w": 302,
        "h": 282
    },
    {
        "id": "cc1cc297315a09fa",
        "type": "group",
        "z": "27f0efad66b450f9",
        "name": "preparation",
        "style": {
            "label": true
        },
        "nodes": [
            "e1be56fcc8c1733c",
            "aa75fdc2cd06eb80",
            "2a5ad025465d03ce",
            "0f5118b4b854411a",
            "cfb4524e79fb71bc",
            "29abceee03a36595",
            "6114ca7423cebe23"
        ],
        "x": 84,
        "y": 339,
        "w": 362,
        "h": 252
    },
    {
        "id": "2fd8e3cca74a7013",
        "type": "group",
        "z": "27f0efad66b450f9",
        "name": "chart/gauge settings",
        "style": {
            "label": true
        },
        "nodes": [
            "37d34b9814b03fa9",
            "603065c87530047c",
            "5b651968cd7375d6",
            "03f9ce2869c1bd47",
            "b9f57eef6ee8f6b5",
            "0fe4184b02325328",
            "f7a6529aa7b13945",
            "80adf2e57f723833",
            "9e42336bd1928bed",
            "37ec5f1766270c90",
            "05fe508bb920a4c2",
            "57ba66bf3cc2cd1a",
            "4cbc57a749f02b6a",
            "7aeb5acc2a7ab917",
            "f758d17e7bd748a4",
            "8161c48baae2d43f"
        ],
        "x": 434,
        "y": 639,
        "w": 952,
        "h": 302
    },
    {
        "id": "05d21e439c8bfae3",
        "type": "group",
        "z": "27f0efad66b450f9",
        "style": {
            "stroke": "#999999",
            "stroke-opacity": "1",
            "fill": "none",
            "fill-opacity": "1",
            "label": true,
            "label-position": "nw",
            "color": "#a4a4a4"
        },
        "nodes": [
            "aa6cd3a9bd3d0b96",
            "684e89a4e8614a60",
            "23b2276b51acd81e",
            "1612bc3fa00bf56f",
            "a57954f247695cd5",
            "86b6e0e42e5bf461"
        ],
        "x": 44,
        "y": 999,
        "w": 582,
        "h": 222
    },
    {
        "id": "b28b2722ec5036b5",
        "type": "link in",
        "z": "27f0efad66b450f9",
        "name": "device",
        "links": [
            "964c3fe4532319cb"
        ],
        "x": 155,
        "y": 180,
        "wires": [
            [
                "b4bacb0964696fcf"
            ]
        ]
    },
    {
        "id": "74b152a55cfd6d50",
        "type": "function",
        "z": "27f0efad66b450f9",
        "g": "9fd886a733da7f79",
        "name": "Get Values",
        "func": "\nlet msg1 = {};\nlet msg2 = {};\nlet msg3 = {};\nlet msg4 = {};\nlet msg5 = {};\nlet msg6 = {};\n\n//node.warn(msg)\n\nmsg1.topic = \"temperature\"\nmsg1.payload = msg.out.T\nmsg1.device = msg.device\n\nmsg2.topic = \"humidity\"\nmsg2.payload = msg.out.H\nmsg2.device = msg.device\n\nmsg3.topic = \"humidity soil\"\nmsg3.payload = msg.out.S\nmsg3.device = msg.device\n\nmsg4.topic = \"pressure\"\nmsg4.payload = msg.out.P\nmsg4.device = msg.device\n\nmsg5.topic = \"uv\"\nmsg5.payload = msg.out.U\nmsg5.device = msg.device\n\nnode.send([msg1, msg2, msg3, msg4, msg5, null])",
        "outputs": 6,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 490,
        "y": 180,
        "wires": [
            [
                "a6745e4e22caa5f9",
                "65dc0d5529e6dcae",
                "5ad0bb42aaf50d86"
            ],
            [
                "a6745e4e22caa5f9",
                "4da18c8f4d234749",
                "261e757580e6221d"
            ],
            [
                "a6745e4e22caa5f9",
                "5130cd842c98a19d",
                "77d8c7d278dc57fb"
            ],
            [
                "a6745e4e22caa5f9",
                "5a3d3fcb88ab39d1",
                "580f7deaa8971b93"
            ],
            [
                "a6745e4e22caa5f9",
                "8b2e72b03c21e42b",
                "01510bc022eab30a"
            ],
            [
                "a6745e4e22caa5f9",
                "3d882571b3d734ee",
                "ab3b4da41ed771ac"
            ]
        ],
        "outputLabels": [
            "T",
            "H",
            "S",
            "P",
            "U",
            "NOT USED"
        ]
    },
    {
        "id": "b4bacb0964696fcf",
        "type": "change",
        "z": "27f0efad66b450f9",
        "g": "9fd886a733da7f79",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "device",
                "pt": "msg",
                "to": "topic",
                "tot": "msg"
            },
            {
                "t": "delete",
                "p": "topic",
                "pt": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 300,
        "y": 180,
        "wires": [
            [
                "74b152a55cfd6d50"
            ]
        ]
    },
    {
        "id": "e95f158430df8df3",
        "type": "ui_chart",
        "z": "27f0efad66b450f9",
        "g": "a707f8c51b94c6e7",
        "name": "",
        "group": "7cdfe368bf58c67c",
        "order": 11,
        "width": "0",
        "height": "0",
        "label": "all charts",
        "chartType": "line",
        "legend": "true",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 900,
        "y": 80,
        "wires": [
            []
        ]
    },
    {
        "id": "ebcb8ede31dd56d9",
        "type": "link in",
        "z": "27f0efad66b450f9",
        "g": "a707f8c51b94c6e7",
        "name": "all charts",
        "links": [
            "a6745e4e22caa5f9",
            "8161c48baae2d43f"
        ],
        "x": 775,
        "y": 80,
        "wires": [
            [
                "e95f158430df8df3"
            ]
        ]
    },
    {
        "id": "a6745e4e22caa5f9",
        "type": "link out",
        "z": "27f0efad66b450f9",
        "g": "a707f8c51b94c6e7",
        "name": "all values",
        "mode": "link",
        "links": [
            "ebcb8ede31dd56d9",
            "7aeb5acc2a7ab917"
        ],
        "x": 675,
        "y": 80,
        "wires": []
    },
    {
        "id": "65dc0d5529e6dcae",
        "type": "change",
        "z": "27f0efad66b450f9",
        "g": "818db4bb1a7f5904",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "device",
                "tot": "msg"
            },
            {
                "t": "delete",
                "p": "device",
                "pt": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1140,
        "y": 120,
        "wires": [
            [
                "bcb72b2870907f13"
            ]
        ]
    },
    {
        "id": "4da18c8f4d234749",
        "type": "change",
        "z": "27f0efad66b450f9",
        "g": "818db4bb1a7f5904",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "device",
                "tot": "msg"
            },
            {
                "t": "delete",
                "p": "device",
                "pt": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1140,
        "y": 180,
        "wires": [
            [
                "e54be48039e3ddb8"
            ]
        ]
    },
    {
        "id": "5130cd842c98a19d",
        "type": "change",
        "z": "27f0efad66b450f9",
        "g": "818db4bb1a7f5904",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "device",
                "tot": "msg"
            },
            {
                "t": "delete",
                "p": "device",
                "pt": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1140,
        "y": 240,
        "wires": [
            [
                "01cc3c530cf17c11"
            ]
        ]
    },
    {
        "id": "5a3d3fcb88ab39d1",
        "type": "change",
        "z": "27f0efad66b450f9",
        "g": "818db4bb1a7f5904",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "device",
                "tot": "msg"
            },
            {
                "t": "delete",
                "p": "device",
                "pt": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1140,
        "y": 300,
        "wires": [
            [
                "d54ea03753f38310"
            ]
        ]
    },
    {
        "id": "8b2e72b03c21e42b",
        "type": "change",
        "z": "27f0efad66b450f9",
        "g": "818db4bb1a7f5904",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "device",
                "tot": "msg"
            },
            {
                "t": "delete",
                "p": "device",
                "pt": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1140,
        "y": 360,
        "wires": [
            [
                "dadfeb9eb9460381"
            ]
        ]
    },
    {
        "id": "3d882571b3d734ee",
        "type": "change",
        "z": "27f0efad66b450f9",
        "g": "818db4bb1a7f5904",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "device",
                "tot": "msg"
            },
            {
                "t": "delete",
                "p": "device",
                "pt": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1140,
        "y": 420,
        "wires": [
            [
                "6c4c89c54598ad51"
            ]
        ]
    },
    {
        "id": "eee0d9a4f2b34cc7",
        "type": "comment",
        "z": "27f0efad66b450f9",
        "g": "818db4bb1a7f5904",
        "name": "Out for charts",
        "info": "",
        "x": 1150,
        "y": 80,
        "wires": []
    },
    {
        "id": "bcb72b2870907f13",
        "type": "link out",
        "z": "27f0efad66b450f9",
        "g": "818db4bb1a7f5904",
        "name": "temp out",
        "mode": "link",
        "links": [
            "8f61766d047de925",
            "f2b341256632ff15"
        ],
        "x": 1275,
        "y": 120,
        "wires": []
    },
    {
        "id": "e54be48039e3ddb8",
        "type": "link out",
        "z": "27f0efad66b450f9",
        "g": "818db4bb1a7f5904",
        "name": "hum out",
        "mode": "link",
        "links": [
            "1955c29765fcce33",
            "a8e5f526d1ecc403"
        ],
        "x": 1275,
        "y": 180,
        "wires": []
    },
    {
        "id": "01cc3c530cf17c11",
        "type": "link out",
        "z": "27f0efad66b450f9",
        "g": "818db4bb1a7f5904",
        "name": "soil out",
        "mode": "link",
        "links": [
            "2cab0df63fc2fdfc",
            "095e203ed3db362c"
        ],
        "x": 1275,
        "y": 240,
        "wires": []
    },
    {
        "id": "d54ea03753f38310",
        "type": "link out",
        "z": "27f0efad66b450f9",
        "g": "818db4bb1a7f5904",
        "name": "pres out",
        "mode": "link",
        "links": [
            "367278d24e11ef3f",
            "e913380a73d7f148"
        ],
        "x": 1275,
        "y": 300,
        "wires": []
    },
    {
        "id": "dadfeb9eb9460381",
        "type": "link out",
        "z": "27f0efad66b450f9",
        "g": "818db4bb1a7f5904",
        "name": "uv out",
        "mode": "link",
        "links": [
            "240f12fa1e72e39e",
            "c963cf114b7d1cf8"
        ],
        "x": 1275,
        "y": 360,
        "wires": []
    },
    {
        "id": "6c4c89c54598ad51",
        "type": "link out",
        "z": "27f0efad66b450f9",
        "g": "818db4bb1a7f5904",
        "name": "not used out",
        "mode": "link",
        "links": [
            "b5ceb38da9b4aa19",
            "56eb480657e258b2"
        ],
        "x": 1275,
        "y": 420,
        "wires": []
    },
    {
        "id": "5ad0bb42aaf50d86",
        "type": "ui_button",
        "z": "27f0efad66b450f9",
        "g": "052b2bbd8f43d063",
        "name": "temperature",
        "group": "7cdfe368bf58c67c",
        "order": 1,
        "width": 3,
        "height": 1,
        "passthru": false,
        "label": "{{msg.topic.toUpperCase()}}",
        "tooltip": "",
        "color": "",
        "bgcolor": "{{bgr}}",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "temperature",
        "topicType": "str",
        "x": 770,
        "y": 380,
        "wires": [
            [
                "5b34384377bbe611"
            ]
        ]
    },
    {
        "id": "261e757580e6221d",
        "type": "ui_button",
        "z": "27f0efad66b450f9",
        "g": "052b2bbd8f43d063",
        "name": "humidity",
        "group": "7cdfe368bf58c67c",
        "order": 2,
        "width": 3,
        "height": 1,
        "passthru": false,
        "label": "{{msg.topic.toUpperCase()}}",
        "tooltip": "",
        "color": "",
        "bgcolor": "{{bgr}}",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "humidity",
        "topicType": "str",
        "x": 760,
        "y": 420,
        "wires": [
            [
                "5b34384377bbe611"
            ]
        ]
    },
    {
        "id": "ab3b4da41ed771ac",
        "type": "ui_button",
        "z": "27f0efad66b450f9",
        "g": "052b2bbd8f43d063",
        "name": "not used",
        "group": "7cdfe368bf58c67c",
        "order": 6,
        "width": "3",
        "height": 1,
        "passthru": false,
        "label": "<i class=\"fa fa-minus\" aria-hidden=\"true\"></i>",
        "tooltip": "",
        "color": "",
        "bgcolor": "{{bgr}}",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "not used",
        "topicType": "str",
        "x": 760,
        "y": 580,
        "wires": [
            [
                "5b34384377bbe611"
            ]
        ]
    },
    {
        "id": "77d8c7d278dc57fb",
        "type": "ui_button",
        "z": "27f0efad66b450f9",
        "g": "052b2bbd8f43d063",
        "name": "humidity soil",
        "group": "7cdfe368bf58c67c",
        "order": 3,
        "width": 3,
        "height": 1,
        "passthru": false,
        "label": "HUMIDITY SOIL",
        "tooltip": "",
        "color": "",
        "bgcolor": "{{bgr}}",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "humidity soil",
        "topicType": "str",
        "x": 770,
        "y": 460,
        "wires": [
            [
                "5b34384377bbe611"
            ]
        ]
    },
    {
        "id": "580f7deaa8971b93",
        "type": "ui_button",
        "z": "27f0efad66b450f9",
        "g": "052b2bbd8f43d063",
        "name": "pressure",
        "group": "7cdfe368bf58c67c",
        "order": 4,
        "width": 3,
        "height": 1,
        "passthru": false,
        "label": "PRESSURE",
        "tooltip": "",
        "color": "",
        "bgcolor": "{{bgr}}",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "pressure",
        "topicType": "str",
        "x": 760,
        "y": 500,
        "wires": [
            [
                "5b34384377bbe611"
            ]
        ]
    },
    {
        "id": "01510bc022eab30a",
        "type": "ui_button",
        "z": "27f0efad66b450f9",
        "g": "052b2bbd8f43d063",
        "name": "uv",
        "group": "7cdfe368bf58c67c",
        "order": 5,
        "width": 3,
        "height": 1,
        "passthru": false,
        "label": "UV",
        "tooltip": "",
        "color": "",
        "bgcolor": "{{bgr}}",
        "className": "",
        "icon": "",
        "payload": "[]",
        "payloadType": "json",
        "topic": "uv",
        "topicType": "str",
        "x": 750,
        "y": 540,
        "wires": [
            [
                "5b34384377bbe611"
            ]
        ]
    },
    {
        "id": "5b34384377bbe611",
        "type": "link out",
        "z": "27f0efad66b450f9",
        "g": "052b2bbd8f43d063",
        "name": "",
        "mode": "link",
        "links": [
            "f758d17e7bd748a4"
        ],
        "x": 935,
        "y": 480,
        "wires": []
    },
    {
        "id": "e1be56fcc8c1733c",
        "type": "ui_ui_control",
        "z": "27f0efad66b450f9",
        "g": "cc1cc297315a09fa",
        "name": "inject dash events",
        "events": "all",
        "x": 210,
        "y": 430,
        "wires": [
            [
                "aa75fdc2cd06eb80"
            ]
        ]
    },
    {
        "id": "aa75fdc2cd06eb80",
        "type": "link out",
        "z": "27f0efad66b450f9",
        "g": "cc1cc297315a09fa",
        "name": "dash-init",
        "links": [
            "7814ed99.4469e4",
            "6114ca7423cebe23",
            "03f9ce2869c1bd47"
        ],
        "x": 345,
        "y": 430,
        "wires": []
    },
    {
        "id": "2a5ad025465d03ce",
        "type": "function",
        "z": "27f0efad66b450f9",
        "g": "cc1cc297315a09fa",
        "name": "create groups",
        "func": "\nvar g_members = [\"temperature\",\"humidity\", \"pressure\", \"humidity soil\", \"uv\",\"not used\"]\n\nvar g_limits = [{lo:-40,hi:85},{lo:0,hi:100},{lo:0,hi:1000},{lo:0,hi:100},{lo:0,hi:100},{lo:0,hi:30}]\n\nvar g = {\"gaugegroup\":{\"members\":[],\"selected\":\"temperature\"}}\n\nfor(var i=0;i<g_members.length;i++){\n    g.gaugegroup.members.push( {\"topic\":g_members[i],\"lastvalue\":0,\"min\":g_limits[i].lo,\"max\":g_limits[i].hi})\n}\n\nglobal.set(\"buttongroups\",g)\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 340,
        "y": 380,
        "wires": [
            []
        ]
    },
    {
        "id": "0f5118b4b854411a",
        "type": "inject",
        "z": "27f0efad66b450f9",
        "g": "cc1cc297315a09fa",
        "name": "init",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": "0.1",
        "topic": "temperature",
        "payloadType": "date",
        "x": 190,
        "y": 380,
        "wires": [
            [
                "2a5ad025465d03ce"
            ]
        ]
    },
    {
        "id": "cfb4524e79fb71bc",
        "type": "switch",
        "z": "27f0efad66b450f9",
        "g": "cc1cc297315a09fa",
        "name": "",
        "property": "topic",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "temperature",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "humidity",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "humidity soil",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "pressure",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "uv",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "not used",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 6,
        "x": 350,
        "y": 520,
        "wires": [
            [
                "5ad0bb42aaf50d86"
            ],
            [
                "261e757580e6221d"
            ],
            [
                "77d8c7d278dc57fb"
            ],
            [
                "580f7deaa8971b93"
            ],
            [
                "01510bc022eab30a"
            ],
            [
                "ab3b4da41ed771ac"
            ]
        ]
    },
    {
        "id": "29abceee03a36595",
        "type": "function",
        "z": "27f0efad66b450f9",
        "g": "cc1cc297315a09fa",
        "name": "get color",
        "func": "var group = global.get(\"buttongroups.gaugegroup\")\nvar m\nfor(var i=0;i<group.members.length;i++){\n    m = {topic:group.members[i].topic}\n    m.bgr = group.members[i].topic == group.selected ? 'green' : 'red'\n    node.send(m)\n}\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 220,
        "y": 520,
        "wires": [
            [
                "cfb4524e79fb71bc"
            ]
        ]
    },
    {
        "id": "6114ca7423cebe23",
        "type": "link in",
        "z": "27f0efad66b450f9",
        "g": "cc1cc297315a09fa",
        "name": "gaugegroup in",
        "links": [
            "5b651968cd7375d6",
            "aa75fdc2cd06eb80"
        ],
        "x": 125,
        "y": 520,
        "wires": [
            [
                "29abceee03a36595"
            ]
        ]
    },
    {
        "id": "37d34b9814b03fa9",
        "type": "ui_gauge",
        "z": "27f0efad66b450f9",
        "g": "2fd8e3cca74a7013",
        "name": "",
        "group": "7cdfe368bf58c67c",
        "order": 9,
        "width": "0",
        "height": "0",
        "gtype": "gage",
        "title": "{{msg.topic}}",
        "label": "",
        "format": "{{value | number:3}}",
        "min": 0,
        "max": "10",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "className": "",
        "x": 930,
        "y": 840,
        "wires": []
    },
    {
        "id": "603065c87530047c",
        "type": "change",
        "z": "27f0efad66b450f9",
        "g": "2fd8e3cca74a7013",
        "name": "set selected",
        "rules": [
            {
                "t": "set",
                "p": "buttongroups.gaugegroup.selected",
                "pt": "global",
                "to": "topic",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "[]",
                "tot": "json"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 630,
        "y": 700,
        "wires": [
            [
                "5b651968cd7375d6",
                "57ba66bf3cc2cd1a",
                "f7a6529aa7b13945"
            ]
        ]
    },
    {
        "id": "5b651968cd7375d6",
        "type": "link out",
        "z": "27f0efad66b450f9",
        "g": "2fd8e3cca74a7013",
        "name": "gaugegroup out",
        "links": [
            "6114ca7423cebe23",
            "03f9ce2869c1bd47"
        ],
        "x": 815,
        "y": 700,
        "wires": []
    },
    {
        "id": "03f9ce2869c1bd47",
        "type": "link in",
        "z": "27f0efad66b450f9",
        "g": "2fd8e3cca74a7013",
        "name": "gauge in",
        "links": [
            "5b651968cd7375d6",
            "aa75fdc2cd06eb80"
        ],
        "x": 475,
        "y": 740,
        "wires": [
            [
                "0fe4184b02325328"
            ]
        ]
    },
    {
        "id": "b9f57eef6ee8f6b5",
        "type": "function",
        "z": "27f0efad66b450f9",
        "g": "2fd8e3cca74a7013",
        "name": "store inactive & bypass active",
        "func": "var group = global.get(\"buttongroups.gaugegroup\")\n\n//node.warn(group)\n\nif(group.selected != msg.topic){\n    var member = group.members.find(element => element.topic == msg.topic);\n    member.lastvalue = msg.payload\n    global.set(\"buttongroups.gaugegroup\",group)\n    return\n}\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 690,
        "y": 800,
        "wires": [
            [
                "37d34b9814b03fa9",
                "f7a6529aa7b13945",
                "05fe508bb920a4c2"
            ]
        ]
    },
    {
        "id": "0fe4184b02325328",
        "type": "function",
        "z": "27f0efad66b450f9",
        "g": "2fd8e3cca74a7013",
        "name": "prepare after selection change",
        "func": "var group = global.get(\"buttongroups.gaugegroup\")\nvar member = {}\n\nlet msg1 = {}\n\n/*\nnode.warn(group)\nnode.warn(group.selected)\nnode.warn(group.members.length)\nnode.warn(group.members[0].topic)   */\n\nfor(var i = 0; i < group.members.length; i++)\n{\n    if(group.members[i].topic == group.selected)\n    {\n        msg1.topic = group.selected.toUpperCase()\n        msg1.min = group.members[i].min\n        msg1.max = group.members[i].max\n    }\n}\n\n//node.warn(msg1)\n\n/* old line code\nvar member = group.members.find(group.selected);\nmsg.title = group.selected.toUpperCase()\nmsg.payload = member.lastvalue\nnode.warn(member)\nmsg.ui_control = {min:member.min,max:member.max}\nnode.warn(msg.ui_control)   */\n\nreturn msg1",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 690,
        "y": 740,
        "wires": [
            [
                "9e42336bd1928bed",
                "80adf2e57f723833"
            ]
        ]
    },
    {
        "id": "f7a6529aa7b13945",
        "type": "ui_chart",
        "z": "27f0efad66b450f9",
        "g": "2fd8e3cca74a7013",
        "name": "",
        "group": "7cdfe368bf58c67c",
        "order": 10,
        "width": "0",
        "height": "0",
        "label": "{{msg.topic}}",
        "chartType": "line",
        "legend": "true",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 930,
        "y": 880,
        "wires": [
            []
        ]
    },
    {
        "id": "80adf2e57f723833",
        "type": "function",
        "z": "27f0efad66b450f9",
        "g": "2fd8e3cca74a7013",
        "name": "min",
        "func": "\n//node.warn(msg)\n\nmsg = {ui_control:{min:msg.min}};\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 950,
        "y": 720,
        "wires": [
            [
                "37d34b9814b03fa9"
            ]
        ]
    },
    {
        "id": "9e42336bd1928bed",
        "type": "function",
        "z": "27f0efad66b450f9",
        "g": "2fd8e3cca74a7013",
        "name": "max",
        "func": "\n//node.warn(msg)\n\nmsg = {ui_control:{max:msg.max}};\n\n//node.warn(msg)\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 950,
        "y": 760,
        "wires": [
            [
                "37d34b9814b03fa9"
            ]
        ]
    },
    {
        "id": "37ec5f1766270c90",
        "type": "ui_button",
        "z": "27f0efad66b450f9",
        "g": "2fd8e3cca74a7013",
        "name": "",
        "group": "7cdfe368bf58c67c",
        "order": 8,
        "width": "0",
        "height": "0",
        "passthru": false,
        "label": "clear all",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "clear_all",
        "payload": "[]",
        "payloadType": "json",
        "topic": "topic",
        "topicType": "msg",
        "x": 520,
        "y": 860,
        "wires": [
            [
                "f7a6529aa7b13945",
                "8161c48baae2d43f"
            ]
        ]
    },
    {
        "id": "05fe508bb920a4c2",
        "type": "debug",
        "z": "27f0efad66b450f9",
        "g": "2fd8e3cca74a7013",
        "name": "msg of store inactive & bypass active",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1190,
        "y": 800,
        "wires": []
    },
    {
        "id": "57ba66bf3cc2cd1a",
        "type": "debug",
        "z": "27f0efad66b450f9",
        "g": "2fd8e3cca74a7013",
        "name": "set selected",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 970,
        "y": 680,
        "wires": []
    },
    {
        "id": "4cbc57a749f02b6a",
        "type": "inject",
        "z": "27f0efad66b450f9",
        "g": "2fd8e3cca74a7013",
        "name": "erase chart",
        "props": [
            {
                "p": "topic",
                "v": "[]",
                "vt": "json"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": "0.1",
        "topic": "",
        "x": 550,
        "y": 900,
        "wires": [
            [
                "f7a6529aa7b13945",
                "8161c48baae2d43f"
            ]
        ]
    },
    {
        "id": "7aeb5acc2a7ab917",
        "type": "link in",
        "z": "27f0efad66b450f9",
        "g": "2fd8e3cca74a7013",
        "name": "store inactive & bypass active",
        "links": [
            "a6745e4e22caa5f9"
        ],
        "x": 475,
        "y": 800,
        "wires": [
            [
                "b9f57eef6ee8f6b5"
            ]
        ]
    },
    {
        "id": "f758d17e7bd748a4",
        "type": "link in",
        "z": "27f0efad66b450f9",
        "g": "2fd8e3cca74a7013",
        "name": "",
        "links": [
            "5b34384377bbe611"
        ],
        "x": 475,
        "y": 700,
        "wires": [
            [
                "603065c87530047c"
            ]
        ]
    },
    {
        "id": "8161c48baae2d43f",
        "type": "link out",
        "z": "27f0efad66b450f9",
        "g": "2fd8e3cca74a7013",
        "name": "",
        "mode": "link",
        "links": [
            "ebcb8ede31dd56d9"
        ],
        "x": 675,
        "y": 840,
        "wires": []
    },
    {
        "id": "aa6cd3a9bd3d0b96",
        "type": "function",
        "z": "27f0efad66b450f9",
        "g": "05d21e439c8bfae3",
        "name": "Set data",
        "func": "var now = new Date();\nlet msg1 = {}\n/*\nDevAddr = \"AAABBB14A\";\n\nvar string = \"{firstName:'AAABBB14A', lastName:'last1'}\";\neval('var obj='+string);    \n\nmsg.payload = {\n    \"timestamp\" : now.toLocaleString(),\n    \"DevAddr\" : obj.firstName,\n    \"temperature\" : 22,\n    \"humidity\" : 14,\n    \"pressure\" : 900\n}   */\n\nout = msg.out\n\n//node.warn(msg)\n\nmsg1.payload = {\n    \"timestamp\" : now.getTime(),\n    \"temperature\" :     Object.values(out)[0],\n    \"humidity\" :        Object.values(out)[1],\n    \"pressure\" :        Object.values(out)[2],\n    \"uv\" :              Object.values(out)[3],\n    \"humidity soil\" :   Object.values(out)[4]\n}\n\nreturn msg1;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 300,
        "y": 1080,
        "wires": [
            [
                "684e89a4e8614a60",
                "23b2276b51acd81e"
            ]
        ]
    },
    {
        "id": "684e89a4e8614a60",
        "type": "debug",
        "z": "27f0efad66b450f9",
        "g": "05d21e439c8bfae3",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 510,
        "y": 1080,
        "wires": []
    },
    {
        "id": "23b2276b51acd81e",
        "type": "csv",
        "z": "27f0efad66b450f9",
        "g": "05d21e439c8bfae3",
        "name": "",
        "sep": ",",
        "hdrin": "",
        "hdrout": "all",
        "multi": "one",
        "ret": "\\n",
        "temp": "timestamp,temperature,humidity,pressure,uv,humidity soil",
        "skip": "0",
        "strings": true,
        "include_empty_strings": false,
        "include_null_values": false,
        "x": 220,
        "y": 1180,
        "wires": [
            [
                "1612bc3fa00bf56f"
            ]
        ]
    },
    {
        "id": "1612bc3fa00bf56f",
        "type": "file",
        "z": "27f0efad66b450f9",
        "g": "05d21e439c8bfae3",
        "name": "",
        "filename": "log_AAABB14A.csv",
        "appendNewline": false,
        "createDir": true,
        "overwriteFile": "false",
        "encoding": "none",
        "x": 410,
        "y": 1180,
        "wires": [
            []
        ]
    },
    {
        "id": "a57954f247695cd5",
        "type": "link in",
        "z": "27f0efad66b450f9",
        "g": "05d21e439c8bfae3",
        "name": "logger in",
        "links": [
            "964c3fe4532319cb"
        ],
        "x": 145,
        "y": 1080,
        "wires": [
            [
                "aa6cd3a9bd3d0b96"
            ]
        ]
    },
    {
        "id": "86b6e0e42e5bf461",
        "type": "comment",
        "z": "27f0efad66b450f9",
        "g": "05d21e439c8bfae3",
        "name": "Auto Logger",
        "info": "",
        "x": 140,
        "y": 1040,
        "wires": []
    },
    {
        "id": "f30e276c898e97b2",
        "type": "ui_spacer",
        "z": "27f0efad66b450f9",
        "name": "spacer",
        "group": "142704aca9bcc73c",
        "order": 7,
        "width": 1,
        "height": 1
    },
    {
        "id": "7cdfe368bf58c67c",
        "type": "ui_group",
        "name": "Device 1",
        "tab": "c690a554f67c86ce",
        "order": 5,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "142704aca9bcc73c",
        "type": "ui_group",
        "name": "Group 5",
        "tab": "",
        "order": 2,
        "disp": true,
        "width": "18",
        "collapse": false
    },
    {
        "id": "c690a554f67c86ce",
        "type": "ui_tab",
        "name": "Devices",
        "icon": "fa-sitemap",
        "order": 2,
        "disabled": false,
        "hidden": false
    }
]