Project/Node-RED/secondary flows/selectable-input.json
[
    {
        "id": "fcc2e9bc625e091f",
        "type": "tab",
        "label": "SELECTABLE INPUT",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "fe9f59bb5dcaa17d",
        "type": "group",
        "z": "fcc2e9bc625e091f",
        "name": "fake values",
        "style": {
            "label": true
        },
        "nodes": [
            "e345fdefa5212af9",
            "11fd4a8121d4721c",
            "30a19e6a69258748",
            "99da3e0358077c3e",
            "ee129dd0d0da5553",
            "eb456f5ef29ad3b6",
            "ffce3e23b6a479cd",
            "acf0d527b8a4d792",
            "3f51c9d7a5bdc377",
            "398e57a37a7eebf9",
            "7ed947ce42529673",
            "5cd10cca18abab9a",
            "f791a50f843f8502",
            "ca39aa8fdf9327f9",
            "c7b391ecec56907a"
        ],
        "env": [],
        "x": -6,
        "y": 639,
        "w": 712,
        "h": 282
    },
    {
        "id": "cfd72c31cc464952",
        "type": "group",
        "z": "fcc2e9bc625e091f",
        "name": "Buttons",
        "style": {
            "label": true
        },
        "nodes": [
            "e93e42016a9326d7",
            "53bc7e14a3430b61",
            "88aace9b0eabadbd",
            "508f757e2609260d",
            "bf8fbd279493f333",
            "71e51f253634fe7b",
            "e65094a6bd2a0bc3"
        ],
        "env": [],
        "x": 454,
        "y": 19,
        "w": 302,
        "h": 282
    },
    {
        "id": "27d295e5cb575824",
        "type": "group",
        "z": "fcc2e9bc625e091f",
        "name": "preparation",
        "style": {
            "label": true
        },
        "nodes": [
            "09c1b4b9ab16c4b8",
            "01d0f66862fe9a78",
            "1cb85237dc97cc77",
            "ad8292b7aeccad2e",
            "79879171b0b1884d",
            "7b4da3034e1c2844",
            "1335b7afb1944cb6"
        ],
        "env": [],
        "x": 44,
        "y": 19,
        "w": 362,
        "h": 252
    },
    {
        "id": "937b7be61cf461ac",
        "type": "group",
        "z": "fcc2e9bc625e091f",
        "name": "chart/gauge settings",
        "style": {
            "label": true
        },
        "nodes": [
            "65679065190edf56",
            "649b186a9968e878",
            "578b5475546a6d88",
            "ddcc2528a9e4c6c4",
            "e49b981cbda1ddab",
            "5350607d803c58bc",
            "487101bed091bd28",
            "770704ddbd363507",
            "4e88e141a54e47f8",
            "116e58cafa591da8",
            "e04657972a3fc00b",
            "ffa87e3f641ce51c",
            "9be905c5bb6acd23",
            "66e140bf301b9df8",
            "b98e3b3031d5aa6d"
        ],
        "env": [],
        "x": 394,
        "y": 319,
        "w": 952,
        "h": 302
    },
    {
        "id": "09c1b4b9ab16c4b8",
        "type": "ui_ui_control",
        "z": "fcc2e9bc625e091f",
        "g": "27d295e5cb575824",
        "name": "inject dash events",
        "events": "all",
        "x": 170,
        "y": 110,
        "wires": [
            [
                "01d0f66862fe9a78"
            ]
        ]
    },
    {
        "id": "01d0f66862fe9a78",
        "type": "link out",
        "z": "fcc2e9bc625e091f",
        "g": "27d295e5cb575824",
        "name": "dash-init",
        "links": [
            "7814ed99.4469e4",
            "1335b7afb1944cb6",
            "ddcc2528a9e4c6c4"
        ],
        "x": 305,
        "y": 110,
        "wires": []
    },
    {
        "id": "65679065190edf56",
        "type": "ui_gauge",
        "z": "fcc2e9bc625e091f",
        "g": "937b7be61cf461ac",
        "name": "",
        "group": "fb887e9264538883",
        "order": 2,
        "width": "6",
        "height": "5",
        "gtype": "gage",
        "title": "{{msg.topic}}",
        "label": "",
        "format": "{{value | number:3}}",
        "min": 0,
        "max": "10",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "className": "",
        "x": 890,
        "y": 520,
        "wires": []
    },
    {
        "id": "1cb85237dc97cc77",
        "type": "function",
        "z": "fcc2e9bc625e091f",
        "g": "27d295e5cb575824",
        "name": "create groups",
        "func": "\nvar g_members = [\"temperature\",\"humidity\", \"pressure\", \"humidity soil\", \"uv\",\"wind\"]\n\nvar g_limits = [{lo:-10,hi:30},{lo:0,hi:100},{lo:0,hi:1000},{lo:0,hi:100},{lo:-15,hi:300},{lo:0,hi:30}]\n\nvar g = {\"gaugegroup\":{\"members\":[],\"selected\":\"temperature\"}}\n\nfor(var i=0;i<g_members.length;i++){\n    g.gaugegroup.members.push( {\"topic\":g_members[i],\"lastvalue\":0,\"min\":g_limits[i].lo,\"max\":g_limits[i].hi})\n}\n\nglobal.set(\"buttongroups\",g)\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 300,
        "y": 60,
        "wires": [
            []
        ]
    },
    {
        "id": "ad8292b7aeccad2e",
        "type": "inject",
        "z": "fcc2e9bc625e091f",
        "g": "27d295e5cb575824",
        "name": "init",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": "0.1",
        "topic": "temperature",
        "payloadType": "date",
        "x": 150,
        "y": 60,
        "wires": [
            [
                "1cb85237dc97cc77"
            ]
        ]
    },
    {
        "id": "e93e42016a9326d7",
        "type": "ui_button",
        "z": "fcc2e9bc625e091f",
        "g": "cfd72c31cc464952",
        "name": "temperature",
        "group": "8834bd42a03fef5a",
        "order": 1,
        "width": 3,
        "height": 1,
        "passthru": false,
        "label": "{{msg.topic.toUpperCase()}}",
        "tooltip": "",
        "color": "",
        "bgcolor": "{{bgr}}",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "temperature",
        "topicType": "str",
        "x": 550,
        "y": 60,
        "wires": [
            [
                "e65094a6bd2a0bc3"
            ]
        ]
    },
    {
        "id": "53bc7e14a3430b61",
        "type": "ui_button",
        "z": "fcc2e9bc625e091f",
        "g": "cfd72c31cc464952",
        "name": "humidity",
        "group": "8834bd42a03fef5a",
        "order": 3,
        "width": 3,
        "height": 1,
        "passthru": false,
        "label": "{{msg.topic.toUpperCase()}}",
        "tooltip": "",
        "color": "",
        "bgcolor": "{{bgr}}",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "humidity",
        "topicType": "str",
        "x": 540,
        "y": 100,
        "wires": [
            [
                "e65094a6bd2a0bc3"
            ]
        ]
    },
    {
        "id": "88aace9b0eabadbd",
        "type": "ui_button",
        "z": "fcc2e9bc625e091f",
        "g": "cfd72c31cc464952",
        "name": "wind",
        "group": "8834bd42a03fef5a",
        "order": 6,
        "width": 3,
        "height": 1,
        "passthru": false,
        "label": "WIND",
        "tooltip": "",
        "color": "",
        "bgcolor": "{{bgr}}",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "wind",
        "topicType": "str",
        "x": 530,
        "y": 140,
        "wires": [
            [
                "e65094a6bd2a0bc3"
            ]
        ]
    },
    {
        "id": "79879171b0b1884d",
        "type": "switch",
        "z": "fcc2e9bc625e091f",
        "g": "27d295e5cb575824",
        "name": "",
        "property": "topic",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "temperature",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "humidity",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "wind",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "humidity soil",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "pressure",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "uv",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 6,
        "x": 310,
        "y": 200,
        "wires": [
            [
                "e93e42016a9326d7"
            ],
            [
                "53bc7e14a3430b61"
            ],
            [
                "88aace9b0eabadbd"
            ],
            [
                "508f757e2609260d"
            ],
            [
                "bf8fbd279493f333"
            ],
            [
                "71e51f253634fe7b"
            ]
        ]
    },
    {
        "id": "7b4da3034e1c2844",
        "type": "function",
        "z": "fcc2e9bc625e091f",
        "g": "27d295e5cb575824",
        "name": "get color",
        "func": "var group = global.get(\"buttongroups.gaugegroup\")\nvar m\nfor(var i=0;i<group.members.length;i++){\n    m = {topic:group.members[i].topic}\n    m.bgr = group.members[i].topic == group.selected ? 'green' : 'gray'\n    node.send(m)\n}\n",
        "outputs": 1,
        "noerr": 0,
        "x": 180,
        "y": 200,
        "wires": [
            [
                "79879171b0b1884d"
            ]
        ]
    },
    {
        "id": "649b186a9968e878",
        "type": "change",
        "z": "fcc2e9bc625e091f",
        "g": "937b7be61cf461ac",
        "name": "set selected",
        "rules": [
            {
                "t": "set",
                "p": "buttongroups.gaugegroup.selected",
                "pt": "global",
                "to": "topic",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "[]",
                "tot": "json"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 590,
        "y": 380,
        "wires": [
            [
                "578b5475546a6d88",
                "ffa87e3f641ce51c",
                "487101bed091bd28"
            ]
        ]
    },
    {
        "id": "578b5475546a6d88",
        "type": "link out",
        "z": "fcc2e9bc625e091f",
        "g": "937b7be61cf461ac",
        "name": "gaugegroup out",
        "links": [
            "1335b7afb1944cb6",
            "ddcc2528a9e4c6c4"
        ],
        "x": 775,
        "y": 380,
        "wires": []
    },
    {
        "id": "1335b7afb1944cb6",
        "type": "link in",
        "z": "fcc2e9bc625e091f",
        "g": "27d295e5cb575824",
        "name": "gaugegroup in",
        "links": [
            "578b5475546a6d88",
            "01d0f66862fe9a78"
        ],
        "x": 85,
        "y": 200,
        "wires": [
            [
                "7b4da3034e1c2844"
            ]
        ]
    },
    {
        "id": "ddcc2528a9e4c6c4",
        "type": "link in",
        "z": "fcc2e9bc625e091f",
        "g": "937b7be61cf461ac",
        "name": "gauge in",
        "links": [
            "578b5475546a6d88",
            "01d0f66862fe9a78"
        ],
        "x": 435,
        "y": 420,
        "wires": [
            [
                "5350607d803c58bc"
            ]
        ]
    },
    {
        "id": "e345fdefa5212af9",
        "type": "inject",
        "z": "fcc2e9bc625e091f",
        "g": "fe9f59bb5dcaa17d",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "5",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payloadType": "date",
        "x": 110,
        "y": 720,
        "wires": [
            [
                "30a19e6a69258748"
            ]
        ]
    },
    {
        "id": "11fd4a8121d4721c",
        "type": "change",
        "z": "fcc2e9bc625e091f",
        "g": "fe9f59bb5dcaa17d",
        "name": "fake temp",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "$random()*28",
                "tot": "jsonata"
            },
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "temperature",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 300,
        "y": 680,
        "wires": [
            [
                "c7b391ecec56907a",
                "e93e42016a9326d7"
            ]
        ]
    },
    {
        "id": "30a19e6a69258748",
        "type": "change",
        "z": "fcc2e9bc625e091f",
        "g": "fe9f59bb5dcaa17d",
        "name": "fake humidity",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "$random()*100",
                "tot": "jsonata"
            },
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "humidity",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 310,
        "y": 720,
        "wires": [
            [
                "c7b391ecec56907a"
            ]
        ]
    },
    {
        "id": "99da3e0358077c3e",
        "type": "change",
        "z": "fcc2e9bc625e091f",
        "g": "fe9f59bb5dcaa17d",
        "name": "fake wind",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "$random()*8",
                "tot": "jsonata"
            },
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "wind",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 300,
        "y": 760,
        "wires": [
            [
                "c7b391ecec56907a"
            ]
        ]
    },
    {
        "id": "ee129dd0d0da5553",
        "type": "inject",
        "z": "fcc2e9bc625e091f",
        "g": "fe9f59bb5dcaa17d",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "5",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payloadType": "date",
        "x": 110,
        "y": 760,
        "wires": [
            [
                "99da3e0358077c3e"
            ]
        ]
    },
    {
        "id": "eb456f5ef29ad3b6",
        "type": "inject",
        "z": "fcc2e9bc625e091f",
        "g": "fe9f59bb5dcaa17d",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "5",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payloadType": "date",
        "x": 110,
        "y": 680,
        "wires": [
            [
                "11fd4a8121d4721c"
            ]
        ]
    },
    {
        "id": "e49b981cbda1ddab",
        "type": "function",
        "z": "fcc2e9bc625e091f",
        "g": "937b7be61cf461ac",
        "name": "store inactive & bypass active",
        "func": "var group = global.get(\"buttongroups.gaugegroup\")\n\n//node.warn(group)\n\nif(group.selected != msg.topic){\n    var member = group.members.find(element => element.topic == msg.topic);\n    member.lastvalue = msg.payload\n    global.set(\"buttongroups.gaugegroup\",group)\n    return\n}\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 650,
        "y": 480,
        "wires": [
            [
                "65679065190edf56",
                "487101bed091bd28",
                "e04657972a3fc00b"
            ]
        ]
    },
    {
        "id": "5350607d803c58bc",
        "type": "function",
        "z": "fcc2e9bc625e091f",
        "g": "937b7be61cf461ac",
        "name": "prepare after selection change",
        "func": "var group = global.get(\"buttongroups.gaugegroup\")\nvar member = {}\n\nlet msg1 = {}\n\n/*\nnode.warn(group)\nnode.warn(group.selected)\nnode.warn(group.members.length)\nnode.warn(group.members[0].topic)   */\n\nfor(var i = 0; i < group.members.length; i++)\n{\n    if(group.members[i].topic == group.selected)\n    {\n        msg1.topic = group.selected.toUpperCase()\n        msg1.min = group.members[i].min\n        msg1.max = group.members[i].max\n    }\n}\n\n//node.warn(msg1)\n\n/* old line code\nvar member = group.members.find(group.selected);\nmsg.title = group.selected.toUpperCase()\nmsg.payload = member.lastvalue\nnode.warn(member)\nmsg.ui_control = {min:member.min,max:member.max}\nnode.warn(msg.ui_control)   */\n\nreturn msg1",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 650,
        "y": 420,
        "wires": [
            [
                "4e88e141a54e47f8",
                "770704ddbd363507"
            ]
        ]
    },
    {
        "id": "ffce3e23b6a479cd",
        "type": "ui_chart",
        "z": "fcc2e9bc625e091f",
        "g": "fe9f59bb5dcaa17d",
        "name": "",
        "group": "fb887e9264538883",
        "order": 4,
        "width": "18",
        "height": "5",
        "label": "all charts",
        "chartType": "line",
        "legend": "true",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 620,
        "y": 880,
        "wires": [
            []
        ]
    },
    {
        "id": "acf0d527b8a4d792",
        "type": "inject",
        "z": "fcc2e9bc625e091f",
        "g": "fe9f59bb5dcaa17d",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "5",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payloadType": "date",
        "x": 110,
        "y": 840,
        "wires": [
            [
                "398e57a37a7eebf9"
            ]
        ]
    },
    {
        "id": "3f51c9d7a5bdc377",
        "type": "change",
        "z": "fcc2e9bc625e091f",
        "g": "fe9f59bb5dcaa17d",
        "name": "fake humidity soil",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "$random()*35",
                "tot": "jsonata"
            },
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "humidity soil",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 330,
        "y": 800,
        "wires": [
            [
                "c7b391ecec56907a"
            ]
        ]
    },
    {
        "id": "398e57a37a7eebf9",
        "type": "change",
        "z": "fcc2e9bc625e091f",
        "g": "fe9f59bb5dcaa17d",
        "name": "fake pressure",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "$random()*100",
                "tot": "jsonata"
            },
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "pressure",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 320,
        "y": 840,
        "wires": [
            [
                "c7b391ecec56907a"
            ]
        ]
    },
    {
        "id": "7ed947ce42529673",
        "type": "change",
        "z": "fcc2e9bc625e091f",
        "g": "fe9f59bb5dcaa17d",
        "name": "fake uv",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "$random()*8",
                "tot": "jsonata"
            },
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "uv",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 300,
        "y": 880,
        "wires": [
            [
                "c7b391ecec56907a"
            ]
        ]
    },
    {
        "id": "5cd10cca18abab9a",
        "type": "inject",
        "z": "fcc2e9bc625e091f",
        "g": "fe9f59bb5dcaa17d",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "5",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payloadType": "date",
        "x": 110,
        "y": 880,
        "wires": [
            [
                "7ed947ce42529673"
            ]
        ]
    },
    {
        "id": "f791a50f843f8502",
        "type": "inject",
        "z": "fcc2e9bc625e091f",
        "g": "fe9f59bb5dcaa17d",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "5",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payloadType": "date",
        "x": 110,
        "y": 800,
        "wires": [
            [
                "3f51c9d7a5bdc377"
            ]
        ]
    },
    {
        "id": "508f757e2609260d",
        "type": "ui_button",
        "z": "fcc2e9bc625e091f",
        "g": "cfd72c31cc464952",
        "name": "humidity soil",
        "group": "8834bd42a03fef5a",
        "order": 2,
        "width": 3,
        "height": 1,
        "passthru": false,
        "label": "HUMIDITY SOIL",
        "tooltip": "",
        "color": "",
        "bgcolor": "{{bgr}}",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "humidity soil",
        "topicType": "str",
        "x": 550,
        "y": 180,
        "wires": [
            [
                "e65094a6bd2a0bc3"
            ]
        ]
    },
    {
        "id": "bf8fbd279493f333",
        "type": "ui_button",
        "z": "fcc2e9bc625e091f",
        "g": "cfd72c31cc464952",
        "name": "pressure",
        "group": "8834bd42a03fef5a",
        "order": 5,
        "width": 3,
        "height": 1,
        "passthru": false,
        "label": "PRESSURE",
        "tooltip": "",
        "color": "",
        "bgcolor": "{{bgr}}",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "pressure",
        "topicType": "str",
        "x": 540,
        "y": 220,
        "wires": [
            [
                "e65094a6bd2a0bc3"
            ]
        ]
    },
    {
        "id": "71e51f253634fe7b",
        "type": "ui_button",
        "z": "fcc2e9bc625e091f",
        "g": "cfd72c31cc464952",
        "name": "uv",
        "group": "8834bd42a03fef5a",
        "order": 4,
        "width": 3,
        "height": 1,
        "passthru": false,
        "label": "UV",
        "tooltip": "",
        "color": "",
        "bgcolor": "{{bgr}}",
        "className": "",
        "icon": "",
        "payload": "[]",
        "payloadType": "json",
        "topic": "uv",
        "topicType": "str",
        "x": 530,
        "y": 260,
        "wires": [
            [
                "e65094a6bd2a0bc3"
            ]
        ]
    },
    {
        "id": "487101bed091bd28",
        "type": "ui_chart",
        "z": "fcc2e9bc625e091f",
        "g": "937b7be61cf461ac",
        "name": "",
        "group": "fb887e9264538883",
        "order": 3,
        "width": "12",
        "height": "5",
        "label": "{{msg.topic}}",
        "chartType": "line",
        "legend": "true",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 890,
        "y": 560,
        "wires": [
            []
        ]
    },
    {
        "id": "770704ddbd363507",
        "type": "function",
        "z": "fcc2e9bc625e091f",
        "g": "937b7be61cf461ac",
        "name": "min",
        "func": "\n//node.warn(msg)\n\nmsg = {ui_control:{min:msg.min}};\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 910,
        "y": 400,
        "wires": [
            [
                "65679065190edf56"
            ]
        ]
    },
    {
        "id": "4e88e141a54e47f8",
        "type": "function",
        "z": "fcc2e9bc625e091f",
        "g": "937b7be61cf461ac",
        "name": "max",
        "func": "\n//node.warn(msg)\n\nmsg = {ui_control:{max:msg.max}};\n\n//node.warn(msg)\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 910,
        "y": 440,
        "wires": [
            [
                "65679065190edf56"
            ]
        ]
    },
    {
        "id": "116e58cafa591da8",
        "type": "ui_button",
        "z": "fcc2e9bc625e091f",
        "g": "937b7be61cf461ac",
        "name": "",
        "group": "a43e119e14e7f052",
        "order": 4,
        "width": "2",
        "height": 1,
        "passthru": false,
        "label": "",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "clear_all",
        "payload": "[]",
        "payloadType": "json",
        "topic": "topic",
        "topicType": "msg",
        "x": 670,
        "y": 540,
        "wires": [
            [
                "487101bed091bd28"
            ]
        ]
    },
    {
        "id": "e04657972a3fc00b",
        "type": "debug",
        "z": "fcc2e9bc625e091f",
        "g": "937b7be61cf461ac",
        "name": "msg of store inactive & bypass active",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1150,
        "y": 480,
        "wires": []
    },
    {
        "id": "ffa87e3f641ce51c",
        "type": "debug",
        "z": "fcc2e9bc625e091f",
        "g": "937b7be61cf461ac",
        "name": "set selected",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 930,
        "y": 360,
        "wires": []
    },
    {
        "id": "9be905c5bb6acd23",
        "type": "inject",
        "z": "fcc2e9bc625e091f",
        "g": "937b7be61cf461ac",
        "name": "erase chart",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": "0.1",
        "topic": "",
        "payload": "[]",
        "payloadType": "json",
        "x": 690,
        "y": 580,
        "wires": [
            [
                "487101bed091bd28"
            ]
        ]
    },
    {
        "id": "ca39aa8fdf9327f9",
        "type": "link in",
        "z": "fcc2e9bc625e091f",
        "g": "fe9f59bb5dcaa17d",
        "name": "",
        "links": [
            "c7b391ecec56907a"
        ],
        "x": 515,
        "y": 880,
        "wires": [
            [
                "ffce3e23b6a479cd"
            ]
        ]
    },
    {
        "id": "c7b391ecec56907a",
        "type": "link out",
        "z": "fcc2e9bc625e091f",
        "g": "fe9f59bb5dcaa17d",
        "name": "",
        "mode": "link",
        "links": [
            "ca39aa8fdf9327f9",
            "66e140bf301b9df8"
        ],
        "x": 535,
        "y": 780,
        "wires": []
    },
    {
        "id": "66e140bf301b9df8",
        "type": "link in",
        "z": "fcc2e9bc625e091f",
        "g": "937b7be61cf461ac",
        "name": "",
        "links": [
            "c7b391ecec56907a"
        ],
        "x": 435,
        "y": 480,
        "wires": [
            [
                "e49b981cbda1ddab"
            ]
        ]
    },
    {
        "id": "e65094a6bd2a0bc3",
        "type": "link out",
        "z": "fcc2e9bc625e091f",
        "g": "cfd72c31cc464952",
        "name": "",
        "mode": "link",
        "links": [
            "b98e3b3031d5aa6d"
        ],
        "x": 715,
        "y": 160,
        "wires": []
    },
    {
        "id": "b98e3b3031d5aa6d",
        "type": "link in",
        "z": "fcc2e9bc625e091f",
        "g": "937b7be61cf461ac",
        "name": "",
        "links": [
            "e65094a6bd2a0bc3"
        ],
        "x": 435,
        "y": 380,
        "wires": [
            [
                "649b186a9968e878"
            ]
        ]
    },
    {
        "id": "9dfb73e151706db1",
        "type": "ui_spacer",
        "z": "fcc2e9bc625e091f",
        "name": "spacer",
        "group": "99609e7b.c8ed4",
        "order": 2,
        "width": 4,
        "height": 1
    },
    {
        "id": "61101b440c40a261",
        "type": "ui_spacer",
        "z": "fcc2e9bc625e091f",
        "name": "spacer",
        "group": "99609e7b.c8ed4",
        "order": 3,
        "width": 1,
        "height": 1
    },
    {
        "id": "a83cceb6c64483c3",
        "type": "ui_spacer",
        "z": "fcc2e9bc625e091f",
        "name": "spacer",
        "group": "99609e7b.c8ed4",
        "order": 4,
        "width": 4,
        "height": 1
    },
    {
        "id": "12954960dc123b3c",
        "type": "ui_spacer",
        "z": "fcc2e9bc625e091f",
        "name": "spacer",
        "group": "99609e7b.c8ed4",
        "order": 5,
        "width": 1,
        "height": 1
    },
    {
        "id": "9fe848afc87578b9",
        "type": "ui_spacer",
        "z": "fcc2e9bc625e091f",
        "name": "spacer",
        "group": "99609e7b.c8ed4",
        "order": 6,
        "width": 4,
        "height": 1
    },
    {
        "id": "e9f3e27277214d08",
        "type": "ui_spacer",
        "z": "fcc2e9bc625e091f",
        "name": "spacer",
        "group": "99609e7b.c8ed4",
        "order": 7,
        "width": 12,
        "height": 1
    },
    {
        "id": "c37be47b2ff8ba42",
        "type": "ui_spacer",
        "z": "fcc2e9bc625e091f",
        "name": "spacer",
        "group": "99609e7b.c8ed4",
        "order": 8,
        "width": 12,
        "height": 1
    },
    {
        "id": "bac3cfe343faaa93",
        "type": "ui_spacer",
        "z": "fcc2e9bc625e091f",
        "name": "spacer",
        "group": "99609e7b.c8ed4",
        "order": 9,
        "width": 12,
        "height": 1
    },
    {
        "id": "b80551dd21c2a84a",
        "type": "ui_spacer",
        "z": "fcc2e9bc625e091f",
        "name": "spacer",
        "group": "99609e7b.c8ed4",
        "order": 10,
        "width": 2,
        "height": 1
    },
    {
        "id": "3a6b139a53d22f40",
        "type": "ui_spacer",
        "z": "fcc2e9bc625e091f",
        "name": "spacer",
        "group": "99609e7b.c8ed4",
        "order": 11,
        "width": 2,
        "height": 1
    },
    {
        "id": "7f592bd5a74e8967",
        "type": "ui_spacer",
        "z": "fcc2e9bc625e091f",
        "name": "spacer",
        "group": "99609e7b.c8ed4",
        "order": 12,
        "width": 2,
        "height": 1
    },
    {
        "id": "be657bd6eaed9e11",
        "type": "ui_spacer",
        "z": "fcc2e9bc625e091f",
        "name": "spacer",
        "group": "99609e7b.c8ed4",
        "order": 13,
        "width": 2,
        "height": 1
    },
    {
        "id": "f65370d3dd7d33b8",
        "type": "ui_spacer",
        "z": "fcc2e9bc625e091f",
        "name": "spacer",
        "group": "99609e7b.c8ed4",
        "order": 14,
        "width": 2,
        "height": 1
    },
    {
        "id": "ad6e2492ab9a68c0",
        "type": "ui_spacer",
        "z": "fcc2e9bc625e091f",
        "name": "spacer",
        "group": "99609e7b.c8ed4",
        "order": 15,
        "width": 2,
        "height": 1
    },
    {
        "id": "28bc08ad80651470",
        "type": "ui_spacer",
        "z": "fcc2e9bc625e091f",
        "name": "spacer",
        "group": "a43e119e14e7f052",
        "order": 5,
        "width": 8,
        "height": 1
    },
    {
        "id": "dfd184ad499ed72a",
        "type": "ui_spacer",
        "z": "fcc2e9bc625e091f",
        "name": "spacer",
        "group": "3387f3c4ea234d77",
        "order": 2,
        "width": 2,
        "height": 1
    },
    {
        "id": "8386c7cb39a4fcf6",
        "type": "ui_spacer",
        "z": "fcc2e9bc625e091f",
        "name": "spacer",
        "group": "3387f3c4ea234d77",
        "order": 3,
        "width": 2,
        "height": 1
    },
    {
        "id": "1b158b0a7d95a310",
        "type": "ui_spacer",
        "z": "fcc2e9bc625e091f",
        "name": "spacer",
        "group": "3387f3c4ea234d77",
        "order": 4,
        "width": 2,
        "height": 1
    },
    {
        "id": "71243a9e3c4ae5ae",
        "type": "ui_spacer",
        "z": "fcc2e9bc625e091f",
        "name": "spacer",
        "group": "3387f3c4ea234d77",
        "order": 5,
        "width": 2,
        "height": 1
    },
    {
        "id": "2eca4158a3311962",
        "type": "ui_spacer",
        "z": "fcc2e9bc625e091f",
        "name": "spacer",
        "group": "3387f3c4ea234d77",
        "order": 7,
        "width": 2,
        "height": 1
    },
    {
        "id": "018234febb6fb2f1",
        "type": "ui_spacer",
        "z": "fcc2e9bc625e091f",
        "name": "spacer",
        "group": "3387f3c4ea234d77",
        "order": 8,
        "width": 2,
        "height": 1
    },
    {
        "id": "89c4b2c7517e4c31",
        "type": "ui_spacer",
        "z": "fcc2e9bc625e091f",
        "name": "spacer",
        "group": "3387f3c4ea234d77",
        "order": 9,
        "width": 2,
        "height": 1
    },
    {
        "id": "cfa4a93b12453ce7",
        "type": "ui_spacer",
        "z": "fcc2e9bc625e091f",
        "name": "spacer",
        "group": "3387f3c4ea234d77",
        "order": 10,
        "width": 2,
        "height": 1
    },
    {
        "id": "9e5e6ec3256a5820",
        "type": "ui_spacer",
        "z": "fcc2e9bc625e091f",
        "name": "spacer",
        "group": "3387f3c4ea234d77",
        "order": 12,
        "width": 2,
        "height": 1
    },
    {
        "id": "b1331c4a351b7c3f",
        "type": "ui_spacer",
        "z": "fcc2e9bc625e091f",
        "name": "spacer",
        "group": "3387f3c4ea234d77",
        "order": 13,
        "width": 2,
        "height": 1
    },
    {
        "id": "53bfa303d1b0b0e0",
        "type": "ui_spacer",
        "z": "fcc2e9bc625e091f",
        "name": "spacer",
        "group": "3387f3c4ea234d77",
        "order": 14,
        "width": 2,
        "height": 1
    },
    {
        "id": "993ab4a2618c61ae",
        "type": "ui_spacer",
        "z": "fcc2e9bc625e091f",
        "name": "spacer",
        "group": "3387f3c4ea234d77",
        "order": 15,
        "width": 2,
        "height": 1
    },
    {
        "id": "8c88fc7cffc58f02",
        "type": "ui_spacer",
        "z": "fcc2e9bc625e091f",
        "name": "spacer",
        "group": "3387f3c4ea234d77",
        "order": 17,
        "width": 2,
        "height": 1
    },
    {
        "id": "c28f09e4fc92f162",
        "type": "ui_spacer",
        "z": "fcc2e9bc625e091f",
        "name": "spacer",
        "group": "3387f3c4ea234d77",
        "order": 18,
        "width": 2,
        "height": 1
    },
    {
        "id": "e12bdfef487eacfe",
        "type": "ui_spacer",
        "z": "fcc2e9bc625e091f",
        "name": "spacer",
        "group": "3387f3c4ea234d77",
        "order": 19,
        "width": 2,
        "height": 1
    },
    {
        "id": "ab42e4aaca196f83",
        "type": "ui_spacer",
        "z": "fcc2e9bc625e091f",
        "name": "spacer",
        "group": "3387f3c4ea234d77",
        "order": 20,
        "width": 2,
        "height": 1
    },
    {
        "id": "2969403fc67d8ffe",
        "type": "ui_spacer",
        "z": "fcc2e9bc625e091f",
        "name": "spacer",
        "group": "3387f3c4ea234d77",
        "order": 22,
        "width": 2,
        "height": 1
    },
    {
        "id": "844d41f6c666c63c",
        "type": "ui_spacer",
        "z": "fcc2e9bc625e091f",
        "name": "spacer",
        "group": "3387f3c4ea234d77",
        "order": 23,
        "width": 2,
        "height": 1
    },
    {
        "id": "a1848db08080ddcf",
        "type": "ui_spacer",
        "z": "fcc2e9bc625e091f",
        "name": "spacer",
        "group": "3387f3c4ea234d77",
        "order": 24,
        "width": 2,
        "height": 1
    },
    {
        "id": "1098b5ed2db60f7b",
        "type": "ui_spacer",
        "z": "fcc2e9bc625e091f",
        "name": "spacer",
        "group": "3387f3c4ea234d77",
        "order": 25,
        "width": 2,
        "height": 1
    },
    {
        "id": "59ac596cee321aca",
        "type": "ui_spacer",
        "z": "fcc2e9bc625e091f",
        "name": "spacer",
        "group": "3387f3c4ea234d77",
        "order": 27,
        "width": 2,
        "height": 1
    },
    {
        "id": "0f8e779f5beaf26a",
        "type": "ui_spacer",
        "z": "fcc2e9bc625e091f",
        "name": "spacer",
        "group": "3387f3c4ea234d77",
        "order": 28,
        "width": 2,
        "height": 1
    },
    {
        "id": "553f2c2c6d333208",
        "type": "ui_spacer",
        "z": "fcc2e9bc625e091f",
        "name": "spacer",
        "group": "3387f3c4ea234d77",
        "order": 29,
        "width": 2,
        "height": 1
    },
    {
        "id": "a467981a4ac28516",
        "type": "ui_spacer",
        "z": "fcc2e9bc625e091f",
        "name": "spacer",
        "group": "3387f3c4ea234d77",
        "order": 30,
        "width": 2,
        "height": 1
    },
    {
        "id": "fb887e9264538883",
        "type": "ui_group",
        "name": "charts and gauge",
        "tab": "c38fb46f.de97f8",
        "order": 3,
        "disp": true,
        "width": 18,
        "collapse": false,
        "className": ""
    },
    {
        "id": "8834bd42a03fef5a",
        "type": "ui_group",
        "name": "Selectors",
        "tab": "c38fb46f.de97f8",
        "order": 2,
        "disp": false,
        "width": "18",
        "collapse": false,
        "className": ""
    },
    {
        "id": "a43e119e14e7f052",
        "type": "ui_group",
        "name": "Buttons",
        "tab": "c38fb46f.de97f8",
        "order": 1,
        "disp": false,
        "width": "18",
        "collapse": false,
        "className": ""
    },
    {
        "id": "3387f3c4ea234d77",
        "type": "ui_group",
        "d": true,
        "name": "Group 4",
        "tab": "c690a554f67c86ce",
        "order": 5,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "c38fb46f.de97f8",
        "type": "ui_tab",
        "name": "Controls",
        "icon": "dashboard",
        "order": 5,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "c690a554f67c86ce",
        "type": "ui_tab",
        "name": "Devices",
        "icon": "device_hub",
        "order": 2,
        "disabled": false,
        "hidden": false
    }
]