Project/Gateway/Node-RED/device-0.json
[
    {
        "id": "94de2dbe5cf3f5c7",
        "type": "tab",
        "label": "Device 0",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "a30bc608c5f74453",
        "type": "group",
        "z": "94de2dbe5cf3f5c7",
        "name": "input values",
        "style": {
            "label": true
        },
        "nodes": [
            "bd0d05fd092516fe",
            "a7cc2a80d7714c44"
        ],
        "x": 194,
        "y": 109,
        "w": 392,
        "h": 142
    },
    {
        "id": "4593ebe713afcd09",
        "type": "group",
        "z": "94de2dbe5cf3f5c7",
        "name": "all values on chart",
        "style": {
            "label": true
        },
        "nodes": [
            "7136dfce5647c861",
            "f86d96cc2d24061d",
            "6a0585355de5e9ab"
        ],
        "x": 634,
        "y": 39,
        "w": 352,
        "h": 82
    },
    {
        "id": "e5bb46031a9afd03",
        "type": "group",
        "z": "94de2dbe5cf3f5c7",
        "style": {
            "stroke": "#999999",
            "stroke-opacity": "1",
            "fill": "none",
            "fill-opacity": "1",
            "label": true,
            "label-position": "nw",
            "color": "#a4a4a4"
        },
        "nodes": [
            "2364db4e6c968c80",
            "78270e20765bcc48",
            "f12d5ea60c143208",
            "b4593e84b501c4f2",
            "ae230caabd153ace",
            "be9be4f368870cc7",
            "9c9a3c6536fc7922",
            "aaf7e73a29465f36",
            "a8c01b8615073294",
            "0711bb6f2adb0b60",
            "24595a063d59e93e",
            "7cae7ee4cfec31ef",
            "d2016ef32cda6217"
        ],
        "x": 1034,
        "y": 39,
        "w": 282,
        "h": 422
    },
    {
        "id": "4bd7c79b26f5bc3b",
        "type": "group",
        "z": "94de2dbe5cf3f5c7",
        "name": "Buttons",
        "style": {
            "label": true
        },
        "nodes": [
            "2b161f21b5634a9a",
            "fee4d69e8ab7f4e1",
            "e92fa8d8d0c7420b",
            "d0e30620e6ce1742",
            "fed3aec61f9d5c35",
            "62dd51f5c7ae4457",
            "2578c53d67fb2158"
        ],
        "x": 674,
        "y": 339,
        "w": 302,
        "h": 282
    },
    {
        "id": "a86aeb436fa04ceb",
        "type": "group",
        "z": "94de2dbe5cf3f5c7",
        "name": "preparation",
        "style": {
            "label": true
        },
        "nodes": [
            "1e169c727272f3cb",
            "046ad49bc28fefd8",
            "50ab66d82afce989",
            "ab43edf1168cabb0",
            "010a2023da63eeab",
            "372015c9f4209724",
            "3821b0803b34d3f6"
        ],
        "x": 84,
        "y": 339,
        "w": 362,
        "h": 252
    },
    {
        "id": "45845819fafa6a0d",
        "type": "group",
        "z": "94de2dbe5cf3f5c7",
        "name": "chart/gauge settings",
        "style": {
            "label": true
        },
        "nodes": [
            "51b58b3b5ae2cdb6",
            "e01c53386aa47384",
            "c2927d06303cc39c",
            "0824be335fe1af6d",
            "c6e52083b5b770d8",
            "e213eeb29621c7f3",
            "a1eabe9b0f1aa404",
            "bc6378945030ae90",
            "1db056e6d2254821",
            "577395b39239d420",
            "c544feed8531111c",
            "5fda93b4ade33a34",
            "9000f5a36970bd58",
            "9c697b8d9f2c828f",
            "0b6d6a36e971d505",
            "e643851704554e55"
        ],
        "x": 434,
        "y": 639,
        "w": 952,
        "h": 302
    },
    {
        "id": "c55c40a765ef58f0",
        "type": "group",
        "z": "94de2dbe5cf3f5c7",
        "style": {
            "stroke": "#999999",
            "stroke-opacity": "1",
            "fill": "none",
            "fill-opacity": "1",
            "label": true,
            "label-position": "nw",
            "color": "#a4a4a4"
        },
        "nodes": [
            "c43c99995ab652fe",
            "7fa045662d050126",
            "69e569b842b38beb",
            "94d5639ae199bdcb",
            "2fa43d9f47b5a7fe",
            "a793cb1949756b1d"
        ],
        "x": 84,
        "y": 999,
        "w": 602,
        "h": 222
    },
    {
        "id": "e08eb88c2cfcfc02",
        "type": "link in",
        "z": "94de2dbe5cf3f5c7",
        "name": "device",
        "links": [
            "d4b98cbde0bffa6b",
            "e7ba7047e646b3bc"
        ],
        "x": 95,
        "y": 180,
        "wires": [
            [
                "a7cc2a80d7714c44"
            ]
        ]
    },
    {
        "id": "bd0d05fd092516fe",
        "type": "function",
        "z": "94de2dbe5cf3f5c7",
        "g": "a30bc608c5f74453",
        "name": "Get Values",
        "func": "\nlet msg1 = {};\nlet msg2 = {};\nlet msg3 = {};\nlet msg4 = {};\nlet msg5 = {};\nlet msg6 = {};\n\n//node.warn(msg)\n\nmsg1.topic = \"temperature\"\nmsg1.payload = msg.out.T\nmsg1.device = msg.device\n\nmsg2.topic = \"humidity\"\nmsg2.payload = msg.out.H\nmsg2.device = msg.device\n\nmsg3.topic = \"humidity soil\"\nmsg3.payload = msg.out.S\nmsg3.device = msg.device\n\nmsg4.topic = \"pressure\"\nmsg4.payload = msg.out.P\nmsg4.device = msg.device\n\nmsg5.topic = \"uv\"\nmsg5.payload = msg.out.U\nmsg5.device = msg.device\n\nnode.send([msg1, msg2, msg3, msg4, msg5, null])",
        "outputs": 6,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 490,
        "y": 180,
        "wires": [
            [
                "6a0585355de5e9ab",
                "2364db4e6c968c80",
                "2b161f21b5634a9a"
            ],
            [
                "6a0585355de5e9ab",
                "78270e20765bcc48",
                "fee4d69e8ab7f4e1"
            ],
            [
                "6a0585355de5e9ab",
                "f12d5ea60c143208",
                "d0e30620e6ce1742"
            ],
            [
                "6a0585355de5e9ab",
                "b4593e84b501c4f2",
                "fed3aec61f9d5c35"
            ],
            [
                "6a0585355de5e9ab",
                "ae230caabd153ace",
                "62dd51f5c7ae4457"
            ],
            [
                "6a0585355de5e9ab",
                "be9be4f368870cc7",
                "e92fa8d8d0c7420b"
            ]
        ],
        "outputLabels": [
            "T",
            "H",
            "S",
            "P",
            "U",
            "NOT USED"
        ]
    },
    {
        "id": "a7cc2a80d7714c44",
        "type": "change",
        "z": "94de2dbe5cf3f5c7",
        "g": "a30bc608c5f74453",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "device",
                "pt": "msg",
                "to": "topic",
                "tot": "msg"
            },
            {
                "t": "delete",
                "p": "topic",
                "pt": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 300,
        "y": 180,
        "wires": [
            [
                "bd0d05fd092516fe"
            ]
        ]
    },
    {
        "id": "7136dfce5647c861",
        "type": "ui_chart",
        "z": "94de2dbe5cf3f5c7",
        "g": "4593ebe713afcd09",
        "name": "",
        "group": "f62b30b021b10dea",
        "order": 10,
        "width": 6,
        "height": 12,
        "label": "all charts",
        "chartType": "line",
        "legend": "true",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": true,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "50",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "x": 900,
        "y": 80,
        "wires": [
            []
        ]
    },
    {
        "id": "f86d96cc2d24061d",
        "type": "link in",
        "z": "94de2dbe5cf3f5c7",
        "g": "4593ebe713afcd09",
        "name": "all charts",
        "links": [
            "6a0585355de5e9ab",
            "e643851704554e55"
        ],
        "x": 775,
        "y": 80,
        "wires": [
            [
                "7136dfce5647c861"
            ]
        ]
    },
    {
        "id": "6a0585355de5e9ab",
        "type": "link out",
        "z": "94de2dbe5cf3f5c7",
        "g": "4593ebe713afcd09",
        "name": "all values",
        "mode": "link",
        "links": [
            "f86d96cc2d24061d",
            "9c697b8d9f2c828f"
        ],
        "x": 675,
        "y": 80,
        "wires": []
    },
    {
        "id": "2364db4e6c968c80",
        "type": "change",
        "z": "94de2dbe5cf3f5c7",
        "g": "e5bb46031a9afd03",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "device",
                "tot": "msg"
            },
            {
                "t": "delete",
                "p": "device",
                "pt": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1140,
        "y": 120,
        "wires": [
            [
                "aaf7e73a29465f36"
            ]
        ]
    },
    {
        "id": "78270e20765bcc48",
        "type": "change",
        "z": "94de2dbe5cf3f5c7",
        "g": "e5bb46031a9afd03",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "device",
                "tot": "msg"
            },
            {
                "t": "delete",
                "p": "device",
                "pt": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1140,
        "y": 180,
        "wires": [
            [
                "a8c01b8615073294"
            ]
        ]
    },
    {
        "id": "f12d5ea60c143208",
        "type": "change",
        "z": "94de2dbe5cf3f5c7",
        "g": "e5bb46031a9afd03",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "device",
                "tot": "msg"
            },
            {
                "t": "delete",
                "p": "device",
                "pt": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1140,
        "y": 240,
        "wires": [
            [
                "0711bb6f2adb0b60"
            ]
        ]
    },
    {
        "id": "b4593e84b501c4f2",
        "type": "change",
        "z": "94de2dbe5cf3f5c7",
        "g": "e5bb46031a9afd03",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "device",
                "tot": "msg"
            },
            {
                "t": "delete",
                "p": "device",
                "pt": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1140,
        "y": 300,
        "wires": [
            [
                "24595a063d59e93e"
            ]
        ]
    },
    {
        "id": "ae230caabd153ace",
        "type": "change",
        "z": "94de2dbe5cf3f5c7",
        "g": "e5bb46031a9afd03",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "device",
                "tot": "msg"
            },
            {
                "t": "delete",
                "p": "device",
                "pt": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1140,
        "y": 360,
        "wires": [
            [
                "7cae7ee4cfec31ef"
            ]
        ]
    },
    {
        "id": "be9be4f368870cc7",
        "type": "change",
        "z": "94de2dbe5cf3f5c7",
        "g": "e5bb46031a9afd03",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "device",
                "tot": "msg"
            },
            {
                "t": "delete",
                "p": "device",
                "pt": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1140,
        "y": 420,
        "wires": [
            [
                "d2016ef32cda6217"
            ]
        ]
    },
    {
        "id": "9c9a3c6536fc7922",
        "type": "comment",
        "z": "94de2dbe5cf3f5c7",
        "g": "e5bb46031a9afd03",
        "name": "Out for charts",
        "info": "",
        "x": 1150,
        "y": 80,
        "wires": []
    },
    {
        "id": "aaf7e73a29465f36",
        "type": "link out",
        "z": "94de2dbe5cf3f5c7",
        "g": "e5bb46031a9afd03",
        "name": "temp out",
        "mode": "link",
        "links": [
            "8f61766d047de925",
            "f2b341256632ff15"
        ],
        "x": 1275,
        "y": 120,
        "wires": []
    },
    {
        "id": "a8c01b8615073294",
        "type": "link out",
        "z": "94de2dbe5cf3f5c7",
        "g": "e5bb46031a9afd03",
        "name": "hum out",
        "mode": "link",
        "links": [
            "1955c29765fcce33",
            "a8e5f526d1ecc403"
        ],
        "x": 1275,
        "y": 180,
        "wires": []
    },
    {
        "id": "0711bb6f2adb0b60",
        "type": "link out",
        "z": "94de2dbe5cf3f5c7",
        "g": "e5bb46031a9afd03",
        "name": "soil out",
        "mode": "link",
        "links": [
            "2cab0df63fc2fdfc",
            "095e203ed3db362c"
        ],
        "x": 1275,
        "y": 240,
        "wires": []
    },
    {
        "id": "24595a063d59e93e",
        "type": "link out",
        "z": "94de2dbe5cf3f5c7",
        "g": "e5bb46031a9afd03",
        "name": "pres out",
        "mode": "link",
        "links": [
            "367278d24e11ef3f",
            "e913380a73d7f148"
        ],
        "x": 1275,
        "y": 300,
        "wires": []
    },
    {
        "id": "7cae7ee4cfec31ef",
        "type": "link out",
        "z": "94de2dbe5cf3f5c7",
        "g": "e5bb46031a9afd03",
        "name": "uv out",
        "mode": "link",
        "links": [
            "240f12fa1e72e39e",
            "c963cf114b7d1cf8"
        ],
        "x": 1275,
        "y": 360,
        "wires": []
    },
    {
        "id": "d2016ef32cda6217",
        "type": "link out",
        "z": "94de2dbe5cf3f5c7",
        "g": "e5bb46031a9afd03",
        "name": "not used out",
        "mode": "link",
        "links": [
            "b5ceb38da9b4aa19",
            "56eb480657e258b2"
        ],
        "x": 1275,
        "y": 420,
        "wires": []
    },
    {
        "id": "2b161f21b5634a9a",
        "type": "ui_button",
        "z": "94de2dbe5cf3f5c7",
        "g": "4bd7c79b26f5bc3b",
        "name": "temperature",
        "group": "f62b30b021b10dea",
        "order": 1,
        "width": 3,
        "height": 1,
        "passthru": false,
        "label": "{{msg.topic.toUpperCase()}}",
        "tooltip": "",
        "color": "",
        "bgcolor": "{{bgr}}",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "temperature",
        "topicType": "str",
        "x": 770,
        "y": 380,
        "wires": [
            [
                "2578c53d67fb2158"
            ]
        ]
    },
    {
        "id": "fee4d69e8ab7f4e1",
        "type": "ui_button",
        "z": "94de2dbe5cf3f5c7",
        "g": "4bd7c79b26f5bc3b",
        "name": "humidity",
        "group": "f62b30b021b10dea",
        "order": 2,
        "width": 3,
        "height": 1,
        "passthru": false,
        "label": "{{msg.topic.toUpperCase()}}",
        "tooltip": "",
        "color": "",
        "bgcolor": "{{bgr}}",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "humidity",
        "topicType": "str",
        "x": 760,
        "y": 420,
        "wires": [
            [
                "2578c53d67fb2158"
            ]
        ]
    },
    {
        "id": "e92fa8d8d0c7420b",
        "type": "ui_button",
        "z": "94de2dbe5cf3f5c7",
        "g": "4bd7c79b26f5bc3b",
        "name": "not used",
        "group": "f62b30b021b10dea",
        "order": 6,
        "width": 3,
        "height": 1,
        "passthru": false,
        "label": "<i class=\"fa fa-minus\" aria-hidden=\"true\"></i>",
        "tooltip": "",
        "color": "",
        "bgcolor": "{{bgr}}",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "not used",
        "topicType": "str",
        "x": 760,
        "y": 580,
        "wires": [
            [
                "2578c53d67fb2158"
            ]
        ]
    },
    {
        "id": "d0e30620e6ce1742",
        "type": "ui_button",
        "z": "94de2dbe5cf3f5c7",
        "g": "4bd7c79b26f5bc3b",
        "name": "humidity soil",
        "group": "f62b30b021b10dea",
        "order": 3,
        "width": 3,
        "height": 1,
        "passthru": false,
        "label": "HUMIDITY SOIL",
        "tooltip": "",
        "color": "",
        "bgcolor": "{{bgr}}",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "humidity soil",
        "topicType": "str",
        "x": 770,
        "y": 460,
        "wires": [
            [
                "2578c53d67fb2158"
            ]
        ]
    },
    {
        "id": "fed3aec61f9d5c35",
        "type": "ui_button",
        "z": "94de2dbe5cf3f5c7",
        "g": "4bd7c79b26f5bc3b",
        "name": "pressure",
        "group": "f62b30b021b10dea",
        "order": 4,
        "width": 3,
        "height": 1,
        "passthru": false,
        "label": "PRESSURE",
        "tooltip": "",
        "color": "",
        "bgcolor": "{{bgr}}",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "pressure",
        "topicType": "str",
        "x": 760,
        "y": 500,
        "wires": [
            [
                "2578c53d67fb2158"
            ]
        ]
    },
    {
        "id": "62dd51f5c7ae4457",
        "type": "ui_button",
        "z": "94de2dbe5cf3f5c7",
        "g": "4bd7c79b26f5bc3b",
        "name": "uv",
        "group": "f62b30b021b10dea",
        "order": 5,
        "width": 3,
        "height": 1,
        "passthru": false,
        "label": "UV",
        "tooltip": "",
        "color": "",
        "bgcolor": "{{bgr}}",
        "icon": "",
        "payload": "[]",
        "payloadType": "json",
        "topic": "uv",
        "topicType": "str",
        "x": 750,
        "y": 540,
        "wires": [
            [
                "2578c53d67fb2158"
            ]
        ]
    },
    {
        "id": "2578c53d67fb2158",
        "type": "link out",
        "z": "94de2dbe5cf3f5c7",
        "g": "4bd7c79b26f5bc3b",
        "name": "",
        "mode": "link",
        "links": [
            "0b6d6a36e971d505"
        ],
        "x": 935,
        "y": 480,
        "wires": []
    },
    {
        "id": "1e169c727272f3cb",
        "type": "ui_ui_control",
        "z": "94de2dbe5cf3f5c7",
        "g": "a86aeb436fa04ceb",
        "name": "inject dash events",
        "events": "all",
        "x": 210,
        "y": 430,
        "wires": [
            [
                "046ad49bc28fefd8"
            ]
        ]
    },
    {
        "id": "046ad49bc28fefd8",
        "type": "link out",
        "z": "94de2dbe5cf3f5c7",
        "g": "a86aeb436fa04ceb",
        "name": "dash-init",
        "links": [
            "7814ed99.4469e4",
            "3821b0803b34d3f6",
            "0824be335fe1af6d"
        ],
        "x": 345,
        "y": 430,
        "wires": []
    },
    {
        "id": "50ab66d82afce989",
        "type": "function",
        "z": "94de2dbe5cf3f5c7",
        "g": "a86aeb436fa04ceb",
        "name": "create groups",
        "func": "\nvar g_members = [\"temperature\",\"humidity\", \"pressure\", \"humidity soil\", \"uv\",\"not used\"]\n\nvar g_limits = [{lo:-40,hi:85},{lo:0,hi:100},{lo:0,hi:1000},{lo:0,hi:100},{lo:-0,hi:300},{lo:0,hi:30}]\n\nvar g = {\"gaugegroup\":{\"members\":[],\"selected\":\"temperature\"}}\n\nfor(var i=0;i<g_members.length;i++){\n    g.gaugegroup.members.push( {\"topic\":g_members[i],\"lastvalue\":0,\"min\":g_limits[i].lo,\"max\":g_limits[i].hi})\n}\n\nglobal.set(\"buttongroups\",g)\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 340,
        "y": 380,
        "wires": [
            []
        ]
    },
    {
        "id": "ab43edf1168cabb0",
        "type": "inject",
        "z": "94de2dbe5cf3f5c7",
        "g": "a86aeb436fa04ceb",
        "name": "init",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": "0.1",
        "topic": "temperature",
        "payloadType": "date",
        "x": 190,
        "y": 380,
        "wires": [
            [
                "50ab66d82afce989"
            ]
        ]
    },
    {
        "id": "010a2023da63eeab",
        "type": "switch",
        "z": "94de2dbe5cf3f5c7",
        "g": "a86aeb436fa04ceb",
        "name": "",
        "property": "topic",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "temperature",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "humidity",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "humidity soil",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "pressure",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "uv",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "not used",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 6,
        "x": 350,
        "y": 520,
        "wires": [
            [
                "2b161f21b5634a9a"
            ],
            [
                "fee4d69e8ab7f4e1"
            ],
            [
                "d0e30620e6ce1742"
            ],
            [
                "fed3aec61f9d5c35"
            ],
            [
                "62dd51f5c7ae4457"
            ],
            [
                "e92fa8d8d0c7420b"
            ]
        ]
    },
    {
        "id": "372015c9f4209724",
        "type": "function",
        "z": "94de2dbe5cf3f5c7",
        "g": "a86aeb436fa04ceb",
        "name": "get color",
        "func": "var group = global.get(\"buttongroups.gaugegroup\")\nvar m\nfor(var i=0;i<group.members.length;i++){\n    m = {topic:group.members[i].topic}\n    m.bgr = group.members[i].topic == group.selected ? 'green' : 'red'\n    node.send(m)\n}\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 220,
        "y": 520,
        "wires": [
            [
                "010a2023da63eeab"
            ]
        ]
    },
    {
        "id": "3821b0803b34d3f6",
        "type": "link in",
        "z": "94de2dbe5cf3f5c7",
        "g": "a86aeb436fa04ceb",
        "name": "gaugegroup in",
        "links": [
            "c2927d06303cc39c",
            "046ad49bc28fefd8"
        ],
        "x": 125,
        "y": 520,
        "wires": [
            [
                "372015c9f4209724"
            ]
        ]
    },
    {
        "id": "51b58b3b5ae2cdb6",
        "type": "ui_gauge",
        "z": "94de2dbe5cf3f5c7",
        "g": "45845819fafa6a0d",
        "name": "",
        "group": "f62b30b021b10dea",
        "order": 8,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "{{msg.topic}}",
        "label": "",
        "format": "{{value | number:3}}",
        "min": 0,
        "max": "10",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 930,
        "y": 840,
        "wires": []
    },
    {
        "id": "e01c53386aa47384",
        "type": "change",
        "z": "94de2dbe5cf3f5c7",
        "g": "45845819fafa6a0d",
        "name": "set selected",
        "rules": [
            {
                "t": "set",
                "p": "buttongroups.gaugegroup.selected",
                "pt": "global",
                "to": "topic",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "[]",
                "tot": "json"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 630,
        "y": 700,
        "wires": [
            [
                "c2927d06303cc39c",
                "5fda93b4ade33a34",
                "a1eabe9b0f1aa404"
            ]
        ]
    },
    {
        "id": "c2927d06303cc39c",
        "type": "link out",
        "z": "94de2dbe5cf3f5c7",
        "g": "45845819fafa6a0d",
        "name": "gaugegroup out",
        "links": [
            "3821b0803b34d3f6",
            "0824be335fe1af6d"
        ],
        "x": 815,
        "y": 700,
        "wires": []
    },
    {
        "id": "0824be335fe1af6d",
        "type": "link in",
        "z": "94de2dbe5cf3f5c7",
        "g": "45845819fafa6a0d",
        "name": "gauge in",
        "links": [
            "c2927d06303cc39c",
            "046ad49bc28fefd8"
        ],
        "x": 475,
        "y": 740,
        "wires": [
            [
                "e213eeb29621c7f3"
            ]
        ]
    },
    {
        "id": "c6e52083b5b770d8",
        "type": "function",
        "z": "94de2dbe5cf3f5c7",
        "g": "45845819fafa6a0d",
        "name": "store inactive & bypass active",
        "func": "var group = global.get(\"buttongroups.gaugegroup\")\n\n//node.warn(group)\n\nif(group.selected != msg.topic){\n    var member = group.members.find(element => element.topic == msg.topic);\n    member.lastvalue = msg.payload\n    global.set(\"buttongroups.gaugegroup\",group)\n    return\n}\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 690,
        "y": 800,
        "wires": [
            [
                "51b58b3b5ae2cdb6",
                "a1eabe9b0f1aa404",
                "c544feed8531111c"
            ]
        ]
    },
    {
        "id": "e213eeb29621c7f3",
        "type": "function",
        "z": "94de2dbe5cf3f5c7",
        "g": "45845819fafa6a0d",
        "name": "prepare after selection change",
        "func": "var group = global.get(\"buttongroups.gaugegroup\")\nvar member = {}\n\nlet msg1 = {}\n\n/*\nnode.warn(group)\nnode.warn(group.selected)\nnode.warn(group.members.length)\nnode.warn(group.members[0].topic)   */\n\nfor(var i = 0; i < group.members.length; i++)\n{\n    if(group.members[i].topic == group.selected)\n    {\n        msg1.topic = group.selected.toUpperCase()\n        msg1.min = group.members[i].min\n        msg1.max = group.members[i].max\n    }\n}\n\n//node.warn(msg1)\n\n/* old line code\nvar member = group.members.find(group.selected);\nmsg.title = group.selected.toUpperCase()\nmsg.payload = member.lastvalue\nnode.warn(member)\nmsg.ui_control = {min:member.min,max:member.max}\nnode.warn(msg.ui_control)   */\n\nreturn msg1",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 690,
        "y": 740,
        "wires": [
            [
                "1db056e6d2254821",
                "bc6378945030ae90"
            ]
        ]
    },
    {
        "id": "a1eabe9b0f1aa404",
        "type": "ui_chart",
        "z": "94de2dbe5cf3f5c7",
        "g": "45845819fafa6a0d",
        "name": "",
        "group": "f62b30b021b10dea",
        "order": 9,
        "width": 6,
        "height": 12,
        "label": "{{msg.topic}}",
        "chartType": "line",
        "legend": "true",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": true,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "50",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "x": 930,
        "y": 880,
        "wires": [
            []
        ]
    },
    {
        "id": "bc6378945030ae90",
        "type": "function",
        "z": "94de2dbe5cf3f5c7",
        "g": "45845819fafa6a0d",
        "name": "min",
        "func": "\n//node.warn(msg)\n\nmsg = {ui_control:{min:msg.min}};\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 950,
        "y": 720,
        "wires": [
            [
                "51b58b3b5ae2cdb6"
            ]
        ]
    },
    {
        "id": "1db056e6d2254821",
        "type": "function",
        "z": "94de2dbe5cf3f5c7",
        "g": "45845819fafa6a0d",
        "name": "max",
        "func": "\n//node.warn(msg)\n\nmsg = {ui_control:{max:msg.max}};\n\n//node.warn(msg)\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 950,
        "y": 760,
        "wires": [
            [
                "51b58b3b5ae2cdb6"
            ]
        ]
    },
    {
        "id": "577395b39239d420",
        "type": "ui_button",
        "z": "94de2dbe5cf3f5c7",
        "g": "45845819fafa6a0d",
        "name": "",
        "group": "f62b30b021b10dea",
        "order": 7,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "clear all",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "clear_all",
        "payload": "[]",
        "payloadType": "json",
        "topic": "topic",
        "topicType": "msg",
        "x": 520,
        "y": 860,
        "wires": [
            [
                "a1eabe9b0f1aa404",
                "e643851704554e55"
            ]
        ]
    },
    {
        "id": "c544feed8531111c",
        "type": "debug",
        "z": "94de2dbe5cf3f5c7",
        "g": "45845819fafa6a0d",
        "name": "msg of store inactive & bypass active",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1190,
        "y": 800,
        "wires": []
    },
    {
        "id": "5fda93b4ade33a34",
        "type": "debug",
        "z": "94de2dbe5cf3f5c7",
        "g": "45845819fafa6a0d",
        "name": "set selected",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 970,
        "y": 680,
        "wires": []
    },
    {
        "id": "9000f5a36970bd58",
        "type": "inject",
        "z": "94de2dbe5cf3f5c7",
        "g": "45845819fafa6a0d",
        "name": "erase chart",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": "0.1",
        "topic": "",
        "payload": "[]",
        "payloadType": "json",
        "x": 550,
        "y": 900,
        "wires": [
            [
                "a1eabe9b0f1aa404",
                "e643851704554e55"
            ]
        ]
    },
    {
        "id": "9c697b8d9f2c828f",
        "type": "link in",
        "z": "94de2dbe5cf3f5c7",
        "g": "45845819fafa6a0d",
        "name": "store inactive & bypass active",
        "links": [
            "6a0585355de5e9ab"
        ],
        "x": 475,
        "y": 800,
        "wires": [
            [
                "c6e52083b5b770d8"
            ]
        ]
    },
    {
        "id": "0b6d6a36e971d505",
        "type": "link in",
        "z": "94de2dbe5cf3f5c7",
        "g": "45845819fafa6a0d",
        "name": "",
        "links": [
            "2578c53d67fb2158"
        ],
        "x": 475,
        "y": 700,
        "wires": [
            [
                "e01c53386aa47384"
            ]
        ]
    },
    {
        "id": "e643851704554e55",
        "type": "link out",
        "z": "94de2dbe5cf3f5c7",
        "g": "45845819fafa6a0d",
        "name": "",
        "mode": "link",
        "links": [
            "f86d96cc2d24061d"
        ],
        "x": 755,
        "y": 860,
        "wires": []
    },
    {
        "id": "c43c99995ab652fe",
        "type": "function",
        "z": "94de2dbe5cf3f5c7",
        "g": "c55c40a765ef58f0",
        "name": "Set data",
        "func": "var now = new Date();\nlet msg1 = {}\n\nout = msg.out\n\n//node.warn(msg)\n\nmsg1.payload = {\n    \"timestamp\" : now.getTime(),\n    \"temperature\" :     Object.values(out)[0],\n    \"humidity\" :        Object.values(out)[1],\n    \"pressure\" :        Object.values(out)[2],\n    \"uv\" :              Object.values(out)[3],\n    \"humidity soil\" :   Object.values(out)[4]\n}\n\nreturn msg1;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 340,
        "y": 1080,
        "wires": [
            [
                "7fa045662d050126",
                "69e569b842b38beb"
            ]
        ]
    },
    {
        "id": "7fa045662d050126",
        "type": "debug",
        "z": "94de2dbe5cf3f5c7",
        "g": "c55c40a765ef58f0",
        "name": "Set Data Dev0",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 560,
        "y": 1080,
        "wires": []
    },
    {
        "id": "69e569b842b38beb",
        "type": "csv",
        "z": "94de2dbe5cf3f5c7",
        "g": "c55c40a765ef58f0",
        "name": "",
        "sep": ",",
        "hdrin": "",
        "hdrout": "all",
        "multi": "one",
        "ret": "\\n",
        "temp": "timestamp,temperature,humidity,pressure,uv,humidity soil",
        "skip": "0",
        "strings": true,
        "include_empty_strings": false,
        "include_null_values": false,
        "x": 260,
        "y": 1180,
        "wires": [
            [
                "94d5639ae199bdcb"
            ]
        ]
    },
    {
        "id": "94d5639ae199bdcb",
        "type": "file",
        "z": "94de2dbe5cf3f5c7",
        "g": "c55c40a765ef58f0",
        "name": "",
        "filename": "log_AAC44AC5.csv",
        "appendNewline": false,
        "createDir": true,
        "overwriteFile": "false",
        "encoding": "none",
        "x": 450,
        "y": 1180,
        "wires": [
            []
        ]
    },
    {
        "id": "2fa43d9f47b5a7fe",
        "type": "link in",
        "z": "94de2dbe5cf3f5c7",
        "g": "c55c40a765ef58f0",
        "name": "logger in",
        "links": [
            "e7ba7047e646b3bc"
        ],
        "x": 185,
        "y": 1080,
        "wires": [
            [
                "c43c99995ab652fe"
            ]
        ]
    },
    {
        "id": "a793cb1949756b1d",
        "type": "comment",
        "z": "94de2dbe5cf3f5c7",
        "g": "c55c40a765ef58f0",
        "name": "Auto Logger",
        "info": "",
        "x": 180,
        "y": 1040,
        "wires": []
    },
    {
        "id": "a8d88e0bf592d587",
        "type": "ui_spacer",
        "z": "94de2dbe5cf3f5c7",
        "name": "spacer",
        "group": "",
        "order": 3,
        "width": 1,
        "height": 1
    },
    {
        "id": "ffe7cf64c0d7c745",
        "type": "ui_spacer",
        "z": "94de2dbe5cf3f5c7",
        "name": "spacer",
        "group": "",
        "order": 3,
        "width": 12,
        "height": 1
    },
    {
        "id": "1e51c3eb16c36839",
        "type": "ui_spacer",
        "z": "94de2dbe5cf3f5c7",
        "name": "spacer",
        "group": "",
        "order": 7,
        "width": 1,
        "height": 1
    },
    {
        "id": "f62b30b021b10dea",
        "type": "ui_group",
        "name": "Device 0",
        "tab": "e9a27aae4ed1b3ba",
        "order": 3,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "e9a27aae4ed1b3ba",
        "type": "ui_tab",
        "name": "Devices",
        "icon": "fa-sitemap",
        "order": 2,
        "disabled": false,
        "hidden": false
    }
]