Project/Gateway/Node-RED/device-1.json
[
    {
        "id": "e67e3fd839ae84ae",
        "type": "tab",
        "label": "Device 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "c7361553b64103c8",
        "type": "group",
        "z": "e67e3fd839ae84ae",
        "name": "input values",
        "style": {
            "label": true
        },
        "nodes": [
            "001f1682366563df",
            "f17c18513f74fc20"
        ],
        "x": 194,
        "y": 109,
        "w": 392,
        "h": 142
    },
    {
        "id": "edf9114eb9210545",
        "type": "group",
        "z": "e67e3fd839ae84ae",
        "name": "all values on chart",
        "style": {
            "label": true
        },
        "nodes": [
            "c9425f13b4ed86b4",
            "43af839a011c3a5a",
            "8f514c14127ad023"
        ],
        "x": 634,
        "y": 39,
        "w": 352,
        "h": 82
    },
    {
        "id": "cf6df74646f3cfea",
        "type": "group",
        "z": "e67e3fd839ae84ae",
        "style": {
            "stroke": "#999999",
            "stroke-opacity": "1",
            "fill": "none",
            "fill-opacity": "1",
            "label": true,
            "label-position": "nw",
            "color": "#a4a4a4"
        },
        "nodes": [
            "34d599f3931bc9fd",
            "0c58d7aa6dfcc3d0",
            "53fcf2d38b09fece",
            "b51e9473807551a8",
            "2c89859240014432",
            "326cba77b23be5ae",
            "b0582163dd73279e",
            "4e3933e2dc2fd3ef",
            "ba2e3e6bf693b826",
            "5c0e9dc54d8effb9",
            "7e1980a81f4ebdf7",
            "f500767fd0d08086",
            "57ab1b58642c6c85"
        ],
        "x": 1034,
        "y": 39,
        "w": 282,
        "h": 422
    },
    {
        "id": "0545ddde2387eb2b",
        "type": "group",
        "z": "e67e3fd839ae84ae",
        "name": "Buttons",
        "style": {
            "label": true
        },
        "nodes": [
            "ac021dda42b0780d",
            "280b1b3c9d31e882",
            "65ab86ef8e60ecd1",
            "508c09f984371d17",
            "c21f3d4fa916c897",
            "dced08a46622cb24",
            "379ddc275b23f306"
        ],
        "x": 674,
        "y": 339,
        "w": 302,
        "h": 282
    },
    {
        "id": "271a79470fd98237",
        "type": "group",
        "z": "e67e3fd839ae84ae",
        "name": "preparation",
        "style": {
            "label": true
        },
        "nodes": [
            "d0b2075c76c9add8",
            "953c32994ea9dab1",
            "a191314a6a6257e2",
            "a835ab723774cb61",
            "81940d57a6ac151a",
            "a43b1a45fccff2a2",
            "7aaae0a77b07588e"
        ],
        "x": 84,
        "y": 339,
        "w": 362,
        "h": 252
    },
    {
        "id": "fd23f5e50154cb22",
        "type": "group",
        "z": "e67e3fd839ae84ae",
        "name": "chart/gauge settings",
        "style": {
            "label": true
        },
        "nodes": [
            "c9ea36ac4e3296a9",
            "81b481fd6eadd9f7",
            "da49b343eef146be",
            "9eaa5ec9e3a78e41",
            "c4ccc10236b1537a",
            "bd17046cc08f27ab",
            "9cb1fda261fe658d",
            "ab78c0f5ea7f395f",
            "b217dc5cfe320771",
            "30863ac543f7d4f8",
            "8e80288bd982dba7",
            "7d7741a3c29ee335",
            "595890f90e2886ac",
            "26bcfb22059cdbb5",
            "a579e48a091c574c",
            "a5333fd4e0e020f2"
        ],
        "x": 434,
        "y": 639,
        "w": 952,
        "h": 302
    },
    {
        "id": "0d1a04a5d0e92611",
        "type": "group",
        "z": "e67e3fd839ae84ae",
        "style": {
            "stroke": "#999999",
            "stroke-opacity": "1",
            "fill": "none",
            "fill-opacity": "1",
            "label": true,
            "label-position": "nw",
            "color": "#a4a4a4"
        },
        "nodes": [
            "8269f6daf42b6d5a",
            "0d4b1dd39e8c187d",
            "cf6bdc2ee35e5e88",
            "115a9f9966327574",
            "456cf77c4ac3caad",
            "f78aa4a33597e068"
        ],
        "x": 44,
        "y": 999,
        "w": 602,
        "h": 222
    },
    {
        "id": "da349aaa47c67a9c",
        "type": "link in",
        "z": "e67e3fd839ae84ae",
        "name": "device",
        "links": [
            "821f8be17770ea09",
            "e8bf1a1d5346aa44"
        ],
        "x": 155,
        "y": 180,
        "wires": [
            [
                "f17c18513f74fc20"
            ]
        ]
    },
    {
        "id": "001f1682366563df",
        "type": "function",
        "z": "e67e3fd839ae84ae",
        "g": "c7361553b64103c8",
        "name": "Get Values",
        "func": "\nlet msg1 = {};\nlet msg2 = {};\nlet msg3 = {};\nlet msg4 = {};\nlet msg5 = {};\nlet msg6 = {};\n\n//node.warn(msg)\n\nmsg1.topic = \"temperature\"\nmsg1.payload = msg.out.T\nmsg1.device = msg.device\n\nmsg2.topic = \"humidity\"\nmsg2.payload = msg.out.H\nmsg2.device = msg.device\n\nmsg3.topic = \"humidity soil\"\nmsg3.payload = msg.out.S\nmsg3.device = msg.device\n\nmsg4.topic = \"pressure\"\nmsg4.payload = msg.out.P\nmsg4.device = msg.device\n\nmsg5.topic = \"uv\"\nmsg5.payload = msg.out.U\nmsg5.device = msg.device\n\nnode.send([msg1, msg2, msg3, msg4, msg5, null])",
        "outputs": 6,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 490,
        "y": 180,
        "wires": [
            [
                "43af839a011c3a5a",
                "34d599f3931bc9fd",
                "ac021dda42b0780d"
            ],
            [
                "43af839a011c3a5a",
                "0c58d7aa6dfcc3d0",
                "280b1b3c9d31e882"
            ],
            [
                "43af839a011c3a5a",
                "53fcf2d38b09fece",
                "508c09f984371d17"
            ],
            [
                "43af839a011c3a5a",
                "b51e9473807551a8",
                "c21f3d4fa916c897"
            ],
            [
                "43af839a011c3a5a",
                "2c89859240014432",
                "dced08a46622cb24"
            ],
            [
                "43af839a011c3a5a",
                "326cba77b23be5ae",
                "65ab86ef8e60ecd1"
            ]
        ],
        "outputLabels": [
            "T",
            "H",
            "S",
            "P",
            "U",
            "NOT USED"
        ]
    },
    {
        "id": "f17c18513f74fc20",
        "type": "change",
        "z": "e67e3fd839ae84ae",
        "g": "c7361553b64103c8",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "device",
                "pt": "msg",
                "to": "topic",
                "tot": "msg"
            },
            {
                "t": "delete",
                "p": "topic",
                "pt": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 300,
        "y": 180,
        "wires": [
            [
                "001f1682366563df"
            ]
        ]
    },
    {
        "id": "c9425f13b4ed86b4",
        "type": "ui_chart",
        "z": "e67e3fd839ae84ae",
        "g": "edf9114eb9210545",
        "name": "",
        "group": "079320e954c3aba0",
        "order": 10,
        "width": 6,
        "height": 12,
        "label": "all charts",
        "chartType": "line",
        "legend": "true",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": true,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "50",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "x": 900,
        "y": 80,
        "wires": [
            []
        ]
    },
    {
        "id": "43af839a011c3a5a",
        "type": "link out",
        "z": "e67e3fd839ae84ae",
        "g": "edf9114eb9210545",
        "name": "all values",
        "mode": "link",
        "links": [
            "8f514c14127ad023",
            "26bcfb22059cdbb5"
        ],
        "x": 675,
        "y": 80,
        "wires": []
    },
    {
        "id": "34d599f3931bc9fd",
        "type": "change",
        "z": "e67e3fd839ae84ae",
        "g": "cf6df74646f3cfea",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "device",
                "tot": "msg"
            },
            {
                "t": "delete",
                "p": "device",
                "pt": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1140,
        "y": 120,
        "wires": [
            [
                "4e3933e2dc2fd3ef"
            ]
        ]
    },
    {
        "id": "0c58d7aa6dfcc3d0",
        "type": "change",
        "z": "e67e3fd839ae84ae",
        "g": "cf6df74646f3cfea",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "device",
                "tot": "msg"
            },
            {
                "t": "delete",
                "p": "device",
                "pt": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1140,
        "y": 180,
        "wires": [
            [
                "ba2e3e6bf693b826"
            ]
        ]
    },
    {
        "id": "53fcf2d38b09fece",
        "type": "change",
        "z": "e67e3fd839ae84ae",
        "g": "cf6df74646f3cfea",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "device",
                "tot": "msg"
            },
            {
                "t": "delete",
                "p": "device",
                "pt": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1140,
        "y": 240,
        "wires": [
            [
                "5c0e9dc54d8effb9"
            ]
        ]
    },
    {
        "id": "b51e9473807551a8",
        "type": "change",
        "z": "e67e3fd839ae84ae",
        "g": "cf6df74646f3cfea",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "device",
                "tot": "msg"
            },
            {
                "t": "delete",
                "p": "device",
                "pt": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1140,
        "y": 300,
        "wires": [
            [
                "7e1980a81f4ebdf7"
            ]
        ]
    },
    {
        "id": "2c89859240014432",
        "type": "change",
        "z": "e67e3fd839ae84ae",
        "g": "cf6df74646f3cfea",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "device",
                "tot": "msg"
            },
            {
                "t": "delete",
                "p": "device",
                "pt": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1140,
        "y": 360,
        "wires": [
            [
                "f500767fd0d08086"
            ]
        ]
    },
    {
        "id": "326cba77b23be5ae",
        "type": "change",
        "z": "e67e3fd839ae84ae",
        "g": "cf6df74646f3cfea",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "device",
                "tot": "msg"
            },
            {
                "t": "delete",
                "p": "device",
                "pt": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1140,
        "y": 420,
        "wires": [
            [
                "57ab1b58642c6c85"
            ]
        ]
    },
    {
        "id": "b0582163dd73279e",
        "type": "comment",
        "z": "e67e3fd839ae84ae",
        "g": "cf6df74646f3cfea",
        "name": "Out for charts",
        "info": "",
        "x": 1150,
        "y": 80,
        "wires": []
    },
    {
        "id": "4e3933e2dc2fd3ef",
        "type": "link out",
        "z": "e67e3fd839ae84ae",
        "g": "cf6df74646f3cfea",
        "name": "temp out",
        "mode": "link",
        "links": [
            "8f61766d047de925",
            "f2b341256632ff15"
        ],
        "x": 1275,
        "y": 120,
        "wires": []
    },
    {
        "id": "ba2e3e6bf693b826",
        "type": "link out",
        "z": "e67e3fd839ae84ae",
        "g": "cf6df74646f3cfea",
        "name": "hum out",
        "mode": "link",
        "links": [
            "1955c29765fcce33",
            "a8e5f526d1ecc403"
        ],
        "x": 1275,
        "y": 180,
        "wires": []
    },
    {
        "id": "5c0e9dc54d8effb9",
        "type": "link out",
        "z": "e67e3fd839ae84ae",
        "g": "cf6df74646f3cfea",
        "name": "soil out",
        "mode": "link",
        "links": [
            "2cab0df63fc2fdfc",
            "095e203ed3db362c"
        ],
        "x": 1275,
        "y": 240,
        "wires": []
    },
    {
        "id": "7e1980a81f4ebdf7",
        "type": "link out",
        "z": "e67e3fd839ae84ae",
        "g": "cf6df74646f3cfea",
        "name": "pres out",
        "mode": "link",
        "links": [
            "367278d24e11ef3f",
            "e913380a73d7f148"
        ],
        "x": 1275,
        "y": 300,
        "wires": []
    },
    {
        "id": "f500767fd0d08086",
        "type": "link out",
        "z": "e67e3fd839ae84ae",
        "g": "cf6df74646f3cfea",
        "name": "uv out",
        "mode": "link",
        "links": [
            "240f12fa1e72e39e",
            "c963cf114b7d1cf8"
        ],
        "x": 1275,
        "y": 360,
        "wires": []
    },
    {
        "id": "57ab1b58642c6c85",
        "type": "link out",
        "z": "e67e3fd839ae84ae",
        "g": "cf6df74646f3cfea",
        "name": "not used out",
        "mode": "link",
        "links": [
            "b5ceb38da9b4aa19",
            "56eb480657e258b2"
        ],
        "x": 1275,
        "y": 420,
        "wires": []
    },
    {
        "id": "ac021dda42b0780d",
        "type": "ui_button",
        "z": "e67e3fd839ae84ae",
        "g": "0545ddde2387eb2b",
        "name": "temperature",
        "group": "079320e954c3aba0",
        "order": 1,
        "width": 3,
        "height": 1,
        "passthru": false,
        "label": "{{msg.topic.toUpperCase()}}",
        "tooltip": "",
        "color": "",
        "bgcolor": "{{bgr}}",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "temperature",
        "topicType": "str",
        "x": 770,
        "y": 380,
        "wires": [
            [
                "379ddc275b23f306"
            ]
        ]
    },
    {
        "id": "280b1b3c9d31e882",
        "type": "ui_button",
        "z": "e67e3fd839ae84ae",
        "g": "0545ddde2387eb2b",
        "name": "humidity",
        "group": "079320e954c3aba0",
        "order": 2,
        "width": 3,
        "height": 1,
        "passthru": false,
        "label": "{{msg.topic.toUpperCase()}}",
        "tooltip": "",
        "color": "",
        "bgcolor": "{{bgr}}",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "humidity",
        "topicType": "str",
        "x": 760,
        "y": 420,
        "wires": [
            [
                "379ddc275b23f306"
            ]
        ]
    },
    {
        "id": "65ab86ef8e60ecd1",
        "type": "ui_button",
        "z": "e67e3fd839ae84ae",
        "g": "0545ddde2387eb2b",
        "name": "not used",
        "group": "079320e954c3aba0",
        "order": 6,
        "width": 3,
        "height": 1,
        "passthru": false,
        "label": "<i class=\"fa fa-minus\" aria-hidden=\"true\"></i>",
        "tooltip": "",
        "color": "",
        "bgcolor": "{{bgr}}",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "not used",
        "topicType": "str",
        "x": 760,
        "y": 580,
        "wires": [
            [
                "379ddc275b23f306"
            ]
        ]
    },
    {
        "id": "508c09f984371d17",
        "type": "ui_button",
        "z": "e67e3fd839ae84ae",
        "g": "0545ddde2387eb2b",
        "name": "humidity soil",
        "group": "079320e954c3aba0",
        "order": 3,
        "width": 3,
        "height": 1,
        "passthru": false,
        "label": "HUMIDITY SOIL",
        "tooltip": "",
        "color": "",
        "bgcolor": "{{bgr}}",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "humidity soil",
        "topicType": "str",
        "x": 770,
        "y": 460,
        "wires": [
            [
                "379ddc275b23f306"
            ]
        ]
    },
    {
        "id": "c21f3d4fa916c897",
        "type": "ui_button",
        "z": "e67e3fd839ae84ae",
        "g": "0545ddde2387eb2b",
        "name": "pressure",
        "group": "079320e954c3aba0",
        "order": 4,
        "width": 3,
        "height": 1,
        "passthru": false,
        "label": "PRESSURE",
        "tooltip": "",
        "color": "",
        "bgcolor": "{{bgr}}",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "pressure",
        "topicType": "str",
        "x": 760,
        "y": 500,
        "wires": [
            [
                "379ddc275b23f306"
            ]
        ]
    },
    {
        "id": "dced08a46622cb24",
        "type": "ui_button",
        "z": "e67e3fd839ae84ae",
        "g": "0545ddde2387eb2b",
        "name": "uv",
        "group": "079320e954c3aba0",
        "order": 5,
        "width": 3,
        "height": 1,
        "passthru": false,
        "label": "UV",
        "tooltip": "",
        "color": "",
        "bgcolor": "{{bgr}}",
        "icon": "",
        "payload": "[]",
        "payloadType": "json",
        "topic": "uv",
        "topicType": "str",
        "x": 750,
        "y": 540,
        "wires": [
            [
                "379ddc275b23f306"
            ]
        ]
    },
    {
        "id": "379ddc275b23f306",
        "type": "link out",
        "z": "e67e3fd839ae84ae",
        "g": "0545ddde2387eb2b",
        "name": "",
        "mode": "link",
        "links": [
            "a579e48a091c574c"
        ],
        "x": 935,
        "y": 480,
        "wires": []
    },
    {
        "id": "d0b2075c76c9add8",
        "type": "ui_ui_control",
        "z": "e67e3fd839ae84ae",
        "g": "271a79470fd98237",
        "name": "inject dash events",
        "events": "all",
        "x": 210,
        "y": 430,
        "wires": [
            [
                "953c32994ea9dab1"
            ]
        ]
    },
    {
        "id": "953c32994ea9dab1",
        "type": "link out",
        "z": "e67e3fd839ae84ae",
        "g": "271a79470fd98237",
        "name": "dash-init",
        "links": [
            "7814ed99.4469e4",
            "7aaae0a77b07588e",
            "9eaa5ec9e3a78e41"
        ],
        "x": 345,
        "y": 430,
        "wires": []
    },
    {
        "id": "a191314a6a6257e2",
        "type": "function",
        "z": "e67e3fd839ae84ae",
        "g": "271a79470fd98237",
        "name": "create groups",
        "func": "\nvar g_members = [\"temperature\",\"humidity\", \"pressure\", \"humidity soil\", \"uv\",\"not used\"]\n\nvar g_limits = [{lo:-40,hi:85},{lo:0,hi:100},{lo:0,hi:1000},{lo:0,hi:100},{lo:0,hi:100},{lo:0,hi:30}]\n\nvar g = {\"gaugegroup\":{\"members\":[],\"selected\":\"temperature\"}}\n\nfor(var i=0;i<g_members.length;i++){\n    g.gaugegroup.members.push( {\"topic\":g_members[i],\"lastvalue\":0,\"min\":g_limits[i].lo,\"max\":g_limits[i].hi})\n}\n\nglobal.set(\"buttongroups\",g)\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 340,
        "y": 380,
        "wires": [
            []
        ]
    },
    {
        "id": "a835ab723774cb61",
        "type": "inject",
        "z": "e67e3fd839ae84ae",
        "g": "271a79470fd98237",
        "name": "init",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": "0.1",
        "topic": "temperature",
        "payloadType": "date",
        "x": 190,
        "y": 380,
        "wires": [
            [
                "a191314a6a6257e2"
            ]
        ]
    },
    {
        "id": "81940d57a6ac151a",
        "type": "switch",
        "z": "e67e3fd839ae84ae",
        "g": "271a79470fd98237",
        "name": "",
        "property": "topic",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "temperature",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "humidity",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "humidity soil",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "pressure",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "uv",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "not used",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 6,
        "x": 350,
        "y": 520,
        "wires": [
            [
                "ac021dda42b0780d"
            ],
            [
                "280b1b3c9d31e882"
            ],
            [
                "508c09f984371d17"
            ],
            [
                "c21f3d4fa916c897"
            ],
            [
                "dced08a46622cb24"
            ],
            [
                "65ab86ef8e60ecd1"
            ]
        ]
    },
    {
        "id": "a43b1a45fccff2a2",
        "type": "function",
        "z": "e67e3fd839ae84ae",
        "g": "271a79470fd98237",
        "name": "get color",
        "func": "var group = global.get(\"buttongroups.gaugegroup\")\nvar m\nfor(var i=0;i<group.members.length;i++){\n    m = {topic:group.members[i].topic}\n    m.bgr = group.members[i].topic == group.selected ? 'green' : 'red'\n    node.send(m)\n}\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 220,
        "y": 520,
        "wires": [
            [
                "81940d57a6ac151a"
            ]
        ]
    },
    {
        "id": "7aaae0a77b07588e",
        "type": "link in",
        "z": "e67e3fd839ae84ae",
        "g": "271a79470fd98237",
        "name": "gaugegroup in",
        "links": [
            "da49b343eef146be",
            "953c32994ea9dab1"
        ],
        "x": 125,
        "y": 520,
        "wires": [
            [
                "a43b1a45fccff2a2"
            ]
        ]
    },
    {
        "id": "c9ea36ac4e3296a9",
        "type": "ui_gauge",
        "z": "e67e3fd839ae84ae",
        "g": "fd23f5e50154cb22",
        "name": "",
        "group": "079320e954c3aba0",
        "order": 8,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "{{msg.topic}}",
        "label": "",
        "format": "{{value | number:3}}",
        "min": 0,
        "max": "10",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 930,
        "y": 840,
        "wires": []
    },
    {
        "id": "81b481fd6eadd9f7",
        "type": "change",
        "z": "e67e3fd839ae84ae",
        "g": "fd23f5e50154cb22",
        "name": "set selected",
        "rules": [
            {
                "t": "set",
                "p": "buttongroups.gaugegroup.selected",
                "pt": "global",
                "to": "topic",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "[]",
                "tot": "json"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 630,
        "y": 700,
        "wires": [
            [
                "da49b343eef146be",
                "7d7741a3c29ee335",
                "9cb1fda261fe658d"
            ]
        ]
    },
    {
        "id": "da49b343eef146be",
        "type": "link out",
        "z": "e67e3fd839ae84ae",
        "g": "fd23f5e50154cb22",
        "name": "gaugegroup out",
        "links": [
            "7aaae0a77b07588e",
            "9eaa5ec9e3a78e41"
        ],
        "x": 815,
        "y": 700,
        "wires": []
    },
    {
        "id": "9eaa5ec9e3a78e41",
        "type": "link in",
        "z": "e67e3fd839ae84ae",
        "g": "fd23f5e50154cb22",
        "name": "gauge in",
        "links": [
            "da49b343eef146be",
            "953c32994ea9dab1"
        ],
        "x": 475,
        "y": 740,
        "wires": [
            [
                "bd17046cc08f27ab"
            ]
        ]
    },
    {
        "id": "c4ccc10236b1537a",
        "type": "function",
        "z": "e67e3fd839ae84ae",
        "g": "fd23f5e50154cb22",
        "name": "store inactive & bypass active",
        "func": "var group = global.get(\"buttongroups.gaugegroup\")\n\n//node.warn(group)\n\nif(group.selected != msg.topic){\n    var member = group.members.find(element => element.topic == msg.topic);\n    member.lastvalue = msg.payload\n    global.set(\"buttongroups.gaugegroup\",group)\n    return\n}\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 690,
        "y": 800,
        "wires": [
            [
                "c9ea36ac4e3296a9",
                "9cb1fda261fe658d",
                "8e80288bd982dba7"
            ]
        ]
    },
    {
        "id": "bd17046cc08f27ab",
        "type": "function",
        "z": "e67e3fd839ae84ae",
        "g": "fd23f5e50154cb22",
        "name": "prepare after selection change",
        "func": "var group = global.get(\"buttongroups.gaugegroup\")\nvar member = {}\n\nlet msg1 = {}\n\n/*\nnode.warn(group)\nnode.warn(group.selected)\nnode.warn(group.members.length)\nnode.warn(group.members[0].topic)   */\n\nfor(var i = 0; i < group.members.length; i++)\n{\n    if(group.members[i].topic == group.selected)\n    {\n        msg1.topic = group.selected.toUpperCase()\n        msg1.min = group.members[i].min\n        msg1.max = group.members[i].max\n    }\n}\n\n//node.warn(msg1)\n\n/* old line code\nvar member = group.members.find(group.selected);\nmsg.title = group.selected.toUpperCase()\nmsg.payload = member.lastvalue\nnode.warn(member)\nmsg.ui_control = {min:member.min,max:member.max}\nnode.warn(msg.ui_control)   */\n\nreturn msg1",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 690,
        "y": 740,
        "wires": [
            [
                "b217dc5cfe320771",
                "ab78c0f5ea7f395f"
            ]
        ]
    },
    {
        "id": "9cb1fda261fe658d",
        "type": "ui_chart",
        "z": "e67e3fd839ae84ae",
        "g": "fd23f5e50154cb22",
        "name": "",
        "group": "079320e954c3aba0",
        "order": 9,
        "width": 6,
        "height": 12,
        "label": "{{msg.topic}}",
        "chartType": "line",
        "legend": "true",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": true,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "50",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "x": 930,
        "y": 880,
        "wires": [
            []
        ]
    },
    {
        "id": "ab78c0f5ea7f395f",
        "type": "function",
        "z": "e67e3fd839ae84ae",
        "g": "fd23f5e50154cb22",
        "name": "min",
        "func": "\n//node.warn(msg)\n\nmsg = {ui_control:{min:msg.min}};\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 950,
        "y": 720,
        "wires": [
            [
                "c9ea36ac4e3296a9"
            ]
        ]
    },
    {
        "id": "b217dc5cfe320771",
        "type": "function",
        "z": "e67e3fd839ae84ae",
        "g": "fd23f5e50154cb22",
        "name": "max",
        "func": "\n//node.warn(msg)\n\nmsg = {ui_control:{max:msg.max}};\n\n//node.warn(msg)\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 950,
        "y": 760,
        "wires": [
            [
                "c9ea36ac4e3296a9"
            ]
        ]
    },
    {
        "id": "30863ac543f7d4f8",
        "type": "ui_button",
        "z": "e67e3fd839ae84ae",
        "g": "fd23f5e50154cb22",
        "name": "",
        "group": "079320e954c3aba0",
        "order": 7,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "clear all",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "clear_all",
        "payload": "[]",
        "payloadType": "json",
        "topic": "topic",
        "topicType": "msg",
        "x": 520,
        "y": 860,
        "wires": [
            [
                "9cb1fda261fe658d",
                "a5333fd4e0e020f2"
            ]
        ]
    },
    {
        "id": "8e80288bd982dba7",
        "type": "debug",
        "z": "e67e3fd839ae84ae",
        "g": "fd23f5e50154cb22",
        "name": "msg of store inactive & bypass active",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1190,
        "y": 800,
        "wires": []
    },
    {
        "id": "7d7741a3c29ee335",
        "type": "debug",
        "z": "e67e3fd839ae84ae",
        "g": "fd23f5e50154cb22",
        "name": "set selected",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 970,
        "y": 680,
        "wires": []
    },
    {
        "id": "595890f90e2886ac",
        "type": "inject",
        "z": "e67e3fd839ae84ae",
        "g": "fd23f5e50154cb22",
        "name": "erase chart",
        "props": [
            {
                "p": "topic",
                "v": "[]",
                "vt": "json"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": "0.1",
        "topic": "",
        "x": 550,
        "y": 900,
        "wires": [
            [
                "9cb1fda261fe658d",
                "a5333fd4e0e020f2"
            ]
        ]
    },
    {
        "id": "26bcfb22059cdbb5",
        "type": "link in",
        "z": "e67e3fd839ae84ae",
        "g": "fd23f5e50154cb22",
        "name": "store inactive & bypass active",
        "links": [
            "43af839a011c3a5a"
        ],
        "x": 475,
        "y": 800,
        "wires": [
            [
                "c4ccc10236b1537a"
            ]
        ]
    },
    {
        "id": "a579e48a091c574c",
        "type": "link in",
        "z": "e67e3fd839ae84ae",
        "g": "fd23f5e50154cb22",
        "name": "",
        "links": [
            "379ddc275b23f306"
        ],
        "x": 475,
        "y": 700,
        "wires": [
            [
                "81b481fd6eadd9f7"
            ]
        ]
    },
    {
        "id": "a5333fd4e0e020f2",
        "type": "link out",
        "z": "e67e3fd839ae84ae",
        "g": "fd23f5e50154cb22",
        "name": "",
        "mode": "link",
        "links": [
            "8f514c14127ad023"
        ],
        "x": 675,
        "y": 840,
        "wires": []
    },
    {
        "id": "8269f6daf42b6d5a",
        "type": "function",
        "z": "e67e3fd839ae84ae",
        "g": "0d1a04a5d0e92611",
        "name": "Set data",
        "func": "var now = new Date();\nlet msg1 = {}\n\nout = msg.out\n\n//node.warn(msg)\n\nmsg1.payload = {\n    \"timestamp\" : now.getTime(),\n    \"temperature\" :     Object.values(out)[0],\n    \"humidity\" :        Object.values(out)[1],\n    \"pressure\" :        Object.values(out)[2],\n    \"uv\" :              Object.values(out)[3],\n    \"humidity soil\" :   Object.values(out)[4]\n}\n\nreturn msg1;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 300,
        "y": 1080,
        "wires": [
            [
                "0d4b1dd39e8c187d",
                "cf6bdc2ee35e5e88"
            ]
        ]
    },
    {
        "id": "0d4b1dd39e8c187d",
        "type": "debug",
        "z": "e67e3fd839ae84ae",
        "g": "0d1a04a5d0e92611",
        "name": "Set Data Dev1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 520,
        "y": 1080,
        "wires": []
    },
    {
        "id": "cf6bdc2ee35e5e88",
        "type": "csv",
        "z": "e67e3fd839ae84ae",
        "g": "0d1a04a5d0e92611",
        "name": "",
        "sep": ",",
        "hdrin": "",
        "hdrout": "all",
        "multi": "one",
        "ret": "\\n",
        "temp": "timestamp,temperature,humidity,pressure,uv,humidity soil",
        "skip": "0",
        "strings": true,
        "include_empty_strings": false,
        "include_null_values": false,
        "x": 220,
        "y": 1180,
        "wires": [
            [
                "115a9f9966327574"
            ]
        ]
    },
    {
        "id": "115a9f9966327574",
        "type": "file",
        "z": "e67e3fd839ae84ae",
        "g": "0d1a04a5d0e92611",
        "name": "",
        "filename": "log_AAABBB14A.csv",
        "appendNewline": false,
        "createDir": true,
        "overwriteFile": "false",
        "encoding": "none",
        "x": 420,
        "y": 1180,
        "wires": [
            []
        ]
    },
    {
        "id": "456cf77c4ac3caad",
        "type": "link in",
        "z": "e67e3fd839ae84ae",
        "g": "0d1a04a5d0e92611",
        "name": "logger in",
        "links": [
            "e8bf1a1d5346aa44"
        ],
        "x": 145,
        "y": 1080,
        "wires": [
            [
                "8269f6daf42b6d5a"
            ]
        ]
    },
    {
        "id": "f78aa4a33597e068",
        "type": "comment",
        "z": "e67e3fd839ae84ae",
        "g": "0d1a04a5d0e92611",
        "name": "Auto Logger",
        "info": "",
        "x": 140,
        "y": 1040,
        "wires": []
    },
    {
        "id": "8f514c14127ad023",
        "type": "link in",
        "z": "e67e3fd839ae84ae",
        "g": "edf9114eb9210545",
        "name": "all charts",
        "links": [
            "43af839a011c3a5a",
            "a5333fd4e0e020f2"
        ],
        "x": 775,
        "y": 80,
        "wires": [
            [
                "c9425f13b4ed86b4"
            ]
        ]
    },
    {
        "id": "4b609445d310e23c",
        "type": "ui_spacer",
        "z": "e67e3fd839ae84ae",
        "name": "spacer",
        "group": "4af4fc0e01f4dba3",
        "order": 7,
        "width": 1,
        "height": 1
    },
    {
        "id": "079320e954c3aba0",
        "type": "ui_group",
        "name": "Device 1",
        "tab": "e9a27aae4ed1b3ba",
        "order": 4,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "4af4fc0e01f4dba3",
        "type": "ui_group",
        "name": "Group 5",
        "tab": "",
        "order": 2,
        "disp": true,
        "width": "18",
        "collapse": false
    },
    {
        "id": "e9a27aae4ed1b3ba",
        "type": "ui_tab",
        "name": "Devices",
        "icon": "fa-sitemap",
        "order": 2,
        "disabled": false,
        "hidden": false
    }
]