Project/Gateway/Node-RED/device-2.json
[
    {
        "id": "4c147b1d3c22cc15",
        "type": "tab",
        "label": "Device 2",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "d7fb96eb8600ca44",
        "type": "group",
        "z": "4c147b1d3c22cc15",
        "name": "input values",
        "style": {
            "label": true
        },
        "nodes": [
            "179a51ffea1bfc74",
            "54e392dfd0803c78"
        ],
        "x": 194,
        "y": 109,
        "w": 392,
        "h": 142
    },
    {
        "id": "791ee733f1c9f5d5",
        "type": "group",
        "z": "4c147b1d3c22cc15",
        "name": "all values on chart",
        "style": {
            "label": true
        },
        "nodes": [
            "ca1a5018662bbd4d",
            "a64f705cf057d3dc",
            "278eec286f2ffb64"
        ],
        "x": 634,
        "y": 39,
        "w": 352,
        "h": 82
    },
    {
        "id": "9acc508f5a99b79c",
        "type": "group",
        "z": "4c147b1d3c22cc15",
        "style": {
            "stroke": "#999999",
            "stroke-opacity": "1",
            "fill": "none",
            "fill-opacity": "1",
            "label": true,
            "label-position": "nw",
            "color": "#a4a4a4"
        },
        "nodes": [
            "f8a695fedaee3bf1",
            "b6c08b5803c10763",
            "4766a7ca744f9779",
            "0ff3465a8a65ea86",
            "32fd5a80dc3277a8",
            "3036383e18af659d",
            "45f9d891ed46b216",
            "2d9f9cbb38a25d28",
            "29d8567c62e630ef",
            "5cf21592841bebaa",
            "7e104d1340ee6778",
            "0349160a28cfc917",
            "314d92be4661b497"
        ],
        "x": 1034,
        "y": 39,
        "w": 282,
        "h": 422
    },
    {
        "id": "a9c4c20bc8b36e36",
        "type": "group",
        "z": "4c147b1d3c22cc15",
        "name": "Buttons",
        "style": {
            "label": true
        },
        "nodes": [
            "a33351d1cfacd5b0",
            "b54242c87853cb64",
            "f5d4f50ee3367969",
            "0b7dbc32466e6e6b",
            "143a76a87ddae93c",
            "27bb49c5e1f23c80",
            "b0380658ead0e83b"
        ],
        "x": 674,
        "y": 339,
        "w": 302,
        "h": 282
    },
    {
        "id": "72dabf0ae591864c",
        "type": "group",
        "z": "4c147b1d3c22cc15",
        "name": "preparation",
        "style": {
            "label": true
        },
        "nodes": [
            "479cdb583db43a93",
            "95d551395d8cc28a",
            "fd04836fb20b6098",
            "f3432b15a921de19",
            "062b8338b7a1c337",
            "64fc77bdc1926194",
            "2a485ad5943991ca"
        ],
        "x": 84,
        "y": 339,
        "w": 362,
        "h": 252
    },
    {
        "id": "ef2932a6afc3bf4a",
        "type": "group",
        "z": "4c147b1d3c22cc15",
        "name": "chart/gauge settings",
        "style": {
            "label": true
        },
        "nodes": [
            "0047790b98301f6a",
            "d5f10a0fa1761842",
            "80dffa60c317eafe",
            "1263602501eb8731",
            "60981c89285b93a7",
            "b6ccc80ef900140c",
            "e0c587c0c3b0d826",
            "56415cbcbe5db1d6",
            "5982a284361626f5",
            "262c7809c10960ff",
            "eea0ac67a4dc05e8",
            "f85463589ca83a8e",
            "86e857df81412497",
            "74011e94bf5033b6",
            "833060248a3368d0",
            "f09e517ea88b14a4"
        ],
        "x": 434,
        "y": 639,
        "w": 952,
        "h": 302
    },
    {
        "id": "cd5d4b1dfd7e7139",
        "type": "group",
        "z": "4c147b1d3c22cc15",
        "style": {
            "stroke": "#999999",
            "stroke-opacity": "1",
            "fill": "none",
            "fill-opacity": "1",
            "label": true,
            "label-position": "nw",
            "color": "#a4a4a4"
        },
        "nodes": [
            "66af967567977652",
            "058c9b8f9efa27a7",
            "628946cc681801a4",
            "bb954497f590999a",
            "907018a005c06ddb",
            "39d5c9018113827e"
        ],
        "x": 64,
        "y": 999,
        "w": 602,
        "h": 222
    },
    {
        "id": "5f919751a2088f56",
        "type": "link in",
        "z": "4c147b1d3c22cc15",
        "name": "device",
        "links": [
            "821f8be17770ea09",
            "b0a1f531fac5e3ec"
        ],
        "x": 95,
        "y": 180,
        "wires": [
            [
                "54e392dfd0803c78"
            ]
        ]
    },
    {
        "id": "179a51ffea1bfc74",
        "type": "function",
        "z": "4c147b1d3c22cc15",
        "g": "d7fb96eb8600ca44",
        "name": "Get Values",
        "func": "\nlet msg1 = {};\nlet msg2 = {};\nlet msg3 = {};\nlet msg4 = {};\nlet msg5 = {};\nlet msg6 = {};\n\n//node.warn(msg)\n\nmsg1.topic = \"temperature\"\nmsg1.payload = msg.out.T\nmsg1.device = msg.device\n\nmsg2.topic = \"humidity\"\nmsg2.payload = msg.out.H\nmsg2.device = msg.device\n\nmsg3.topic = \"humidity soil\"\nmsg3.payload = msg.out.S\nmsg3.device = msg.device\n\nmsg4.topic = \"pressure\"\nmsg4.payload = msg.out.P\nmsg4.device = msg.device\n\nmsg5.topic = \"uv\"\nmsg5.payload = msg.out.U\nmsg5.device = msg.device\n\nnode.send([msg1, msg2, msg3, msg4, msg5, null])",
        "outputs": 6,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 490,
        "y": 180,
        "wires": [
            [
                "278eec286f2ffb64",
                "f8a695fedaee3bf1",
                "a33351d1cfacd5b0"
            ],
            [
                "278eec286f2ffb64",
                "b6c08b5803c10763",
                "b54242c87853cb64"
            ],
            [
                "278eec286f2ffb64",
                "4766a7ca744f9779",
                "0b7dbc32466e6e6b"
            ],
            [
                "278eec286f2ffb64",
                "0ff3465a8a65ea86",
                "143a76a87ddae93c"
            ],
            [
                "278eec286f2ffb64",
                "32fd5a80dc3277a8",
                "27bb49c5e1f23c80"
            ],
            [
                "278eec286f2ffb64",
                "3036383e18af659d",
                "f5d4f50ee3367969"
            ]
        ],
        "outputLabels": [
            "T",
            "H",
            "S",
            "P",
            "U",
            "NOT USED"
        ]
    },
    {
        "id": "54e392dfd0803c78",
        "type": "change",
        "z": "4c147b1d3c22cc15",
        "g": "d7fb96eb8600ca44",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "device",
                "pt": "msg",
                "to": "topic",
                "tot": "msg"
            },
            {
                "t": "delete",
                "p": "topic",
                "pt": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 300,
        "y": 180,
        "wires": [
            [
                "179a51ffea1bfc74"
            ]
        ]
    },
    {
        "id": "ca1a5018662bbd4d",
        "type": "ui_chart",
        "z": "4c147b1d3c22cc15",
        "g": "791ee733f1c9f5d5",
        "name": "",
        "group": "01ea2aede277feca",
        "order": 10,
        "width": 6,
        "height": 12,
        "label": "all charts",
        "chartType": "line",
        "legend": "true",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": true,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "50",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "x": 900,
        "y": 80,
        "wires": [
            []
        ]
    },
    {
        "id": "a64f705cf057d3dc",
        "type": "link in",
        "z": "4c147b1d3c22cc15",
        "g": "791ee733f1c9f5d5",
        "name": "all charts",
        "links": [
            "278eec286f2ffb64",
            "f09e517ea88b14a4"
        ],
        "x": 775,
        "y": 80,
        "wires": [
            [
                "ca1a5018662bbd4d"
            ]
        ]
    },
    {
        "id": "278eec286f2ffb64",
        "type": "link out",
        "z": "4c147b1d3c22cc15",
        "g": "791ee733f1c9f5d5",
        "name": "all values",
        "mode": "link",
        "links": [
            "a64f705cf057d3dc",
            "74011e94bf5033b6"
        ],
        "x": 675,
        "y": 80,
        "wires": []
    },
    {
        "id": "f8a695fedaee3bf1",
        "type": "change",
        "z": "4c147b1d3c22cc15",
        "g": "9acc508f5a99b79c",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "device",
                "tot": "msg"
            },
            {
                "t": "delete",
                "p": "device",
                "pt": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1140,
        "y": 120,
        "wires": [
            [
                "2d9f9cbb38a25d28"
            ]
        ]
    },
    {
        "id": "b6c08b5803c10763",
        "type": "change",
        "z": "4c147b1d3c22cc15",
        "g": "9acc508f5a99b79c",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "device",
                "tot": "msg"
            },
            {
                "t": "delete",
                "p": "device",
                "pt": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1140,
        "y": 180,
        "wires": [
            [
                "29d8567c62e630ef"
            ]
        ]
    },
    {
        "id": "4766a7ca744f9779",
        "type": "change",
        "z": "4c147b1d3c22cc15",
        "g": "9acc508f5a99b79c",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "device",
                "tot": "msg"
            },
            {
                "t": "delete",
                "p": "device",
                "pt": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1140,
        "y": 240,
        "wires": [
            [
                "5cf21592841bebaa"
            ]
        ]
    },
    {
        "id": "0ff3465a8a65ea86",
        "type": "change",
        "z": "4c147b1d3c22cc15",
        "g": "9acc508f5a99b79c",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "device",
                "tot": "msg"
            },
            {
                "t": "delete",
                "p": "device",
                "pt": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1140,
        "y": 300,
        "wires": [
            [
                "7e104d1340ee6778"
            ]
        ]
    },
    {
        "id": "32fd5a80dc3277a8",
        "type": "change",
        "z": "4c147b1d3c22cc15",
        "g": "9acc508f5a99b79c",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "device",
                "tot": "msg"
            },
            {
                "t": "delete",
                "p": "device",
                "pt": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1140,
        "y": 360,
        "wires": [
            [
                "0349160a28cfc917"
            ]
        ]
    },
    {
        "id": "3036383e18af659d",
        "type": "change",
        "z": "4c147b1d3c22cc15",
        "g": "9acc508f5a99b79c",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "device",
                "tot": "msg"
            },
            {
                "t": "delete",
                "p": "device",
                "pt": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1140,
        "y": 420,
        "wires": [
            [
                "314d92be4661b497"
            ]
        ]
    },
    {
        "id": "45f9d891ed46b216",
        "type": "comment",
        "z": "4c147b1d3c22cc15",
        "g": "9acc508f5a99b79c",
        "name": "Out for charts",
        "info": "",
        "x": 1150,
        "y": 80,
        "wires": []
    },
    {
        "id": "2d9f9cbb38a25d28",
        "type": "link out",
        "z": "4c147b1d3c22cc15",
        "g": "9acc508f5a99b79c",
        "name": "temp out",
        "mode": "link",
        "links": [
            "f2b341256632ff15"
        ],
        "x": 1275,
        "y": 120,
        "wires": []
    },
    {
        "id": "29d8567c62e630ef",
        "type": "link out",
        "z": "4c147b1d3c22cc15",
        "g": "9acc508f5a99b79c",
        "name": "hum out",
        "mode": "link",
        "links": [
            "a8e5f526d1ecc403"
        ],
        "x": 1275,
        "y": 180,
        "wires": []
    },
    {
        "id": "5cf21592841bebaa",
        "type": "link out",
        "z": "4c147b1d3c22cc15",
        "g": "9acc508f5a99b79c",
        "name": "soil out",
        "mode": "link",
        "links": [
            "095e203ed3db362c"
        ],
        "x": 1275,
        "y": 240,
        "wires": []
    },
    {
        "id": "7e104d1340ee6778",
        "type": "link out",
        "z": "4c147b1d3c22cc15",
        "g": "9acc508f5a99b79c",
        "name": "pres out",
        "mode": "link",
        "links": [
            "e913380a73d7f148"
        ],
        "x": 1275,
        "y": 300,
        "wires": []
    },
    {
        "id": "0349160a28cfc917",
        "type": "link out",
        "z": "4c147b1d3c22cc15",
        "g": "9acc508f5a99b79c",
        "name": "uv out",
        "mode": "link",
        "links": [
            "c963cf114b7d1cf8"
        ],
        "x": 1275,
        "y": 360,
        "wires": []
    },
    {
        "id": "314d92be4661b497",
        "type": "link out",
        "z": "4c147b1d3c22cc15",
        "g": "9acc508f5a99b79c",
        "name": "not used out",
        "mode": "link",
        "links": [
            "56eb480657e258b2"
        ],
        "x": 1275,
        "y": 420,
        "wires": []
    },
    {
        "id": "a33351d1cfacd5b0",
        "type": "ui_button",
        "z": "4c147b1d3c22cc15",
        "g": "a9c4c20bc8b36e36",
        "name": "temperature",
        "group": "01ea2aede277feca",
        "order": 1,
        "width": 3,
        "height": 1,
        "passthru": false,
        "label": "{{msg.topic.toUpperCase()}}",
        "tooltip": "",
        "color": "",
        "bgcolor": "{{bgr}}",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "temperature",
        "topicType": "str",
        "x": 770,
        "y": 380,
        "wires": [
            [
                "b0380658ead0e83b"
            ]
        ]
    },
    {
        "id": "b54242c87853cb64",
        "type": "ui_button",
        "z": "4c147b1d3c22cc15",
        "g": "a9c4c20bc8b36e36",
        "name": "humidity",
        "group": "01ea2aede277feca",
        "order": 2,
        "width": 3,
        "height": 1,
        "passthru": false,
        "label": "{{msg.topic.toUpperCase()}}",
        "tooltip": "",
        "color": "",
        "bgcolor": "{{bgr}}",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "humidity",
        "topicType": "str",
        "x": 760,
        "y": 420,
        "wires": [
            [
                "b0380658ead0e83b"
            ]
        ]
    },
    {
        "id": "f5d4f50ee3367969",
        "type": "ui_button",
        "z": "4c147b1d3c22cc15",
        "g": "a9c4c20bc8b36e36",
        "name": "not used",
        "group": "01ea2aede277feca",
        "order": 6,
        "width": 3,
        "height": 1,
        "passthru": false,
        "label": "<i class=\"fa fa-minus\" aria-hidden=\"true\"></i>",
        "tooltip": "",
        "color": "",
        "bgcolor": "{{bgr}}",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "not used",
        "topicType": "str",
        "x": 760,
        "y": 580,
        "wires": [
            [
                "b0380658ead0e83b"
            ]
        ]
    },
    {
        "id": "0b7dbc32466e6e6b",
        "type": "ui_button",
        "z": "4c147b1d3c22cc15",
        "g": "a9c4c20bc8b36e36",
        "name": "humidity soil",
        "group": "01ea2aede277feca",
        "order": 3,
        "width": 3,
        "height": 1,
        "passthru": false,
        "label": "HUMIDITY SOIL",
        "tooltip": "",
        "color": "",
        "bgcolor": "{{bgr}}",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "humidity soil",
        "topicType": "str",
        "x": 770,
        "y": 460,
        "wires": [
            [
                "b0380658ead0e83b"
            ]
        ]
    },
    {
        "id": "143a76a87ddae93c",
        "type": "ui_button",
        "z": "4c147b1d3c22cc15",
        "g": "a9c4c20bc8b36e36",
        "name": "pressure",
        "group": "01ea2aede277feca",
        "order": 4,
        "width": 3,
        "height": 1,
        "passthru": false,
        "label": "PRESSURE",
        "tooltip": "",
        "color": "",
        "bgcolor": "{{bgr}}",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "pressure",
        "topicType": "str",
        "x": 760,
        "y": 500,
        "wires": [
            [
                "b0380658ead0e83b"
            ]
        ]
    },
    {
        "id": "27bb49c5e1f23c80",
        "type": "ui_button",
        "z": "4c147b1d3c22cc15",
        "g": "a9c4c20bc8b36e36",
        "name": "uv",
        "group": "01ea2aede277feca",
        "order": 5,
        "width": 3,
        "height": 1,
        "passthru": false,
        "label": "UV",
        "tooltip": "",
        "color": "",
        "bgcolor": "{{bgr}}",
        "icon": "",
        "payload": "[]",
        "payloadType": "json",
        "topic": "uv",
        "topicType": "str",
        "x": 750,
        "y": 540,
        "wires": [
            [
                "b0380658ead0e83b"
            ]
        ]
    },
    {
        "id": "b0380658ead0e83b",
        "type": "link out",
        "z": "4c147b1d3c22cc15",
        "g": "a9c4c20bc8b36e36",
        "name": "",
        "mode": "link",
        "links": [
            "833060248a3368d0"
        ],
        "x": 935,
        "y": 480,
        "wires": []
    },
    {
        "id": "479cdb583db43a93",
        "type": "ui_ui_control",
        "z": "4c147b1d3c22cc15",
        "g": "72dabf0ae591864c",
        "name": "inject dash events",
        "events": "all",
        "x": 210,
        "y": 430,
        "wires": [
            [
                "95d551395d8cc28a"
            ]
        ]
    },
    {
        "id": "95d551395d8cc28a",
        "type": "link out",
        "z": "4c147b1d3c22cc15",
        "g": "72dabf0ae591864c",
        "name": "dash-init",
        "links": [
            "7814ed99.4469e4",
            "2a485ad5943991ca",
            "1263602501eb8731"
        ],
        "x": 345,
        "y": 430,
        "wires": []
    },
    {
        "id": "fd04836fb20b6098",
        "type": "function",
        "z": "4c147b1d3c22cc15",
        "g": "72dabf0ae591864c",
        "name": "create groups",
        "func": "\nvar g_members = [\"temperature\",\"humidity\", \"pressure\", \"humidity soil\", \"uv\",\"not used\"]\n\nvar g_limits = [{lo:-40,hi:85},{lo:0,hi:100},{lo:0,hi:1000},{lo:0,hi:100},{lo:0,hi:100},{lo:0,hi:30}]\n\nvar g = {\"gaugegroup\":{\"members\":[],\"selected\":\"temperature\"}}\n\nfor(var i=0;i<g_members.length;i++){\n    g.gaugegroup.members.push( {\"topic\":g_members[i],\"lastvalue\":0,\"min\":g_limits[i].lo,\"max\":g_limits[i].hi})\n}\n\nglobal.set(\"buttongroups\",g)\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 340,
        "y": 380,
        "wires": [
            []
        ]
    },
    {
        "id": "f3432b15a921de19",
        "type": "inject",
        "z": "4c147b1d3c22cc15",
        "g": "72dabf0ae591864c",
        "name": "init",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": "0.1",
        "topic": "temperature",
        "payloadType": "date",
        "x": 190,
        "y": 380,
        "wires": [
            [
                "fd04836fb20b6098"
            ]
        ]
    },
    {
        "id": "062b8338b7a1c337",
        "type": "switch",
        "z": "4c147b1d3c22cc15",
        "g": "72dabf0ae591864c",
        "name": "",
        "property": "topic",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "temperature",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "humidity",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "humidity soil",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "pressure",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "uv",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "not used",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 6,
        "x": 350,
        "y": 520,
        "wires": [
            [
                "a33351d1cfacd5b0"
            ],
            [
                "b54242c87853cb64"
            ],
            [
                "0b7dbc32466e6e6b"
            ],
            [
                "143a76a87ddae93c"
            ],
            [
                "27bb49c5e1f23c80"
            ],
            [
                "f5d4f50ee3367969"
            ]
        ]
    },
    {
        "id": "64fc77bdc1926194",
        "type": "function",
        "z": "4c147b1d3c22cc15",
        "g": "72dabf0ae591864c",
        "name": "get color",
        "func": "var group = global.get(\"buttongroups.gaugegroup\")\nvar m\nfor(var i=0;i<group.members.length;i++){\n    m = {topic:group.members[i].topic}\n    m.bgr = group.members[i].topic == group.selected ? 'green' : 'red'\n    node.send(m)\n}\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 220,
        "y": 520,
        "wires": [
            [
                "062b8338b7a1c337"
            ]
        ]
    },
    {
        "id": "2a485ad5943991ca",
        "type": "link in",
        "z": "4c147b1d3c22cc15",
        "g": "72dabf0ae591864c",
        "name": "gaugegroup in",
        "links": [
            "80dffa60c317eafe",
            "95d551395d8cc28a"
        ],
        "x": 125,
        "y": 520,
        "wires": [
            [
                "64fc77bdc1926194"
            ]
        ]
    },
    {
        "id": "0047790b98301f6a",
        "type": "ui_gauge",
        "z": "4c147b1d3c22cc15",
        "g": "ef2932a6afc3bf4a",
        "name": "",
        "group": "01ea2aede277feca",
        "order": 8,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "{{msg.topic}}",
        "label": "",
        "format": "{{value | number:3}}",
        "min": 0,
        "max": "10",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 930,
        "y": 840,
        "wires": []
    },
    {
        "id": "d5f10a0fa1761842",
        "type": "change",
        "z": "4c147b1d3c22cc15",
        "g": "ef2932a6afc3bf4a",
        "name": "set selected",
        "rules": [
            {
                "t": "set",
                "p": "buttongroups.gaugegroup.selected",
                "pt": "global",
                "to": "topic",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "[]",
                "tot": "json"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 630,
        "y": 700,
        "wires": [
            [
                "80dffa60c317eafe",
                "f85463589ca83a8e",
                "e0c587c0c3b0d826"
            ]
        ]
    },
    {
        "id": "80dffa60c317eafe",
        "type": "link out",
        "z": "4c147b1d3c22cc15",
        "g": "ef2932a6afc3bf4a",
        "name": "gaugegroup out",
        "links": [
            "2a485ad5943991ca",
            "1263602501eb8731"
        ],
        "x": 815,
        "y": 700,
        "wires": []
    },
    {
        "id": "1263602501eb8731",
        "type": "link in",
        "z": "4c147b1d3c22cc15",
        "g": "ef2932a6afc3bf4a",
        "name": "gauge in",
        "links": [
            "80dffa60c317eafe",
            "95d551395d8cc28a"
        ],
        "x": 475,
        "y": 740,
        "wires": [
            [
                "b6ccc80ef900140c"
            ]
        ]
    },
    {
        "id": "60981c89285b93a7",
        "type": "function",
        "z": "4c147b1d3c22cc15",
        "g": "ef2932a6afc3bf4a",
        "name": "store inactive & bypass active",
        "func": "var group = global.get(\"buttongroups.gaugegroup\")\n\n//node.warn(group)\n\nif(group.selected != msg.topic){\n    var member = group.members.find(element => element.topic == msg.topic);\n    member.lastvalue = msg.payload\n    global.set(\"buttongroups.gaugegroup\",group)\n    return\n}\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 690,
        "y": 800,
        "wires": [
            [
                "0047790b98301f6a",
                "e0c587c0c3b0d826",
                "eea0ac67a4dc05e8"
            ]
        ]
    },
    {
        "id": "b6ccc80ef900140c",
        "type": "function",
        "z": "4c147b1d3c22cc15",
        "g": "ef2932a6afc3bf4a",
        "name": "prepare after selection change",
        "func": "var group = global.get(\"buttongroups.gaugegroup\")\nvar member = {}\n\nlet msg1 = {}\n\n/*\nnode.warn(group)\nnode.warn(group.selected)\nnode.warn(group.members.length)\nnode.warn(group.members[0].topic)   */\n\nfor(var i = 0; i < group.members.length; i++)\n{\n    if(group.members[i].topic == group.selected)\n    {\n        msg1.topic = group.selected.toUpperCase()\n        msg1.min = group.members[i].min\n        msg1.max = group.members[i].max\n    }\n}\n\n//node.warn(msg1)\n\n/* old line code\nvar member = group.members.find(group.selected);\nmsg.title = group.selected.toUpperCase()\nmsg.payload = member.lastvalue\nnode.warn(member)\nmsg.ui_control = {min:member.min,max:member.max}\nnode.warn(msg.ui_control)   */\n\nreturn msg1",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 690,
        "y": 740,
        "wires": [
            [
                "5982a284361626f5",
                "56415cbcbe5db1d6"
            ]
        ]
    },
    {
        "id": "e0c587c0c3b0d826",
        "type": "ui_chart",
        "z": "4c147b1d3c22cc15",
        "g": "ef2932a6afc3bf4a",
        "name": "",
        "group": "01ea2aede277feca",
        "order": 9,
        "width": 6,
        "height": 12,
        "label": "{{msg.topic}}",
        "chartType": "line",
        "legend": "true",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": true,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "50",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "x": 930,
        "y": 880,
        "wires": [
            []
        ]
    },
    {
        "id": "56415cbcbe5db1d6",
        "type": "function",
        "z": "4c147b1d3c22cc15",
        "g": "ef2932a6afc3bf4a",
        "name": "min",
        "func": "\n//node.warn(msg)\n\nmsg = {ui_control:{min:msg.min}};\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 950,
        "y": 720,
        "wires": [
            [
                "0047790b98301f6a"
            ]
        ]
    },
    {
        "id": "5982a284361626f5",
        "type": "function",
        "z": "4c147b1d3c22cc15",
        "g": "ef2932a6afc3bf4a",
        "name": "max",
        "func": "\n//node.warn(msg)\n\nmsg = {ui_control:{max:msg.max}};\n\n//node.warn(msg)\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 950,
        "y": 760,
        "wires": [
            [
                "0047790b98301f6a"
            ]
        ]
    },
    {
        "id": "262c7809c10960ff",
        "type": "ui_button",
        "z": "4c147b1d3c22cc15",
        "g": "ef2932a6afc3bf4a",
        "name": "",
        "group": "01ea2aede277feca",
        "order": 7,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "clear all",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "clear_all",
        "payload": "[]",
        "payloadType": "json",
        "topic": "topic",
        "topicType": "msg",
        "x": 520,
        "y": 860,
        "wires": [
            [
                "e0c587c0c3b0d826",
                "f09e517ea88b14a4"
            ]
        ]
    },
    {
        "id": "eea0ac67a4dc05e8",
        "type": "debug",
        "z": "4c147b1d3c22cc15",
        "g": "ef2932a6afc3bf4a",
        "name": "msg of store inactive & bypass active",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1190,
        "y": 800,
        "wires": []
    },
    {
        "id": "f85463589ca83a8e",
        "type": "debug",
        "z": "4c147b1d3c22cc15",
        "g": "ef2932a6afc3bf4a",
        "name": "set selected",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 970,
        "y": 680,
        "wires": []
    },
    {
        "id": "86e857df81412497",
        "type": "inject",
        "z": "4c147b1d3c22cc15",
        "g": "ef2932a6afc3bf4a",
        "name": "erase chart",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": "0.1",
        "topic": "",
        "payload": "[]",
        "payloadType": "json",
        "x": 550,
        "y": 900,
        "wires": [
            [
                "e0c587c0c3b0d826",
                "f09e517ea88b14a4"
            ]
        ]
    },
    {
        "id": "74011e94bf5033b6",
        "type": "link in",
        "z": "4c147b1d3c22cc15",
        "g": "ef2932a6afc3bf4a",
        "name": "store inactive & bypass active",
        "links": [
            "278eec286f2ffb64"
        ],
        "x": 475,
        "y": 800,
        "wires": [
            [
                "60981c89285b93a7"
            ]
        ]
    },
    {
        "id": "833060248a3368d0",
        "type": "link in",
        "z": "4c147b1d3c22cc15",
        "g": "ef2932a6afc3bf4a",
        "name": "",
        "links": [
            "b0380658ead0e83b"
        ],
        "x": 475,
        "y": 700,
        "wires": [
            [
                "d5f10a0fa1761842"
            ]
        ]
    },
    {
        "id": "f09e517ea88b14a4",
        "type": "link out",
        "z": "4c147b1d3c22cc15",
        "g": "ef2932a6afc3bf4a",
        "name": "",
        "mode": "link",
        "links": [
            "a64f705cf057d3dc"
        ],
        "x": 695,
        "y": 860,
        "wires": []
    },
    {
        "id": "66af967567977652",
        "type": "function",
        "z": "4c147b1d3c22cc15",
        "g": "cd5d4b1dfd7e7139",
        "name": "Set data",
        "func": "var now = new Date();\nlet msg1 = {}\n\nout = msg.out\n\nnode.warn(msg)\n\nmsg1.payload = {\n    \"timestamp\" : now.getTime(),\n    \"temperature\" :     Object.values(out)[0],\n    \"pressure\" :        Object.values(out)[1],\n    \"humidity\" :        Object.values(out)[2],\n    \"humidity soil\" :   Object.values(out)[3],\n    \"uv\" :              Object.values(out)[4]\n}\n\nreturn msg1;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 320,
        "y": 1080,
        "wires": [
            [
                "058c9b8f9efa27a7",
                "628946cc681801a4"
            ]
        ]
    },
    {
        "id": "058c9b8f9efa27a7",
        "type": "debug",
        "z": "4c147b1d3c22cc15",
        "g": "cd5d4b1dfd7e7139",
        "name": "Set Data Dev2",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 540,
        "y": 1080,
        "wires": []
    },
    {
        "id": "628946cc681801a4",
        "type": "csv",
        "z": "4c147b1d3c22cc15",
        "g": "cd5d4b1dfd7e7139",
        "name": "",
        "sep": ",",
        "hdrin": "",
        "hdrout": "all",
        "multi": "one",
        "ret": "\\n",
        "temp": "timestamp,temperature,pressure,humidity,humidity soil,uv",
        "skip": "0",
        "strings": true,
        "include_empty_strings": false,
        "include_null_values": false,
        "x": 240,
        "y": 1180,
        "wires": [
            [
                "bb954497f590999a"
            ]
        ]
    },
    {
        "id": "bb954497f590999a",
        "type": "file",
        "z": "4c147b1d3c22cc15",
        "g": "cd5d4b1dfd7e7139",
        "name": "",
        "filename": "log_AAC44AC6.csv",
        "appendNewline": false,
        "createDir": true,
        "overwriteFile": "false",
        "encoding": "none",
        "x": 430,
        "y": 1180,
        "wires": [
            []
        ]
    },
    {
        "id": "907018a005c06ddb",
        "type": "link in",
        "z": "4c147b1d3c22cc15",
        "g": "cd5d4b1dfd7e7139",
        "name": "logger in",
        "links": [
            "b0a1f531fac5e3ec"
        ],
        "x": 165,
        "y": 1080,
        "wires": [
            [
                "66af967567977652"
            ]
        ]
    },
    {
        "id": "39d5c9018113827e",
        "type": "comment",
        "z": "4c147b1d3c22cc15",
        "g": "cd5d4b1dfd7e7139",
        "name": "Auto Logger",
        "info": "",
        "x": 160,
        "y": 1040,
        "wires": []
    },
    {
        "id": "01ea2aede277feca",
        "type": "ui_group",
        "name": "Device 2",
        "tab": "e9a27aae4ed1b3ba",
        "order": 5,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "e9a27aae4ed1b3ba",
        "type": "ui_tab",
        "name": "Devices",
        "icon": "fa-sitemap",
        "order": 2,
        "disabled": false,
        "hidden": false
    }
]