Project/Gateway/Node-RED/file-browser.json
[
    {
        "id": "cb035cb2681b76fc",
        "type": "tab",
        "label": "File Browser",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "bfe1e8d0023c3a3f",
        "type": "group",
        "z": "cb035cb2681b76fc",
        "style": {
            "stroke": "#999999",
            "stroke-opacity": "1",
            "fill": "none",
            "fill-opacity": "1",
            "label": true,
            "label-position": "nw",
            "color": "#a4a4a4"
        },
        "nodes": [
            "739cc63175bae9e4",
            "bc512edd8bcf422f",
            "7812ec730f52bd59",
            "ddc87495efec805d",
            "28ca3f49ced90328",
            "a59365d30703d79c",
            "6fac21fc027c7062",
            "9f1e33634a44e94d",
            "db35fd7840331fe0",
            "ed214ebb5ac685f6",
            "a78ec0c1ad71c210",
            "4e43945a8e9be1f3",
            "9bef063762f0e901",
            "d935354946ea92ef",
            "d1f77a446921f535",
            "588045745ebfa36f"
        ],
        "x": 14,
        "y": 699,
        "w": 1192,
        "h": 382
    },
    {
        "id": "8fed48c2efd2e77f",
        "type": "group",
        "z": "cb035cb2681b76fc",
        "style": {
            "stroke": "#999999",
            "stroke-opacity": "1",
            "fill": "none",
            "fill-opacity": "1",
            "label": true,
            "label-position": "nw",
            "color": "#a4a4a4"
        },
        "nodes": [
            "89128c31d438cc6c",
            "0c302d068782c4b4",
            "e0ecf7046bb07cee",
            "484b76203a5ae837",
            "f295b2a6c22318bf",
            "227866681d2098e9",
            "bf426648a49ebd54",
            "0adaba8e22552808",
            "cd6d2562bebc2cb0",
            "69e30514cfd8bfbe",
            "d857f8fafeaf29fb",
            "3382b694a6d4e9f4",
            "ed9ffc8b230e1a10",
            "3d85c67c29a7013d",
            "cdd8b35eb5e2a70a",
            "9c85d3b476114aaf",
            "c72f3f6ffd04d4eb",
            "cb78723ba101a4c6",
            "27535b22aa410b48",
            "7d6c79785c3ad4f6",
            "08f27379e976a7fc",
            "e28ea0d34c2b6620",
            "905ea7cab24e2372",
            "607cfbdd1ddadd41",
            "6870f60773645611",
            "f47c6859b9bc89fe",
            "5e43e7eef6049313",
            "407776e64b9f6176",
            "cfec32a416d86f48",
            "16469284c00f523d",
            "390b4620f6c9cb20",
            "35170259ffd74208",
            "13b097bbd35fab98",
            "1b356dbf86bff0fc",
            "e3d96bd0a81f0db6",
            "cbf6f1234c7e6976",
            "8c59da49d511cbc6",
            "7c58b97e3e3d1174",
            "91b6ca4e42f01a02",
            "1849f84d656605d7",
            "4f8a781d62ee2fb9"
        ],
        "x": 14,
        "y": 19,
        "w": 1292,
        "h": 662
    },
    {
        "id": "7c58b97e3e3d1174",
        "type": "debug",
        "z": "cb035cb2681b76fc",
        "g": "8fed48c2efd2e77f",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 530,
        "y": 520,
        "wires": []
    },
    {
        "id": "91b6ca4e42f01a02",
        "type": "change",
        "z": "cb035cb2681b76fc",
        "g": "8fed48c2efd2e77f",
        "name": "Refresh colour button",
        "rules": [
            {
                "t": "set",
                "p": "colour",
                "pt": "msg",
                "to": "orange",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 360,
        "y": 560,
        "wires": [
            []
        ]
    },
    {
        "id": "4f8a781d62ee2fb9",
        "type": "inject",
        "z": "cb035cb2681b76fc",
        "g": "8fed48c2efd2e77f",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payloadType": "date",
        "x": 130,
        "y": 560,
        "wires": [
            []
        ]
    },
    {
        "id": "89128c31d438cc6c",
        "type": "comment",
        "z": "cb035cb2681b76fc",
        "g": "8fed48c2efd2e77f",
        "name": "File Browser",
        "info": "1) Update the default folder in the Init node\n2) Update the default folder in the Reset node as well\n3) You can duplicate the Reset nodes and use them as saved shortcuts\n4) Check the Convert Timestamps function node if you want to see your dates in a different format. I just used the Javascript toISOString format.\n5) The Graph button can read any CSV file which have any number of values, but the first column always contains a timestamp column with javascript timestamp of the data point.",
        "x": 110,
        "y": 60,
        "wires": []
    },
    {
        "id": "0c302d068782c4b4",
        "type": "fs-file-lister",
        "z": "cb035cb2681b76fc",
        "g": "8fed48c2efd2e77f",
        "name": "Files",
        "start": "/home/pi",
        "pattern": "*.*",
        "folders": "*",
        "hidden": false,
        "lstype": "files",
        "path": true,
        "single": true,
        "depth": 0,
        "stat": true,
        "showWarnings": false,
        "x": 510,
        "y": 180,
        "wires": [
            [
                "227866681d2098e9",
                "cd6d2562bebc2cb0"
            ]
        ]
    },
    {
        "id": "e0ecf7046bb07cee",
        "type": "inject",
        "z": "cb035cb2681b76fc",
        "g": "8fed48c2efd2e77f",
        "name": "Init",
        "props": [
            {
                "p": "payload",
                "v": "/home/pi",
                "vt": "str"
            },
            {
                "p": "topic",
                "v": "change",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "change",
        "payload": "/home/pi",
        "payloadType": "str",
        "x": 110,
        "y": 100,
        "wires": [
            [
                "08f27379e976a7fc"
            ]
        ]
    },
    {
        "id": "484b76203a5ae837",
        "type": "ui_button",
        "z": "cb035cb2681b76fc",
        "g": "8fed48c2efd2e77f",
        "name": "",
        "group": "160e81fb.f1c86e",
        "order": 1,
        "width": 2,
        "height": 1,
        "passthru": false,
        "label": "Refresh",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "refresh",
        "payload": "",
        "payloadType": "str",
        "topic": "refresh",
        "topicType": "str",
        "x": 100,
        "y": 180,
        "wires": [
            [
                "08f27379e976a7fc"
            ]
        ]
    },
    {
        "id": "f295b2a6c22318bf",
        "type": "ui_dropdown",
        "z": "cb035cb2681b76fc",
        "g": "8fed48c2efd2e77f",
        "name": "File Selector for graph",
        "label": "",
        "tooltip": "",
        "place": "Select a file",
        "group": "1ee8684c3daf831f",
        "order": 1,
        "width": "5",
        "height": "1",
        "passthru": false,
        "multiple": false,
        "options": [
            {
                "label": "",
                "value": "",
                "type": "str"
            }
        ],
        "payload": "",
        "topic": "",
        "topicType": "str",
        "x": 940,
        "y": 180,
        "wires": [
            [
                "16469284c00f523d"
            ]
        ]
    },
    {
        "id": "227866681d2098e9",
        "type": "function",
        "z": "cb035cb2681b76fc",
        "g": "8fed48c2efd2e77f",
        "name": "Format data",
        "func": "// format the data for the dropdown\nmsg.options = [];\nfor (var i=0; i<msg.payload.length; i++) {\n    // This is a file\n    obj = {};\n    obj [msg.payload[i].name.replace(/^.*(\\\\|\\/|\\:)/, '')]=msg.payload[i].name;\n    msg.options.push(obj);\n}\nmsg.payload={};\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 710,
        "y": 180,
        "wires": [
            [
                "f295b2a6c22318bf",
                "13b097bbd35fab98"
            ]
        ]
    },
    {
        "id": "bf426648a49ebd54",
        "type": "ui_template",
        "z": "cb035cb2681b76fc",
        "g": "8fed48c2efd2e77f",
        "group": "160e81fb.f1c86e",
        "name": "",
        "order": 10,
        "width": 0,
        "height": 0,
        "format": "<div ng-bind-html=\"msg.payload\" height=\"400\" style=\"height: 400px;\"><br/>\n</div>\n\n",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": false,
        "templateScope": "local",
        "x": 1100,
        "y": 240,
        "wires": [
            []
        ]
    },
    {
        "id": "0adaba8e22552808",
        "type": "template",
        "z": "cb035cb2681b76fc",
        "g": "8fed48c2efd2e77f",
        "name": "",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "<table width=\"100%\">\n    <tr><th>File Name</th><th>Size</th><th>Created</th><th>Changed</th></tr>\n    {{#payload}}\n        <tr>\n            <td><a href=\"/download?filename={{name}}\" target=\"blank\">{{fname}}</a></td>\n            <td>{{stat.size}}</td>\n            <td>{{stat.created}}</td>\n            <td>{{stat.changed}}</td>\n        </tr>\n    {{/payload}}\n</table>\n",
        "output": "str",
        "x": 940,
        "y": 240,
        "wires": [
            [
                "bf426648a49ebd54"
            ]
        ]
    },
    {
        "id": "cd6d2562bebc2cb0",
        "type": "function",
        "z": "cb035cb2681b76fc",
        "g": "8fed48c2efd2e77f",
        "name": "Convert timestamps",
        "func": "for (var i=0; i<msg.payload.length; i++) {\n    msg.payload[i].stat.created = msg.payload[i].stat.created.toISOString().slice(0, 19).replace('T', ' ');\n    msg.payload[i].stat.changed = msg.payload[i].stat.changed.toISOString().slice(0, 19).replace('T', ' ');\n    msg.payload[i].stat.accessed = msg.payload[i].stat.accessed.toISOString().slice(0, 19).replace('T', ' ');\n    msg.payload[i].stat.statusChanged = msg.payload[i].stat.statusChanged.toISOString().slice(0, 19).replace('T', ' ');\n    msg.payload[i].fname = msg.payload[i].name.replace(/^.*(\\\\|\\/|\\:)/, '');\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 740,
        "y": 240,
        "wires": [
            [
                "0adaba8e22552808"
            ]
        ]
    },
    {
        "id": "69e30514cfd8bfbe",
        "type": "ui_button",
        "z": "cb035cb2681b76fc",
        "g": "8fed48c2efd2e77f",
        "name": "delete",
        "group": "160e81fb.f1c86e",
        "order": 7,
        "width": "2",
        "height": 1,
        "passthru": false,
        "label": "Delete",
        "tooltip": "",
        "color": "",
        "bgcolor": "{{msg.colour}}",
        "icon": "delete",
        "payload": "",
        "payloadType": "str",
        "topic": "",
        "topicType": "str",
        "x": 130,
        "y": 340,
        "wires": [
            [
                "27535b22aa410b48"
            ]
        ]
    },
    {
        "id": "d857f8fafeaf29fb",
        "type": "function",
        "z": "cb035cb2681b76fc",
        "g": "8fed48c2efd2e77f",
        "name": "Get filename",
        "func": "// Get the filename from the flow context\nlet filename = flow.get(\"fileselected\");\n\n// check, if the filename is undefined that means it does not exist yet, nothing is selected yet\n// return: do not output anything\nif (filename===undefined) {\n    return;\n}\n\n// return the filename to the file-in node to delete\nmsg.filename = filename;\n\nif (msg.filename.replace(/^.*(\\\\|\\/|\\:)/, '')[0]!==\".\") {\n    // Only do this if this is a file, we don't delete folders\n    // and delete the context/selection as we are deleting the file as well\n    flow.set(\"fileselected\");\n    return msg;\n}",
        "outputs": 1,
        "noerr": 0,
        "x": 330,
        "y": 400,
        "wires": [
            [
                "3382b694a6d4e9f4"
            ]
        ]
    },
    {
        "id": "3382b694a6d4e9f4",
        "type": "file",
        "z": "cb035cb2681b76fc",
        "g": "8fed48c2efd2e77f",
        "name": "Delete file",
        "filename": "",
        "appendNewline": true,
        "createDir": false,
        "overwriteFile": "delete",
        "encoding": "none",
        "x": 540,
        "y": 400,
        "wires": [
            [
                "0c302d068782c4b4",
                "5e43e7eef6049313"
            ]
        ]
    },
    {
        "id": "ed9ffc8b230e1a10",
        "type": "http in",
        "z": "cb035cb2681b76fc",
        "g": "8fed48c2efd2e77f",
        "name": "",
        "url": "/download",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 140,
        "y": 640,
        "wires": [
            [
                "cdd8b35eb5e2a70a"
            ]
        ]
    },
    {
        "id": "3d85c67c29a7013d",
        "type": "http response",
        "z": "cb035cb2681b76fc",
        "g": "8fed48c2efd2e77f",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 930,
        "y": 640,
        "wires": []
    },
    {
        "id": "cdd8b35eb5e2a70a",
        "type": "function",
        "z": "cb035cb2681b76fc",
        "g": "8fed48c2efd2e77f",
        "name": "Get the file name",
        "func": "msg.filename = msg.req.query.filename;\nmsg.contentdisposition = \"attachment; filename=\\\"\" + msg.req.query.filename.replace(/^.*(\\\\|\\/|\\:)/, '') + \"\\\"\";\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "x": 390,
        "y": 640,
        "wires": [
            [
                "9c85d3b476114aaf"
            ]
        ],
        "outputLabels": [
            "Folder selected",
            "File selected"
        ]
    },
    {
        "id": "9c85d3b476114aaf",
        "type": "file in",
        "z": "cb035cb2681b76fc",
        "g": "8fed48c2efd2e77f",
        "name": "",
        "filename": "",
        "format": "",
        "chunk": false,
        "sendError": false,
        "encoding": "none",
        "x": 580,
        "y": 640,
        "wires": [
            [
                "c72f3f6ffd04d4eb"
            ]
        ]
    },
    {
        "id": "c72f3f6ffd04d4eb",
        "type": "change",
        "z": "cb035cb2681b76fc",
        "g": "8fed48c2efd2e77f",
        "name": "Set Headers",
        "rules": [
            {
                "t": "set",
                "p": "headers",
                "pt": "msg",
                "to": "{}",
                "tot": "json"
            },
            {
                "t": "set",
                "p": "headers.content-type",
                "pt": "msg",
                "to": "text/csv",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "headers.Content-Disposition",
                "pt": "msg",
                "to": "contentdisposition",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 750,
        "y": 640,
        "wires": [
            [
                "3d85c67c29a7013d"
            ]
        ]
    },
    {
        "id": "739cc63175bae9e4",
        "type": "ui_button",
        "z": "cb035cb2681b76fc",
        "g": "bfe1e8d0023c3a3f",
        "name": "botton graph",
        "group": "1ee8684c3daf831f",
        "order": 2,
        "width": "0",
        "height": "0",
        "passthru": false,
        "label": "Graph",
        "tooltip": "",
        "color": "",
        "bgcolor": "{{msg.colour}}",
        "icon": "show_chart",
        "payload": "",
        "payloadType": "str",
        "topic": "",
        "topicType": "str",
        "x": 110,
        "y": 780,
        "wires": [
            [
                "bc512edd8bcf422f"
            ]
        ]
    },
    {
        "id": "bc512edd8bcf422f",
        "type": "function",
        "z": "cb035cb2681b76fc",
        "g": "bfe1e8d0023c3a3f",
        "name": "Get filename",
        "func": "// Get the filename from the flow context\nlet filename = flow.get(\"fileselected\");\n\n// check, if the filename is undefined that means it does not exist yet, nothing is selected yet\n// return: do not output anything\nif (filename===undefined) {\n    return;\n}\n\n// return the filename to the file-in node to delete\nmsg.filename = filename;\n\nif (msg.filename.replace(/^.*(\\\\|\\/|\\:)/, '')[0]!==\".\") {\n    // Only do this if this is a file, we don't delete folders\n    return msg;\n}",
        "outputs": 1,
        "noerr": 0,
        "x": 260,
        "y": 780,
        "wires": [
            [
                "7812ec730f52bd59"
            ]
        ]
    },
    {
        "id": "7812ec730f52bd59",
        "type": "file in",
        "z": "cb035cb2681b76fc",
        "g": "bfe1e8d0023c3a3f",
        "name": "",
        "filename": "",
        "format": "utf8",
        "chunk": false,
        "sendError": false,
        "encoding": "none",
        "x": 440,
        "y": 780,
        "wires": [
            [
                "ddc87495efec805d"
            ]
        ]
    },
    {
        "id": "ddc87495efec805d",
        "type": "csv",
        "z": "cb035cb2681b76fc",
        "g": "bfe1e8d0023c3a3f",
        "name": "",
        "sep": ",",
        "hdrin": true,
        "hdrout": "",
        "multi": "mult",
        "ret": "\\n",
        "temp": "",
        "skip": "0",
        "strings": true,
        "x": 590,
        "y": 780,
        "wires": [
            [
                "a59365d30703d79c"
            ]
        ]
    },
    {
        "id": "28ca3f49ced90328",
        "type": "debug",
        "z": "cb035cb2681b76fc",
        "g": "bfe1e8d0023c3a3f",
        "name": "all payload",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1090,
        "y": 740,
        "wires": []
    },
    {
        "id": "a59365d30703d79c",
        "type": "function",
        "z": "cb035cb2681b76fc",
        "g": "bfe1e8d0023c3a3f",
        "name": "Format data for chart",
        "func": "var chart = [{\n    \"series\":[],\n    \"data\":[],\n    \"labels\":[msg.filename]\n}];\n\nlet columns = 0;\n\nfor(var series in msg.payload[0]) {\n    if(series!==\"timestamp\") {\n        chart[0].series.push(series);\n        chart[0].data.push([]);\n        columns++;\n    }\n}\n\nfor (var j=0; j<msg.payload.length; j++) {\n   for(var i=0;i<columns;i++) \n   {\n       value = msg.payload[j][chart[0].series[i]]\n       timestamp = msg.payload[j].timestamp\n       // integer\n        if(typeof(value) =='number')\n            chart[0].data[i].push({\"x\":timestamp, \"y\":value});\n\n   } \n}\n\nmsg.payload = chart;\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 800,
        "y": 780,
        "wires": [
            [
                "28ca3f49ced90328",
                "6fac21fc027c7062",
                "db35fd7840331fe0",
                "ed214ebb5ac685f6"
            ]
        ]
    },
    {
        "id": "6fac21fc027c7062",
        "type": "ui_chart",
        "z": "cb035cb2681b76fc",
        "g": "bfe1e8d0023c3a3f",
        "name": "chart all series",
        "group": "1ee8684c3daf831f",
        "order": 4,
        "width": 6,
        "height": 12,
        "label": "{{msg.payload[0].labels[0]}}",
        "chartType": "line",
        "legend": "true",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": true,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "x": 1100,
        "y": 780,
        "wires": [
            []
        ]
    },
    {
        "id": "cb78723ba101a4c6",
        "type": "ui_toast",
        "z": "cb035cb2681b76fc",
        "g": "8fed48c2efd2e77f",
        "position": "dialog",
        "displayTime": "3",
        "highlight": "",
        "sendall": false,
        "outputs": 1,
        "ok": "Yes",
        "cancel": "No",
        "raw": false,
        "topic": "",
        "name": "Confirmation",
        "x": 510,
        "y": 340,
        "wires": [
            [
                "7d6c79785c3ad4f6"
            ]
        ]
    },
    {
        "id": "27535b22aa410b48",
        "type": "change",
        "z": "cb035cb2681b76fc",
        "g": "8fed48c2efd2e77f",
        "name": "Set message",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "Delete confirmation",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "Are you sure you want to delete this file?",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 310,
        "y": 340,
        "wires": [
            [
                "cb78723ba101a4c6"
            ]
        ]
    },
    {
        "id": "7d6c79785c3ad4f6",
        "type": "switch",
        "z": "cb035cb2681b76fc",
        "g": "8fed48c2efd2e77f",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "Yes",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 710,
        "y": 340,
        "wires": [
            [
                "d857f8fafeaf29fb"
            ]
        ]
    },
    {
        "id": "08f27379e976a7fc",
        "type": "function",
        "z": "cb035cb2681b76fc",
        "g": "8fed48c2efd2e77f",
        "name": "Folder handling",
        "func": "let folder = context.get(\"folder\");\nif (folder===undefined) {\n    folder=\"/\";\n    context.set(\"folder\", folder);\n}\n\nlet hidden = context.get(\"hidden\");\nif (hidden===undefined) {\n    hidden=false;\n    context.set(\"hidden\", hidden);\n}\n\nif (msg.topic===\"up\") {\n    var the_arr = folder.split('/');\n    the_arr.pop();\n    folder=the_arr.join('/'); \n    context.set(\"folder\", folder);\n}\nif (msg.topic===\"change\") {\n    folder=msg.payload;    \n    context.set(\"folder\", folder);\n}\nif (msg.topic===\"hidden\") {\n    hidden=msg.payload;    \n    context.set(\"hidden\", hidden);\n}\n\nmsg.payload = {\"start\":folder, \"hidden\": hidden};\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 300,
        "y": 240,
        "wires": [
            [
                "0c302d068782c4b4",
                "e28ea0d34c2b6620",
                "5e43e7eef6049313"
            ]
        ]
    },
    {
        "id": "e28ea0d34c2b6620",
        "type": "ui_text",
        "z": "cb035cb2681b76fc",
        "g": "8fed48c2efd2e77f",
        "group": "160e81fb.f1c86e",
        "order": 8,
        "width": 4,
        "height": 1,
        "name": "",
        "label": "Path",
        "format": "{{msg.payload.start}}",
        "layout": "row-left",
        "x": 500,
        "y": 120,
        "wires": []
    },
    {
        "id": "905ea7cab24e2372",
        "type": "ui_button",
        "z": "cb035cb2681b76fc",
        "g": "8fed48c2efd2e77f",
        "name": "",
        "group": "160e81fb.f1c86e",
        "order": 3,
        "width": 2,
        "height": 1,
        "passthru": false,
        "label": "Up",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "arrow_upwards",
        "payload": "",
        "payloadType": "str",
        "topic": "up",
        "x": 110,
        "y": 260,
        "wires": [
            [
                "08f27379e976a7fc"
            ]
        ]
    },
    {
        "id": "607cfbdd1ddadd41",
        "type": "ui_button",
        "z": "cb035cb2681b76fc",
        "g": "8fed48c2efd2e77f",
        "name": "open",
        "group": "160e81fb.f1c86e",
        "order": 5,
        "width": "2",
        "height": 1,
        "passthru": false,
        "label": "Open",
        "tooltip": "",
        "color": "",
        "bgcolor": "{{msg.colour}}",
        "icon": "folder_open",
        "payload": "",
        "payloadType": "str",
        "topic": "",
        "topicType": "str",
        "x": 130,
        "y": 460,
        "wires": [
            [
                "6870f60773645611"
            ]
        ]
    },
    {
        "id": "6870f60773645611",
        "type": "function",
        "z": "cb035cb2681b76fc",
        "g": "8fed48c2efd2e77f",
        "name": "Change folder",
        "func": "// Get the filename from the flow context\nlet folderselected = flow.get(\"folderselected\");\n\n// check, if the filename is undefined that means it does not exist yet, nothing is selected yet\n// return: do not output anything\nif (folderselected===undefined) {\n    return;\n}\n\nmsg.topic = \"change\";\nmsg.payload = folderselected;\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 340,
        "y": 460,
        "wires": [
            [
                "08f27379e976a7fc"
            ]
        ]
    },
    {
        "id": "f47c6859b9bc89fe",
        "type": "ui_button",
        "z": "cb035cb2681b76fc",
        "g": "8fed48c2efd2e77f",
        "name": "",
        "group": "160e81fb.f1c86e",
        "order": 2,
        "width": 2,
        "height": 1,
        "passthru": false,
        "label": "Reset",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "autorenew",
        "payload": "/home/pi",
        "payloadType": "str",
        "topic": "change",
        "x": 110,
        "y": 220,
        "wires": [
            [
                "08f27379e976a7fc"
            ]
        ]
    },
    {
        "id": "5e43e7eef6049313",
        "type": "fs-file-lister",
        "z": "cb035cb2681b76fc",
        "g": "8fed48c2efd2e77f",
        "name": "Folders",
        "start": "/home/pi",
        "pattern": "*.*",
        "folders": "*",
        "hidden": false,
        "lstype": "directories",
        "path": true,
        "single": true,
        "depth": 0,
        "stat": true,
        "showWarnings": false,
        "x": 520,
        "y": 280,
        "wires": [
            [
                "cfec32a416d86f48"
            ]
        ]
    },
    {
        "id": "407776e64b9f6176",
        "type": "ui_dropdown",
        "z": "cb035cb2681b76fc",
        "g": "8fed48c2efd2e77f",
        "name": "Folder Selector",
        "label": "",
        "tooltip": "",
        "place": "Select a desired folder",
        "group": "160e81fb.f1c86e",
        "order": 4,
        "width": "4",
        "height": 1,
        "passthru": false,
        "multiple": false,
        "options": [
            {
                "label": "",
                "value": "",
                "type": "str"
            }
        ],
        "payload": "",
        "topic": "",
        "topicType": "str",
        "x": 920,
        "y": 280,
        "wires": [
            [
                "390b4620f6c9cb20"
            ]
        ]
    },
    {
        "id": "cfec32a416d86f48",
        "type": "function",
        "z": "cb035cb2681b76fc",
        "g": "8fed48c2efd2e77f",
        "name": "Format data",
        "func": "// format the data for the dropdown\nmsg.options = [];\nfor (var i=0; i<msg.payload.length; i++) {\n    // This is a foler\n    obj = {};\n    obj [\"[\"+msg.payload[i].name.replace(/^.*(\\\\|\\/|\\:)/, '')+\"]\"]=msg.payload[i].name;\n    msg.options.push(obj);\n}\nmsg.payload={};\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 710,
        "y": 280,
        "wires": [
            [
                "407776e64b9f6176"
            ]
        ]
    },
    {
        "id": "16469284c00f523d",
        "type": "change",
        "z": "cb035cb2681b76fc",
        "g": "8fed48c2efd2e77f",
        "name": "Save selection",
        "rules": [
            {
                "t": "set",
                "p": "fileselected",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1200,
        "y": 180,
        "wires": [
            []
        ]
    },
    {
        "id": "390b4620f6c9cb20",
        "type": "change",
        "z": "cb035cb2681b76fc",
        "g": "8fed48c2efd2e77f",
        "name": "Save selection",
        "rules": [
            {
                "t": "set",
                "p": "folderselected",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1120,
        "y": 280,
        "wires": [
            []
        ]
    },
    {
        "id": "35170259ffd74208",
        "type": "ui_switch",
        "z": "cb035cb2681b76fc",
        "g": "8fed48c2efd2e77f",
        "name": "",
        "label": "Hidden",
        "tooltip": "Show hidden files or not",
        "group": "160e81fb.f1c86e",
        "order": 9,
        "width": 2,
        "height": 1,
        "passthru": false,
        "decouple": "false",
        "topic": "hidden",
        "topicType": "str",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "check_box",
        "oncolor": "#000000",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "check_box_outline_blank",
        "offcolor": "#000000",
        "animate": true,
        "x": 100,
        "y": 300,
        "wires": [
            [
                "08f27379e976a7fc"
            ]
        ]
    },
    {
        "id": "9f1e33634a44e94d",
        "type": "comment",
        "z": "cb035cb2681b76fc",
        "g": "bfe1e8d0023c3a3f",
        "name": "Graph",
        "info": "",
        "x": 90,
        "y": 740,
        "wires": []
    },
    {
        "id": "13b097bbd35fab98",
        "type": "ui_dropdown",
        "z": "cb035cb2681b76fc",
        "g": "8fed48c2efd2e77f",
        "name": "File Selector",
        "label": "",
        "tooltip": "",
        "place": "Select a file",
        "group": "160e81fb.f1c86e",
        "order": 6,
        "width": "4",
        "height": 1,
        "passthru": false,
        "multiple": false,
        "options": [
            {
                "label": "",
                "value": "",
                "type": "str"
            }
        ],
        "payload": "",
        "topic": "",
        "topicType": "str",
        "x": 910,
        "y": 140,
        "wires": [
            [
                "1b356dbf86bff0fc"
            ]
        ]
    },
    {
        "id": "1b356dbf86bff0fc",
        "type": "change",
        "z": "cb035cb2681b76fc",
        "g": "8fed48c2efd2e77f",
        "name": "Save selection",
        "rules": [
            {
                "t": "set",
                "p": "fileselected",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1200,
        "y": 140,
        "wires": [
            []
        ]
    },
    {
        "id": "db35fd7840331fe0",
        "type": "debug",
        "z": "cb035cb2681b76fc",
        "g": "bfe1e8d0023c3a3f",
        "name": "labels",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload[0].labels[0]",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1070,
        "y": 820,
        "wires": []
    },
    {
        "id": "ed214ebb5ac685f6",
        "type": "function",
        "z": "cb035cb2681b76fc",
        "g": "bfe1e8d0023c3a3f",
        "name": "multiple chart from file",
        "func": "\nlet msg1 = {};\nlet msg2 = {};\nlet msg3 = {};\nlet msg4 = {};\nlet msg5 = {};\nlet msg6 = {};\n\n//series = msg.payload[0].series\n//node.warn(series.length)\n\nvar chart_series1 = [{\n    \"series\":   [msg.payload[0].series[0]],\n    \"data\":     [msg.payload[0].data[0]],\n    \"labels\":   [msg.filename]\n}];\nvar chart_series2 = [{\n    \"series\":   [msg.payload[0].series[1]],\n    \"data\":     [msg.payload[0].data[1]],\n    \"labels\":   [msg.filename]\n}];\nvar chart_series3 = [{\n    \"series\":   [msg.payload[0].series[2]],\n    \"data\":     [msg.payload[0].data[2]],\n    \"labels\":   [msg.filename]\n}];\nvar chart_series4 = [{\n    \"series\":   [msg.payload[0].series[3]],\n    \"data\":     [msg.payload[0].data[3]],\n    \"labels\":   [msg.filename]\n}];\nvar chart_series5 = [{\n    \"series\":   [msg.payload[0].series[4]],\n    \"data\":     [msg.payload[0].data[4]],\n    \"labels\":   [msg.filename]\n}];\n\n// series 1\nif(msg.payload[0].series[0] != undefined)\n{\n    msg1.topic =    msg.payload[0].series[0]\n    msg1.payload =  chart_series1\n}\nelse\n    msg1.payload = []\n\n// series 2\nif(msg.payload[0].series[1] != undefined)\n{\n    msg2.topic =    msg.payload[0].series[1]\n    msg2.payload = chart_series2\n}\nelse\n    msg2.payload = []\n\n// series 3\nif(msg.payload[0].series[2] != undefined)\n{\n    msg3.topic =    msg.payload[0].series[2]\n    msg3.payload = chart_series3\n}\nelse\n    msg3.payload = []\n\n// series 4\nif(msg.payload[0].series[3] != undefined)\n{\n    msg4.topic =    msg.payload[0].series[3]\n    msg4.payload = chart_series4\n}\nelse\n    msg4.payload = []\n\n// series 5\nif(msg.payload[0].series[4] != undefined)\n{\n    msg5.topic =    msg.payload[0].series[4]\n    msg5.payload = chart_series5\n}\nelse\n    msg5.payload = []\n\n\nnode.send([msg1, msg2, msg3, msg4, msg5])",
        "outputs": 5,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 760,
        "y": 960,
        "wires": [
            [
                "a78ec0c1ad71c210",
                "588045745ebfa36f"
            ],
            [
                "4e43945a8e9be1f3",
                "588045745ebfa36f"
            ],
            [
                "9bef063762f0e901",
                "588045745ebfa36f"
            ],
            [
                "d935354946ea92ef",
                "588045745ebfa36f"
            ],
            [
                "d1f77a446921f535",
                "588045745ebfa36f"
            ]
        ]
    },
    {
        "id": "a78ec0c1ad71c210",
        "type": "ui_chart",
        "z": "cb035cb2681b76fc",
        "g": "bfe1e8d0023c3a3f",
        "name": "series 1",
        "group": "1ee8684c3daf831f",
        "order": 5,
        "width": 6,
        "height": 12,
        "label": "",
        "chartType": "line",
        "legend": "true",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": true,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff830f",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "x": 1120,
        "y": 880,
        "wires": [
            []
        ]
    },
    {
        "id": "4e43945a8e9be1f3",
        "type": "ui_chart",
        "z": "cb035cb2681b76fc",
        "g": "bfe1e8d0023c3a3f",
        "name": "series 2",
        "group": "1ee8684c3daf831f",
        "order": 6,
        "width": 6,
        "height": 12,
        "label": "",
        "chartType": "line",
        "legend": "true",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": true,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "x": 1120,
        "y": 920,
        "wires": [
            []
        ]
    },
    {
        "id": "9bef063762f0e901",
        "type": "ui_chart",
        "z": "cb035cb2681b76fc",
        "g": "bfe1e8d0023c3a3f",
        "name": "series 3",
        "group": "1ee8684c3daf831f",
        "order": 7,
        "width": 6,
        "height": 12,
        "label": "",
        "chartType": "line",
        "legend": "true",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": true,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "x": 1120,
        "y": 960,
        "wires": [
            []
        ]
    },
    {
        "id": "d935354946ea92ef",
        "type": "ui_chart",
        "z": "cb035cb2681b76fc",
        "g": "bfe1e8d0023c3a3f",
        "name": "series 4",
        "group": "1ee8684c3daf831f",
        "order": 8,
        "width": 6,
        "height": 12,
        "label": "",
        "chartType": "line",
        "legend": "true",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": true,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "x": 1120,
        "y": 1000,
        "wires": [
            []
        ]
    },
    {
        "id": "d1f77a446921f535",
        "type": "ui_chart",
        "z": "cb035cb2681b76fc",
        "g": "bfe1e8d0023c3a3f",
        "name": "series 5",
        "group": "1ee8684c3daf831f",
        "order": 9,
        "width": 6,
        "height": 12,
        "label": "",
        "chartType": "line",
        "legend": "true",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": true,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "x": 1120,
        "y": 1040,
        "wires": [
            []
        ]
    },
    {
        "id": "e3d96bd0a81f0db6",
        "type": "ui_button",
        "z": "cb035cb2681b76fc",
        "g": "8fed48c2efd2e77f",
        "name": "refresh graph",
        "group": "1ee8684c3daf831f",
        "order": 3,
        "width": "1",
        "height": 1,
        "passthru": false,
        "label": "",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "refresh",
        "payload": "",
        "payloadType": "str",
        "topic": "refresh",
        "topicType": "str",
        "x": 110,
        "y": 140,
        "wires": [
            [
                "08f27379e976a7fc"
            ]
        ]
    },
    {
        "id": "588045745ebfa36f",
        "type": "debug",
        "z": "cb035cb2681b76fc",
        "g": "bfe1e8d0023c3a3f",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 900,
        "y": 880,
        "wires": []
    },
    {
        "id": "cbf6f1234c7e6976",
        "type": "change",
        "z": "cb035cb2681b76fc",
        "g": "8fed48c2efd2e77f",
        "name": "Delete colour button",
        "rules": [
            {
                "t": "set",
                "p": "colour",
                "pt": "msg",
                "to": "red",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 360,
        "y": 520,
        "wires": [
            [
                "69e30514cfd8bfbe"
            ]
        ]
    },
    {
        "id": "8c59da49d511cbc6",
        "type": "inject",
        "z": "cb035cb2681b76fc",
        "g": "8fed48c2efd2e77f",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payloadType": "date",
        "x": 130,
        "y": 520,
        "wires": [
            [
                "cbf6f1234c7e6976",
                "1849f84d656605d7"
            ]
        ]
    },
    {
        "id": "619b750544da40c9",
        "type": "change",
        "z": "cb035cb2681b76fc",
        "name": "Delete colour button",
        "rules": [
            {
                "t": "set",
                "p": "colour",
                "pt": "msg",
                "to": "orange",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 360,
        "y": 880,
        "wires": [
            [
                "739cc63175bae9e4"
            ]
        ]
    },
    {
        "id": "c4e7f2e82a07dd85",
        "type": "inject",
        "z": "cb035cb2681b76fc",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 120,
        "y": 880,
        "wires": [
            [
                "619b750544da40c9"
            ]
        ]
    },
    {
        "id": "1849f84d656605d7",
        "type": "change",
        "z": "cb035cb2681b76fc",
        "g": "8fed48c2efd2e77f",
        "name": "Open colour button",
        "rules": [
            {
                "t": "set",
                "p": "colour",
                "pt": "msg",
                "to": "green",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 350,
        "y": 560,
        "wires": [
            [
                "607cfbdd1ddadd41"
            ]
        ]
    },
    {
        "id": "160e81fb.f1c86e",
        "type": "ui_group",
        "name": "File Browser",
        "tab": "b63d1f91.68095",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": true
    },
    {
        "id": "1ee8684c3daf831f",
        "type": "ui_group",
        "name": "Graph",
        "tab": "e5550a9b7795c946",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "b63d1f91.68095",
        "type": "ui_tab",
        "name": "File Manager",
        "icon": "fa-hdd-o",
        "order": 6,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "e5550a9b7795c946",
        "type": "ui_tab",
        "name": "Graph Visualizator",
        "icon": "fa-eye",
        "order": 6,
        "disabled": false,
        "hidden": false
    }
]