Project/Gateway/Node-RED/rpi-control.json
[
    {
        "id": "7ad00daad37933a8",
        "type": "tab",
        "label": "RPi Control",
        "disabled": false,
        "info": ""
    },
    {
        "id": "0a2518ca3884c6d3",
        "type": "group",
        "z": "7ad00daad37933a8",
        "name": "RAM",
        "style": {
            "label": true
        },
        "nodes": [
            "c14efd81360cd096",
            "40b30e6ff4fa7080",
            "a95ed33ec1b83f2f",
            "72e152e905b18be4",
            "35c18dcc793da4e8",
            "82725c8f0b3a7be4",
            "159a1a3065b1ad7d",
            "b735548ea8dc9507"
        ],
        "x": 394,
        "y": 679,
        "w": 592,
        "h": 242
    },
    {
        "id": "1d0b279380b7c32a",
        "type": "group",
        "z": "7ad00daad37933a8",
        "name": "timestamps",
        "style": {
            "label": true
        },
        "nodes": [
            "7d1588260dc85b4d",
            "a28c4951ea7c6794",
            "c1cb7984227041a4",
            "a666178ebdf82d1b",
            "9b47e7f27d59fe9f",
            "5dbc5d68a15f71ef"
        ],
        "x": 34,
        "y": 399,
        "w": 262,
        "h": 162
    },
    {
        "id": "9d1601da20d4753c",
        "type": "group",
        "z": "7ad00daad37933a8",
        "name": "Pi Action",
        "style": {
            "label": true
        },
        "nodes": [
            "a1aa2633f95525f4",
            "f2bdd9fc57ca9825",
            "189c614cccac1772",
            "18a40fe9064c7332",
            "433ec62086749753",
            "2cc6ab91b431d983",
            "7ddaf299dd1104cb"
        ],
        "x": 34,
        "y": 1091.5,
        "w": 912,
        "h": 157
    },
    {
        "id": "e03910d96f6e91f4",
        "type": "group",
        "z": "7ad00daad37933a8",
        "name": "Network Information",
        "style": {
            "label": true
        },
        "nodes": [
            "10cd93aa579df352",
            "3a26c4bae59b3f9d",
            "46aa9e26512181fb",
            "8207474623e6be85"
        ],
        "x": 394,
        "y": 39,
        "w": 632,
        "h": 122
    },
    {
        "id": "0e08b5bde8936fc0",
        "type": "group",
        "z": "7ad00daad37933a8",
        "name": "OS",
        "style": {
            "label": true
        },
        "nodes": [
            "adec0550dd3e0e46",
            "e066940f3b522dc1",
            "5e5cfeeec06f8aec",
            "4355e3d2c35fa4cc",
            "6efa39470505ef35",
            "1ca5f0425ad6d0ef"
        ],
        "x": 394,
        "y": 179,
        "w": 512,
        "h": 182
    },
    {
        "id": "8584a3434f63a9c7",
        "type": "group",
        "z": "7ad00daad37933a8",
        "name": "Disk Usage",
        "style": {
            "label": true
        },
        "nodes": [
            "8eb87a7cf9a6b71c",
            "49b1ca486c6bd0fd",
            "80edbf73012a274e",
            "e9719ea737111f9e",
            "52b2ee82009f57b1"
        ],
        "x": 394,
        "y": 939,
        "w": 772,
        "h": 122
    },
    {
        "id": "a583ea3151a5a849",
        "type": "group",
        "z": "7ad00daad37933a8",
        "name": "CPU",
        "style": {
            "label": true
        },
        "nodes": [
            "f497990e88c707e0",
            "8c8c7cdd76d89855",
            "c71b8f1b31a9e743",
            "27370734267d6c64",
            "681d831ff8215707",
            "b59ec36736888945",
            "1d893a25bdcea716",
            "aea0eb9170adae7a",
            "88531aedacb33139",
            "25adfc888737727e",
            "d3842f0288f3b0ef",
            "abb1f7cec139fac7",
            "0e7ac43de8283992",
            "32e0a73416780610"
        ],
        "x": 394,
        "y": 379,
        "w": 752,
        "h": 282
    },
    {
        "id": "f497990e88c707e0",
        "type": "exec",
        "z": "7ad00daad37933a8",
        "g": "a583ea3151a5a849",
        "command": "vcgencmd measure_temp",
        "addpay": false,
        "append": "",
        "useSpawn": "",
        "timer": "",
        "winHide": false,
        "name": "CPU Temp.",
        "x": 570,
        "y": 600,
        "wires": [
            [
                "8c8c7cdd76d89855",
                "0e7ac43de8283992"
            ],
            [],
            []
        ]
    },
    {
        "id": "8c8c7cdd76d89855",
        "type": "function",
        "z": "7ad00daad37933a8",
        "g": "a583ea3151a5a849",
        "name": "",
        "func": "str = msg.payload\nmsg.payload = str.substring(5,9);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 760,
        "y": 600,
        "wires": [
            [
                "c71b8f1b31a9e743",
                "abb1f7cec139fac7"
            ]
        ]
    },
    {
        "id": "a1aa2633f95525f4",
        "type": "ui_button",
        "z": "7ad00daad37933a8",
        "g": "9d1601da20d4753c",
        "name": "",
        "group": "b28c93ede4d79393",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Reboot",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "",
        "topicType": "str",
        "x": 680,
        "y": 1140,
        "wires": [
            [
                "f2bdd9fc57ca9825"
            ]
        ]
    },
    {
        "id": "f2bdd9fc57ca9825",
        "type": "exec",
        "z": "7ad00daad37933a8",
        "g": "9d1601da20d4753c",
        "command": "sudo reboot",
        "addpay": false,
        "append": "",
        "useSpawn": "",
        "timer": "",
        "name": "Reboot",
        "x": 860,
        "y": 1140,
        "wires": [
            [],
            [],
            []
        ]
    },
    {
        "id": "189c614cccac1772",
        "type": "ui_button",
        "z": "7ad00daad37933a8",
        "g": "9d1601da20d4753c",
        "name": "",
        "group": "b28c93ede4d79393",
        "order": 3,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Shutdown",
        "tooltip": "",
        "color": "",
        "bgcolor": "red",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "",
        "topicType": "str",
        "x": 680,
        "y": 1200,
        "wires": [
            [
                "18a40fe9064c7332"
            ]
        ]
    },
    {
        "id": "18a40fe9064c7332",
        "type": "exec",
        "z": "7ad00daad37933a8",
        "g": "9d1601da20d4753c",
        "command": "sudo shutdown -h now",
        "addpay": false,
        "append": "",
        "useSpawn": "",
        "timer": "",
        "name": "Shutdown",
        "x": 860,
        "y": 1200,
        "wires": [
            [],
            [],
            []
        ]
    },
    {
        "id": "c71b8f1b31a9e743",
        "type": "ui_chart",
        "z": "7ad00daad37933a8",
        "d": true,
        "g": "a583ea3151a5a849",
        "name": "",
        "group": "6a272635d3d9218b",
        "order": 3,
        "width": 0,
        "height": 0,
        "label": "CPU Temperature",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": "24",
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "x": 1030,
        "y": 620,
        "wires": [
            []
        ]
    },
    {
        "id": "27370734267d6c64",
        "type": "exec",
        "z": "7ad00daad37933a8",
        "g": "a583ea3151a5a849",
        "command": "top -d 0.5 -b -n2 | grep Cpu | tail -1 | awk '{print 100-$8}'",
        "addpay": false,
        "append": "",
        "useSpawn": "",
        "timer": "",
        "winHide": false,
        "name": "CPU Load",
        "x": 550,
        "y": 440,
        "wires": [
            [
                "d3842f0288f3b0ef",
                "32e0a73416780610"
            ],
            [],
            []
        ]
    },
    {
        "id": "8eb87a7cf9a6b71c",
        "type": "exec",
        "z": "7ad00daad37933a8",
        "g": "8584a3434f63a9c7",
        "command": "df -h",
        "addpay": false,
        "append": "",
        "useSpawn": "",
        "timer": "",
        "winHide": false,
        "name": "Disk Usage",
        "x": 690,
        "y": 1000,
        "wires": [
            [
                "49b1ca486c6bd0fd"
            ],
            [],
            []
        ]
    },
    {
        "id": "49b1ca486c6bd0fd",
        "type": "function",
        "z": "7ad00daad37933a8",
        "g": "8584a3434f63a9c7",
        "name": "",
        "func": "var re = /([0-9]{2})%/\nvar idx = msg.payload.search(re);\nvar str = msg.payload;\nif (idx >=0) {\n    str = msg.payload.substring(idx, idx + 2);\n}\nmsg.payload = str;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 860,
        "y": 980,
        "wires": [
            [
                "80edbf73012a274e",
                "52b2ee82009f57b1"
            ]
        ]
    },
    {
        "id": "10cd93aa579df352",
        "type": "NetworkIntf",
        "z": "7ad00daad37933a8",
        "g": "e03910d96f6e91f4",
        "name": "",
        "x": 550,
        "y": 120,
        "wires": [
            [
                "8207474623e6be85",
                "3a26c4bae59b3f9d"
            ]
        ]
    },
    {
        "id": "3a26c4bae59b3f9d",
        "type": "ui_text",
        "z": "7ad00daad37933a8",
        "g": "e03910d96f6e91f4",
        "group": "108748c2aacc8c07",
        "order": 5,
        "width": 0,
        "height": 0,
        "name": "IP Address",
        "label": "IP Address",
        "format": "{{msg.payload.networkInterfaces.wlan0[0].address}}",
        "layout": "row-left",
        "x": 930,
        "y": 120,
        "wires": []
    },
    {
        "id": "681d831ff8215707",
        "type": "CPUs",
        "z": "7ad00daad37933a8",
        "g": "a583ea3151a5a849",
        "name": "",
        "x": 530,
        "y": 500,
        "wires": [
            [
                "b59ec36736888945",
                "25adfc888737727e"
            ]
        ]
    },
    {
        "id": "433ec62086749753",
        "type": "ui_switch",
        "z": "7ad00daad37933a8",
        "g": "9d1601da20d4753c",
        "name": "",
        "label": "Clicca per interagire",
        "tooltip": "",
        "group": "b28c93ede4d79393",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "",
        "topicType": "str",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "create",
        "oncolor": "green",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "lock",
        "offcolor": "red",
        "animate": true,
        "x": 320,
        "y": 1160,
        "wires": [
            [
                "7ddaf299dd1104cb"
            ]
        ]
    },
    {
        "id": "2cc6ab91b431d983",
        "type": "inject",
        "z": "7ad00daad37933a8",
        "g": "9d1601da20d4753c",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "300",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "false",
        "payloadType": "bool",
        "x": 130,
        "y": 1160,
        "wires": [
            [
                "433ec62086749753"
            ]
        ]
    },
    {
        "id": "7ddaf299dd1104cb",
        "type": "function",
        "z": "7ad00daad37933a8",
        "g": "9d1601da20d4753c",
        "name": "Gate",
        "func": "if (msg.payload === false)node.send({ui_control:{\"icon\":\"lock\"}});\nif (msg.payload === false){\n msg.enabled=false;\n msg.background=\"grey\";\n }\n if (msg.payload === true){\n msg.enabled=true;\n msg.background=\"green\";\n //msg.icon=\"mode_edit\";\n }\nif (msg.payload === true)node.send({ui_control:{\"icon\":\"lock_open\"}});\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 530,
        "y": 1160,
        "wires": [
            [
                "a1aa2633f95525f4",
                "189c614cccac1772"
            ]
        ]
    },
    {
        "id": "c14efd81360cd096",
        "type": "ui_text",
        "z": "7ad00daad37933a8",
        "g": "0a2518ca3884c6d3",
        "group": "d0b30f16c502dcd4",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Total Memory",
        "format": "{{msg.payload.totalmem + \" \" + \"MB\"}}",
        "layout": "row-left",
        "x": 880,
        "y": 800,
        "wires": []
    },
    {
        "id": "40b30e6ff4fa7080",
        "type": "ui_text",
        "z": "7ad00daad37933a8",
        "g": "0a2518ca3884c6d3",
        "group": "d0b30f16c502dcd4",
        "order": 2,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Free Memory",
        "format": "{{msg.payload.freemem + \" \" + \"MB\"}}",
        "layout": "row-left",
        "x": 870,
        "y": 840,
        "wires": []
    },
    {
        "id": "adec0550dd3e0e46",
        "type": "OS",
        "z": "7ad00daad37933a8",
        "g": "0e08b5bde8936fc0",
        "name": "",
        "x": 610,
        "y": 240,
        "wires": [
            [
                "e066940f3b522dc1",
                "5e5cfeeec06f8aec",
                "6efa39470505ef35",
                "1ca5f0425ad6d0ef"
            ]
        ]
    },
    {
        "id": "e066940f3b522dc1",
        "type": "ui_text",
        "z": "7ad00daad37933a8",
        "g": "0e08b5bde8936fc0",
        "group": "108748c2aacc8c07",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Hostname",
        "format": "{{msg.payload.hostname}}",
        "layout": "row-left",
        "x": 810,
        "y": 220,
        "wires": []
    },
    {
        "id": "5e5cfeeec06f8aec",
        "type": "ui_text",
        "z": "7ad00daad37933a8",
        "g": "0e08b5bde8936fc0",
        "group": "108748c2aacc8c07",
        "order": 2,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Platform",
        "format": "{{msg.payload.platform}}",
        "layout": "row-left",
        "x": 800,
        "y": 260,
        "wires": []
    },
    {
        "id": "72e152e905b18be4",
        "type": "Memory",
        "z": "7ad00daad37933a8",
        "g": "0a2518ca3884c6d3",
        "name": "",
        "scale": "Megabyte",
        "x": 540,
        "y": 800,
        "wires": [
            [
                "159a1a3065b1ad7d",
                "a95ed33ec1b83f2f",
                "c14efd81360cd096",
                "40b30e6ff4fa7080",
                "b735548ea8dc9507"
            ]
        ]
    },
    {
        "id": "7d1588260dc85b4d",
        "type": "ui_button",
        "z": "7ad00daad37933a8",
        "g": "1d0b279380b7c32a",
        "name": "Refresh",
        "group": "df2855ae8d261641",
        "order": 3,
        "width": 4,
        "height": 1,
        "passthru": false,
        "label": "refresh",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "replay",
        "payload": "",
        "payloadType": "date",
        "topic": "topic",
        "topicType": "msg",
        "x": 120,
        "y": 440,
        "wires": [
            [
                "a28c4951ea7c6794"
            ]
        ]
    },
    {
        "id": "35c18dcc793da4e8",
        "type": "ui_chart",
        "z": "7ad00daad37933a8",
        "d": true,
        "g": "0a2518ca3884c6d3",
        "name": "",
        "group": "d0b30f16c502dcd4",
        "order": 4,
        "width": 0,
        "height": 0,
        "label": "Usage RAM",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "x": 870,
        "y": 720,
        "wires": [
            []
        ]
    },
    {
        "id": "b59ec36736888945",
        "type": "debug",
        "z": "7ad00daad37933a8",
        "g": "a583ea3151a5a849",
        "name": "CPUs",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 830,
        "y": 540,
        "wires": []
    },
    {
        "id": "82725c8f0b3a7be4",
        "type": "link in",
        "z": "7ad00daad37933a8",
        "g": "0a2518ca3884c6d3",
        "name": "RAM",
        "links": [
            "a28c4951ea7c6794",
            "c1cb7984227041a4"
        ],
        "x": 435,
        "y": 800,
        "wires": [
            [
                "72e152e905b18be4"
            ]
        ]
    },
    {
        "id": "a28c4951ea7c6794",
        "type": "link out",
        "z": "7ad00daad37933a8",
        "g": "1d0b279380b7c32a",
        "name": "refresh",
        "mode": "link",
        "links": [
            "1d893a25bdcea716",
            "4355e3d2c35fa4cc",
            "46aa9e26512181fb",
            "82725c8f0b3a7be4",
            "88531aedacb33139",
            "aea0eb9170adae7a",
            "e9719ea737111f9e"
        ],
        "x": 255,
        "y": 440,
        "wires": []
    },
    {
        "id": "c1cb7984227041a4",
        "type": "link out",
        "z": "7ad00daad37933a8",
        "g": "1d0b279380b7c32a",
        "name": "",
        "links": [
            "82725c8f0b3a7be4",
            "1d893a25bdcea716",
            "88531aedacb33139"
        ],
        "x": 255,
        "y": 480,
        "wires": []
    },
    {
        "id": "1d893a25bdcea716",
        "type": "link in",
        "z": "7ad00daad37933a8",
        "g": "a583ea3151a5a849",
        "name": "CPU LOAD",
        "links": [
            "a28c4951ea7c6794",
            "c1cb7984227041a4"
        ],
        "x": 435,
        "y": 440,
        "wires": [
            [
                "27370734267d6c64"
            ]
        ]
    },
    {
        "id": "aea0eb9170adae7a",
        "type": "link in",
        "z": "7ad00daad37933a8",
        "g": "a583ea3151a5a849",
        "name": "CPUs",
        "links": [
            "9b47e7f27d59fe9f",
            "a28c4951ea7c6794"
        ],
        "x": 435,
        "y": 500,
        "wires": [
            [
                "681d831ff8215707"
            ]
        ]
    },
    {
        "id": "88531aedacb33139",
        "type": "link in",
        "z": "7ad00daad37933a8",
        "g": "a583ea3151a5a849",
        "name": "CPU Temp",
        "links": [
            "a28c4951ea7c6794",
            "c1cb7984227041a4"
        ],
        "x": 435,
        "y": 600,
        "wires": [
            [
                "f497990e88c707e0"
            ]
        ]
    },
    {
        "id": "46aa9e26512181fb",
        "type": "link in",
        "z": "7ad00daad37933a8",
        "g": "e03910d96f6e91f4",
        "name": "NetworkIntf",
        "links": [
            "9b47e7f27d59fe9f",
            "a28c4951ea7c6794"
        ],
        "x": 435,
        "y": 120,
        "wires": [
            [
                "10cd93aa579df352"
            ]
        ]
    },
    {
        "id": "a666178ebdf82d1b",
        "type": "inject",
        "z": "7ad00daad37933a8",
        "g": "1d0b279380b7c32a",
        "name": "30 sec",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "60",
        "crontab": "",
        "once": true,
        "onceDelay": "",
        "topic": "",
        "payloadType": "date",
        "x": 140,
        "y": 480,
        "wires": [
            [
                "c1cb7984227041a4"
            ]
        ]
    },
    {
        "id": "e9719ea737111f9e",
        "type": "link in",
        "z": "7ad00daad37933a8",
        "g": "8584a3434f63a9c7",
        "name": "DISK USAGE",
        "links": [
            "a28c4951ea7c6794",
            "9b47e7f27d59fe9f"
        ],
        "x": 435,
        "y": 980,
        "wires": [
            [
                "8eb87a7cf9a6b71c"
            ]
        ]
    },
    {
        "id": "4355e3d2c35fa4cc",
        "type": "link in",
        "z": "7ad00daad37933a8",
        "g": "0e08b5bde8936fc0",
        "name": "OS",
        "links": [
            "9b47e7f27d59fe9f",
            "a28c4951ea7c6794"
        ],
        "x": 435,
        "y": 240,
        "wires": [
            [
                "adec0550dd3e0e46"
            ]
        ]
    },
    {
        "id": "5dbc5d68a15f71ef",
        "type": "inject",
        "z": "7ad00daad37933a8",
        "g": "1d0b279380b7c32a",
        "name": "start",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": "",
        "topic": "",
        "payloadType": "date",
        "x": 130,
        "y": 520,
        "wires": [
            [
                "9b47e7f27d59fe9f"
            ]
        ]
    },
    {
        "id": "9b47e7f27d59fe9f",
        "type": "link out",
        "z": "7ad00daad37933a8",
        "g": "1d0b279380b7c32a",
        "name": "start",
        "mode": "link",
        "links": [
            "4355e3d2c35fa4cc",
            "46aa9e26512181fb",
            "aea0eb9170adae7a",
            "e9719ea737111f9e"
        ],
        "x": 255,
        "y": 520,
        "wires": []
    },
    {
        "id": "6efa39470505ef35",
        "type": "debug",
        "z": "7ad00daad37933a8",
        "g": "0e08b5bde8936fc0",
        "name": "OS",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 510,
        "y": 320,
        "wires": []
    },
    {
        "id": "1ca5f0425ad6d0ef",
        "type": "ui_text",
        "z": "7ad00daad37933a8",
        "d": true,
        "g": "0e08b5bde8936fc0",
        "group": "108748c2aacc8c07",
        "order": 3,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Architecture",
        "format": "{{msg.payload.platform}}",
        "layout": "row-left",
        "x": 810,
        "y": 300,
        "wires": []
    },
    {
        "id": "159a1a3065b1ad7d",
        "type": "debug",
        "z": "7ad00daad37933a8",
        "g": "0a2518ca3884c6d3",
        "name": "memory",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 500,
        "y": 720,
        "wires": []
    },
    {
        "id": "25adfc888737727e",
        "type": "ui_text",
        "z": "7ad00daad37933a8",
        "g": "a583ea3151a5a849",
        "group": "108748c2aacc8c07",
        "order": 4,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "CPU",
        "format": "{{msg.payload.cpus[0].model}}",
        "layout": "row-left",
        "x": 830,
        "y": 500,
        "wires": []
    },
    {
        "id": "8207474623e6be85",
        "type": "debug",
        "z": "7ad00daad37933a8",
        "g": "e03910d96f6e91f4",
        "name": "NetworkInterface",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 710,
        "y": 80,
        "wires": []
    },
    {
        "id": "a95ed33ec1b83f2f",
        "type": "function",
        "z": "7ad00daad37933a8",
        "g": "0a2518ca3884c6d3",
        "name": "",
        "func": "msg.payload = msg.payload.memusage;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 720,
        "y": 720,
        "wires": [
            [
                "35c18dcc793da4e8"
            ]
        ]
    },
    {
        "id": "b735548ea8dc9507",
        "type": "ui_text",
        "z": "7ad00daad37933a8",
        "g": "0a2518ca3884c6d3",
        "group": "d0b30f16c502dcd4",
        "order": 3,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Memory Usage",
        "format": "{{msg.payload.memusage + \" \" + \"MB\"}}",
        "layout": "row-left",
        "x": 880,
        "y": 880,
        "wires": []
    },
    {
        "id": "80edbf73012a274e",
        "type": "debug",
        "z": "7ad00daad37933a8",
        "g": "8584a3434f63a9c7",
        "name": "Disk Usage",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1050,
        "y": 1020,
        "wires": []
    },
    {
        "id": "d3842f0288f3b0ef",
        "type": "debug",
        "z": "7ad00daad37933a8",
        "g": "a583ea3151a5a849",
        "name": "CPU Load",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "jsonata",
        "statusVal": "",
        "statusType": "auto",
        "x": 790,
        "y": 460,
        "wires": []
    },
    {
        "id": "abb1f7cec139fac7",
        "type": "ui_text",
        "z": "7ad00daad37933a8",
        "g": "a583ea3151a5a849",
        "group": "6a272635d3d9218b",
        "order": 2,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "CPU Temperature",
        "format": "{{msg.payload + \" \" + \"°C\"}}",
        "layout": "row-left",
        "x": 1030,
        "y": 580,
        "wires": []
    },
    {
        "id": "0e7ac43de8283992",
        "type": "debug",
        "z": "7ad00daad37933a8",
        "g": "a583ea3151a5a849",
        "name": "CPU Temp",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1010,
        "y": 540,
        "wires": []
    },
    {
        "id": "52b2ee82009f57b1",
        "type": "ui_text",
        "z": "7ad00daad37933a8",
        "g": "8584a3434f63a9c7",
        "group": "108748c2aacc8c07",
        "order": 6,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Disk Usage",
        "format": "{{msg.payload + \" \" + \"%\"}}",
        "layout": "row-left",
        "x": 1050,
        "y": 980,
        "wires": []
    },
    {
        "id": "32e0a73416780610",
        "type": "ui_text",
        "z": "7ad00daad37933a8",
        "g": "a583ea3151a5a849",
        "group": "6a272635d3d9218b",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "CPU Load",
        "format": "{{msg.payload + \" \" + \"%\"}}",
        "layout": "row-left",
        "x": 790,
        "y": 420,
        "wires": []
    },
    {
        "id": "aaef9bd582a49154",
        "type": "ui_spacer",
        "z": "7ad00daad37933a8",
        "name": "spacer",
        "group": "",
        "order": 5,
        "width": "6",
        "height": 1
    },
    {
        "id": "c1ec1e4664ef67fd",
        "type": "ui_spacer",
        "z": "7ad00daad37933a8",
        "name": "spacer",
        "group": "",
        "order": 5,
        "width": "6",
        "height": 1
    },
    {
        "id": "76846a2fd1688653",
        "type": "ui_spacer",
        "z": "7ad00daad37933a8",
        "name": "spacer",
        "group": "c0e17316b9ae9f25",
        "order": 7,
        "width": 1,
        "height": 1
    },
    {
        "id": "b28c93ede4d79393",
        "type": "ui_group",
        "name": "System Management",
        "tab": "c3173234.2636e",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "6a272635d3d9218b",
        "type": "ui_group",
        "name": "CPU",
        "tab": "c3173234.2636e",
        "order": 4,
        "disp": true,
        "width": "6",
        "collapse": true
    },
    {
        "id": "108748c2aacc8c07",
        "type": "ui_group",
        "name": "Device Information",
        "tab": "c3173234.2636e",
        "order": 3,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "d0b30f16c502dcd4",
        "type": "ui_group",
        "name": "RAM",
        "tab": "c3173234.2636e",
        "order": 5,
        "disp": true,
        "width": "6",
        "collapse": true
    },
    {
        "id": "df2855ae8d261641",
        "type": "ui_group",
        "name": "Change Tab",
        "tab": "c3173234.2636e",
        "order": 1,
        "disp": false,
        "width": "6",
        "collapse": false
    },
    {
        "id": "c3173234.2636e",
        "type": "ui_tab",
        "name": "RPi Control",
        "icon": "fa-power-off",
        "order": 5,
        "disabled": false,
        "hidden": false
    }
]