Project/Gateway/Node-RED/smart-agricolture.json
[
    {
        "id": "78dd068b39233de0",
        "type": "subflow",
        "name": "DevAddr",
        "info": "",
        "category": "",
        "in": [
            {
                "x": 40,
                "y": 80,
                "wires": [
                    {
                        "id": "ee62b13133183903"
                    }
                ]
            }
        ],
        "out": [
            {
                "x": 480,
                "y": 240,
                "wires": [
                    {
                        "id": "b5083db2892fe6f0",
                        "port": 0
                    }
                ]
            }
        ],
        "env": [],
        "meta": {},
        "color": "#DDAA99"
    },
    {
        "id": "ee62b13133183903",
        "type": "function",
        "z": "78dd068b39233de0",
        "name": "Extract DevAddr",
        "func": "\nlet HexString = \"\";\n\n// DevAddr to convert\nDevAddr=msg.payload.buffers.DevAddr // sensor/LoraWAN data payload\n\nfor (let i = 0; i < DevAddr.length; i++)\n{\n  hex = DevAddr[i].toString(16).toUpperCase();\n  HexString += hex;\n}\n\nmsg.payload.DevAddr = HexString;\n  \nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 200,
        "y": 80,
        "wires": [
            [
                "dc8babc020bebce1"
            ]
        ]
    },
    {
        "id": "dc8babc020bebce1",
        "type": "function",
        "z": "78dd068b39233de0",
        "name": "define type of device",
        "func": "\nDeviceAddress = msg.payload.DevAddr\n\nif(DeviceAddress == \"AAABB14A\")\n    msg.device = \"L1 board\"\nelse if(DeviceAddress == \"AAC44AC5\")\n    msg.device = \"L0 board\"\nelse if(DeviceAddress == \"AAC44AC6\")\n    msg.device = \"L4 board\"\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 200,
        "y": 160,
        "wires": [
            [
                "b5083db2892fe6f0"
            ]
        ]
    },
    {
        "id": "b5083db2892fe6f0",
        "type": "change",
        "z": "78dd068b39233de0",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "out",
                "pt": "msg",
                "to": "payload.out",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "DevAddr",
                "pt": "msg",
                "to": "payload.DevAddr",
                "tot": "msg"
            },
            {
                "t": "delete",
                "p": "payload",
                "pt": "msg"
            },
            {
                "t": "delete",
                "p": "topic",
                "pt": "msg"
            },
            {
                "t": "delete",
                "p": "colour",
                "pt": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 200,
        "y": 240,
        "wires": [
            []
        ]
    },
    {
        "id": "c7539078b7b3625f",
        "type": "subflow",
        "name": "Extract Information from payload",
        "info": "",
        "category": "",
        "in": [
            {
                "x": 40,
                "y": 120,
                "wires": [
                    {
                        "id": "90746576c4ee047f"
                    }
                ]
            }
        ],
        "out": [
            {
                "x": 380,
                "y": 440,
                "wires": [
                    {
                        "id": "f4053f62fd89a3a6",
                        "port": 0
                    }
                ]
            }
        ],
        "env": [],
        "meta": {},
        "color": "#DDAA99"
    },
    {
        "id": "1ebbeda11cd37c7d",
        "type": "function",
        "z": "c7539078b7b3625f",
        "name": "Sensor data hex/string decode",
        "func": "\nbytes=msg.payload.out // sensor/LoraWAN data payload\n\nnewbytes=Buffer.from(bytes, 'hex')\n//node.warn(newbytes.toString()) ///yeah\n\n//decode ...payload\n//https://learn.adafruit.com/using-lorawan-and-the-things-network-with-circuitpython?view=all\n\nmsg.payload.out = newbytes.toString();\n  \nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 490,
        "y": 300,
        "wires": [
            [
                "f4053f62fd89a3a6"
            ]
        ],
        "info": "This node decode the payload\nfrom HEX to String"
    },
    {
        "id": "9f07b150113fab8b",
        "type": "lorawan-packet-decrypt-nwkey-appkey",
        "z": "c7539078b7b3625f",
        "name": "Decrypt LoRaWAN",
        "nsw": "238792b74801de223b50ddd309b8f139",
        "asw": "744826b8703e23a2e6cb8d79eed484bb",
        "x": 210,
        "y": 300,
        "wires": [
            [
                "1ebbeda11cd37c7d",
                "268d7649d7a9ba8b"
            ]
        ]
    },
    {
        "id": "90746576c4ee047f",
        "type": "function",
        "z": "c7539078b7b3625f",
        "name": "HEX to base64",
        "func": "\nmvk=msg.payload // from the injection\n\nvar base64String = Buffer.from(mvk, 'hex').toString('base64')\n\nmsg.payload=base64String\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 200,
        "y": 120,
        "wires": [
            [
                "68ba56bfb745c746",
                "9f07b150113fab8b"
            ]
        ],
        "info": "This node will convert the message\non base64 format\n\nInput: HEX message\nOutput: Base64 message"
    },
    {
        "id": "68ba56bfb745c746",
        "type": "debug",
        "z": "c7539078b7b3625f",
        "name": "Base64 Message",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 450,
        "y": 120,
        "wires": []
    },
    {
        "id": "268d7649d7a9ba8b",
        "type": "debug",
        "z": "c7539078b7b3625f",
        "name": "Decrypted",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 250,
        "y": 340,
        "wires": []
    },
    {
        "id": "0b6443221f135493",
        "type": "comment",
        "z": "c7539078b7b3625f",
        "name": "Conversion + Extract Packet",
        "info": "",
        "x": 240,
        "y": 80,
        "wires": []
    },
    {
        "id": "a96c6cba892b34a0",
        "type": "comment",
        "z": "c7539078b7b3625f",
        "name": "Decrypt + Sensor Data",
        "info": "",
        "x": 220,
        "y": 260,
        "wires": []
    },
    {
        "id": "f4053f62fd89a3a6",
        "type": "function",
        "z": "c7539078b7b3625f",
        "name": "Extract Information",
        "func": "\ndataArray = []\ndictArray = {}\n\nDevAddr = msg.payload.DevAddr\ntext = msg.payload.out\n\ntextArray = text.split(\"$\")\ntextArray = textArray.filter(item => item != \"\")\n\nfor(let i = 0; i < textArray.length; i++)\n{\n    dataArray = textArray[i].split(\":\")\n    dictArray[dataArray[0]] = parseFloat(dataArray[1])\n}\n\nmsg.payload.out = dictArray\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 210,
        "y": 440,
        "wires": [
            []
        ],
        "info": "From the string in Input,\nthis node will convert it on a dict\nwith this format: \n{unit_measure : value}"
    },
    {
        "id": "3447b1706791c39f",
        "type": "tab",
        "label": "Smart Agricolture",
        "disabled": false,
        "info": "This flow read a a payload in HEX, convert it\nin Base64, and put on output the message in ASCII"
    },
    {
        "id": "874a758adc78a693",
        "type": "group",
        "z": "3447b1706791c39f",
        "name": "Pi Script",
        "style": {
            "label": true
        },
        "nodes": [
            "a833df6001527003",
            "26320b86fd75689d",
            "e33134247a2f2eb4",
            "ca64cd76aba5333f",
            "33415fb54a145922"
        ],
        "x": 34,
        "y": 379,
        "w": 612,
        "h": 122
    },
    {
        "id": "26320b86fd75689d",
        "type": "exec",
        "z": "3447b1706791c39f",
        "d": true,
        "g": "874a758adc78a693",
        "command": "python3 /home/pi/Desktop/git/smart-agricolture/Project/pHAT/lorapi_rcx.py",
        "addpay": "",
        "append": "",
        "useSpawn": "true",
        "timer": "",
        "winHide": false,
        "oldrc": false,
        "name": "LoraPi Receive Script",
        "x": 280,
        "y": 440,
        "wires": [
            [],
            [],
            []
        ]
    },
    {
        "id": "7ccd9108dba7a7c0",
        "type": "group",
        "z": "3447b1706791c39f",
        "name": "Start & Stop",
        "style": {
            "label": true
        },
        "nodes": [
            "1495dab2f3f7800c",
            "45b28653e706f102",
            "30257e114cd432fd",
            "0b9b3e28a6417ce9",
            "464a78f30e62ad2c",
            "1495a335d6396298",
            "a209f6dac007534e",
            "53b8d1a68b66bb1d",
            "3ba8b7f1d5fbdb91",
            "f4a53881122c4f51",
            "090aba85bd3474cd",
            "08577ee83a2f9d38",
            "f318a7d6640b2511",
            "ce0022c2f10c3653"
        ],
        "x": 34,
        "y": 19,
        "w": 872,
        "h": 302
    },
    {
        "id": "04c48224d7788a51",
        "type": "group",
        "z": "3447b1706791c39f",
        "name": "Instant Information",
        "style": {
            "label": true
        },
        "nodes": [
            "ed0a87e8e11f596c",
            "9d69d62b6b67c580",
            "30f655ca0ecdd97b",
            "d9cb655e08addff7",
            "aa7ecb2174b421d4",
            "405f5995b27abe48",
            "f1412b79a401255c"
        ],
        "x": 34,
        "y": 1299,
        "w": 652,
        "h": 182
    },
    {
        "id": "3e6d49df180d85bb",
        "type": "group",
        "z": "3447b1706791c39f",
        "name": "Extrapolation",
        "style": {
            "label": true
        },
        "nodes": [
            "b3c510afe07d960e",
            "4e01aa6e98ba15e7",
            "63f8bed90add6549",
            "c16bfba69ca5a331",
            "8b6af612dc943f8a",
            "7403703ddc137f66",
            "304d12fd41402c23",
            "c226f72cbd719438",
            "11b76cd6bfd17b99",
            "2f9ca409563dbc3d",
            "ace3a3e25f3192f4",
            "0898866afed7cd15",
            "28c9068b6889dfa9",
            "ea00b177faa7fa87",
            "2d53c65639930b57",
            "ce2aad57ad89addb"
        ],
        "x": 34,
        "y": 559,
        "w": 1252,
        "h": 342
    },
    {
        "id": "567c27584b7931f3",
        "type": "group",
        "z": "3447b1706791c39f",
        "name": "charts",
        "style": {
            "label": true
        },
        "nodes": [
            "9dc91a1258e1bee7",
            "ca847ef910d3d526",
            "67d570d88d0453c5",
            "4afbb10dd9b30d6a",
            "475709beeabc4743",
            "4329675bb57601d0",
            "de9559e2df563347",
            "89dce0309ab8804e",
            "71494c87767e2074",
            "f2b341256632ff15",
            "a8e5f526d1ecc403",
            "c963cf114b7d1cf8",
            "095e203ed3db362c",
            "e913380a73d7f148",
            "56eb480657e258b2"
        ],
        "x": 794,
        "y": 939,
        "w": 362,
        "h": 362
    },
    {
        "id": "0fcf1e8eef3bf009",
        "type": "group",
        "z": "3447b1706791c39f",
        "name": "Devices",
        "style": {
            "label": true
        },
        "nodes": [
            "203520105910ecf1",
            "b996094d5cecd551",
            "9e78fec0710b3ea2",
            "5d78f03e9a355e46",
            "5c39350f30879701",
            "e8bf1a1d5346aa44",
            "e7ba7047e646b3bc",
            "6e1fea7f2dc42d72",
            "b0a1f531fac5e3ec",
            "55769bf5beb42078"
        ],
        "x": 34,
        "y": 939,
        "w": 652,
        "h": 322
    },
    {
        "id": "a833df6001527003",
        "type": "debug",
        "z": "3447b1706791c39f",
        "g": "874a758adc78a693",
        "name": "HEX Message",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 520,
        "y": 420,
        "wires": []
    },
    {
        "id": "b3c510afe07d960e",
        "type": "debug",
        "z": "3447b1706791c39f",
        "g": "3e6d49df180d85bb",
        "name": "DevAddr",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "DevAddr",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 600,
        "y": 780,
        "wires": []
    },
    {
        "id": "1495dab2f3f7800c",
        "type": "inject",
        "z": "3447b1706791c39f",
        "g": "7ccd9108dba7a7c0",
        "name": "Message Reception",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payloadType": "date",
        "x": 170,
        "y": 60,
        "wires": [
            [
                "30257e114cd432fd"
            ]
        ]
    },
    {
        "id": "4e01aa6e98ba15e7",
        "type": "debug",
        "z": "3447b1706791c39f",
        "g": "3e6d49df180d85bb",
        "name": "Informations from Sensors",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload.out",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 660,
        "y": 680,
        "wires": []
    },
    {
        "id": "45b28653e706f102",
        "type": "inject",
        "z": "3447b1706791c39f",
        "g": "7ccd9108dba7a7c0",
        "name": "Stop Searching New Message",
        "props": [
            {
                "p": "kill",
                "v": "kill",
                "vt": "msg"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 200,
        "y": 100,
        "wires": [
            [
                "30257e114cd432fd"
            ]
        ]
    },
    {
        "id": "63f8bed90add6549",
        "type": "subflow:c7539078b7b3625f",
        "z": "3447b1706791c39f",
        "g": "3e6d49df180d85bb",
        "name": "Extract Information from payload",
        "env": [],
        "x": 310,
        "y": 640,
        "wires": [
            [
                "4e01aa6e98ba15e7",
                "8b6af612dc943f8a",
                "304d12fd41402c23",
                "2d53c65639930b57"
            ]
        ]
    },
    {
        "id": "c16bfba69ca5a331",
        "type": "link in",
        "z": "3447b1706791c39f",
        "g": "3e6d49df180d85bb",
        "name": "ext INT",
        "links": [
            "e33134247a2f2eb4"
        ],
        "x": 75,
        "y": 640,
        "wires": [
            [
                "63f8bed90add6549"
            ]
        ]
    },
    {
        "id": "e33134247a2f2eb4",
        "type": "link out",
        "z": "3447b1706791c39f",
        "g": "874a758adc78a693",
        "name": "Py OUTPUT",
        "links": [
            "c16bfba69ca5a331"
        ],
        "x": 475,
        "y": 460,
        "wires": []
    },
    {
        "id": "8b6af612dc943f8a",
        "type": "subflow:78dd068b39233de0",
        "z": "3447b1706791c39f",
        "g": "3e6d49df180d85bb",
        "name": "",
        "env": [],
        "x": 200,
        "y": 780,
        "wires": [
            [
                "b3c510afe07d960e",
                "7403703ddc137f66"
            ]
        ]
    },
    {
        "id": "30257e114cd432fd",
        "type": "link out",
        "z": "3447b1706791c39f",
        "g": "7ccd9108dba7a7c0",
        "name": "I/O",
        "links": [
            "ca64cd76aba5333f"
        ],
        "x": 615,
        "y": 180,
        "wires": []
    },
    {
        "id": "ca64cd76aba5333f",
        "type": "link in",
        "z": "3447b1706791c39f",
        "g": "874a758adc78a693",
        "name": "Py INPUT",
        "links": [
            "30257e114cd432fd"
        ],
        "x": 75,
        "y": 440,
        "wires": [
            [
                "33415fb54a145922"
            ]
        ]
    },
    {
        "id": "7403703ddc137f66",
        "type": "link out",
        "z": "3447b1706791c39f",
        "g": "3e6d49df180d85bb",
        "name": "devaddr OUT",
        "links": [
            "85ea5fe22049bea0",
            "5d78f03e9a355e46"
        ],
        "x": 165,
        "y": 860,
        "wires": []
    },
    {
        "id": "ed0a87e8e11f596c",
        "type": "ui_text",
        "z": "3447b1706791c39f",
        "g": "04c48224d7788a51",
        "group": "510a57cb7ac57328",
        "order": 1,
        "width": "0",
        "height": "0",
        "name": "",
        "label": "DevAddr",
        "format": "{{msg.DevAddr}}",
        "layout": "col-center",
        "x": 600,
        "y": 1340,
        "wires": []
    },
    {
        "id": "9d69d62b6b67c580",
        "type": "ui_text",
        "z": "3447b1706791c39f",
        "g": "04c48224d7788a51",
        "group": "510a57cb7ac57328",
        "order": 2,
        "width": "0",
        "height": "0",
        "name": "",
        "label": "Device",
        "format": "{{msg.device}}",
        "layout": "col-center",
        "x": 590,
        "y": 1380,
        "wires": []
    },
    {
        "id": "30f655ca0ecdd97b",
        "type": "function",
        "z": "3447b1706791c39f",
        "g": "04c48224d7788a51",
        "name": "function",
        "func": "\nlet msg1 = {}\n\n/*\nmsg1.rssi = msg.rssi\nmsg1.snr = msg.snr  */\nmsg1.DevAddr = msg.DevAddr\nmsg1.device = msg.device\n\n//node.warn(msg)\n\nrssi = msg1.rssi\n\n/*\nif(rssi <= 0 && rssi > -30)\n    msg1.intensity = \"strong\"\nelse if(rssi <= -30 && rssi > -60)\n    msg1.intensity = \"good\"\nelse if(rssi <= -60 && rssi > -90)\n    msg1.intensity = \"enough\"\nelse\n    msg1.intensity = \"weak\" */\n\n//node.warn(msg1)\n//  msg1 = {ui_control:{icon:\"signal_wifi_3_bar\"}}\n\nreturn msg1;\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 180,
        "y": 1340,
        "wires": [
            [
                "405f5995b27abe48",
                "d9cb655e08addff7"
            ]
        ]
    },
    {
        "id": "d9cb655e08addff7",
        "type": "debug",
        "z": "3447b1706791c39f",
        "g": "04c48224d7788a51",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 250,
        "y": 1440,
        "wires": []
    },
    {
        "id": "aa7ecb2174b421d4",
        "type": "link in",
        "z": "3447b1706791c39f",
        "g": "04c48224d7788a51",
        "name": "instant infos",
        "links": [
            "6e1fea7f2dc42d72"
        ],
        "x": 75,
        "y": 1340,
        "wires": [
            [
                "30f655ca0ecdd97b"
            ]
        ]
    },
    {
        "id": "6e1fea7f2dc42d72",
        "type": "link out",
        "z": "3447b1706791c39f",
        "g": "0fcf1e8eef3bf009",
        "name": "dev information OUTPUT",
        "links": [
            "aa7ecb2174b421d4",
            "5763da14dcafbf33"
        ],
        "x": 375,
        "y": 1200,
        "wires": []
    },
    {
        "id": "405f5995b27abe48",
        "type": "link out",
        "z": "3447b1706791c39f",
        "g": "04c48224d7788a51",
        "name": "",
        "links": [
            "f1412b79a401255c"
        ],
        "x": 295,
        "y": 1340,
        "wires": []
    },
    {
        "id": "f1412b79a401255c",
        "type": "link in",
        "z": "3447b1706791c39f",
        "g": "04c48224d7788a51",
        "name": "",
        "links": [
            "405f5995b27abe48"
        ],
        "x": 455,
        "y": 1340,
        "wires": [
            [
                "ed0a87e8e11f596c",
                "9d69d62b6b67c580"
            ]
        ]
    },
    {
        "id": "304d12fd41402c23",
        "type": "change",
        "z": "3447b1706791c39f",
        "g": "3e6d49df180d85bb",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "out",
                "pt": "msg",
                "to": "payload.out",
                "tot": "msg"
            },
            {
                "t": "delete",
                "p": "payload",
                "pt": "msg"
            },
            {
                "t": "delete",
                "p": "rssi",
                "pt": "msg"
            },
            {
                "t": "delete",
                "p": "snr",
                "pt": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 620,
        "y": 600,
        "wires": [
            [
                "c226f72cbd719438"
            ]
        ]
    },
    {
        "id": "c226f72cbd719438",
        "type": "function",
        "z": "3447b1706791c39f",
        "g": "3e6d49df180d85bb",
        "name": "",
        "func": "\nvar now = new Date();\n\nlet msg1 = {};\nlet msg2 = {};\nlet msg3 = {};\nlet msg4 = {};\nlet msg5 = {};\nlet msg6 = {};\n\nlet msg7 = {};\n\n//node.warn(msg)\n\nmsg1.topic = \"temperature\"\nmsg1.payload = msg.out.T\n\nmsg2.topic = \"humidity\"\nmsg2.payload = msg.out.H\n\nmsg3.topic = \"Humidity Soil\"\nmsg3.payload = msg.out.S\n\nmsg4.topic = \"Pressure\"\nmsg4.payload = msg.out.P\n\nmsg5.topic = \"UV\"\nmsg5.payload = msg.out.U\n\nmsg6.topic = \"not used\"\nmsg6.payload = \"not used\"\n\nmsg7.topic = \"\"\nmsg7.payload = now.toLocaleString()\n\nnode.send([msg1, msg2, msg3, msg4, msg5, msg6, msg7])",
        "outputs": 7,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1000,
        "y": 700,
        "wires": [
            [
                "ea00b177faa7fa87"
            ],
            [
                "28c9068b6889dfa9"
            ],
            [
                "0898866afed7cd15"
            ],
            [
                "ace3a3e25f3192f4"
            ],
            [
                "2f9ca409563dbc3d"
            ],
            [
                "11b76cd6bfd17b99"
            ],
            [
                "ce2aad57ad89addb"
            ]
        ],
        "outputLabels": [
            "T",
            "H",
            "S",
            "P",
            "U",
            "not used",
            ""
        ]
    },
    {
        "id": "ea00b177faa7fa87",
        "type": "ui_text",
        "z": "3447b1706791c39f",
        "g": "3e6d49df180d85bb",
        "group": "bab57f597464f2a1",
        "order": 1,
        "width": "0",
        "height": "0",
        "name": "T",
        "label": "{{msg.topic}}",
        "format": "{{value}}",
        "layout": "col-center",
        "x": 1190,
        "y": 600,
        "wires": []
    },
    {
        "id": "28c9068b6889dfa9",
        "type": "ui_text",
        "z": "3447b1706791c39f",
        "g": "3e6d49df180d85bb",
        "group": "bab57f597464f2a1",
        "order": 2,
        "width": "0",
        "height": "0",
        "name": "H",
        "label": "{{msg.topic}}",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "x": 1190,
        "y": 640,
        "wires": []
    },
    {
        "id": "0898866afed7cd15",
        "type": "ui_text",
        "z": "3447b1706791c39f",
        "g": "3e6d49df180d85bb",
        "group": "bab57f597464f2a1",
        "order": 3,
        "width": "0",
        "height": "0",
        "name": "S",
        "label": "{{msg.topic}}",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "x": 1190,
        "y": 680,
        "wires": []
    },
    {
        "id": "ace3a3e25f3192f4",
        "type": "ui_text",
        "z": "3447b1706791c39f",
        "g": "3e6d49df180d85bb",
        "group": "bab57f597464f2a1",
        "order": 5,
        "width": "0",
        "height": "0",
        "name": "P",
        "label": "{{msg.topic}}",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "x": 1190,
        "y": 720,
        "wires": []
    },
    {
        "id": "2f9ca409563dbc3d",
        "type": "ui_text",
        "z": "3447b1706791c39f",
        "g": "3e6d49df180d85bb",
        "group": "bab57f597464f2a1",
        "order": 4,
        "width": "0",
        "height": "0",
        "name": "U",
        "label": "{{msg.topic}}",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "x": 1190,
        "y": 760,
        "wires": []
    },
    {
        "id": "11b76cd6bfd17b99",
        "type": "ui_text",
        "z": "3447b1706791c39f",
        "g": "3e6d49df180d85bb",
        "group": "bab57f597464f2a1",
        "order": 6,
        "width": "0",
        "height": "0",
        "name": "not used",
        "label": "{{msg.topic}}",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "x": 1200,
        "y": 800,
        "wires": []
    },
    {
        "id": "9dc91a1258e1bee7",
        "type": "ui_chart",
        "z": "3447b1706791c39f",
        "g": "567c27584b7931f3",
        "name": "",
        "group": "dc0598018c6da66f",
        "order": 1,
        "width": 0,
        "height": 0,
        "label": "Humidity",
        "chartType": "line",
        "legend": "true",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "x": 1020,
        "y": 1100,
        "wires": [
            []
        ]
    },
    {
        "id": "ca847ef910d3d526",
        "type": "ui_chart",
        "z": "3447b1706791c39f",
        "g": "567c27584b7931f3",
        "name": "",
        "group": "88e0e11a78c5b5f2",
        "order": 1,
        "width": 0,
        "height": 0,
        "label": "Humidity Soil",
        "chartType": "line",
        "legend": "true",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "x": 1030,
        "y": 1140,
        "wires": [
            []
        ]
    },
    {
        "id": "67d570d88d0453c5",
        "type": "ui_chart",
        "z": "3447b1706791c39f",
        "g": "567c27584b7931f3",
        "name": "",
        "group": "5b37a7f4484c7c3d",
        "order": 1,
        "width": 0,
        "height": 0,
        "label": "Pressure",
        "chartType": "line",
        "legend": "true",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "x": 1020,
        "y": 1180,
        "wires": [
            []
        ]
    },
    {
        "id": "4afbb10dd9b30d6a",
        "type": "ui_chart",
        "z": "3447b1706791c39f",
        "g": "567c27584b7931f3",
        "name": "",
        "group": "078a1350e3cac834",
        "order": 1,
        "width": 0,
        "height": 0,
        "label": "UV",
        "chartType": "line",
        "legend": "true",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "x": 1010,
        "y": 1220,
        "wires": [
            []
        ]
    },
    {
        "id": "475709beeabc4743",
        "type": "ui_chart",
        "z": "3447b1706791c39f",
        "g": "567c27584b7931f3",
        "name": "",
        "group": "fe79db64748623b3",
        "order": 1,
        "width": 0,
        "height": 0,
        "label": "UNUSED",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "x": 1020,
        "y": 1260,
        "wires": [
            []
        ]
    },
    {
        "id": "4329675bb57601d0",
        "type": "ui_chart",
        "z": "3447b1706791c39f",
        "g": "567c27584b7931f3",
        "name": "",
        "group": "ef424458dc756066",
        "order": 1,
        "width": 0,
        "height": 0,
        "label": "Temperature",
        "chartType": "line",
        "legend": "true",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": "1",
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "x": 1030,
        "y": 1060,
        "wires": [
            []
        ]
    },
    {
        "id": "de9559e2df563347",
        "type": "link in",
        "z": "3447b1706791c39f",
        "g": "567c27584b7931f3",
        "name": "all charts",
        "links": [
            "89dce0309ab8804e"
        ],
        "x": 835,
        "y": 1020,
        "wires": [
            [
                "475709beeabc4743",
                "4afbb10dd9b30d6a",
                "67d570d88d0453c5",
                "ca847ef910d3d526",
                "9dc91a1258e1bee7",
                "4329675bb57601d0"
            ]
        ]
    },
    {
        "id": "89dce0309ab8804e",
        "type": "link out",
        "z": "3447b1706791c39f",
        "g": "567c27584b7931f3",
        "name": "",
        "mode": "link",
        "links": [
            "de9559e2df563347"
        ],
        "x": 1115,
        "y": 980,
        "wires": []
    },
    {
        "id": "f2b341256632ff15",
        "type": "link in",
        "z": "3447b1706791c39f",
        "g": "567c27584b7931f3",
        "name": "temp chart",
        "links": [
            "4e3933e2dc2fd3ef",
            "aaf7e73a29465f36",
            "a9238c0bb2f81a56",
            "2d9f9cbb38a25d28"
        ],
        "x": 835,
        "y": 1060,
        "wires": [
            [
                "4329675bb57601d0"
            ]
        ]
    },
    {
        "id": "a8e5f526d1ecc403",
        "type": "link in",
        "z": "3447b1706791c39f",
        "g": "567c27584b7931f3",
        "name": "humidity chart",
        "links": [
            "a8c01b8615073294",
            "ba2e3e6bf693b826",
            "416456413706343d",
            "29d8567c62e630ef"
        ],
        "x": 835,
        "y": 1100,
        "wires": [
            [
                "9dc91a1258e1bee7"
            ]
        ]
    },
    {
        "id": "c963cf114b7d1cf8",
        "type": "link in",
        "z": "3447b1706791c39f",
        "g": "567c27584b7931f3",
        "name": "uv chart",
        "links": [
            "7cae7ee4cfec31ef",
            "f500767fd0d08086",
            "983581f6b2432772",
            "0349160a28cfc917"
        ],
        "x": 835,
        "y": 1220,
        "wires": [
            [
                "4afbb10dd9b30d6a"
            ]
        ]
    },
    {
        "id": "095e203ed3db362c",
        "type": "link in",
        "z": "3447b1706791c39f",
        "g": "567c27584b7931f3",
        "name": "humidity soil chart",
        "links": [
            "0711bb6f2adb0b60",
            "5c0e9dc54d8effb9",
            "a3756eb6d34983c8",
            "5cf21592841bebaa"
        ],
        "x": 835,
        "y": 1140,
        "wires": [
            [
                "ca847ef910d3d526"
            ]
        ]
    },
    {
        "id": "e913380a73d7f148",
        "type": "link in",
        "z": "3447b1706791c39f",
        "g": "567c27584b7931f3",
        "name": "pressure chart",
        "links": [
            "24595a063d59e93e",
            "7e1980a81f4ebdf7",
            "a3db0e11e2482ffe",
            "7e104d1340ee6778"
        ],
        "x": 835,
        "y": 1180,
        "wires": [
            [
                "67d570d88d0453c5"
            ]
        ]
    },
    {
        "id": "56eb480657e258b2",
        "type": "link in",
        "z": "3447b1706791c39f",
        "g": "567c27584b7931f3",
        "name": "not used chart",
        "links": [
            "57ab1b58642c6c85",
            "d2016ef32cda6217",
            "ca417855cc8d95ad",
            "314d92be4661b497"
        ],
        "x": 835,
        "y": 1260,
        "wires": [
            [
                "475709beeabc4743"
            ]
        ]
    },
    {
        "id": "203520105910ecf1",
        "type": "function",
        "z": "3447b1706791c39f",
        "g": "0fcf1e8eef3bf009",
        "name": "Device Identification",
        "func": "\n/*\n    0: L0\n    1: L1\n    2: L4\n    */\n\nvar Devices = [\"AAC44AC5\", \"AAABB14A\", \"AAC44AC6\"]\n\naddr = msg.DevAddr\n\n//node.warn(addr)\n\nswitch(Devices.indexOf(addr))\n{\n    case 0:\n        msg.topic = \"L0 Board\"\n        node.send([msg, null, null, null, null])\n    break;\n    case 1:\n        msg.topic = \"L1 Board\"\n        node.send([null, msg, null, null, null])\n    break;\n    case 2:\n        msg.topic = \"L4 Board\"\n        node.send([null, null, msg, null, null])\n    break;\n    case 3:\n        msg.topic = \"xx Board\"\n        node.send([null, null, null, msg, null])\n    break;\n    case 4:\n        msg.topic = \"xx Board\"\n        node.send([null, null, null, null ,msg])\n    break;\n}",
        "outputs": 3,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 240,
        "y": 1100,
        "wires": [
            [
                "e7ba7047e646b3bc",
                "6e1fea7f2dc42d72"
            ],
            [
                "e8bf1a1d5346aa44",
                "6e1fea7f2dc42d72"
            ],
            [
                "6e1fea7f2dc42d72",
                "b0a1f531fac5e3ec"
            ]
        ]
    },
    {
        "id": "b996094d5cecd551",
        "type": "comment",
        "z": "3447b1706791c39f",
        "g": "0fcf1e8eef3bf009",
        "name": "L1",
        "info": "",
        "x": 610,
        "y": 1100,
        "wires": []
    },
    {
        "id": "9e78fec0710b3ea2",
        "type": "comment",
        "z": "3447b1706791c39f",
        "g": "0fcf1e8eef3bf009",
        "name": "L0",
        "info": "",
        "x": 610,
        "y": 1020,
        "wires": []
    },
    {
        "id": "5d78f03e9a355e46",
        "type": "link in",
        "z": "3447b1706791c39f",
        "g": "0fcf1e8eef3bf009",
        "name": "",
        "links": [
            "7403703ddc137f66"
        ],
        "x": 75,
        "y": 1100,
        "wires": [
            [
                "203520105910ecf1"
            ]
        ]
    },
    {
        "id": "5c39350f30879701",
        "type": "comment",
        "z": "3447b1706791c39f",
        "g": "0fcf1e8eef3bf009",
        "name": "device_hub",
        "info": "",
        "x": 130,
        "y": 980,
        "wires": []
    },
    {
        "id": "e8bf1a1d5346aa44",
        "type": "link out",
        "z": "3447b1706791c39f",
        "g": "0fcf1e8eef3bf009",
        "name": "device1 information",
        "mode": "link",
        "links": [
            "4de2ce51e2c94dfd",
            "da349aaa47c67a9c"
        ],
        "x": 615,
        "y": 1140,
        "wires": []
    },
    {
        "id": "e7ba7047e646b3bc",
        "type": "link out",
        "z": "3447b1706791c39f",
        "g": "0fcf1e8eef3bf009",
        "name": "device0 information",
        "mode": "link",
        "links": [
            "74cb0c6221ecb4b2",
            "8e87e7f15d5fdcf1",
            "e08eb88c2cfcfc02"
        ],
        "x": 615,
        "y": 1060,
        "wires": []
    },
    {
        "id": "71494c87767e2074",
        "type": "ui_button",
        "z": "3447b1706791c39f",
        "g": "567c27584b7931f3",
        "name": "clear all",
        "group": "891417914e439b25",
        "order": 3,
        "width": "4",
        "height": "1",
        "passthru": false,
        "label": "CLEAR ALL",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "clear_all",
        "payload": "[]",
        "payloadType": "json",
        "topic": "topic",
        "topicType": "msg",
        "x": 980,
        "y": 980,
        "wires": [
            [
                "89dce0309ab8804e"
            ]
        ]
    },
    {
        "id": "53b8d1a68b66bb1d",
        "type": "ui_button",
        "z": "3447b1706791c39f",
        "g": "7ccd9108dba7a7c0",
        "name": "Start Script",
        "group": "0fb3e7373ddef337",
        "order": 4,
        "width": "3",
        "height": "1",
        "passthru": false,
        "label": "{{payload}}",
        "tooltip": "",
        "color": "",
        "bgcolor": "{{colour}}",
        "icon": "",
        "payload": "Running ..",
        "payloadType": "str",
        "topic": "",
        "topicType": "str",
        "x": 570,
        "y": 220,
        "wires": [
            [
                "464a78f30e62ad2c",
                "3ba8b7f1d5fbdb91"
            ]
        ]
    },
    {
        "id": "a209f6dac007534e",
        "type": "change",
        "z": "3447b1706791c39f",
        "g": "7ccd9108dba7a7c0",
        "name": "start",
        "rules": [
            {
                "t": "set",
                "p": "colour",
                "pt": "msg",
                "to": "green",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "<i class=\"fa fa-play\" aria-hidden=\"true\"></i> Start Script",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "Running",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 370,
        "y": 180,
        "wires": [
            [
                "53b8d1a68b66bb1d",
                "30257e114cd432fd"
            ]
        ]
    },
    {
        "id": "0b9b3e28a6417ce9",
        "type": "inject",
        "z": "3447b1706791c39f",
        "g": "7ccd9108dba7a7c0",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": "0.2",
        "topic": "",
        "payload": "Automatic Start-Up",
        "payloadType": "str",
        "x": 170,
        "y": 280,
        "wires": [
            [
                "3ba8b7f1d5fbdb91"
            ]
        ]
    },
    {
        "id": "464a78f30e62ad2c",
        "type": "function",
        "z": "3447b1706791c39f",
        "g": "7ccd9108dba7a7c0",
        "name": "state",
        "func": "var state = context.state || false;\nstate = !state;\ncontext.state = state;\nif (state) { return [msg,null]; }\nelse { return [null,msg]; }\n",
        "outputs": 2,
        "noerr": 0,
        "x": 190,
        "y": 220,
        "wires": [
            [
                "a209f6dac007534e"
            ],
            [
                "1495a335d6396298"
            ]
        ]
    },
    {
        "id": "1495a335d6396298",
        "type": "change",
        "z": "3447b1706791c39f",
        "g": "7ccd9108dba7a7c0",
        "name": "stop",
        "rules": [
            {
                "t": "set",
                "p": "colour",
                "pt": "msg",
                "to": "red",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "<i class=\"fa fa-stop\" aria-hidden=\"true\"></i> Stop Script",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "kill",
                "pt": "msg",
                "to": "kill",
                "tot": "msg",
                "dc": true
            },
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "Aborting ..",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 370,
        "y": 220,
        "wires": [
            [
                "30257e114cd432fd",
                "f4a53881122c4f51"
            ]
        ]
    },
    {
        "id": "3ba8b7f1d5fbdb91",
        "type": "ui_text",
        "z": "3447b1706791c39f",
        "g": "7ccd9108dba7a7c0",
        "group": "0fb3e7373ddef337",
        "order": 6,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Condition",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 760,
        "y": 280,
        "wires": []
    },
    {
        "id": "f4a53881122c4f51",
        "type": "ui_button",
        "z": "3447b1706791c39f",
        "g": "7ccd9108dba7a7c0",
        "name": "Stop Script",
        "group": "0fb3e7373ddef337",
        "order": 5,
        "width": "0",
        "height": "0",
        "passthru": false,
        "label": "{{payload}}",
        "tooltip": "",
        "color": "",
        "bgcolor": "{{colour}}",
        "icon": "",
        "payload": "Aborting ..",
        "payloadType": "str",
        "topic": "",
        "topicType": "str",
        "x": 570,
        "y": 280,
        "wires": [
            [
                "464a78f30e62ad2c",
                "3ba8b7f1d5fbdb91"
            ]
        ]
    },
    {
        "id": "b0a1f531fac5e3ec",
        "type": "link out",
        "z": "3447b1706791c39f",
        "g": "0fcf1e8eef3bf009",
        "name": "",
        "mode": "link",
        "links": [
            "5f919751a2088f56"
        ],
        "x": 615,
        "y": 1220,
        "wires": []
    },
    {
        "id": "55769bf5beb42078",
        "type": "comment",
        "z": "3447b1706791c39f",
        "g": "0fcf1e8eef3bf009",
        "name": "L4",
        "info": "",
        "x": 610,
        "y": 1180,
        "wires": []
    },
    {
        "id": "090aba85bd3474cd",
        "type": "inject",
        "z": "3447b1706791c39f",
        "g": "7ccd9108dba7a7c0",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payloadType": "date",
        "x": 150,
        "y": 180,
        "wires": [
            [
                "a209f6dac007534e",
                "1495a335d6396298"
            ]
        ]
    },
    {
        "id": "2d53c65639930b57",
        "type": "link out",
        "z": "3447b1706791c39f",
        "g": "3e6d49df180d85bb",
        "name": "",
        "mode": "link",
        "links": [
            "44ca282fe9824f6d",
            "0b3b7102a7cdf5f5"
        ],
        "x": 555,
        "y": 640,
        "wires": []
    },
    {
        "id": "33415fb54a145922",
        "type": "exec",
        "z": "3447b1706791c39f",
        "g": "874a758adc78a693",
        "command": "python3 /home/pi/Desktop/lorapi_rcx.py",
        "addpay": "",
        "append": "",
        "useSpawn": "true",
        "timer": "",
        "winHide": false,
        "oldrc": false,
        "name": "LoraPi Receive Script",
        "x": 280,
        "y": 440,
        "wires": [
            [
                "a833df6001527003",
                "e33134247a2f2eb4"
            ],
            [],
            []
        ]
    },
    {
        "id": "ce2aad57ad89addb",
        "type": "ui_text",
        "z": "3447b1706791c39f",
        "g": "3e6d49df180d85bb",
        "group": "510a57cb7ac57328",
        "order": 3,
        "width": 0,
        "height": 0,
        "name": "time",
        "label": "Message Timetable",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "x": 1010,
        "y": 860,
        "wires": []
    },
    {
        "id": "08577ee83a2f9d38",
        "type": "ui_text",
        "z": "3447b1706791c39f",
        "g": "7ccd9108dba7a7c0",
        "group": "0fb3e7373ddef337",
        "order": 6,
        "width": 0,
        "height": 0,
        "name": "Service Information",
        "label": "{{msg.payload}}",
        "format": "",
        "layout": "col-center",
        "x": 790,
        "y": 80,
        "wires": []
    },
    {
        "id": "f318a7d6640b2511",
        "type": "function",
        "z": "3447b1706791c39f",
        "g": "7ccd9108dba7a7c0",
        "name": "",
        "func": "\nmsg.payload = \"If the Message Timetable is not updated,\\\n                click on Start Script\"\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 600,
        "y": 80,
        "wires": [
            [
                "08577ee83a2f9d38"
            ]
        ]
    },
    {
        "id": "ce0022c2f10c3653",
        "type": "inject",
        "z": "3447b1706791c39f",
        "g": "7ccd9108dba7a7c0",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payloadType": "date",
        "x": 450,
        "y": 80,
        "wires": [
            [
                "f318a7d6640b2511"
            ]
        ]
    },
    {
        "id": "b03f5d733d2d1d16",
        "type": "ui_spacer",
        "z": "3447b1706791c39f",
        "name": "spacer",
        "group": "0526784ef6b33bb4",
        "order": 2,
        "width": 2,
        "height": 1
    },
    {
        "id": "55a2489a80a7eaee",
        "type": "ui_spacer",
        "z": "3447b1706791c39f",
        "name": "spacer",
        "group": "0526784ef6b33bb4",
        "order": 3,
        "width": 2,
        "height": 1
    },
    {
        "id": "7e6ebe5cb24fe74a",
        "type": "ui_spacer",
        "z": "3447b1706791c39f",
        "name": "spacer",
        "group": "0526784ef6b33bb4",
        "order": 4,
        "width": 2,
        "height": 1
    },
    {
        "id": "d05c9678bdb76db6",
        "type": "ui_spacer",
        "z": "3447b1706791c39f",
        "name": "spacer",
        "group": "0526784ef6b33bb4",
        "order": 5,
        "width": 2,
        "height": 1
    },
    {
        "id": "a3615955e068383a",
        "type": "ui_spacer",
        "z": "3447b1706791c39f",
        "name": "spacer",
        "group": "0526784ef6b33bb4",
        "order": 7,
        "width": 2,
        "height": 1
    },
    {
        "id": "05769d2b67cf573f",
        "type": "ui_spacer",
        "z": "3447b1706791c39f",
        "name": "spacer",
        "group": "0526784ef6b33bb4",
        "order": 8,
        "width": 2,
        "height": 1
    },
    {
        "id": "116033b329d82ab7",
        "type": "ui_spacer",
        "z": "3447b1706791c39f",
        "name": "spacer",
        "group": "0526784ef6b33bb4",
        "order": 9,
        "width": 2,
        "height": 1
    },
    {
        "id": "8a1772855490eb1d",
        "type": "ui_spacer",
        "z": "3447b1706791c39f",
        "name": "spacer",
        "group": "0526784ef6b33bb4",
        "order": 10,
        "width": 2,
        "height": 1
    },
    {
        "id": "8c1eeeb141a2d48b",
        "type": "ui_spacer",
        "z": "3447b1706791c39f",
        "name": "spacer",
        "group": "0526784ef6b33bb4",
        "order": 12,
        "width": 2,
        "height": 1
    },
    {
        "id": "f429e7c849116dd2",
        "type": "ui_spacer",
        "z": "3447b1706791c39f",
        "name": "spacer",
        "group": "0526784ef6b33bb4",
        "order": 13,
        "width": 2,
        "height": 1
    },
    {
        "id": "168f3f151ec2b844",
        "type": "ui_spacer",
        "z": "3447b1706791c39f",
        "name": "spacer",
        "group": "0526784ef6b33bb4",
        "order": 14,
        "width": 2,
        "height": 1
    },
    {
        "id": "67770e8abd6d5364",
        "type": "ui_spacer",
        "z": "3447b1706791c39f",
        "name": "spacer",
        "group": "0526784ef6b33bb4",
        "order": 15,
        "width": 2,
        "height": 1
    },
    {
        "id": "87db0b0c5eeeba81",
        "type": "ui_spacer",
        "z": "3447b1706791c39f",
        "name": "spacer",
        "group": "0526784ef6b33bb4",
        "order": 17,
        "width": 2,
        "height": 1
    },
    {
        "id": "43686d8684ea9b17",
        "type": "ui_spacer",
        "z": "3447b1706791c39f",
        "name": "spacer",
        "group": "0526784ef6b33bb4",
        "order": 18,
        "width": 2,
        "height": 1
    },
    {
        "id": "157cce6ba5613662",
        "type": "ui_spacer",
        "z": "3447b1706791c39f",
        "name": "spacer",
        "group": "0526784ef6b33bb4",
        "order": 19,
        "width": 2,
        "height": 1
    },
    {
        "id": "6b2530c4e79b1344",
        "type": "ui_spacer",
        "z": "3447b1706791c39f",
        "name": "spacer",
        "group": "0526784ef6b33bb4",
        "order": 20,
        "width": 2,
        "height": 1
    },
    {
        "id": "ebd3c8c6384e892b",
        "type": "ui_spacer",
        "z": "3447b1706791c39f",
        "name": "spacer",
        "group": "0526784ef6b33bb4",
        "order": 21,
        "width": 6,
        "height": 1
    },
    {
        "id": "b6d14f234ffa6f25",
        "type": "ui_spacer",
        "z": "3447b1706791c39f",
        "name": "spacer",
        "group": "0526784ef6b33bb4",
        "order": 22,
        "width": 6,
        "height": 1
    },
    {
        "id": "e9386eeddd57fd7f",
        "type": "ui_spacer",
        "z": "3447b1706791c39f",
        "name": "spacer",
        "group": "0526784ef6b33bb4",
        "order": 24,
        "width": 2,
        "height": 1
    },
    {
        "id": "104716c03fc6dff0",
        "type": "ui_spacer",
        "z": "3447b1706791c39f",
        "name": "spacer",
        "group": "0526784ef6b33bb4",
        "order": 25,
        "width": 2,
        "height": 1
    },
    {
        "id": "d31f2d71f7f89d15",
        "type": "ui_spacer",
        "z": "3447b1706791c39f",
        "name": "spacer",
        "group": "0526784ef6b33bb4",
        "order": 26,
        "width": 2,
        "height": 1
    },
    {
        "id": "3eb61895238d71be",
        "type": "ui_spacer",
        "z": "3447b1706791c39f",
        "name": "spacer",
        "group": "0526784ef6b33bb4",
        "order": 27,
        "width": 2,
        "height": 1
    },
    {
        "id": "a8de3e8d61dd6df3",
        "type": "ui_spacer",
        "z": "3447b1706791c39f",
        "name": "spacer",
        "group": "9ababb46a99886ee",
        "order": 1,
        "width": 18,
        "height": 1
    },
    {
        "id": "510a57cb7ac57328",
        "type": "ui_group",
        "name": "New Messages",
        "tab": "96d825f6eb6ecaf5",
        "order": 3,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "bab57f597464f2a1",
        "type": "ui_group",
        "name": "Parameters",
        "tab": "96d825f6eb6ecaf5",
        "order": 4,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "dc0598018c6da66f",
        "type": "ui_group",
        "name": "H",
        "tab": "025addf847a2489f",
        "order": 3,
        "disp": false,
        "width": "6",
        "collapse": false
    },
    {
        "id": "88e0e11a78c5b5f2",
        "type": "ui_group",
        "name": "S",
        "tab": "025addf847a2489f",
        "order": 4,
        "disp": false,
        "width": "6",
        "collapse": false
    },
    {
        "id": "5b37a7f4484c7c3d",
        "type": "ui_group",
        "name": "P",
        "tab": "025addf847a2489f",
        "order": 5,
        "disp": false,
        "width": "6",
        "collapse": false
    },
    {
        "id": "078a1350e3cac834",
        "type": "ui_group",
        "name": "U",
        "tab": "025addf847a2489f",
        "order": 6,
        "disp": false,
        "width": "6",
        "collapse": false
    },
    {
        "id": "fe79db64748623b3",
        "type": "ui_group",
        "d": true,
        "name": "NU",
        "tab": "025addf847a2489f",
        "order": 7,
        "disp": false,
        "width": "6",
        "collapse": false
    },
    {
        "id": "ef424458dc756066",
        "type": "ui_group",
        "name": "T",
        "tab": "025addf847a2489f",
        "order": 2,
        "disp": false,
        "width": "6",
        "collapse": false
    },
    {
        "id": "891417914e439b25",
        "type": "ui_group",
        "name": "Selection Buttons",
        "tab": "025addf847a2489f",
        "order": 1,
        "disp": false,
        "width": "6",
        "collapse": false
    },
    {
        "id": "0fb3e7373ddef337",
        "type": "ui_group",
        "name": "Change Tab",
        "tab": "96d825f6eb6ecaf5",
        "order": 1,
        "disp": false,
        "width": "6",
        "collapse": false
    },
    {
        "id": "9ababb46a99886ee",
        "type": "ui_group",
        "name": "UNUSED",
        "tab": "",
        "order": 7,
        "disp": true,
        "width": "18",
        "collapse": true
    },
    {
        "id": "96d825f6eb6ecaf5",
        "type": "ui_tab",
        "name": "Home",
        "icon": "fa-home",
        "order": 1,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "025addf847a2489f",
        "type": "ui_tab",
        "name": "Charts",
        "icon": "fa-line-chart",
        "order": 3,
        "disabled": false,
        "hidden": false
    }
]